 <!-- Start Search Modify section -->
        <section class="modify_search home_rental">
            <div class="container">
                <div class="row">
                    <div class="home_search">
                        <ul class="home-grid oneway">
                            <li class="grid_box first">
                                <div class="hotel_where">
                                    <div class="search_area">
                                        <label>Destination</label>
                                        <input type="text" name="form" maxlength="20" tabindex="1" placeholder="New York" /> <span>NY, United States</span> </div>
                                </div>
                            </li>
                            <li class="grid_box third">
                                <div class="travellers">
                                    <div class="search_area">
                                        <label>Guest</label>
                                        <div class="travel_info"> <span>01</span> Traveller
                                            <div class="drop_aerrow"></div>
                                        </div> <span>Economy</span>
                                    </div>
                                </div>
                            </li>
                            <li class="grid_box secound">
                                <div class="date_form">
                                    <div class="search_area">
                                        <label>Check IN</label>
                                        <input type="text" name="date_checkin" maxlength="10" tabindex="3" placeholder="22 Jul’20 Friday" />
                                        <div class="prev-next"> <a href="javascript:void(0);">Prev</a> <a href="javascript:void(0);">Next</a> </div>
                                        <div class="date_icon"> <img src="{{s3BucketUrl}}assets/images/icon/dr/dr_calender-icon.svg" alt="Calender Icon"> </div>
                                    </div>
                                </div>
                                <div class="date_to">
                                    <div class="search_area">
                                        <label>check out</label>
                                        <input type="text" name="date_checkout" maxlength="10" tabindex="4" placeholder="22 Jul’20 Friday" />
                                        <div class="prev-next"> <a href="javascript:void(0);">Prev</a> <a href="javascript:void(0);">Next</a> </div>
                                        <div class="date_icon"> <img src="{{s3BucketUrl}}assets/images/icon/dr/dr_calender-icon.svg" alt="Calender Icon"> </div>
                                    </div>
                                </div>
                            </li>
                            
                        </ul>
                        <div class="serch_btn">
                            <button><span>Modify Search</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Close Search Modify section -->