<!-- Start Search Modify section -->
<section class="modify_search home_rental">
    <div class="container">
        <div class="row">
            <div class="home_search">
                <ul class="home-grid oneway">
                    <li class="grid_box first">
                        <div class="hotel_where">
                            <div class="search_area">
                                <label>Destination</label>
                                <ng-select [loading]="loading" [selectOnTab]="true" [items]="data" bindLabel="display_name" bindValue="city" [(ngModel)]="defaultCity" notFoundText="" [virtualScroll]="true" [ngModelOptions]="{standalone: true}" [clearable]="false" (search)="onChangeSearch($event)"
                                    loadingText="" (change)="selectEvent($event)" (clear)="onRemove($event)" class="laytrip-input-new" placeholder="{{ placeHolder }}">
                                    <ng-template ng-label-tmp let-item="item">
                                        <div class="hotel-parent">
                                            <div class="sub-parent">{{item.city}}</div>
                                        </div>
                                    </ng-template>
                                    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                        <div class="hotel-parent">
                                            <img height="15" width="15" [src]="itemIconArray[item.type]" />
                                            <div class="sub-parent">{{item.city}}-{{item.display_name}}</div>
                                        </div>
                                    </ng-template>
                                </ng-select>
                                <span *ngIf="defaultSelected">{{ defaultCity }}, {{defaultCountry}}</span>
                            </div>
                        </div>
                    </li>
                    <li class="grid_box secound">
                        <div class="date_form">
                            <div class="search_area" [ngClass]="{'dr_search_area':countryCode=='DR'}">
                                <label>Check In-Check Out</label>
                                <p-calendar #dateFilter inputId="range" selectionMode="range" [(ngModel)]="rangeDates" [ngModelOptions]="{standalone: true}" rentalCheckInMinDate [minDate]="rentalCheckInMinDate" panelStyleClass="calender-responsive-view" [numberOfMonths]="2" (onSelect)=rentalDateUpdate($event)
                                    [readonlyInput]="true">
                                </p-calendar>
                                <div class="prev-next">
                                    <a (click)="dateChange('checkIn','previous')">Prev</a>
                                    <a (click)="dateChange('checkIn','next')">Next</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="grid_box third">
                        <div class="travellers">
                            <app-rental-info label="GUEST" (changeValue)="changeRentalInfo($event)">
                            </app-rental-info>
                        </div>
                        <span class="child_error" *ngIf="error_message !=''">
                                  {{error_message}}
                                 </span>
                    </li>

                </ul>
                <div class="serch_btn" (click)="searchRentals(rentalForm)">
                    <button><span>Modify Search</span></button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Close Search Modify section -->