@import "../../../../_cstm-variable.scss";
@import "../../../../_cstm-components.scss";
@import "../../../../_hotel.scss";
@import "../../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.apple_security_login_block {
    border-radius: 10px;
    .modal-header {
        justify-content: center;
        border: none;
        padding: 46px 20px 5px;
        flex-flow: column;
        align-items: center;

        .close {
            opacity: 1;
            position: absolute;
            top: 20px;
            right: 20px;

            img {
                width: 12px;
            }

            @include tab-view {
                top: 15px;
                right: 15px;
            }
        }

        @include tab-view {
            padding: 25px 20px 5px;
        }
    }

    .modal-body {
        width: 100%;
        padding: 0 20px 20px;
        @include tab-view {
            flex: revert;
        }

        .modal_top_block {
            width: 100%;
            margin: 0 0 25px;
            .ic_suc {
                margin: 0;
            }

            small{
                color: $text_grey_dark;
                font-size: 14px;
                text-align: center;
                width: 100%;
                margin: 15px 0;
            }
            
            &.success_modal {
                text-align: center;

                h4 {
                    text-align: center;
                }
            }
        }
        .form_wrps{
            .duel_input{
                display: flex;
                justify-content: space-between;

                @include mobile-sm-view{
                    flex-direction: column;
                }

                input{
                    max-width: 227px;
                    margin-bottom: 20px;
                    @include mobile-sm-view{
                        max-width: 100%;
                    }
                }
            }
            .single_input{
                input{
                    margin-bottom: 20px;
                }
            }
            input{
                border: 1px solid $box-border-color;
                border-radius: 10px;
                height: 50px;
                padding: 0 15px;
                width: 100%;
                background-color: $background-white;
                color: $mid_gray_bg;
                &:focus{
                    outline: none;
                    box-shadow: none;
                    background-color: $background-white;
                }
            }
        }

        .form_row {
            width: 100%;
            margin: 0 0 20px;
            .text_field {
                width: 100%;
                ng-otp-input {
                    width: 100%;
                    display: flex;
                    .ng-star-inserted {
                        .wrapper {
                            display: flex;
                            justify-content: center;
                        }
                    }
                }

                input {
                    width: 100%;
                    height: 50px;
                    border: 1px solid $clr_d6;
                    background: transparent;
                    outline: none;
                    border-radius: 10px;
                    font-size: 16px;
                    color: $mid_gray_bg;
                    padding: 0 15px;

                    &::placeholder {
                        color: $mid_gray_bg;
                        -webkit-text-fill-color: $mid_gray_bg;
                    }

                    &.error {
                        border-color: $error-color;
                        color: $error-color;
                        &::placeholder {
                            color: $error-color;
                            -webkit-text-fill-color: $error-color;
                        }
                    }
                }

                &.pass_show {
                    position: relative;
                    .ptxt {
                        position: absolute;
                        top: 16px;
                        right: 10px;
                        z-index: 1;
                        color: $text-grey;
                        margin-top: 0;
                        cursor: pointer;
                        transition: 0.3s ease all;
                    }
                }

                .error_text {
                    width: 100%;
                    color: $error-color;
                    font-size: 10px;
                    font-weight: 400;
                    margin: 5px 0 0;
                    text-align: left;
                    p {
                        width: 100%;
                        color: $error-color;
                        font-size: 10px;
                        font-weight: 400;
                        margin: 5px 0 0;
                        text-align: left;
                    }
                }
            }
        }
        .resend_otp_code {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 20px 0;

            div {
                font-size: 12px;
                color: $text_grey_dark;
                .count-down {
                    padding-right: 3px;
                }
            }
            .resendSpinner {
                margin-right: 5px;
            }
            .hover-link {
                p {
                    margin: 0;
                    font-size: 12px;
                    color: $active-tab-text;
                }

                &.disable_link {
                    cursor: default;

                    p {
                        color: $text_grey_dark;
                    }
                }
            }
        }
        .form_btn {
            width: 100%;
            text-align: center;

            button {
                width: 100%;
                height: 40px;
                padding: 0px 25px;
                background: $hotel-secondary-color;
                border-radius: 25px;
                border: 1px solid $hotel-secondary-color;
                font-size: 14px;
                font-weight: 500;
                color: $text-white;
                transition: 0.3s;
                position: relative;
                z-index: 9;
                overflow: hidden;
                white-space: normal;

                // &::before {
                //   content: "";
                //   position: absolute;
                //   top: 1px;
                //   left: 1px;
                //   width: 100%;
                //   height: 0%;
                //   background: $background-white;
                //   z-index: -1;
                //   transition: 0.8s;
                //   border-radius: 25px;
                // }

                // &:hover {
                //   border: 1px solid $hotel-secondary-color;
                //   color: $hotel-secondary-color;
                //   &:before {
                //     height: calc(100% - 2px);
                //     width: calc(100% - 2px);
                //   }
                // }
                &.btn_disable {
                    cursor: default;
                    /*  background: $mid_gray_bg;
            border-color: $mid_gray_bg;
  
            &:before {
              background: $mid_gray_bg;
            }
  
            &:hover {
              color: $text-white;
            } */
                }
            }
        }
        .block_api_error {
            max-width: max-content;
            width: 100%;
            margin: 13px auto 0;
            padding: 5px 20px;
            font-size: 12px;
            color: $api_error_text;
            background: $api_error_bg;
            border-radius: 25px;
            text-align: center;
        }
    }

    .modal-footer {
        padding: 0 20px 25px;
        border: 0;
        margin: 0;
        .modal_btm {
            width: 100%;
            .block_logo {
                width: 100%;
                text-align: center;
                margin: 0 0 0;

                img {
                    height: 22px;
                }
            }
        }
    }
}
