<app-vacation-rental-search-bar (searchBarInfo)="getSearchItem($event)"></app-vacation-rental-search-bar>
<app-vacation-loader *ngIf="loading" ></app-vacation-loader>
<app-vacation-not-found *ngIf="isNotFound" ></app-vacation-not-found>
<section class="search_result home_rental" *ngIf="!loading && !isNotFound && errorMessage==''">
   <div class="container container pl-0 pr-0">
   <div class="row">
      <div class="col-lg-3">
       <app-sort-vacation-rental *ngIf="rentalDetails" [rentalDetails]="rentalDetails"></app-sort-vacation-rental>  
       <!-- <app-filter-vacation-rental></app-filter-vacation-rental>   -->
      </div>
       <div class="col-lg-9">
        <app-vacation-item-wrapper *ngIf="rentalDetails" [rentalDetails]="rentalDetails"></app-vacation-item-wrapper>
      </div>
   </div>
</div>
</section>