<section class="detail_info_main payment_info flight subscribe_payment">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="detail_info_left">
                    <div class="block_payment">
                        <div class="block_pay_info" *ngIf="isShowCardOption">
                            <div class="block_card_select">
                                <div class="block_title_section">
                                    <h5 *ngIf="userInfo.roleId!=7">{{'select_credit_card' | translate}}</h5>
                                    <h5 *ngIf="userInfo.roleId==7">Credit Card Details
                                    </h5>
                                </div>
                                <div class="block_detail">
                                    <app-card-list *ngIf="userInfo.roleId!=7" [newCard]="newCard" (selectCreditCard)="selectCreditCard($event)" (totalNumberOfcard)="totalNumberOfcard($event)">
                                    </app-card-list>
                                    <div class="add_card_btn" *ngIf="userInfo.roleId!=7">
                                        <a class="hover-link" (click)="toggleAddcardForm()">{{showAddCardForm ? '-' : '+'}} {{'add_new_card' | translate}}</a>
                                    </div>
                                    <app-add-card *ngIf="userInfo.roleId!=7 && showAddCardForm" (emitNewCard)="emitNewCard($event)">
                                    </app-add-card>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block_condition_agree">
                        <ul>
                            <!-- <li>
                <label class="custom_checkbox">
                  <input type="checkbox" value="">
                  <span class="checkmark"></span>
                </label>
                <p>I agree <a href="javascript:void(0);">Terms &amp; Conditions</a> | <a
                    href="javascript:void(0);">Privacy Policy</a></p>
              </li> -->
                        </ul>
                        <div class="btn_payment">
                            <a class="btn btn_laytrip" href="javascript:void(0);" (click)="onPayNow()">
                                <i class="fa fa-spinner fa-spin" *ngIf="loading"></i> Pay Now <img src="{{s3BucketUrl}}assets/images/icon/right-arrow.svg" alt="Right Arrow"></a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <app-plan-summary [planSummaryData]="planSummaryData"></app-plan-summary>
            </div>
        </div>
    </div>
</section>