<app-laytrip-loader [loading]="fullPageLoading" [module]="'flight'">
</app-laytrip-loader>
<!--  Start Header Section-->
<header class="site_header" [ngClass]="{'dr_home': countryCode==='DR'}">
    <div class="container">
        <div class="row">
            <div id="app" class="container">
                <nav class="navbar navbar-expand-lg navbar-light {{commonFunction.isRefferal()}}">
                    <a class="navbar-brand" [routerLink]="['/']" [queryParams]="commonFunction.isRefferal()? commonFunction.getRefferalParms() : ''">
                        <!-- <img src="{{s3BucketUrl}}assets/images/dr_logo.svg" alt="Logo" /> -->
                        <img src="{{s3BucketUrl}}assets/images/laytrip_logo_blue.svg" alt="Logo" />
                        <!-- <small class="beta_text"> BETA</small> -->
                    </a>
                    <img *ngIf="countryCode=='DR'" class="dr_im" src="{{s3BucketUrl}}assets/images/dominican_republic__logo.svg?var=1.0.0" alt="Dominican Republic">
                    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-expanded="false">
                        <span class="navbar-toggler-icon">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </span>
                    </button> -->
                    <div class="collapse navbar-collapse site_menu" id="navbarNav">
                        <ul class="navbar-nav ml-auto nav_right" [ngClass]="{'dr_menu':countryCode==='DR'}">

                            <li class="nav-item">
                                <a [routerLink]="['/about']" [queryParams]="commonFunction.isRefferal()? commonFunction.getRefferalParms() : ''" class="nav-link hover-link">{{'laytrip_info_page_title_3' | translate}}</a>
                            </li>

                            <!-- <li class="nav-item disabled" *ngIf="isLoggedIn && (userDetails.roleId==5 || userDetails.roleId==6) && countryCode!=='DR'">
                                <a class="nav-link hover-link" [routerLink]="['/account/lay-credit-points']" [queryParams]="commonFunction.isRefferal()? commonFunction.getRefferalParms() : ''">
                                    <span class="lay_points_dot" id="layPoints">{{showTotalLayCredit }}
                                        {{'points' | translate}}</span>
                                </a>
                            </li> -->
                            <li class="nav-item" [ngClass]="{'dr_pay':countryCode==='DR'}" *ngIf="countryCode==='DR'">
                                <a class="nav-link hover-link" [routerLink]="['/partial-payment']" [queryParams]="commonFunction.isRefferal()? commonFunction.getRefferalParms() : ''">{{'installment_payment' | translate}}</a>
                            </li>
                            <!-- <li class="nav-item" *ngIf="isLoggedIn && (userDetails.roleId==5 || userDetails.roleId==6) && countryCode==='DR'">
                                <a class="nav-link hover-link" [ngClass]="{'dr_coin': countryCode==='DR'}" [routerLink]="['/account/lay-credit-points']" [queryParams]="commonFunction.isRefferal()? commonFunction.getRefferalParms() : ''">
                                    <img *ngIf="countryCode!=='DR'" class="default-icon" src="{{s3BucketUrl}}assets/images/icon/ic_Laycredits.svg" alt="Credits Icon">
                                    <img *ngIf="countryCode!=='DR'" class="active-icon" src="{{s3BucketUrl}}assets/images/icon/ic_Laycredits-active.svg" alt="Credits Icon">
                                    <span id="layPoints">{{showTotalLayCredit}}</span>
                                </a>
                            </li> -->
                            
                            <li class="nav-item login_li">
                                <div class="cta_drop_wrp">
                                    <div class="dropdown cus_drop">
                                        <a class="dropdown-toggle hover-link" data-toggle="dropdown">{{ selectedLanunage.name }}<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li *ngFor="let langunage of langunages"><a href="javascript:void(0)" (click)="changeLangunage(langunage)">{{ langunage.name }}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item" *ngIf="!isLoggedIn || userDetails.roleId == 7">
                                <a class="nav-link cstm_theme_btn_comman header_signin_btn" id="login_btn" (click)="openSignModal()">
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29">
                                        <defs></defs>
                                        <path class="a"
                                            d="M24.753,4.247A14.5,14.5,0,0,0,4.247,24.753,14.5,14.5,0,0,0,24.753,4.247ZM7.269,25.057a7.342,7.342,0,0,1,14.462,0,12.773,12.773,0,0,1-14.462,0ZM9.89,12.68a4.61,4.61,0,1,1,4.61,4.61A4.616,4.616,0,0,1,9.89,12.68ZM23.2,23.878a9.056,9.056,0,0,0-5.264-5.91,6.31,6.31,0,1,0-6.876,0A9.054,9.054,0,0,0,5.8,23.878a12.8,12.8,0,1,1,17.405,0Zm0,0" />
                                    </svg>  -->
                                    {{'sign_in' | translate}}
                                </a>
                            </li>

                            <li class="nav-item responsive_li" *ngIf="isLoggedIn && userDetails.roleId != 7">
                                <div class="dropdown account_ddown account_prof">
                                    <a class="nav-link dropdown-toggle hover-link" data-toggle="dropdown" aria-expanded="false">
                                        <img src="{{userDetails.profilePic || defaultImage}}" onerror="this.onerror=null;this.src='https://d2q1prebf1m2s9.cloudfront.net/assets/images/profile_im.svg';" alt="Profile Image">
                                        <span>Hi, {{username}}</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="hover-link" [routerLink]="['/account']" [queryParams]="commonFunction.isRefferal()? commonFunction.getRefferalParms() : ''">{{'my_account_header' | translate}}</a></li>
                                        <li><a [routerLink]="['/account/bookings']" [queryParams]="commonFunction.isRefferal()? commonFunction.getRefferalParms() : ''">{{'my_bookings' | translate}}</a></li>
                                        <!-- <li *ngIf="isLoggedIn && (userDetails.roleId==5 || userDetails.roleId==6) && countryCode!=='DR'" class="disabled">
                                            <a class="nav-link hover-link " [routerLink]="['/account/lay-credit-points']" [queryParams]="commonFunction.isRefferal()? commonFunction.getRefferalParms() : ''">
                                                <span class="lay_points_dot ok" id="layPoints">
                                                    {{'points' | translate}}</span>
                                            </a>
                                        </li> -->
                                        <li><a class="hover-link" (click)="onLoggedout()">{{'sign_out' | translate}}</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item responsive_li">
                                <div class="cart_section anchor-tag">
                                    <span class="cart_i_wrapper gur">
                                        <a (click)="redirectToPayment()">
                                            <img src="{{s3BucketUrl}}assets/images/icon/cart_icon.svg" alt="">
                                            <span class="cart_count">{{cartItemsCount ? cartItemsCount : 0}}</span>
                                        </a>
                                    </span>
                                </div>
                            </li>
                            <li class="nav-item responsive_li cart_drop" *ngIf="cartItemsCount">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></a>
                                <ul class="dropdown-menu">
                                    <!-- <ng-container *ngIf="paymentType=='instalment'">
                                        <li><a href="javascript:void(0);" class="gryd_txt">{{installmentOptions[userLang][instalmentType]}}</a></li>
                                        <li><a href="javascript:void(0);" class="bld_txt">${{installmentAmount | number : '1.2-2'}}</a></li>
                                    </ng-container> -->
                                    <li><a href="javascript:void(0);" class="gryd_txt">{{'total' | translate}}</a></li>
                                    <li><a href="javascript:void(0);" class="bld_txt">${{totalAmount | number : '1.2-2'}}</a></li>
                                    <li><a data-toggle="modal" data-target="#empty_modal" class="gryd_txt">{{'empty_cart' | translate}}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="show_resposive">
                <div><a [routerLink]="['/about']" [queryParams]="commonFunction.isRefferal()? commonFunction.getRefferalParms() : ''" class="nav-link hover-link">{{'laytrip_info_page_title_3' | translate}}</a></div>
                <div class="cta_drop_wrp">
                    <div class="dropdown cus_drop">
                        <!-- <a class="dropdown-toggle hover-link" data-toggle="dropdown">English<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="px-2 py-1 d-block" href="javascript:void(0);">English</a></li>
                            <li><a class="px-2 py-1 d-block" href="javascript:void(0);">Spanish</a></li>
                        </ul> -->
                        <a class="dropdown-toggle hover-link" data-toggle="dropdown">{{ selectedLanunage.iso_1Code | uppercase }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li *ngFor="let langunage of langunages">
                                <a class="px-2 py-1 d-block" (click)="changeLangunage(langunage)">{{ langunage.name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <a *ngIf="!isLoggedIn" class="nav-link cstm_theme_btn_comman header_signin_btn" (click)="openSignModal()">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29">
                        <defs></defs>
                        <path class="a" d="M24.753,4.247A14.5,14.5,0,0,0,4.247,24.753,14.5,14.5,0,0,0,24.753,4.247ZM7.269,25.057a7.342,7.342,0,0,1,14.462,0,12.773,12.773,0,0,1-14.462,0ZM9.89,12.68a4.61,4.61,0,1,1,4.61,4.61A4.616,4.616,0,0,1,9.89,12.68ZM23.2,23.878a9.056,9.056,0,0,0-5.264-5.91,6.31,6.31,0,1,0-6.876,0A9.054,9.054,0,0,0,5.8,23.878a12.8,12.8,0,1,1,17.405,0Zm0,0" />
                    </svg> -->
                    {{'sign_in' | translate}}
                </a>
                <div class="dropdown account_ddown" *ngIf="isLoggedIn && userDetails.roleId != 7">
                    <span class="nav-link mobile_span dropdown-toggle hover-link" data-toggle="dropdown" aria-expanded="false">
                        <img src="{{userDetails.profilePic || defaultImage}}" alt="Profile Image">
                        <span>Hi, {{userDetails.firstName}}</span>
                    </span>
                    <ul class="dropdown-menu">
                        <li><a class="hover-link" [routerLink]="['/account']" [queryParams]="commonFunction.isRefferal()? commonFunction.getRefferalParms() : ''">{{'my_account_header' | translate}}</a></li>
                        <li><a [routerLink]="['/account/bookings']" [queryParams]="commonFunction.isRefferal()? commonFunction.getRefferalParms() : ''">{{'my_bookings' | translate}}</a></li>
                        <!-- <li *ngIf="isLoggedIn && (userDetails.roleId==5 || userDetails.roleId==6) && countryCode!=='DR'" class="disabled">
                            <a class="nav-link hover-link " [routerLink]="['/account/lay-credit-points']" [queryParams]="commonFunction.isRefferal()? commonFunction.getRefferalParms() : ''">
                                <span class="lay_points_dot ok" id="layPoints">{{'points' | translate}}</span>
                            </a>
                        </li> -->
                        <li><a class="hover-link" (click)="onLoggedout()">{{'sign_out' | translate}}</a></li>
                    </ul>
                </div>
                <div class="cart_section anchor-tag">
                    <span class="cart_i_wrapper mohit">
                        <a (click)="redirectToPayment()">
                            <img src="{{s3BucketUrl}}assets/images/icon/cart_icon.svg" alt="">
                            <span class="cart_count">{{cartItemsCount ? cartItemsCount : 0}}</span>
                    </a>
                    </span>
                </div>
                <div class="nav-item cart_drop" *ngIf="cartItemsCount">
                    <span class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    </span>
                    <ul class="dropdown-menu">
                        <!-- <ng-container *ngIf="paymentType=='instalment'">
                            <li><a href="javascript:void(0);" class="gryd_txt">{{installmentOptions['en'][instalmentType]}}</a>
                            </li>
                            <li><a href="javascript:void(0);" class="bld_txt">${{installmentAmount | number : '1.2-2'}}</a>
                            </li>
                        </ng-container> -->
                        <li><a href="javascript:void(0);" class="gryd_txt">{{'total' | translate}}</a></li>
                        <li><a href="javascript:void(0);" class="bld_txt">${{totalAmount | number : '1.2-2'}}</a></li>
                        <li><a data-toggle="modal" data-target="#empty_modal" class="gryd_txt">{{'empty_cart' | translate}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<!--  Close Header Section-->
<!-- Covid-19 section start -->
<section class="block_covid">
    <div class="container">
        <span>
            <img data-toggle="popover" title="Covid-19" data-placement="bottom" data-trigger=""
                data-content="Covid-19 description" src="{{s3BucketUrl}}assets/images/info_icon_laytrip.svg"
                alt="Info Image">
            {{'covid_travel' | translate}} <a [routerLink]="['/covid-19']"  [queryParams]="commonFunction.isRefferal()? commonFunction.getRefferalParms() : ''" [innerHTML]="'read_more' | translate"
                *ngIf="isCovidPage"></a> <span class="desk_span"> | {{'top_banner_info_1' | translate}} <a [routerLink]="['/terms']"  [queryParams]="commonFunction.isRefferal()? commonFunction.getRefferalParms() : ''">{{'terms' | translate}}</a>{{'top_banner_info_2' | translate}}</span>
        <span class="mob_span">{{'top_banner_info_1' | translate}} <a [routerLink]="['/terms']"  [queryParams]="commonFunction.isRefferal()? commonFunction.getRefferalParms() : ''">{{'terms' | translate}}</a>{{'top_banner_info_3' | translate}}</span>
        </span>
    </div>
</section>
<!-- Covid-19 section end-->
<app-signin></app-signin>

<section class="block_contact_us_main modal fade comman_modal show" id="empty_modal" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal_title">
                <button type="button" class="close" (click)="closeModal()">
                    <img src="{{s3BucketUrl}}assets/images/icon/close-icon.svg" alt="Close Icon">
                </button>
            </div>
            <div class="empty_modal_wrp">
                <div class="cartempty_main_wrapper">
                    <div class="inner_wrppar">
                        <div class="cart_img_wrpper">
                            <img src="{{s3BucketUrl}}assets/images/alert_pink.svg" alt="empty cart image">
                        </div>
                        <div class="cart_msg">{{'empty_cart_confirmation' | translate}}</div>
                        <div class="cta_btn_wrps">
                            <button (click)="closeModal()">{{'cancel' | translate}}</button>
                            <button (click)="emptyCart()">{{'empty' | translate}}</button>
                        </div>
                        <div class="logo_wrpper_footer">
                            <img src="{{s3BucketUrl}}assets/images/laytrip_logo_blue.svg" alt="Logo" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="section_description max_cart_alert" style="display: block;" *ngIf="cartOverLimit">
    <span class="sec_text">5 items cart maximum.</span>
    <a><img src="{{s3BucketUrl}}assets/images/close_pink.svg" alt="Close" (click)="closeCartMaximum()"></a>
</div>