.site_header {
    .navbar{
        .site_menu{
            .nav_right{
                li{
                    &:last-child{
                        a{
                            &:after{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .show_resposive {
        a{
            &:after{
                display: none;
            }
        }
    }
    &.fixed-top{

        z-index: 99;
    }
}
