<!--  Start Header Section-->
<section class="site_header">
    <div class="container">
        <div class="row">
            <div id="app" class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="#"><img src="{{s3BucketUrl}}assets/images/logo.svg" alt="" /></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse site_menu" id="navbarNav">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    About us
                                </a>
                            </li>
                           
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="partial_payment" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Explore menu
                                </a>
                                <div class="dropdown-menu" aria-labelledby="partial_payment">
                                    <a class="dropdown-item" href="#">Countries</a>
                                    <a class="dropdown-item" href="#">Experiences</a>
                                    <a class="dropdown-item" href="#">Special Deals</a>
                                    <a class="dropdown-item" href="#">Download our App</a>
                                </div>
                            </li>

                             <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Partial payments 
                                </a>
                            </li>
                            
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="company" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Products
                                </a>
                                <div class="dropdown-menu" aria-labelledby="company">
                                    <a class="dropdown-item" href="#">Referral program</a>
                                    <a class="dropdown-item" href="#"> Influence program</a>
                                </div>
                            </li>
                            
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="company" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                     Partners
                                </a>
                                <div class="dropdown-menu" aria-labelledby="company">
                                    <a class="dropdown-item" href="#">Our Partners</a>
                                    <a class="dropdown-item" href="#">Become a partner</a>
                                    <a class="dropdown-item" href="#">Investor Relations</a>
                                </div>
                            </li>
                            
                        </ul>
                        <ul class="navbar-nav nav_right">
                            <li class="nav-item">
                                <div class="dropdown">
                                    <a href="" class=" dropdown-toggle" type="button" data-toggle="dropdown">
                                        <img src="{{s3BucketUrl}}assets/images/icon/flag.svg" alt="" /> {{ selectedCurrency.code }}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li *ngFor="let currency of currencies" >
                                                <a href="#" (click)="changeCurrency(currency)">
                                                    <img src="{{s3BucketUrl}}assets/images/icon/flag.svg" alt="" /> {{ currency.code }}
                                                </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="dropdown">
                                    <a href="" class=" dropdown-toggle" type="button" data-toggle="dropdown">
                                        {{ selectedLanunage.name }}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" >
                                        <li *ngFor="let langunage of langunages"><a href="#" (click)="changeLangunage(langunage)" >{{ langunage.name }}</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:void(0)" data-toggle="modal" data-target="#myModal">Sign In</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>
<!--  Close Header Section-->
<app-signin></app-signin>