<!--  Start Header Section-->
<header class="site_header" [ngClass]="{'dr_home': countryCode==='DR'}">
    <div class="container">
        <div class="row"> 
            <div id="app" class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" [routerLink]="['/']">
                        <!-- <img src="{{s3BucketUrl}}assets/images/dr_logo.svg" alt="Logo" /> -->
                        <img src="http://d2q1prebf1m2s9.cloudfront.net/assets/images/laytrip_logo_blue.svg" alt="Logo" />
                    </a>
                    <img *ngIf="countryCode=='DR'" class="dr_im"
                        src="{{s3BucketUrl}}assets/images/dominican_republic__logo.svg?var=1.0.0"
                        alt="Dominican Republic">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-expanded="false">
                        <span class="navbar-toggler-icon">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </span>
                    </button>
                    <div class="collapse navbar-collapse site_menu" id="navbarNav">
                        <ul class="navbar-nav ml-auto nav_right" [ngClass]="{'dr_menu':countryCode==='DR'}">
                            
                            <li class="nav-item">
                                <a [routerLink]="['/about']" class="nav-link hover-link">About</a>
                            </li>
                           
                            <li class="nav-item disabled"
                                *ngIf="isLoggedIn && (userDetails.roleId==5 || userDetails.roleId==6) && countryCode!=='DR'">
                                <a class="nav-link hover-link" [routerLink]="['/account/lay-credit-points']">
                                    <span class="lay_points_dot" id="layPoints">{{showTotalLayCredit }}
                                        Points</span>
                                </a>
                            </li>
                            <li class="nav-item" [ngClass]="{'dr_pay':countryCode==='DR'}" *ngIf="countryCode==='DR'">
                                <a class="nav-link hover-link"
                                    [routerLink]="['/partial-payment']">{{'installment_payment' | translate}}</a>
                            </li>
                            <li class="nav-item"
                                *ngIf="isLoggedIn && (userDetails.roleId==5 || userDetails.roleId==6) && countryCode==='DR'">
                                <a class="nav-link hover-link" [ngClass]="{'dr_coin': countryCode==='DR'}"
                                    [routerLink]="['/account/lay-credit-points']">
                                    <img *ngIf="countryCode!=='DR'" class="default-icon"
                                        src="{{s3BucketUrl}}assets/images/icon/ic_Laycredits.svg" alt="Credits Icon">
                                    <img *ngIf="countryCode!=='DR'" class="active-icon"
                                        src="{{s3BucketUrl}}assets/images/icon/ic_Laycredits-active.svg"
                                        alt="Credits Icon">
                                    <span id="layPoints">{{showTotalLayCredit }}</span>
                                </a>
                            </li>

                            <li class="nav-item login_li" *ngIf="!isLoggedIn || userDetails.roleId == 7">
                                
                                <a class="nav-link login_btn_text hover-link" id="login_btn" (click)="openSignModal()" >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29">
                                        <defs></defs>
                                        <path class="a"
                                            d="M24.753,4.247A14.5,14.5,0,0,0,4.247,24.753,14.5,14.5,0,0,0,24.753,4.247ZM7.269,25.057a7.342,7.342,0,0,1,14.462,0,12.773,12.773,0,0,1-14.462,0ZM9.89,12.68a4.61,4.61,0,1,1,4.61,4.61A4.616,4.616,0,0,1,9.89,12.68ZM23.2,23.878a9.056,9.056,0,0,0-5.264-5.91,6.31,6.31,0,1,0-6.876,0A9.054,9.054,0,0,0,5.8,23.878a12.8,12.8,0,1,1,17.405,0Zm0,0" />
                                    </svg>
                                    {{'sign_in' | translate}}
                                </a>
                            </li>

                            <li class="nav-item responsive_li" *ngIf="isLoggedIn && userDetails.roleId != 7">
                                <div class="dropdown account_ddown account_prof">
                                    <a class="nav-link" class="dropdown-toggle hover-link" data-toggle="dropdown" aria-expanded="false">
                                        <img src="{{userDetails.profilePic || defaultImage}}" alt="Profile Image">
                                        <span>{{userDetails.firstName}}</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="hover-link" [routerLink]="['/account']">{{'my_account_header' |
                                            translate}}</a></li>
                                        <li><a [routerLink]="['/account/bookings']">My Bookings</a></li>
                                        <li *ngIf="isLoggedIn && (userDetails.roleId==5 || userDetails.roleId==6) && countryCode!=='DR'"
                                            class="disabled">
                                            <a class="nav-link hover-link "
                                                [routerLink]="['/account/lay-credit-points']">
                                                <span class="lay_points_dot ok" id="layPoints">
                                                    Points</span>
                                            </a>
                                        </li> 
                                        <li><a class="hover-link" (click)="onLoggedout()">Sign Out</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item responsive_li">
                                <div class="cart_section anchor-tag">
                                    <span class="cart_i_wrapper">
                                        <a (click)="redirectToPayment()">
                                            <img src="{{s3BucketUrl}}assets/images/icon/cart_icon.svg" alt="">
                                            <span class="cart_count">{{cartItemsCount ? cartItemsCount : 0}}</span>
                                        </a>
                                    </span>
                                </div>
                            </li>
                            <li class="nav-item responsive_li cart_drop" *ngIf="isLoggedIn && cartItemsCount">
                                <a  class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0);" class="gryd_txt" *ngIf="weeklyInstallmentAmount>0">Weekly</a></li>
                                    <li><a href="javascript:void(0);" class="bld_txt" *ngIf="weeklyInstallmentAmount>0" >${{weeklyInstallmentAmount | number : '1.2-2'}}</a></li>
                                    <li><a href="javascript:void(0);" class="gryd_txt">Total</a></li>
                                    <li><a href="javascript:void(0);" class="bld_txt">${{totalAmount | number : '1.2-2'}}</a></li>
                                    <li><a href="javascript:void(0);" class="gryd_txt">Empty Cart</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="show_resposive">
                <a *ngIf="!isLoggedIn" class="nav-link login_btn_text hover-link" (click)="openSignModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29">
                        <defs></defs>
                        <path class="a"
                            d="M24.753,4.247A14.5,14.5,0,0,0,4.247,24.753,14.5,14.5,0,0,0,24.753,4.247ZM7.269,25.057a7.342,7.342,0,0,1,14.462,0,12.773,12.773,0,0,1-14.462,0ZM9.89,12.68a4.61,4.61,0,1,1,4.61,4.61A4.616,4.616,0,0,1,9.89,12.68ZM23.2,23.878a9.056,9.056,0,0,0-5.264-5.91,6.31,6.31,0,1,0-6.876,0A9.054,9.054,0,0,0,5.8,23.878a12.8,12.8,0,1,1,17.405,0Zm0,0" />
                    </svg>
                    Sign In
                </a>
                <div class="dropdown account_ddown" *ngIf="isLoggedIn && userDetails.roleId != 7">
                    <a class="nav-link hover-link" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{userDetails.profilePic || defaultImage}}" alt="Profile Image">
                        <span>{{userDetails.firstName}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['/account']" class="hover-link">{{'my_account_header' | translate}}</a>
                        </li>
                        <li><a class="hover-link" (click)="onLoggedout()">{{'logout_header' | translate}}</a></li>
                    </ul>
                </div>
                <div class="cart_section anchor-tag">
                    <span class="cart_i_wrapper">
                        <a (click)="redirectToPayment()">
                            <img src="{{s3BucketUrl}}assets/images/icon/cart_icon.svg" alt="">
                            <span class="cart_count">{{cartItemsCount ? cartItemsCount : 0}}</span>
                        </a>
                    </span>
                </div>
                <div class="nav-item cart_drop" *ngIf="isLoggedIn && cartItemsCount">
                    <span class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    </span>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0);" class="gryd_txt" *ngIf="weeklyInstallmentAmount>0">Weekly</a></li>
                        <li><a href="javascript:void(0);" class="bld_txt" *ngIf="weeklyInstallmentAmount>0">${{weeklyInstallmentAmount | number : '1.2-2'}}</a></li>
                        <li><a href="javascript:void(0);" class="gryd_txt">Total</a></li>
                        <li><a href="javascript:void(0);" class="bld_txt">${{totalAmount | number : '1.2-2'}}</a></li>
                        <li><a href="javascript:void(0);" class="gryd_txt">Empty Cart</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!--  Close Header Section-->
<!-- Covid-19 section start -->
<section class="block_covid">
    <div class="container">
        <span>
            <img data-toggle="popover" title="Covid-19" data-placement="bottom" data-trigger="hover"
                data-content="Covid-19 description" src="{{s3BucketUrl}}assets/images/info_icon_laytrip.svg"
                alt="Info Image">
            COVID-19 Travel <a [routerLink]="['/covid-19']"  [innerHTML]="'read_more' | translate"
                *ngIf="isCovidPage"></a>
        </span>
    </div>
</section>
<!-- Covid-19 section end-->
<app-signin></app-signin>