<div class="filter_saidbar">
  <div class="block_result_found">
    <p>{{flightDetails.length}} Flights found from</p>
    <span>{{departureCode}} to {{arrivalCode}}</span>
  </div>
  <div class="short_by">
    <h4>Sort by</h4>
    <div class="accordion block_shortby" id="accordion">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            Lowest to highest
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse">
          <div class="accordion-inner">
            <div class="block_cmn price">
              <h5>Price</h5>
              <ul>
                <li>
                  <label class="custom_radio">Lowest to highest
                    <input type="radio" checked="checked" name="price_sort" (click)="sortFlightData('selling_price','ASC')">
                    <span class="checkmark"></span>
                  </label>
                </li>
                <li>
                  <label class="custom_radio">highest to lowest
                    <input type="radio" name="price_sort" (click)="sortFlightData('selling_price','DESC')">
                    <span class="checkmark"></span>
                  </label>
                </li>
              </ul>
            </div>
            <div class="block_cmn duration">
              <h5>Duration</h5>
              <ul>
                <li>
                  <label class="custom_radio">Shortest
                    <input type="radio" name="duration_sort" (click)="sortFlightData('total_duration','ASC')">
                    <span class="checkmark"></span>
                  </label>
                </li>
                <li>
                  <label class="custom_radio">Longest
                    <input type="radio" name="duration_sort" (click)="sortFlightData('total_duration','DESC')">
                    <span class="checkmark"></span>
                  </label>
                </li>
              </ul>
            </div>
            <div class="block_cmn arrival">
              <h5>Arrival</h5>
              <ul>
                <li>
                  <label class="custom_radio">Earliest
                    <input type="radio" name="arrival_radio" (click)="sortFlightData('arrival','ASC')">
                    <span class="checkmark"></span>
                  </label>
                </li>
                <li>
                  <label class="custom_radio">Shortest
                    <input type="radio" name="arrival_radio" (click)="sortFlightData('arrival','DESC')">
                    <span class="checkmark"></span>
                  </label>
                </li>
              </ul>
            </div>
            <div class="block_cmn departure">
              <h5>Departure</h5>
              <ul>
                <li>
                  <label class="custom_radio">Earliest
                    <input type="radio" name="departure_radio" (click)="sortFlightData('departure','ASC')">
                    <span class="checkmark"></span>
                  </label>
                </li>
                <li>
                  <label class="custom_radio">Shortest
                    <input type="radio" name="departure_radio" (click)="sortFlightData('departure','DESC')">
                    <span class="checkmark"></span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>