@import "../../../../../_hotel.scss";
.anchor_link{
    cursor: pointer;
}

.desktop_sort{
	@include tab-view{
		display: none;
	}
}
.mobile_sort{
	display: none;
	@include tab-view{
		display: block;
	}
}
h5{
	&.title_h5{
		display: flex;
		justify-content: space-between;
		width: 100%;
		align-items: center;
		.anchor_link{
			color: $text_light_yellow;
			font-size: 16px;

			@include tab-view {
				font-size: 12px;
			}
		}
	}
}
.filter_saidbar{
	&.mobile_sort{
		.short_by{
			.block_shortby{
				margin-top: 0;
				.accordion-group{
					.accordion-heading{
						&::after{
							background-image: none;
							margin-left: 15px;
						}
					}
				}
			}
		}
	}
}