<section class="search_result flight">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="block_booking_failed">
                  <div class="block_booking_failed_inner">
                      <img src="{{s3BucketUrl}}assets/images/booking_falied-im.svg" alt="Booking Failed Image">
                      <h6>Booking Failed</h6>
                      <p>Unfortunately, due to some technical errors we couldn’t complete your booking. Please refresh your session and try again. If the issue persists, contact us at <a href="mailto:support@laytrip.com">support@laytrip.com</a> </p>
                      <a [routerLink]=[url] [queryParams]="queryParams">
                          <img src="{{s3BucketUrl}}assets/images/icon/leftt-arrow.svg" alt="Left Arrow">
                          Go back to Search page
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>