<div class="modal-header">
    <div class="block_title">
        <h4>{{data.header}}</h4>
    </div>
    <button type="button" class="close" (click)="close()">
    <img src="{{s3BucketUrl}}assets/images/icon/close-icon.svg" alt="Close Icon">
  </button>
</div>
<div class="modal-body">
    <div class="modal_btm">
        <p>{{data.message}}</p>
    </div>
</div>
<div class="modal-footer">
    <div class="form_btn">
        <button type="button" class="btn_no" (click)="close()">No</button>
        <button type="button" (click)="okClick()">Yes</button>
    </div>
</div>