<input class="hotel_desination" [(ngModel)]="searchItem" (keyup)="searchLocation($event)" (focus)="onFocus()" (focusout)="focusOut()" placeholder="{{'search_city_hotel' | translate}}">
<div class="search_suggetion_main" *ngIf="isShowDropDown && data.length > 0">
    <ng-scrollbar class="custom_scroll_suggetion" barClass="scrollbar" customview="true" #scrollable track="all" pointerEventsMethod="scrollbar">
        <span *ngIf="loading">Loading...</span>
        <div class="suggtions_wrps_mn">
            <div class="suggtions">
                <div class="sug_line_box">
                    <span class="linew_wrps">
                        <ng-conatiner >
                            <span (click)="selectHotelItem(item)" class="line_names" *ngFor="let item of data">
                                {{item.title}}
                            </span>
                    </ng-conatiner>
                    </span>
                </div>
            </div>
        </div>
    </ng-scrollbar>
</div>