<form [formGroup]="cardForm" id="payment-form" class="spf-form" (ngSubmit)="submitPaymentForm()">
    <!-- <form [formGroup]="cardForm" id="payment-form" (ngSubmit)="submitPaymentForm($event)"> -->
    <div class="add_card_block ">
        <div class="form_row">
            <!-- <input type="hidden" formControlName="payment_method_token" id="payment_method_token"> -->
            <input type="hidden" name="payment_method_token" id="payment_method_token">

            <fieldset class="spf-fs-name">
                <div class="spf-field spf-field-fname">
                    <label class="internal" for="spf-fname">First Name</label>
                    <input type="text" class="spf-input-text" id="first_name">
                </div>
                <div class="spf-field spf-field-lname">
                    <label class="internal" for="spf-lname">Last Name</label>
                    <input type="text" class="spf-input-text" id="last_name">
                </div>
            </fieldset>

            <fieldset class="spf-fs-cc">
                <div class="spf-field">
                    <label class="spf-field-group spf-number">Credit Card Number</label>
                    <label class="spf-field-group spf-verification_value">CVV</label>
                    <div id="spreedly-number" class="spf-field-group spf-number spf-field-cc">
                    </div>
                    <div id="spreedly-cvv" class="spf-field-group spf-verification_value spf-field-cc">
                    </div>
                </div>

                <div class="spf-field spf-field-exp">
                    <label>Expiration Date</label>
                    <div class="spf-field-group spf-month">
                        <input type="text" class="spf-input-text spf-exp" id="month" size="3" maxlength="2"
                            placeholder="MM">
                        <!-- <label class="spf-label-secondary" for="spf-exp-m">Month (MM)</label> -->
                    </div>
                    <span class="spf-exp-divider">/</span>
                    <div class="spf-field-group spf-year">
                        <input type="text" class="spf-input-text spf-exp" id="year" size="5" maxlength="4"
                            placeholder="YYYY">
                        <!-- <label class="spf-label-secondary" for="spf-exp-y">Year (YYYY)</label> -->
                    </div>
                </div>
            </fieldset>

            <fieldset class="spf-field-submit">
                <div class="button-div">
                    <!-- <i class="fa fa-spinner fa-spin"></i> -->
                    <input type="submit" class="button" value="Submit Payment">
                </div>
                <div id="message"></div>
                <div id="errors"></div>
            </fieldset>

            <!-- <label for="full_name">Name</label>
            <input type="text" id="full_name" name="full_name"><br />

            <label>Credit Card Number</label>
            <div id="spreedly-number" style="width:225px; height:35px; border: 2px solid"></div><br />

            <label for="month">Expiration Date</label>
            <input type="text" id="month" name="month" maxlength="2" size="3" maxlength="2" placeholder="MM">
            <input type="text" id="year" name="year" maxlength="4" size="5" maxlength="4" placeholder="YYYY"><br />

            <label>CVV</label>
            <div id="spreedly-cvv" style="width:60px; height:35px; border: 2px solid "></div><br />

            <div>
                <span id="message" class="text-danger"></span>
            </div><br />

            <input id="submit-button" type="submit" value="Pay Now"> -->

            <!-- <div class="form_field">
                <label>{{'first_name' | translate}}<sup>*</sup></label>
                <div class="text_field">
                    <input type="text" id="full_name" formControlName="first_name" maxlength="20" tabindex="101"
                        placeholder="{{'first_name_placeholder' | translate}}">
                    <div *ngIf="cardForm.controls.first_name.errors && cardForm.controls.first_name.touched">
                        <p *ngIf="cardForm.controls.first_name.errors" class="error_text">
                            {{'first_name_touched_validation' | translate}}
                        </p>
                    </div>
                </div>
            </div> -->

            <!-- <div class="form_field">
                <label>{{'last_name' | translate}}<sup>*</sup></label>
                <div class="text_field">
                    <input type="text" id="last_name" formControlName="last_name" maxlength="20" tabindex="101"
                        placeholder="{{'last_name_placeholder' | translate}}">
                    <div *ngIf="cardForm.controls.last_name.errors && cardForm.controls.last_name.touched">
                        <p *ngIf="cardForm.controls.last_name.errors" class="error_text">
                            {{'last_name_touched_validation' | translate}}
                        </p>
                    </div>
                </div>
            </div> -->

            <!-- <div class="form_field">
                <label>Card number<sup>*</sup></label>
                <div class="text_field">
                    <div id="spreedly-number" class="card_field" tabindex="102">
                        <p class="error_text" *ngIf="cardError">{{ cardError }}</p>
                    </div>
                </div>
            </div> -->

        </div>
        <div class="form_row">

            <!-- <div class="form_field">
                <label>{{'card_number' | translate}}<sup>*</sup></label>
                <div class="text_field">
                    <input type="text" id="spreedly-number" formControlName="card_number" tabindex="101"
                        [textMask]="mask" placeholder="Enter card number">
                    <div *ngIf="cardForm.controls.card_number.errors && cardForm.controls.card_number.touched">
                        <p *ngIf="cardForm.controls.card_number.errors.required" class="error_text">
                            {{'card_number_touched_validation' | translate}}
                        </p>
                    </div>
                </div>
            </div> -->

            <!-- <div class="form_field">
                <label>{{'expiry' | translate}}<sup>*</sup></label>
                <div class="text_field">
                    <p-calendar inputId="basic" id="expiry_date" formControlName="expiry" [minDate]="expiryMinDate"
                        dateFormat="mm/yy" view="month" tabindex="102" [readonlyInput]="true">
                    </p-calendar>
                    <div *ngIf="cardForm.controls.expiry.errors && cardForm.controls.expiry.touched">
                        <p *ngIf="cardForm.controls.expiry.errors" class="error_text">
                            {{'card_expiry_date_touched_validation' | translate}}
                        </p>
                    </div>
                </div>
            </div> -->
            <!-- <div class="form_field">
                <label>CVV<sup>*</sup></label>
                <div class="text_field">
                    <div id="spreedly-cvv" class="card_field" tabindex="104"></div>
                </div>
            </div> -->
        </div>
        <!-- <div class="form_row">
            <div class="form_field">
                <label>{{'cvv' | translate}}<sup>*</sup></label>
                <div class="text_field">
                    <input id="spreedly-cvv" autocomplete="off" type="text" formControlName="card_cvv" placeholder="123"
                        tabindex="103" [textMask]="cvvNoMask">
                    <div *ngIf="cardForm.controls.card_cvv.errors && cardForm.controls.card_cvv.touched">
                        <p *ngIf="cardForm.controls.card_cvv.errors" class="error_text">{{'cvv_touched_validation' |
                            translate}}
                        </p>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <div class="form_btn">
            <button type="submit" id="submit-button">
                <i *ngIf="saveCardLoader" class="fa fa-spinner fa-spin"></i>{{'add_card' | translate}}</button>
        </div> -->
    </div>
</form>