@import './../../../cstm-variable';

.card_field{
    width: 100%;
    border-bottom: 1px solid $box-border-color;
    height: 40px;
    line-height: 40px;
    padding-top: 10px;

    &:focus{
        border-bottom: 1px solid $primary-color;
    }
}

/* .detail_info_main.payment_info .detail_info_left .block_payment .block_pay_info .block_card_select .block_detail .add_card_block .form_btn input {
    width: auto;
    padding: 0 35px;
    height: 38px;
    background: #00BFFD;
    border-radius: 19px;
    border: 1px solid #00BFFD;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    transition: 0.3s;
    position: relative;
    z-index: 9;
    overflow: hidden;
    white-space: normal;
    display: flex;
    align-items: center;
} */