@import "../../../cstm-variable";
@import "../../../_cstm-variable.scss";
@import "../../../_cstm-components.scss";
@import "../../../_hotel.scss";
@import "../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.card_field {
    width: 100%;
    border-bottom: 1px solid $box-border-color;
    height: 40px;
    line-height: 40px;
    padding-top: 10px;

    &:focus {
        border-bottom: 1px solid $primary-color;
    }
}

/* .detail_info_main.payment_info .detail_info_left .block_payment .block_pay_info .block_card_select .block_detail .add_card_block .form_btn input {
    width: auto;
    padding: 0 35px;
    height: 38px;
    background: #00BFFD;
    border-radius: 19px;
    border: 1px solid #00BFFD;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    transition: 0.3s;
    position: relative;
    z-index: 9;
    overflow: hidden;
    white-space: normal;
    display: flex;
    align-items: center;
} */

/* Basic Layout
---------------------------------------------------------------- */
* {
    box-sizing: border-box;
}

.add_card_block {
    label {
        color: $mid_gray_bg;
        font-size: 12px;
        font-weight: 500;
    }
    input {
        border: none;
        border-radius: 0;
        border-bottom: 2px solid $box-border-color;
        font-size: 14px;
        padding: 8px 0;
        width: 100%;
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    select {
        border: none;
        border-radius: 0;
        border-bottom: 2px solid $box-border-color;
        font-size: 14px;
        padding: 8px 0;
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    .mb-sm-10{
        @include tab-view{
          margin-bottom: 10px;
        }
      }
    .iframe_wrapper {
        height: 38px;
    }
    .cvv_wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        input {
            background: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/calender_yellow.svg) center right 15px
                no-repeat;
            background-size: 20px;
        }
    }
    .save_btn_wrps {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        height: 100%;
        a {
            background-color: transparent;
            color: $text_light_yellow;
            border: none;
            box-shadow: none;
            font-size: 16px;
            padding: 0;
            text-align: right;
        }
        .button{
            background-color: transparent;
            color: $text_light_yellow;
            border: none;
            box-shadow: none;
            font-size: 16px;
            padding: 0;
            text-align: right;
        }
    }
}

#errors,
#message {
    color: red;
    margin: 1em 0;
    line-height: 1.5;
}
