<div class="add_card_block" style="display: none;">
  <div class="form_row">
      <div class="form_field">
          <label>Card Type</label>
          <div class="text_field custom-select">
              <select>
                  <option value="0">Select</option>
                  <option value="1">Select</option>
                  <option value="2">Select</option>
                  <option value="3">Select</option>
                  <option value="4">Select</option>
                  <option value="5">Select</option>
                  <option value="6">Select</option>
                  <option value="7">Select</option>
              </select>
          </div>
      </div>
      <div class="form_field">
          <label>Name on Card<sup>*</sup></label>
          <div class="text_field">
              <input type="text" name="name" maxlength="20" tabindex="1" placeholder="Enter Name on Card">
          </div>
      </div>
  </div>
  <div class="form_row">
      <div class="form_field">
          <label>Card number<sup>*</sup></label>
          <div class="text_field">
              <input type="text" name="cardNumber" maxlength="20" tabindex="2" placeholder="0000 0000 0000 0000">
          </div>
      </div>
      <div class="form_field">
          <label>Expiry</label>
          <div class="text_field">
              <input class="birth_date" type="text" name="expiry" maxlength="20" tabindex="3" placeholder="Dd/mm/yyyy">
          </div>
      </div>
  </div>
  <div class="form_row">
      <div class="form_field">
          <label>CVV</label>
          <div class="text_field">
              <input type="text" name="cvv" maxlength="20" tabindex="4" placeholder="Enter CVV no.">
          </div>
      </div>
  </div>
  <div class="block_card_save">
      <label class="custom_checkbox">
          <input type="checkbox" value="">
          <span class="checkmark"></span>
          Save this card for future booking.
      </label>
  </div>
</div>