<div class="page_load">
    <div class="block_session-timeout">
        <div class="block_session-timeout_inner">
            <h6>{{'session_timeout' | translate}}</h6>
            <div class="block_im">
                <img src="{{s3BucketUrl}}assets/images/Session-Timeout-im.svg" alt="Session Timeout Images">
            </div>
            <p>{{'session_timeout_descrition' | translate}}
            </p>
            <a [routerLink]=[url] [queryParams]="queryParams">
              {{'go_back_to_previous_page' | translate}}
          </a>
        </div>
    </div>
</div>