<section class="search_result flight">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="block_page_not_available">
                    <div class="block_page_not_available_inner">
                        <img src="{{s3BucketUrl}}assets/images/coming-soon-im.svg" alt="Coming soon">
                        <h6>Coming Soon</h6>
                        <a class="btn btn_laytrip" href="javascript:void(0);" routerLink="/">{{'go_back' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>