@import '../../../cstm-variable';
@import "../../../_cstm-variable.scss";
@import "../../../_cstm-components.scss";
@import "../../../_hotel.scss";
@import "../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


h3{
    color: $blue-text;
    font-size: 34px;
    margin-bottom: 5px;
    margin: 25px 0 15px;
    @include tab-view{
        font-size: 18px;
    }
  }
.booking_tab_header{
    border-bottom: none;
    li{
        &.active{
            background-color: $background-white;
            padding: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border: 1px solid $box-border-color;
            border-bottom: none;
            display: flex;
            a{
                border: 2px solid $pink;
                border-radius: 25px;
                padding: 5px 20px;
                color: $text-black;
                font-weight: 600;
                font-size: 20px;
                width: 177px;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }
        a{  
            
        }
    }
}
.booking_tab_content{
    background-color: $background-white;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid $box-border-color;
    border-top: none;

}