@import '../../../cstm-variable';
@import "../../../_cstm-variable.scss";
@import "../../../_cstm-components.scss";
@import "../../../_hotel.scss";
@import "../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


h3 {
    color: $blue-text;
    font-size: 34px;
    margin-bottom: 5px;
    margin: 25px 0 15px;

    @include tab-view {
        font-size: 18px;
    }
}

// .booking_tab_header li:nth-child(n + 6).active ~ li.a {
//     max-width: 104px;
// }

.booking_tab_header {
    background: #DCD8D7;
    display: flex;
    border-radius: 20px;
    border-bottom: 0;
    margin-bottom: 9px;
    li{
        display: flex;
        align-items: center;
        a{
            padding: 8px 20px;
            border-radius: 50px;
            font-size: 16px;
            color: #52575A;
            max-width: 131px;
            text-overflow: ellipsis;
            overflow-x: hidden;
            white-space: nowrap;
            font-weight: 600;
            .tab_imgs_wrps{
                margin-right: 5px;
                font-size: 14px;
                img{
                    width: 14px;
                    height: 14px;
                    object-fit: contain;
                    margin-right: 5px;
                }
                @include tab-view{
                    margin-right: 0;
                }
            }
            .tab_txt_head{
                @include tab-view{
                    display: none;
                }
            }
            @include tab-view{
                padding: 8px 14px;
                .tab_imgs_wrps{
                    font-size: 16px;
                }
            }
        }
        &.active{
            a{
                background: #0043FF;
                color: #fff;
            }
        }
        &.add_cart_li{
            .cart_anch{
                .tab_round_wrps{
                    .tab_imgs_wrps{
                        display: none;
                        @include tab-view{
                            display: flex;
                        }
                    }
                    .tab_txt_head{
                        color: $active-tab-text;
                    }
                }
            }
        }
    }
}


.booking_tab_content {
    background-color: $background-white;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    //border-top-right-radius: 10px;
    border: 1px solid $box-border-color;
    // border-top: none;
    z-index: 10;
    position: relative;
}