@import '../../../cstm-variable';
@import "../../../_cstm-variable.scss";
@import "../../../_cstm-components.scss";
@import "../../../_hotel.scss";
@import "../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


h3{
    color: $blue-text;
    font-size: 34px;
    margin-bottom: 5px;
    margin: 25px 0 15px;
    @include tab-view{
        font-size: 18px;
    }
  }
.booking_tab_header{
    border-bottom: none;
    position: relative;
    z-index: 9;
    overflow: hidden;
    max-height: 71px;
    li{
        position: relative;
        z-index: -99;
        margin-left: 0;
        &:first-child{
            margin-left: 0;
            z-index: 9;
            a{
                border-top-left-radius: 10px;
                border-top-right-radius: 0px;
                border-left: 1px solid $box-border-color;
                border-top: 1px solid $box-border-color;
                &::before{
                    border: none;
                }
                &.active{
                    border-top-right-radius: 10px;
                    @include tab-view{
                        top: 1px;
                    }
                }
            }
        }
        
        &:last-child{
            a{
                border-top-right-radius: 15px;
            }
        }
        
        a{  
            background-color: transparent;
            padding: 10px 11px;
            border: 1px solid $box-border-color;
            border-left: 0;
            //border-top: 0;
            position: relative;
            top: 10px;
            display: flex;
            width: 98px;
            align-items: center;
            justify-content: center;
            //margin-left: -8px;
            
            &::before{
                // content: '';
                // position: absolute;
                // height: 1px;
                // border-top: 1px solid $box-border-color;
                // width: 100%;
                // top: 1px;
                // left: -8px;
            }
            @include tab-view{
                top: 8px;
                padding: 10px 14px;
                width: auto;
            }
            .tab_round_wrps{
                color: $mid_gray_bg;
                font-size: 12px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                @include tab-view{
                    .tab_txt_head{
                        display: none;
                    }
                }
                .tab_imgs_wrps{
                    .alrt_img{
                        margin-left: 5px;
                        max-width: 15px;
                    }
                    img{
                        margin-bottom: 5px;
                    }
                }
            }
            &.active{
                background-color: $background-white;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border-bottom: none;
                top: 0;
                height: 71px;
                padding: 10px;
                border: 1px solid $box-border-color;
                border-bottom: none;
                width: auto;
                margin: 0;
                &::before{
                    border: none;
                }
                @include tab-view{
                    width: 67px;
                    height: 45px;
                    display: flex;
                    justify-content: center;
                }
                .tab_round_wrps{
                    width: 186px;
                    border: 2px solid $pink;
                    border-radius: 25px;
                    padding: 0 10px;
                    color: $text-black;
                    font-weight: 600;
                    font-size: 18px;
                    flex-direction: row;
                    padding: 0 20px;
                    height: 50px;
                    @include tab-view{
                        border: none;
                        padding: 0;
                        width: auto;
                        .tab_txt_head{
                            display: none;
                        }
                    }
                    img{
                        margin-bottom: 0;
                    }
                }
            }
        }
        
    }
}
.booking_tab_content{
    background-color: $background-white;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid $box-border-color;
    border-top: none;
    z-index: 10;
    position: relative;
}