<div class="modal fade comman_modal" id="sign_in_modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="sign_in_modal" id="log_in_modal">
      <div class="modal-content">
        <div class="modal_container" id="modal_container">
          <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">
            <img src="{{s3BucketUrl}}assets/images/icon/close-icon.svg" alt="Close Icon">
          </button>

          <div class="signInModal" *ngIf="signInModal">
            <app-signin [pageData]="signInModal" (valueChange)="pageChange($event)"></app-signin>
          </div>

          <div *ngIf="signUpModal">
            <app-signup [pageData]="signUpModal" (valueChange)="pageChange($event)"></app-signup>
          </div>
          <div *ngIf="forgotPasswordModal">
            <app-forgot-password [pageData]="forgotPasswordModal" (valueChange)="pageChange($event)">
            </app-forgot-password>
          </div>
          <div *ngIf="resetPasswordModal">
            <app-reset-password [pageData]="resetPasswordModal" (valueChange)="pageChange($event)">
            </app-reset-password>
          </div>
          <div class="forgot_password_modal" id="otp_modal" *ngIf="otpModal">
            <app-verify-otp [emailForVerifyOtp]="emailForVerifyOtp" [pageData]="otpModal"
              (valueChange)="pageChange($event)"></app-verify-otp>
          </div>

          <div class="overlay-container">
            <div class="overlay">
              <div class="overlay-panel overlay-left">
                <div class="block_center">
                <img src="{{s3BucketUrl}}assets/images/logo-white.svg" alt="Logo">
                <p>Travel without stressing your wallet</p>
              </div>
              </div>
              <div class="overlay-panel overlay-right">
                <div class="block_center">
                <img src="{{s3BucketUrl}}assets/images/logo-white.svg" alt="Logo">
                <p>Travel without stressing your wallet</p>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>