<!-- Start Deals section-->
<section class="deal_sec">
    <div class="container">
        <div class="row">
            <swiper [slidesPerView]="3" [spaceBetween]="50" (swiper)="setThumbsSwiper($event)" [navigation]="{}"
                [pagination]="{ clickable: true }" [scrollbar]="{ draggable: true }" [watchSlidesVisibility]="true"
                [watchSlidesProgress]="true" *ngIf="list.length > 0">
                <ng-template swiperSlide *ngFor="let item of list;">
                    
                    <div class="deal_sec_inner">
                        <img [src]="item?.image" alt="Deal Image" />
                        <div class="image_about_text">
                            <button (click)="btnDealClick(item)">Find Deals to {{item?.city}}</button>
                        </div>
                    </div>
                </ng-template>
                <!-- <ng-template swiperSlide>Slide 3</ng-template>
                    <ng-template swiperSlide >Slide 2</ng-template>
                <ng-template swiperSlide>Slide 4</ng-template>
                <ng-template swiperSlide>Slide 5</ng-template>
                <ng-template swiperSlide>Slide 6</ng-template> -->
            </swiper>
        </div>
    </div>
</section>

<section class="deal_sec">
    <div class="container">
        <div class="row">
            <div class="deal_sec_wrapper" *ngIf="list.length <= 0">
                <div class="deal_section_row">
                    <div class="deal_sec_inner fb_animation pb-5 pt-5 mb-3" style="height: 285px;">
                        <div class="image_about_text">
                            <button class="fb_animation" style="width: 180px; height: 40px; pointer-events: none;"></button>
                        </div>
                    </div>
                </div>
                <div class="deal_section_row">
                    <div class="deal_sec_inner fb_animation pb-5 pt-5 mb-3" style="height: 285px;">
                        <div class="image_about_text">
                            <button class="fb_animation" style="width: 180px; height: 40px; pointer-events: none;"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="deal_sec_wrapper" *ngIf="list.length > 0">
                <div class="deal_section_row"  *ngFor="let item of list;">
                    <div class="deal_sec_inner">
                        <img [src]="item?.image" alt="Deal Image" />
                        <div class="image_about_text">
                            <button (click)="btnDealClick(item)">Find Deals to {{item?.city}}</button>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>
<!-- Close Deals section-->


<!-- deal section skeleton loader starts -->
<!-- <section class="deal_sec">
    <div class="container">
        <div class="row">
            <div class="deal_sec_wrapper">
                <div class="deal_section_row">
                    <div class="deal_sec_inner fb_animation pb-5 pt-5 mb-3" style="height: 285px;">
                        <div class="image_about_text">
                            <button class="fb_animation" style="width: 180px; height: 40px; pointer-events: none;"></button>
                        </div>
                    </div>
                </div>
                <div class="deal_section_row">
                    <div class="deal_sec_inner fb_animation pb-5 pt-5 mb-3" style="height: 285px;">
                        <div class="image_about_text">
                            <button class="fb_animation" style="width: 180px; height: 40px; pointer-events: none;"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- deal section skeleton loader ends -->