@import "../../../../_cstm-variable.scss";
@import "../../../../_cstm-components.scss";
@import "../../../../_hotel.scss";
@import "../../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.deal_sec {
    width: 100%;
    padding: 20px 0 55px;
    background: $background-white;

    @include tab-view {
        padding: 15px 0;
    }

    .deal_sec_inner {
        overflow: hidden;
        position: relative;
        z-index: 2;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-flow: column;
        border-radius: 10px;

        .deal_img_new {
            width: 100%;
            transform: scale(1);
            transition: 1s;
            object-fit: cover;
            max-width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center;
            object-position: center;
        }
        &:hover {
            .deal_img_new {
                transform: scale(1.1);
            }
        }

        .image_about_text {
            text-align: center;
            button {
                font-size: 17px;
                color: $active-tab-text;
                transition: 0.3s;
                border: none;
                padding: 8px 15px;
                width: 100%;
                max-width: 176px;
                border-radius: 20px;
            }
        }
        .deal_header_img {
            position: relative;
            width: 100%;
            height: 214px;
            .deal_type_icn {
                position: absolute;
                right: 43px;
                bottom: -30%;
                padding: 15px;
                border-radius: 50%;
                font-size: 30px;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60px;
                width: 60px;
                transform: translate(0, -50%);
                z-index: 99;
                @include ipad-view{
                    right: 30px;
                    width: 56px;
                    height: 56px;
                }
            }
        }

        &.flight_deal {
            .deal_header_img {
                .deal_type_icn {
                    background: #0046fe;
                }
            }
            .image_about_text {
                button {
                    background: #0046fe;
                    color: $text-white;
                }
            }
        }
        &.hotel_deal {
            .deal_header_img {
                .deal_type_icn {
                    background: #f726c0;
                }
            }
            .image_about_text {
                button {
                    background: #f726c0;
                    color: $text-white;
                }
            }
        }
        .deal_main_section {
            padding: 22px 44px 30px;

            h3 {
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 0;
                line-height: normal;
                letter-spacing: 0.4px;
                color: #000;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            p {
                color: $mid_gray_bg;
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 0.4px;
                margin-bottom: 25px;
            }
            .payment_option {
                padding: 7px 0;
                font-size: 16px;
                border-top: 0.4px solid #c8c8c8;
                border-bottom: 0.4px solid #c8c8c8;
                margin-bottom: 30px;
                text-align: center;
                color: $mid_gray_bg;
                letter-spacing: 0.4px;
                span {
                    display: block;
                    font-size: 14px;
                }
            }

            @include tab-view{
                padding: 25px;
                h3{
                    font-size: 22px;
                    line-height: 33px;
                }
                p{
                    font-size: 12px;
                }
                .payment_option {
                    font-size: 14px;
                    span{
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .deal_sec_wrapper {
        width: 100%;
        position: relative;
        overflow-x: visible;

        @include tab-view {
            flex-direction: column;
            padding: 0;
        }

        .deal_section_row {
            margin: 5px;
            border: 0.5px solid $mid_gray_bg;
            border-radius: 10px;
            .deal_sec_inner {
                overflow: hidden;
                position: relative;
                z-index: 2;
                width: 100%;
                display: flex;
                justify-content: center;

                &:hover {
                    .deal_img_new {
                        transform: scale(1.1);
                    }
                }

                .deal_img_new {
                    width: 100%;
                    transform: scale(1);
                    transition: 1s;
                    object-fit: cover;
                    max-width: 100%;
                    height: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                    -o-object-position: center;
                    object-position: center;
                }

                .image_about_text {
                    // position: absolute;
                    // bottom: 15px;
                }
            }
        }

        .swiper-button-prev {
            background-image: url(src/assets/images/left_arrow.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            width: 60px;
            height: 60px;
            opacity: 1;
            transition: 1s;
            left: -65px;
            &::after {
                content: none;
            }
            @media (max-width: 1245px) {
                width: 45px;
                height: 45px;
                left: -45px;
            }
            @include tab-max{
                width: 33px;
                height: 33px;
                left: -30px;
            }
            @include tab-view{
                display: none;
            }
        }
    
        .swiper-button-next {
            background-image: url(src/assets/images/right_arrow.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            width: 60px;
            height: 60px;
            opacity: 1;
            transition: 1s;
            right: -65px;
            &::after {
                content: none;
            }
            @media (max-width: 1245px) {
                width: 45px;
                height: 45px;
                right: -45px;
            }
            @include tab-max{
                width: 33px;
                height: 33px;
                right: -30px;
            }
            @include tab-view{
                display: none;
            }
        }
    }

    .terms_txt {
        font-size: 12px;
        line-height: 15px;
        color: $mid_gray_bg;
        text-align: left;
        width: 100%;
        display: block;
        margin: 15px 0 0;
        padding: 0;
        max-width: 750px;

        @include tab-view {
            font-size: 8px;
            line-height: 11px;
            padding: 0 15px;
        }

        a {
            color: #0c7bff;
            text-decoration: none;
        }
    }
    // .swiper-wrapper {
    //     .swiper-slide {
    //         .deal_section_row {
    //             margin-bottom: 25px;
    //         }
    //     }
    // }
}

.bg-yellow {
    background-color: yellow;
}

.transition {
    transition: background 0.25s ease, color 0.25s ease;
}

.active-slide {
    background-color: green;
    color: #fff;
}

.bg-blue {
    background-color: blue;
    color: #fff;
}

::ng-deep{
    .deal_center{
        .swiper-wrapper{
            justify-content: center;
            @include ipad-view{
                justify-content: inherit;
            }
        }
    }
    .slider_pagination_hide_cls{
        .swiper-pagination{
            display: none;

            @include ipad-view{
                display: block;
            }
        }
    }
    .slider_pagination_hide_cls_tab{
        .swiper-pagination{
            display: none;

            @include tab-view{
                display: block;
            }
        }
    }
}