<!-- Start Deals section-->

<!-- deal section skeleton loader starts -->
<section class="deal_sec" *ngIf="!list.length  && commonFunction.isRefferal()">
    <div class="container">
        <div style="display: flex; width: 100%; justify-content: space-between;">
            <div class="fb_animation pb-5 pt-5" style="height: 285px; width: 48%; margin: 5px; border-radius: 20px;">
            </div>
            <div class="fb_animation pb-5 pt-5" style="height: 285px; width: 48%; margin: 5px; border-radius: 20px;">
            </div>
        </div>
        <div style="display: flex; width: 100%; justify-content: center; align-items: center; margin: 10px 0;">
            <div class="fb_animation pb-5 pt-5" style="height: 4px; width: 4px; margin: 5px; border-radius: 50%; min-height: 4px; padding: 5px !important;">
            </div>
            <div class="fb_animation pb-5 pt-5" style="height: 4px; width: 4px; margin: 5px; border-radius: 50%; min-height: 4px; padding: 5px !important;">
            </div>
            <div class="fb_animation pb-5 pt-5" style="height: 4px; width: 4px; margin: 5px; border-radius: 50%; min-height: 4px; padding: 5px !important;">
            </div>
            <div class="fb_animation pb-5 pt-5" style="height: 4px; width: 4px; margin: 5px; border-radius: 50%; min-height: 4px; padding: 5px !important;">
            </div>
        </div>
    </div>
</section>
<!-- deal section skeleton loader ends -->
<section class="deal_sec" *ngIf="list.length > 0 " (contextmenu)="commonFunction.onRightClickDisabled($event)">
    <div class="container">
        <div class="deal_sec_wrapper" [ngClass]="{deal_center : list.length < 3 ,slider_pagination_hide_cls : list.length <= 3,slider_pagination_hide_cls_tab : list.length <= 2}">
            <div class="swiper-button-prev" #prevEl [ngClass]="list.length <= 3 ? 'd-none':''"></div>
            <swiper (swiper)="setThumbsSwiper($event)" [breakpoints]="breakpoints" [navigation]="{ prevEl: prevEl, nextEl: nextEl }" [pagination]="{ clickable: true }" [slidesPerView]="1" [spaceBetween]="10" *ngIf="list.length > 0">
                <ng-template swiperSlide *ngFor="let item of list;">
                    <div class="deal_section_row mb-5" *ngIf="moduleId == 1">
                        <div class="deal_sec_inner flight_deal">
                            <div class="deal_header_img">
                                <div class="overflow-hidden h-100">
                                    <img class="deal_img_new" [src]="commonFunction.isRefferal() ? item?.to?.image : item.image" alt="Deal Image" />
                                </div>
                                <div class="deal_type_icn">
                                    <img src="{{s3BucketUrl}}assets/images/icons/flight_deals.svg" alt="Flight">
                                    <!-- <i class="fa fa-plane" aria-hidden="true"></i> -->
                                    <!--fa-bed-->
                                </div>
                            </div>
                            <div class="deal_main_section">
                                <h3>{{commonFunction.isRefferal() ? item?.to?.city : item.city}}</h3>
                                <p><img src="{{s3BucketUrl}}assets/images/map_location.svg" alt="map_location"> {{commonFunction.isRefferal() ? item?.to?.country : item.country}}</p>
                                <div class="payment_option">
                                    {{'payment_option_available' | translate}}:
                                    <span>{{'weekly_bi_weekly_or_monthly' | translate}}</span>
                                </div>
                                <div class="image_about_text">
                                    <button (click)="btnDealClick(commonFunction.isRefferal() ? item?.to : item)">{{'find_deal' | translate}}</button>
                                </div>
                            </div>
                            <!-- <img [src]="item?.to?.image" alt="Deal Image" />
                            <div class="image_about_text">
                                <button (click)="btnDealClick(item?.to)">{{item?.to?.city}}</button>
                            </div> -->
                        </div>
                    </div>
                    <div class="deal_section_row mb-5" *ngIf="moduleId == 3">
                        <div class="deal_sec_inner hotel_deal">
                            <div class="deal_header_img">
                                <div class="overflow-hidden h-100">
                                    <img class="deal_img_new" [src]="commonFunction.isRefferal() ? item?.location?.image : item.image" alt="Deal Image" />
                                </div>
                                <div class="deal_type_icn">
                                    <img src="{{s3BucketUrl}}assets/images/icons/hotel_deals.svg" alt="hotel">
                                    <!-- <i class="fa fa-bed" aria-hidden="true"></i> -->
                                </div>
                            </div>
                            <div class="deal_main_section">
                                <h3>{{ commonFunction.isRefferal() ? item?.location?.city : item?.city}}</h3>
                                <p><img src="{{s3BucketUrl}}assets/images/map_location.svg" alt="map_location"> {{commonFunction.isRefferal() ? item?.location?.country : item.country}}</p>
                                <div class="payment_option">
                                    {{'payment_option_available' | translate}}:
                                    <span>{{'weekly_bi_weekly_or_monthly' | translate}}</span>
                                </div>
                                <div class="image_about_text">
                                    <button (click)="btnDealClick(commonFunction.isRefferal() ? item?.location : item)">{{'find_deal' | translate}}</button>
                                </div>
                            </div>
                            <!-- <img [src]="item?.location?.image" alt="Deal Image" />
                            <div class="image_about_text">
                                <button (click)="btnDealClick(item?.location)">{{item?.location?.city}}</button>
                            </div> -->
                        </div>
                    </div>
                </ng-template>
            </swiper>
            <div class="swiper-button-next" #nextEl [ngClass]="list.length <= 3 ? 'd-none':''"></div>
        </div>
        <p class="terms_txt">
            {{'promo_421_legal_1' | translate:param}} <a target="_blank" [routerLink]="['/']" [queryParams]="commonFunction.isRefferal()? commonFunction.getRefferalParms() : ''">laytrip.com</a>. <a [routerLink]="['/terms']" [queryParams]="commonFunction.isRefferal()? commonFunction.getRefferalParms() : ''">{{'terms' | translate | titlecase}}</a>            {{'promo_421_legal_2' | translate}}
        </p>
    </div>
</section>
<!-- End Deals section-->


<!-- <section class="deal_sec" *ngIf="!commonFunction.isRefferal()" (contextmenu)="commonFunction.onRightClickDisabled($event)">
    <div class="container">
        <div class="deal_sec_wrapper" *ngIf="list.length <= 0">
            <div class="deal_section_row">
                <div class="deal_sec_inner fb_animation pb-5 pt-5 mb-3" style="height: 285px;">
                    <div class="image_about_text">
                        <button class="fb_animation" style="width: 180px; height: 40px; pointer-events: none;"></button>
                    </div>
                </div>
            </div>
            <div class="deal_section_row">
                <div class="deal_sec_inner fb_animation pb-5 pt-5 mb-3" style="height: 285px;">
                    <div class="image_about_text">
                        <button class="fb_animation" style="width: 180px; height: 40px; pointer-events: none;"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="deal_sec_wrapper" *ngIf="list.length > 0">
            <div class="row justify-content-center">
                <div class="col-lg-4" *ngFor="let item of list;">
                    <div class="deal_section_row">
                        <div class="deal_sec_inner flight_deal">
                            
                            <div class="deal_header_img">
                                <div class="overflow-hidden h-100">
                                    <img class="deal_img_new" [src]="item?.image" alt="Deal Image" />
                                </div>
                                <div class="deal_type_icn">
                                    <i class="fa fa-plane" aria-hidden="true"></i>
                                    
                                </div>
                            </div>
                            <div class="deal_main_section">
                                <h3>{{item?.city}}</h3>
                                <p><img src="{{s3BucketUrl}}assets/images/map_location.svg" alt="map_location"> Brazil {{item.code}} {{item.lat}}</p>
                                <div class="payment_option">
                                    {{'payment_option_available' | translate}}:
                                    <span>{{'weekly_bi_weekly_or_monthly' | translate}}</span>
                                </div>
                                <div class="image_about_text">
                                    <button (click)="btnDealClick(item)">{{'find_deal' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--hotel_deal-->
<!--fa-bed-->
<!-- Close Deals section-->