 <!-- Start Deals section-->
 <section class="deal_sec">
    <div class="container">
        <div class="row">
            <div class="section_title">
                <h2>
                    Deals <span>For You</span>
                </h2>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its
            </div>
            <ul class="deal_listing">
                <li>
                    <div class="deal_block">
                        <a href="javascript:void(0);">
                            <img src="{{s3BucketUrl}}assets/images/deal-1.jpg" alt="Deal Image" />
                            <div class="box_overlay"></div>
                            <div class="deal_info">
                                <h3>Carnival Hotel</h3>
                                <p>Las Vegas, United States</p>
                                <div class="rating_price">
                                    <ul class="rating">
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                                <div class="price">
                                    <div class="reg_price">
                                        <span>$230</span> /night
                                    </div>
                                    <div class="offer_price">
                                        <div class="price_label">Offer price</div>
                                        <div class="price_day"><span>$210</span>/night</div>
                                    </div>
                                </div>
                                <div class="block_btm">
                                    <div class="offer_start">
                                        <div class="start_label">Starts from</div>
                                        <div class="offer_day"><span>$35</span>/week</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="deal_block">
                        <a href="javascript:void(0);">
                            <img src="{{s3BucketUrl}}assets/images/deal-2.jpg" alt="Deal Image" />
                            <div class="box_overlay"></div>
                            <div class="deal_info">
                                <h3>Carnival Hotel</h3>
                                <p>Las Vegas, United States</p>
                                <div class="rating_price">
                                    <ul class="rating">
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                                <div class="price">
                                    <div class="reg_price">
                                        <span>$230</span> /night
                                    </div>
                                    <div class="offer_price">
                                        <div class="price_label">Offer price</div>
                                        <div class="price_day"><span>$210</span>/night</div>
                                    </div>
                                </div>
                                <div class="block_btm">
                                    <div class="offer_start">
                                        <div class="start_label">Starts from</div>
                                        <div class="offer_day"><span>$35</span>/week</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="deal_block">
                        <a href="javascript:void(0);">
                            <img src="{{s3BucketUrl}}assets/images/deal-3.jpg" alt="Deal Image" />
                            <div class="box_overlay"></div>
                            <div class="deal_info">
                                <h3>Carnival Hotel</h3>
                                <p>Las Vegas, United States</p>
                                <div class="rating_price">
                                    <ul class="rating">
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                                <div class="price">
                                    <div class="reg_price">
                                        <span>$230</span> /night
                                    </div>
                                    <div class="offer_price">
                                        <div class="price_label">Offer price</div>
                                        <div class="price_day"><span>$210</span>/night</div>
                                    </div>
                                </div>
                                <div class="block_btm">
                                    <div class="offer_start">
                                        <div class="start_label">Starts from</div>
                                        <div class="offer_day"><span>$35</span>/week</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- Close Deals section-->