@import "../../../../_cstm-variable.scss";
@import "../../../../_cstm-components.scss";
@import "../../../../_hotel.scss";
@import "../../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


.deal_sec {
    width: 100%;
    padding: 20px 0 55px;
    background: $background-white;

    @include tab-view {
        padding: 15px 0;
    }

    .deal_sec_inner {
        overflow: hidden;
        position: relative;
        z-index: 2;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-flow: column;
        border-radius: 10px;

        .deal_img_new {
            width: 100%;
            transform: scale(1);
            transition: 1s;
            object-fit: cover;
            max-width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center;
            object-position: center;
        }
        &:hover {
            .deal_img_new {
                transform: scale(1.1);
            }
        }

        .image_about_text {
            text-align: center;
            button {
                font-size: 17px;
                color: $active-tab-text;
                transition: 0.3s;
                border: none;
                padding: 8px 15px;
                width: 100%;
                max-width: 176px;
                border-radius: 20px;
            }
        }
        .deal_header_img{
            position: relative;
            width: 100%;
            height: 214px;
            .deal_type_icn{
                position: absolute;
                right: 43px;
                bottom: -30%;
                padding: 15px;
                border-radius: 50%;
                font-size: 30px;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60px;
                width: 60px;
                transform: translate(0, -50%);
                z-index: 99;
            }
        }

        &.flight_deal{
            .deal_header_img{
                .deal_type_icn{
                    background:#0046FE;
                }
            }
            .image_about_text {
                button{
                    background:#0046FE;
                    color: $text-white;
                }
            }
        }
        &.hotel_deal{
            .deal_header_img{
                .deal_type_icn{
                    background:#F726C0;
                }
            }
            .image_about_text {
                button{
                    background:#F726C0;
                    color: $text-white;
                }
            }
        }
        .deal_main_section{
            padding: 22px 44px 30px;

            h3{
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 0;
                line-height: normal;
                letter-spacing: 0.4px;
                color: #000;
            }
            p{
                color: $mid_gray_bg;
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 0.4px;
                margin-bottom: 25px;
            }
            .payment_option{
                padding: 7px 0;
                font-size: 16px;
                border-top: 0.4px solid #C8C8C8;
                border-bottom: 0.4px solid #C8C8C8;
                margin-bottom: 30px;
                text-align: center;
                color: $mid_gray_bg;
                letter-spacing: 0.4px;
                span{
                    display: block;
                    font-size: 14px;
                }
            }
        }
    }

    .deal_sec_wrapper {
        width: 100%;

        @include tab-view {
            flex-direction: column;
            padding: 0;
        }

        .deal_section_row {
            margin: 5px;
            border: 0.5px solid $mid_gray_bg;
            border-radius: 10px;
            .deal_sec_inner {
                overflow: hidden;
                position: relative;
                z-index: 2;
                width: 100%;
                display: flex;
                justify-content: center;

                &:hover {
                    .deal_img_new {
                        transform: scale(1.1);
                    }
                }

                .deal_img_new {
                    width: 100%;
                    transform: scale(1);
                    transition: 1s;
                    object-fit: cover;
                    max-width: 100%;
                    height: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                    -o-object-position: center;
                    object-position: center;
                }

                .image_about_text {
                    // position: absolute;
                    // bottom: 15px;
                }
            }
        }
    }

    .terms_txt {
        font-size: 12px;
        line-height: 15px;
        color: $mid_gray_bg;
        text-align: center;
        width: 100%;
        display: block;
        margin: 15px 0 0;
        padding: 0;

        @include tab-view{
            font-size: 8px;
            line-height: 11px;
            padding: 0 15px;
        }

        a {
            color: #0C7BFF;
            text-decoration: none;
        }
    }
}


.bg-yellow {
    background-color: yellow;
}

.transition {
    transition: background 0.25s ease, color 0.25s ease;
}

.active-slide {
    background-color: green;
    color: #fff;
}

.bg-blue {
    background-color: blue;
    color: #fff;
}