<section class="search_result flight">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="block_booking_failed">
                  <div class="block_booking_failed_inner">
                      <img src="{{s3BucketUrl}}assets/images/booking_falied-im.svg" alt="Booking Failed Image">
                      <h6>Trip not found</h6>
                      <p>Lorem ipsum dolor sit amet, consetetur sadipsing elitr, send diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                      <a href="javascript:void(0);" (click)="backClicked()">
                          <img src="{{s3BucketUrl}}assets/images/icon/leftt-arrow.svg" alt="Left Arrow">
                          Go back to Search trip
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>