<section class="account_part">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <app-my-accounts-nav></app-my-accounts-nav>
      </div>
      <div class="col-lg-9">
        <div class="account_cnt_main change_password">
          <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <div class="block_change_password">
              <div class="block_title">
                <h5>Change Password</h5>
              </div>
              <div class="block_form">
                <div class="form_row">
                  <div class="form_field">
                    <label>Current Password<sup>*</sup></label>
                    <div class="text_field pass_show">
                      <input [ngClass]="{'error': submitted || ( changePasswordForm.controls.old_password.touched && changePasswordForm.controls.old_password.errors)}"
                        [type]="oldPassFieldTextType ? 'text' : 'password'" formControlName="old_password"
                        maxlength="50" tabindex="1" placeholder="Enter your current password">
                      <span class="ptxt"><i id="oldEye"
                          [ngClass]="oldPassFieldTextType ? 'fa fa-eye' : 'fa fa-eye-slash'" aria-hidden="true"
                          (click)="toggleFieldTextType($event)"></i></span>

                      <div class="error_text"
                        *ngIf="(submitted || changePasswordForm.controls.old_password.touched) && changePasswordForm.controls.old_password.errors">
                        <div *ngIf="changePasswordForm.controls.old_password.errors.required">Please enter your current
                          password.
                        </div>                       
                      </div>

                    </div>
                  </div>
                </div>
                <div class="form_row">
                  <div class="form_field">
                    <label>New Password<sup>*</sup></label>
                    <div class="text_field pass_show">
                      <input [ngClass]="{'error': submitted || (changePasswordForm.controls.password.touched && changePasswordForm.controls.password.errors)}"
                        [type]="cnfPassFieldTextType ? 'text' : 'password'" type="password" formControlName="password"
                        maxlength="50" tabindex="2" placeholder="Please enter your new password">
                      <span class="ptxt"><i id="cnfEye"
                          [ngClass]="cnfPassFieldTextType ? 'fa fa-eye' : 'fa fa-eye-slash'" aria-hidden="true"
                          (click)="toggleFieldTextType($event)"></i></span>
                      <div class="error_text"
                        *ngIf="(submitted || changePasswordForm.controls.password.touched) && changePasswordForm.controls.password.errors">
                        <div *ngIf="changePasswordForm.controls.password.errors.required">Please enter your password.
                        </div>
                        <div *ngIf="changePasswordForm.controls.password.errors.pattern">Your password must contain 1
                          Alpha, 1 numeric , 1 special & 8 character long.</div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="form_row">
                  <div class="form_field">
                    <label>Re-type New Password<sup>*</sup></label>
                    <div class="text_field pass_show">
                      <input
                        [ngClass]="{'error': submitted || (changePasswordForm.controls.confirm_password.touched &&  changePasswordForm.controls.confirm_password.errors)}"
                        [type]="passFieldTextType ? 'text' : 'password'" formControlName="confirm_password"
                        maxlength="50" tabindex="3" placeholder="Re-enter your new password">
                      <span class="ptxt"><i id="passEye" [ngClass]="passFieldTextType ? 'fa fa-eye' : 'fa fa-eye-slash'"
                          aria-hidden="true" (click)="toggleFieldTextType($event)"></i></span>
                      <div class="error_text"
                        *ngIf="(submitted || changePasswordForm.controls.confirm_password.touched) && changePasswordForm.controls.confirm_password.errors">
                        <div *ngIf="changePasswordForm.controls.confirm_password.errors.required">Please enter your
                          confirm password.
                        </div>
                        <div *ngIf="changePasswordForm.controls.confirm_password.errors.pattern">Your password must
                          contain 1
                          Alpha, 1 numeric , 1 special & 8 character long.</div>
                        <div *ngIf="changePasswordForm.controls.confirm_password.errors.mustMatch">Confirm password and new password doesn't match.</div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form_btn">
              <button> <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>  Change Password <img
                src="{{s3BucketUrl}}assets/images/icon/right-arrow.svg"
                alt="Right Arrow" /></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>