@import '../../../../../cstm-variable';
@import "../../../../../_cstm-variable.scss";
@import "../../../../../_cstm-components.scss";
@import "../../../../../_hotel.scss";
@import "../../../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.form_row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media(max-width: 767px) {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
    }

    &.common_row {
        border-bottom: 1px solid $box-border-color;
        margin-bottom: 15px;
        padding: 5px 20px;
        &.error_main_class{
            border-color: $error-color;
        }
        @include tab-view {
            margin-bottom: 10px;
            padding: 0px 15px;
        }
    }

    label {
        margin-bottom: 10px;
        color: $mid_gray_bg;
        font-size: 16px;
        font-weight: 600;
        flex: 1;
        margin: 0;

        @include tab-view {
            font-size: 12px;
        }
    }

    .text_field {
        flex: 2;
    }

    input {
        width: 100%;
        background: transparent;
        height: 40px;
        border: none;
        font-size: 16px;
        color: $mid_gray_bg;
        position: relative;

        &:focus {
            border: none;
            outline: none;
        }
    }

    .edit_btns {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 5px 0;
        width: 100%;

        a {
            background-color: transparent;
            color: $text_light_yellow;
            box-shadow: none;
            font-size: 16px;
            padding: 0;
            text-align: right;
            text-decoration: none;

            @include tab-view {
                font-size: 12px;
            }
        }
    }
}

.error_change_password{
    display: flex; 
    position: relative;
    padding-bottom: 5px;
    margin-top: -5px;

    .fake_div{
        flex: 1;
        @include tab-view{
            display: none;
        }
    }
    .error_field_new {
        flex: 2;
        color: $error-color;
        display: flex;
        font-size: 10px;
        align-items: flex-start;
        
        .error_img_new{
            margin-top: 3px;
          display: flex;
          max-width: 10px;
          margin-right: 5px;
        }
    }
}
