<!-- <section class="account_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <app-my-accounts-nav></app-my-accounts-nav>
            </div>
            <div class="col-lg-9">
                <div class="account_cnt_main change_password">
                    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                        <div class="block_change_password">
                            <div class="block_title">
                                <h5>{{'change_password' | translate}}</h5>
                            </div>
                            <div class="block_form">
                                <div class="form_row">
                                    <div class="form_field">
                                        <label>{{'current_password' | translate}}<sup>*</sup></label>
                                        <div class="text_field pass_show">
                                            <input [ngClass]="{'error': submitted || ( changePasswordForm.controls.old_password.touched && changePasswordForm.controls.old_password.errors)}" [type]="oldPassFieldTextType ? 'text' : 'password'" formControlName="old_password" maxlength="50" tabindex="1"
                                                placeholder="{{'current_password_placeholder' | translate}}">
                                            <span class="ptxt"><i id="oldEye"
                          [ngClass]="oldPassFieldTextType ? 'fa fa-eye' : 'fa fa-eye-slash'" aria-hidden="true"
                          (click)="toggleFieldTextType($event)"></i></span>

                                            <div class="error_text" *ngIf="(submitted || changePasswordForm.controls.old_password.touched) && changePasswordForm.controls.old_password.errors">
                                                <div *ngIf="changePasswordForm.controls.old_password.errors.required">{{'current_password_touched_validation' | translate}}
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_field">
                                        <label>{{'new_password_small' | translate}}<sup>*</sup></label>
                                        <div class="text_field pass_show">
                                            <input [ngClass]="{'error': submitted || (changePasswordForm.controls.password.touched && changePasswordForm.controls.password.errors)}" [type]="cnfPassFieldTextType ? 'text' : 'password'" type="password" formControlName="password" maxlength="50" tabindex="2"
                                                placeholder="{{'new_password_touched_validation' | translate}}">
                                            <span class="ptxt"><i id="cnfEye"
                          [ngClass]="cnfPassFieldTextType ? 'fa fa-eye' : 'fa fa-eye-slash'" aria-hidden="true"
                          (click)="toggleFieldTextType($event)"></i></span>
                                            <div class="error_text" *ngIf="(submitted || changePasswordForm.controls.password.touched) && changePasswordForm.controls.password.errors">
                                                <div *ngIf="changePasswordForm.controls.password.errors.required">{{'new_password_touched_validation' | translate}}
                                                </div>
                                                <div *ngIf="changePasswordForm.controls.password.errors.pattern">{{'password_string_validation' | translate}}</div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_field">
                                        <label>{{'re_type_new_password' | translate}}<sup>*</sup></label>
                                        <div class="text_field pass_show">
                                            <input [ngClass]="{'error': submitted || (changePasswordForm.controls.confirm_password.touched &&  changePasswordForm.controls.confirm_password.errors)}" [type]="passFieldTextType ? 'text' : 'password'" formControlName="confirm_password" maxlength="50"
                                                tabindex="3" placeholder="{{'re_enter_new_password' | translate}}">
                                            <span class="ptxt"><i id="passEye" [ngClass]="passFieldTextType ? 'fa fa-eye' : 'fa fa-eye-slash'"
                          aria-hidden="true" (click)="toggleFieldTextType($event)"></i></span>
                                            <div class="error_text" *ngIf="(submitted || changePasswordForm.controls.confirm_password.touched) && changePasswordForm.controls.confirm_password.errors">
                                                <div *ngIf="changePasswordForm.controls.confirm_password.errors.required">{{'confirm_password_touched_validaion' | translate}}
                                                </div>
                                                <div *ngIf="changePasswordForm.controls.confirm_password.errors.pattern">{{'password_string_validation' | translate}}</div>
                                                <div *ngIf="changePasswordForm.controls.confirm_password.errors.mustMatch">{{'confirm_new_password_match_validation' | translate}}</div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form_btn">
                            <button> <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>  {{'change_password' | translate}} <img
                src="{{s3BucketUrl}}assets/images/icon/right-arrow.svg"
                alt="Right Arrow" /></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> -->
<form [formGroup]="changePasswordForm" >
    <div class="form_row common_row">
        <label>{{'current_password' | translate}}</label>
        <div class="text_field">
            <input autocomplete="new-password"  [ngClass]="{'error': submitted || ( changePasswordForm.controls.old_password.touched && changePasswordForm.controls.old_password.errors)}" [type]="oldPassFieldTextType ? 'text' : 'password'" formControlName="old_password" maxlength="50" tabindex="41"
            placeholder="••••••••••">
            <div class="error" *ngIf="(submitted || changePasswordForm.controls.old_password.touched) && changePasswordForm.controls.old_password.errors">
                <small class="error_field" *ngIf="changePasswordForm.controls.old_password.errors.required">{{'current_password_touched_validation' | translate}}
                </small>
            </div>
        </div>
    </div>
    <div class="form_row common_row">
        <label>{{'new_password_small' | translate}}</label>
        <div class="text_field">
            <input  [ngClass]="{'error': submitted || (changePasswordForm.controls.password.touched && changePasswordForm.controls.password.errors)}" [type]="cnfPassFieldTextType ? 'text' : 'password'" type="password" formControlName="password" maxlength="50" tabindex="42"
                placeholder="••••••••••">
                <div class="error" *ngIf="(submitted || changePasswordForm.controls.password.touched) && changePasswordForm.controls.password.errors">
                    <small class="error_field" *ngIf="changePasswordForm.controls.password.errors.required">{{'new_password_touched_validation' | translate}}
                    </small>
                    <small class="error_field" *ngIf="changePasswordForm.controls.password.errors.pattern">{{'password_string_validation' | translate}}</small>
                </div>

        </div>
    </div>
    <div class="form_row common_row">
        <label>{{'re_type_new_password' | translate}}</label>
        <div class="text_field">
            <input tabindex="43" [ngClass]="{'error': submitted || (changePasswordForm.controls.confirm_password.touched &&  changePasswordForm.controls.confirm_password.errors)}" [type]="passFieldTextType ? 'text' : 'password'" formControlName="confirm_password" maxlength="50"
             placeholder="••••••••••">    
              
            <div class="error" *ngIf="(submitted || changePasswordForm.controls.confirm_password.touched) && changePasswordForm.controls.confirm_password.errors">
                <small class="error_field" *ngIf="changePasswordForm.controls.confirm_password.errors.required">{{'confirm_password_touched_validaion' | translate}}
                </small>
                <small class="error_field" *ngIf="changePasswordForm.controls.confirm_password.errors.pattern">{{'password_string_validation' | translate}}</small>
                <small class="error_field" *ngIf="changePasswordForm.controls.confirm_password.errors.mustMatch">{{'confirm_new_password_match_validation' | translate}}</small>
            </div>

         </div>
    </div>
    <div class="form_row">
        <span class="edit_btns">
            <a class='hover-link' (click)="onSubmit()">Save</a>
        </span>
    </div>
</form> 