<div class="add_card_block ">
    <div class="form_row">
        <!-- <input type="hidden" formControlName="payment_method_token" id="payment_method_token"> -->

        <div class="form_field">
            <label>{{'first_name' | translate}} <sup>*</sup></label>
            <div class="text_field">
                <input type="text" maxlength="20" tabindex="101" name="first_name" placeholder="{{'first_name_placeholder' | translate}}" (change)="handleCardDetails($event)">
                <p *ngIf="!isValidFirstName" class="text-danger">{{'first_name_touched_validation' | translate}}
                </p>
            </div>
        </div>

        <div class="form_field">
            <label>{{'last_name' | translate}}<sup>*</sup></label>
            <div class="text_field">
                <input type="text" maxlength="20" tabindex="101" name="last_name" placeholder="{{'last_name_placeholder' | translate}}" (change)="handleCardDetails($event)">
                <p *ngIf="!isValidLastName" class="text-danger">{{'last_name_touched_validation' | translate}}
                </p>
            </div>
        </div>

        <!-- <div class="form_field">
            <label>Card number<sup>*</sup></label>
            <div class="text_field">
                <div id="spreedly-number" class="card_field" tabindex="102">
                    <p class="text-danger" *ngIf="cardError">{{ cardError }}</p>
                </div>
            </div>
        </div> -->

    </div>
    <div class="form_row">

        <div class="form_field">
            <label>{{'card_number' | translate}}<sup>*</sup></label>
            <div class="text_field">
                <input type="text" autocomplete="off" maxlength="20" tabindex="101" name="card_number" [textMask]="mask" placeholder="Enter card number" (change)="handleCardDetails($event)">
                <p *ngIf="!isValidCardNumber" class="text-danger">{{'card_number_touched_validation' | translate}}
                </p>
            </div>
        </div>

        <div class="form_field">
            <label>{{'expiry' | translate}}<sup>*</sup></label>
            <div class="text_field">
                <!-- <input autocomplete="off" class="birth_date" type="text" formControlName="expiry" maxlength="20"
                    placeholder="MM/YYYY" tabindex="103" id="expiry_date"> -->
                <p-calendar inputId="basic" [(ngModel)]="expiryDate" [ngModelOptions]="{standalone: true}" expiryMinDate [minDate]="expiryMinDate" dateFormat="mm/yy" view="month" (onSelect)=expiryDateUpdate($event) tabindex="103" [readonlyInput]="true">
                </p-calendar>
                <p *ngIf="!isValidExpiry" class="text-danger">{{'expiry_date_touched_validation' | translate}}
                </p>
            </div>
        </div>
        <!-- <div class="form_field">
            <label>CVV<sup>*</sup></label>
            <div class="text_field">
                <div id="spreedly-cvv" class="card_field" tabindex="104"></div>
            </div>
        </div> -->
    </div>
    <div class="form_row">
        <div class="form_field">
            <label>{{'cvv' | translate}}<sup>*</sup></label>
            <div class="text_field">
                <input autocomplete="off" [textMask]="cvvNoMask" type="text" name="card_cvv" placeholder="123" tabindex="103" (change)="handleCardDetails($event)">
                <p *ngIf="!isValidCvv" class="text-danger">{{'cvv_touched_validation' | translate}}
                </p>
            </div>
        </div>
    </div>
</div>