<div class="form_row common_row">
    <label>{{'email_notifications' | translate}}</label>
    <div class="text_field">
        <input type="checkbox" [checked]="isEmailNotifiationOn" id="switch" disabled/><label for="switch">EMAIL</label>
    </div>
</div>
<div class="form_row common_row last_row">
    <label>{{'sms_notifications' | translate}}</label>
    <div class="text_field">
        <input type="checkbox" [checked]="isSmsNotifiationOn"  id="switch2" disabled/><label for="switch2">SMS</label>
    </div>
</div>