<form [formGroup]="addPointsForm">
  <div class="block_addpoints">
    <div class="block_title_section">
      <h5>Add Points</h5>
    </div>
    <div class="block_point">
      <div class="block_point_left">
        <label>Choose an amount</label>
        <ul class="custom_listing">
          <li>
            <label class="custom_radio">{{currency.symbol}}100
              <input type="radio" value="100" checked="checked" formControlName="default_add_points"
                (change)="addPointsForm.controls.custom_add_points.setValue('');changeValue(addPointsForm.value)">
              <span class="checkmark"></span>
            </label>
          </li>
          <li>
            <label class="custom_radio">{{currency.symbol}}200
              <input type="radio" value="200" formControlName="default_add_points"
                (change)="addPointsForm.controls.custom_add_points.setValue('');changeValue(addPointsForm.value)">
              <span class="checkmark"></span>
            </label>
          </li>
          <li>
            <label class="custom_radio">{{currency.symbol}}500
              <input type="radio" value="500" formControlName="default_add_points"
                (change)="addPointsForm.controls.custom_add_points.setValue('');changeValue(addPointsForm.value)">
              <span class="checkmark"></span>
            </label>
          </li>
        </ul>
      </div>
      <div class="block_point_right">
        <label>Amount*</label>
        <div class="block_amount">
          <input type="number" step=".01" maxlength="10"  placeholder="100"
            formControlName="custom_add_points"
            (keyup)="addPointsForm.controls.default_add_points.setValue('');addCusomPoint(addPointsForm.value)">
          <div
            *ngIf="addPointsForm.controls.custom_add_points.errors && addPointsForm.controls.custom_add_points.touched">
            <p *ngIf="addPointsForm.controls.custom_add_points.errors.min" class="text-danger">Amount should be at least
              {{currency.symbol}}10</p>
            <!-- <p *ngIf="addPointsForm.controls.custom_add_points.errors.pattern" class="text-danger">Please enter valid amount</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</form>