<div class="filter_saidbar">

    <div class="short_by">
        <div class="accordion block_shortby" id="accordion-shortby">
            <div class="accordion-group" [ngClass]="{'active': lowToHighToggle === true}">
                <div class="accordion-heading" (click)="toggleLowToHigh()">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-shortby" href="#collapseshortBy">
                        <!-- Lowest to highest -->
                        Sort by
                    </a>
                    <a class="anchor_link" [hidden]="lowToHighToggle !== true" (click)="resetSorting('total','ASC')">Reset</a>
                </div>
                <div id="collapseshortBy" class="accordion-body filter_acc collapse">
                    <div class="accordion-inner">
                        <ng-scrollbar #scrollable track="all">
                            <div class="block_cmn price">
                                <h5>Price</h5>
                                <ul>
                                    <li>
                                        <label class="custom_radio">Lowest to highest
                                 <input type="radio" [checked]="sortType=='lh_price'"
                                    (click)="sortRentalData('total','ASC','lh_price')"> <span class="checkmark"></span>
                              </label>
                                    </li>
                                    <li>
                                        <label class="custom_radio">Highest to lowest
                                 <input type="radio" [checked]="sortType=='hl_price'"
                                    (click)="sortRentalData('total','DESC','hl_price')"> <span class="checkmark"></span>
                              </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="block_cmn arrival">
                                <h5>Home Rental</h5>
                                <ul>
                                    <li>
                                        <label class="custom_radio">A to Z
                                 <input type="radio" [checked]="sortType=='lh_arrival'"
                                    (click)="sortRentalData('property_name','ASC','lh_arrival')"> <span
                                    class="checkmark"></span> </label>
                                    </li>
                                    <li>
                                        <label class="custom_radio">Z to A
                                 <input type="radio" [checked]="sortType=='hl_arrival'"
                                    (click)="sortRentalData('property_name','DESC','hl_arrival')"> <span
                                    class="checkmark"></span> </label>
                                    </li>
                                </ul>
                            </div>
                        </ng-scrollbar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>