<div class="filter_saidbar">

   <div class="short_by">
      <div class="block_inn">
         <h4>Sort by</h4> <a class="anchor_link" (click)="resetSorting('total','ASC')">Reset</a>
      </div>
      <ng-scrollbar #scrollable track="all">
         <div class="accordion block_shortby" id="accordion-shortby">
            <div class="accordion-group" [ngClass]="{'active': lowToHighToggle === true}">
               <div class="accordion-heading" (click)="toggleLowToHigh()"> <a class="accordion-toggle"
                     data-toggle="collapse" data-parent="#accordion-shortby" href="#collapseshortBy">
                     Lowest to highest
                  </a> </div>
               <div id="collapseshortBy" class="accordion-body filter_acc collapse">
                  <div class="accordion-inner">
                     <div class="block_cmn price">
                        <h5>Price</h5>
                        <ul>
                           <li>
                              <label class="custom_radio">Lowest to highest
                                 <input type="radio" [checked]="sortType=='lh_price'"
                                    (click)="sortRentalData('total','ASC','lh_price')"> <span class="checkmark"></span>
                              </label>
                           </li>
                           <li>
                              <label class="custom_radio">Highest to lowest
                                 <input type="radio" [checked]="sortType=='hl_price'"
                                    (click)="sortRentalData('total','DESC','hl_price')"> <span class="checkmark"></span>
                              </label>
                           </li>
                        </ul>
                     </div>
                     <div class="block_cmn arrival">
                        <h5>Home Rental</h5>
                        <ul>
                           <li>
                              <label class="custom_radio">A to Z
                                 <input type="radio" [checked]="sortType=='lh_arrival'"
                                    (click)="sortRentalData('property_name','ASC','lh_arrival')"> <span
                                    class="checkmark"></span> </label>
                           </li>
                           <li>
                              <label class="custom_radio">Z to A
                                 <input type="radio" [checked]="sortType=='hl_arrival'"
                                    (click)="sortRentalData('property_name','DESC','hl_arrival')"> <span
                                    class="checkmark"></span> </label>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </ng-scrollbar>
   </div>
   <!--  <div class="short_by">
               <div class="block_inn">
                  <h4>Short by</h4>
                  <a href="javascript:void(0);">Reset</a>
               </div>
               <div class="accordion block_shortby" id="accordion-shortby">
                  <div class="accordion-group">
                     <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-shortby" href="#collapseshortBy">
                        Lowest to highest
                        </a> 
                     </div>
                     <div id="collapseshortBy" class="accordion-body filter_acc collapse">
                        <div class="accordion-inner">
                           <div class="block_cmn price">
                              <h5>Price</h5>
                              <ul>
                                 <li>
                                    <label class="custom_radio">Lowest to highest
                                    <input type="radio" checked="checked" name="price_radio"> <span class="checkmark"></span> </label>
                                 </li>
                                 <li>
                                    <label class="custom_radio">highest to lowest
                                    <input type="radio" name="price_radio"> <span class="checkmark"></span> </label>
                                 </li>
                              </ul>
                           </div>
                           <div class="block_cmn duration">
                              <h5>Duration</h5>
                              <ul>
                                 <li>
                                    <label class="custom_radio">Shortest
                                    <input type="radio" name="duration_radio"> <span class="checkmark"></span> </label>
                                 </li>
                                 <li>
                                    <label class="custom_radio">Longest
                                    <input type="radio" name="duration_radio"> <span class="checkmark"></span> </label>
                                 </li>
                              </ul>
                           </div>
                           <div class="block_cmn arrival">
                              <h5>Arrival</h5>
                              <ul>
                                 <li>
                                    <label class="custom_radio">Earliest
                                    <input type="radio" name="arrival_radio"> <span class="checkmark"></span> </label>
                                 </li>
                                 <li>
                                    <label class="custom_radio">Shortest
                                    <input type="radio" name="arrival_radio"> <span class="checkmark"></span> </label>
                                 </li>
                              </ul>
                           </div>
                           <div class="block_cmn departure">
                              <h5>Departure</h5>
                              <ul>
                                 <li>
                                    <label class="custom_radio">Earliest
                                    <input type="radio" name="departure_radio"> <span class="checkmark"></span> </label>
                                 </li>
                                 <li>
                                    <label class="custom_radio">Shortest
                                    <input type="radio" name="departure_radio"> <span class="checkmark"></span> </label>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div> -->
</div>