<div class="loader_full_page" *ngIf="loading && module == 'flight'">
    <div id="lottie {{module}}">
        <lottie-animation-view [options]="{
            path: 'assets/lottie-json/flight/data.json',
            autoplay: true,
            loop: true
          }" [width]="250" [height]="200">
        </lottie-animation-view>
    </div>
</div>
<div class="loader_full_page" *ngIf="loading && module == 'hotel'">
    <div id="lottie {{module}}">
        <lottie-animation-view [options]="{
            path: 'assets/lottie-json/hotel/data.json',
            autoplay: true,
            loop: true
          }" [width]="250" [height]="200">
        </lottie-animation-view>
    </div>
</div>