<div class="home_tab">
    <h2 *ngIf="showCommingSoon">
        Coming soon
    </h2>
    <div class="tab_upper_content">
        <div class="travellers">
            <app-rental-info label="GUEST" (changeValue)="changeRentalInfo($event)">
            </app-rental-info>
        </div>
        <span class="child_error" *ngIf="error_message !=''">
         {{error_message}}
      </span>
    </div>
    <form *ngIf="showCommingSoon" [formGroup]="rentalSearchForm" novalidate autocomplete="off">
        <div class="home_search">
            <ul class="home-grid oneway">
                <li class="grid_box first">
                    <div class="home_where" [ngClass]="{'homecheck-error':rentalSearchFormSubmitted&&  rentalSearchForm.controls.fromDestination.errors && rentalSearchForm.controls.fromDestination.errors.required==true}">
                        <div class="search_area">
                            <app-vacation-search [form]="rentalSearchForm" [controlName]="'fromDestination'" [id]="'fromSearch1'" [label]="'destination_search' | translate" [placeHolder]=defaultCity [defaultSelected]=fromDestinationInfo [tabIndex]=1 [defaultCity]=defaultCity (changeValue)="destinationChangedValue($event)">
                            </app-vacation-search>
                        </div>
                    </div>
                </li>
                <li class="grid_box secound">
                    <div class="date_form">
                        <div class="search_area tab_search_area" [ngClass]="{'dr_search_area':countryCode=='DR'}">
                            <p-calendar #dateFilter inputId="range" dateFormat="M d yy" selectionMode="range" [(ngModel)]="rangeDates" [ngModelOptions]="{standalone: true}" checkInMinDate [minDate]="rentalCheckInMinDate" panelStyleClass="calender-responsive-view laytrip-cal-view"
                                [numberOfMonths]="2" (onSelect)=rentalDateUpdate($event) [readonlyInput]="true">
                            </p-calendar>
                        </div>
                    </div>
                </li>
                <li class="grid_box third">
                    <div class="serch_btn">
                        <button id="search_large_btn3" (click)="searchRentals(rentalForm)"> 
                     <img src="{{s3BucketUrl}}assets/images/search_icon.svg" alt="search_icon" class="norm_btn" />
                     <img src="{{s3BucketUrl}}assets/images/search_pink.svg" alt="search_icon" class="hover_btn" />
                 </button>
                    </div>
                </li>
            </ul>

        </div>
    </form>
</div>