@import '../../../../cstm-variable';

.homecheck-error{
    border: 1px solid red;
    border-radius:8px;
}


.span .child_error{
   color:red;
}
.tab_search_area{
    ::ng-deep .laytrip-cal-view{
        padding: 0;
        input{
            &.p-inputtext{
                &:enabled{
                    &:focus{
                        box-shadow: none !important;
                    }
                }
            } 
        }
        td{
            padding: 0.1rem !important;
            span{
                width: 2rem;
                height: 2rem;
                font-size: 12px;
            }
        }
    }
}