<div  *ngIf="loading">
    <div class="pay_listing" *ngFor="let index of [0,1,2,3,4,5]">
        <div class="list_top">
            <div class="list_left w-100">
                <ul class="w-100">
                    <li class="w-100">
                        <p class="fb_animation w-100 mb-0"></p>
                    </li>
                </ul>
            </div>
            <div class="list_right" style="flex-flow: column;">
                <p class="fb_animation w-100 mb-0"></p>
                <p class="fb_animation w-100 mb-0"></p>
            </div>
        </div>
        <div class="list_btm">
            <div class="grid_block w-100">
                <ul>
                    <li class="fb_medium w-100">
                        <p class="fb_animation w-100 mb-0"></p>
                    </li>
                    <li class="w-100">
                        <p class="fb_animation w-100 mb-0"></p>
                    </li>
                </ul>
            </div>
            <div class="grid_block w-100">
                <ul>
                    <li class="fb_medium w-100">
                        <p class="fb_animation w-100 mb-0"></p>
                    </li>
                    <li class="w-100">
                        <p class="fb_animation w-100 mb-0"></p>
                    </li>
                </ul>
            </div>
            <div class="grid_block w-100">
                <ul>
                    <li class="fb_medium w-100">
                        <p class="fb_animation w-100 mb-0"></p>
                    </li>
                    <li class="w-100">
                        <p class="fb_animation w-100 mb-0"></p>
                    </li>
                </ul>
            </div>
            <div class="grid_block w-100">
                <span>
                    <p class="fb_animation w-100 mb-0"></p>
                </span>
                <p class="fb_animation w-100 mb-0"></p>
            </div>
        </div>
    </div>
</div>
<div class="block_nobooking_available" *ngIf="notFound && !loading">
    <img src="{{s3BucketUrl}}assets/images/icon/ic_flight_nobooking.svg" alt="Flight Icon">
    <h5>No Payment Available</h5>    
</div>
<div *ngIf="!loading && !notFound">
    <div class="pay_listing" *ngFor="let item of list; let i = index;">
        <div class="list_top" *ngIf="item.totalInstallments > 0">
            <div class="list_left">
                <ul>
                    <li>Total Paid: <span>${{item.paidAmount | number : '1.2-2' || 0}}</span></li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar" style="width: 25%;"></div>
                            <div class="progress_dot" style="left:23%;"></div>
                        </div>
                    </li>
                    <li>Total Remaining: <span>${{ (item.totalAmount-item.paidAmount)  | number : '1.2-2' }}</span></li>
                </ul>
            </div>
            <div class="list_right" >
                <p>Payment Due in <span>{{ commonFunction.getPaymentDueDay(item.nextInstalmentDate)  }} days</span></p>
                <div class="pay_status">
                  <a>  Pay Early</a>
                </div>
            </div>
        </div>
        <div class="list_btm">
            <div class="grid_block">
                <ul>
                    <li class="fb_medium">Booking ID: <span>{{item.laytripBookingId || '--'}}</span></li>
                    <li>Order Type: <span>{{ item.module.name | titlecase  }}</span></li>
                </ul>
            </div>
            <div class="grid_block">
                <ul>
                    <li class="fb_medium">Total Amount: <span>${{item.totalAmount | number : '1.2-2' || 0}}</span></li>
                    <li *ngIf="item.totalInstallments > 0">Instalment: <span>${{item.bookingInstalments[0].amount }} /
                            Weekly</span></li>
                </ul>
            </div>
            <div class="grid_block" *ngIf="item.totalInstallments > 0">
                <ul>
                    <li>Payment Start: <span>{{ flightCommonFunction.getPaymentStartDate(item.bookingInstalments) }}</span>
                    </li>
                    <li>Payment End: <span>{{ flightCommonFunction.getPaymentEndDate(item.bookingInstalments) }}</span></li>
                </ul>
            </div>
            <div class="grid_block">
                <span style="display: none;">Pending</span>
                <a class="viewDetailBtn"
                    (click)="viewDetailClick(item)">View Details</a>
            </div>
        </div>
    </div>
</div>


<div class="pagination_main" *ngIf="showPaginationBar">
    <div class="pagination_result">
        <!-- <p>Showing 1 to {{pageSize}} of {{travelers.length}} Results</p> -->
    </div>
    <div class="pagination_list">
        <ngb-pagination class="d-flex justify-content-end" [collectionSize]="listLength" [(page)]="page"
            [pageSize]="pageSize" [boundaryLinks]="true" [maxSize]="5" [rotate]="true"
            (pageChange)="pageChange($event)">
        </ngb-pagination>
    </div>
</div>

<!-- <app-view-history  [item]="item"></app-view-history> -->