<!-- <div class="modal fade baggage_policy_modal pay_modal_guestuser" id="terms_conditions_modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal_top">
        <h2><img src="{{s3BucketUrl}}assets/images/icon/dr/ic_tick.svg" alt="Close Icon"> Terms & Conditions</h2>
        <button type="button" class="close" data-dismiss="modal"> <img src="{{s3BucketUrl}}assets/images/icon/close-icon.svg" alt="Close Icon"> </button>
      </div>
      <div class="block_modal_main">
        <div class="row">
          <div class="col-md-12">
            <div class="text">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. </p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="block_pop_btn">
              <ul class="popup_btn">
                <li>
                  <a class="btn_decline" href="javascript:void(0);">Decline</a>
                </li>
                <li>
                  <a class="btn_accept" (click)="acceptTermAndCondtion()">Accept</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="page_load">
  <div class="block_pay_trems_conditions">
    <div class="block_pay_trems_conditions_inner">
      <div class="modal_top">
        <h2><img src="{{s3BucketUrl}}assets/images/icon/dr/ic_tick.svg" alt="Close Icon"> Terms & Conditions</h2>
      </div>
      <div class="block_modal_main">
        <div class="row">
          <div class="col-md-12">
            <div class="text">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. </p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="block_pop_btn">
              <ul class="popup_btn">
                <li>
                  <a class="btn_decline" class="anchor-text" (click)="closePopup()">Decline</a>
                </li>
                <li>
                  <a class="btn_accept" class="anchor-text" (click)="acceptTermAndCondtion()">Accept</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>