<!-- skeleton loading for payment page starts -->
<div >
    <div class="payment_accordion">
      <div class="payment_mode_header">
        <button type="button" class="btn_accrodion fb_animation"></button>
        <button type="button" class="btn_accrodion fb_animation"></button>
      </div>
  
      <div class="inner_accordion">
        <app-redeem-laycredit-loader>
        </app-redeem-laycredit-loader>
        <h3><div class="fb_animation ml-3"></div></h3>
        <div class="flex_center_wrapper">
          <button type="button" class="btn_accrodion fb_animation"></button>
          <button type="button" class="btn_accrodion fb_animation"></button>
          <button type="button" class="btn_accrodion fb_animation"></button>
        </div>
  
        <h3><div class="fb_animation ml-3"></div></h3>
        <div class="flex_center_wrapper">
          <button type="button" class="btn_accrodion fb_animation"></button>
          <button type="button" class="btn_accrodion fb_animation"></button>
          <button type="button" class="btn_accrodion fb_animation"></button>
        </div>
      </div>
    </div>
</div>
  
<div class="pay_summery_wrapper" >
<h3>
    <div class="fb_animation ml-3"></div>
</h3>
<div class="pay_sum_inner">
    <div class="pay_list_wrper">
    <div class="pay_listing">
        <span class="fb_animation mt-3 mb-3 mr-4 col-8"></span>
        <span class="fb_animation mt-3 mb-3 col-3"></span>
    </div>
    <div class="pay_listing">
        <span class="fb_animation mt-3 mb-3 mr-4 col-8"></span>
        <span class="fb_animation mt-3 mb-3 col-3"></span>
    </div>
    <div class="pay_listing">
        <span class="fb_animation mt-3 mb-3 mr-4 col-8"></span>
        <span class="fb_animation mt-3 mb-3 col-3"></span>
    </div>
    <div class="pay_listing">
        <span class="fb_animation mt-3 mb-3 mr-4 col-8"></span>
        <span class="fb_animation mt-3 mb-3 col-3"></span>
    </div>
    <div class="pay_listing">
        <span class="fb_animation mt-3 mb-3 mr-4 col-8"></span>
        <span class="fb_animation mt-3 mb-3 col-3"></span>
    </div>
    <div class="pay_listing">
        <span class="fb_animation mt-3 mb-3 mr-4 col-8"></span>
        <span class="fb_animation mt-3 mb-3 col-3"></span>
    </div>
    </div>
    <div class="price_accordion" id="price_collapse">
    <div class="card">
        <div class="card-header" id="headingOne">
        <button class="card_header_btn fb_animation mt-3 mb-3" type="button" data-toggle="collapse"
            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

        </button>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#price_collapse">
        <div class="card-body">
            <div class="pay_sap_setions">
            <h3 class="fb_animation mt-3 mb-3 col-12"></h3>
            <div class="due_details">
                <span class="fb_animation mt-3 mb-3 mr-4 col-8"></span>
                <span class="fb_animation mt-3 mb-3 col-3"></span>
            </div>
            </div>
            <div class="pay_sap_setions">
            <h3 class="fb_animation mt-3 mb-3 col-12"></h3>
            <div class="due_details">
                <span class="fb_animation mt-3 mb-3 mr-4 col-8"></span>
                <span class="fb_animation mt-3 mb-3 col-3"></span>
            </div>
            <div class="due_details">
                <span class="fb_animation mt-3 mb-3 mr-4 col-8"></span>
                <span class="fb_animation mt-3 mb-3 col-3"></span>
            </div>
            </div>
            <div class="pay_sap_setions">
            <h3 class="fb_animation mt-3 mb-3 col-12"></h3>
            <div class="due_details">
                <span class="fb_animation mt-3 mb-3 mr-4 col-8"></span>
                <span class="fb_animation mt-3 mb-3 col-3"></span>
            </div>
            <div class="due_details">
                <span class="fb_animation mt-3 mb-3 mr-4 col-8"></span>
                <span class="fb_animation mt-3 mb-3 col-3"></span>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</div>
  <!-- skeleton loading for payment page Ends-->