
<div class="modal-content model-animated" >
    <div class="modal_top">
        <div class="modal_logo">
            <img src="{{s3BucketUrl}}assets/images/logo.svg" alt="Logo">
            <button type="button" class="close"  (click)="closeModal()">
                <img src="{{s3BucketUrl}}assets/images/icon/close-icon.svg" alt="Close Icon">
            </button>
        </div>
    </div>
    <div class="modal_cnt">
        <div class="modal_message">
            <h4>Log In</h4>
            <p>Please Sign In to continue</p>
            <p style="color: red;">{{apiError}}</p>
        </div>
        <form [formGroup]="loginForm" novalidate autocomplete="off">
            <div class="form_row">
                <label>Email<app-asterisk-mark></app-asterisk-mark></label>
                <div class="text_field">
                    <input class="border-css"  [ngClass]="{'error': submitted  && !loading}"  type="email" formControlName="email" maxlength="50" tabindex="1"
                        placeholder="Enter Email">
                </div>
                <div  *ngIf="(submitted || loginForm.controls.email.touched) && loginForm.controls.email.errors" class="focus-input100 login-error">
                    <div *ngIf="loginForm.controls.email.errors.required"
                        class="text-danger">Please enter your email address.</div>
                    <div *ngIf="loginForm.controls.email.errors.pattern"
                        class="text-danger">Please enter valid email address.</div>
                </div>
            </div>
            <div class="form_row">
                <label>Password<app-asterisk-mark></app-asterisk-mark></label>
                <div class="text_field pass_show">
                    <input  class="border-css"  [ngClass]="{'error': submitted && !loading}" autocomplete="new-password" [type]="fieldTextType ? 'text' : 'password'" formControlName="password"
                        maxlength="30" tabindex="2" placeholder="Enter Password">
                        <span class="ptxt"><i class="fa fa-eye-slash" aria-hidden="true"  (click)="toggleFieldTextType()"></i></span>
                </div>
                <div *ngIf="(submitted || loginForm.controls.password.touched) && loginForm.controls.password.errors" class="focus-input100 login-error">
                    <div *ngIf="loginForm.controls.password.errors.required"
                        class="text-danger">Please enter your password.</div>                    
                </div>
            </div>
            <div class="form_row last">
                <div class="check">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="Remember-me" name="example1"
                            tabindex="3">
                        <label class="custom-control-label" for="Remember-me"><span>Remember
                                me</span></label>
                    </div>
                </div>
                <div class="forgot_pass">
                    <a href="javascript:void(0);" id="open_forgot_modal"
                        (click)="openPage({value: 'forgotPassword'})">Forgot Password?</a>
                </div>
            </div>
            <div class="form_btn">          
                <button type="submit" class="btn  btn-accent btn-block btn-flat b-r-10" (click)="onSubmit()" style="background: #FF473A;">
                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>  Sign In                    
                </button>
            </div>
        </form>
    </div>
    <div class="modal_btm">
        <span>Or login via</span>
        <app-social-login></app-social-login>
        <p>Don't have an account? <a href="javascript:void(0);" id="open_sign_up_modal"
                (click)="openPage({value: 'signUp'})">Sign
                Up</a></p>
    </div>
</div>
