<!-- <div id="accordion">

    <div class="card"  *ngFor="let card of cards">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapse_item">
            {{card.cardType | titlecase}} Card ****{{card.cardDigits}}
        </a>
      </div>
      <div id="collapse_item" class="collapse show" data-parent="#accordion">
        <div class="card-body">
            {{ card.cardHolderName }}
        </div>
      </div>
    </div>
  </div> -->

<div id="card-list">
    <div id="card_list_accodrio" class="accordion_cardss anchor-tag" *ngFor="let card of cards; let blockIndex = index;"
        (click)="selectCard(card.cardToken)">
        <div class="card" [attr.id]="blockIndex" [ngClass]="{'current_selected_card': cardToken === card.cardToken}">
            <div class="card-header">
                <a data-toggle="collapse" data-parent="#accordion" href="#card{{blockIndex}}" aria-expanded="false"
                    aria-controls="collapse11">
                    <span class="heade_wrps">
                        <img [src]="cardObject[card.cardType]" alt="Card icon" />
                        {{card.cardType | titlecase}} ending in {{card.cardDigits}}
                    </span>
                </a>
            </div>
            <div id="card{{blockIndex}}" class="collapse " data-parent="#accordion">
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-sm-12 col-md-4 mb-sm-10">
                            <div class="card_headbar">
                                Name on Card
                            </div>
                            <div class="card_texter">
                                {{ card.cardHolderName }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 mb-sm-10">
                            <div class="card_headbar">
                                Billing Address
                            </div>
                            <div class="card_texter">
                                {{ card.cardHolderName }} <span> {{userInfo?.address}}</span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2 mb-sm-10">
                            <div class="card_headbar">
                                Expires
                            </div>
                            <div class="card_texter" *ngIf="card.cardMetaData!=null">
                                {{ card.cardMetaData?.month}}/{{ card.cardMetaData?.year}}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2 mb-sm-10">
                            <div class="save_btn_wrps">
                                <a href="javascript:void(0);">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>