@import "../../../cstm-variable";
@import "../../../_cstm-variable.scss";
@import "../../../_cstm-components.scss";
@import "../../../_hotel.scss";
@import "../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.section_description {
  width: 240px;
  &.one {
    transform: translate(10%, -10%);
    max-width: 170px;
    right: 0;
  }
  transform: translate(-28%, 70%);
  max-width: 240px;
}

.accordion_cardss {
  margin: 15px 15px 0px 15px;

  .card {
    border: 1px solid $box-border-color;
    border-radius: 10px;
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }

    &.current_selected_card {
      border: 2px solid #ffaa00 !important;
    }

    .card-header {
      border: none;
      background-color: transparent;
      padding: 15px;
      height: 68px;
      display: flex;

      a {
        font-weight: 600;
        color: $text-black;
        font-size: 16px;
        border: none;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0;

        &[aria-expanded="true"] {
          &:after {
            content: "";
            padding: 5px 9px;
            margin-left: 10px;
            background-image: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/arrow_up_dropdown.svg);
            background-position: right;
            background-repeat: no-repeat;
            background-size: 12px;
            transition: 0.3s;
            position: absolute;
            right: 15px;
          }
        }

        &[aria-expanded="false"] {
          &:after {
            padding: 5px 9px;
            margin-left: 10px;
            background-image: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/arrow_dropdown.svg);
            background-position: right;
            background-repeat: no-repeat;
            background-size: 12px;
            content: "";
            transition: 0.3s;
            position: absolute;
            right: 15px;
          }
        }

        .heade_wrps {
          img {
            margin-right: 15px;
          }
        }

        .make_default_btn {
          a {
            background-color: transparent;
            color: $text_light_yellow;
            border: none;
            box-shadow: none;
            font-size: 14px;
            font-weight: normal;
            padding: 0;
          }
        }
        .default_btn {
          a {
            background-color: transparent;
            color: $mid_gray_bg;
            border: none;
            box-shadow: none;
            font-size: 14px;
            font-weight: normal;
            padding: 0;
          }
        }
      }
    }

    .card-body {
      padding: 15px;

      .mb-sm-10 {
        @include tab-view {
          margin-bottom: 10px;
        }
      }

      .card_headbar {
        color: $mid_gray_bg;
        font-size: 12px;
      }

      .card_texter {
        color: $text-black;
        font-size: 12px;
        font-weight: 600;
        line-height: 22px;

        span {
          font-weight: 500;
        }
      }

      .save_btn_wrps {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        height: 100%;

        a {
          background-color: transparent;
          color: $text_light_yellow;
          border: none;
          box-shadow: none;
          font-size: 16px;
          padding: 0;
        }
      }
    }
  }
}

.delete_credit_card {
  .modal-header {
    justify-content: center;
    border: none;
    padding: 25px;

    .close {
      opacity: 1;
      position: absolute;
      top: 20px;
      right: 20px;

      img {
        width: 12px;
      }

      @include mobile-view {
        top: 15px;
        right: 15px;
      }
    }
  }

  .modal-body {
    width: 100%;
    padding: 0px 15px 20px;

    @include tab-view {
      height: 100%;
      justify-content: center;
      display: flex;
      flex-flow: column;
    }

    .block_im {
      margin: 0 auto 15px;
      width: 85px;
    }

    h4 {
      font-size: 32px;
      line-height: 40px;
      font-weight: 500;
      color: $active-tab-text;
      padding: 0px 0px 15px;
      text-align: center;

      // span {
      //   display: block;
      // }

      @include tab-view {
        font-size: 24px;
        text-align: center;
      }

      @include mobile-view {
        font-size: 20px;
        line-height: 26px;
        text-align: center;
      }
    }

    .check {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 0 0 30px;

      .custom_checkbox {
        position: relative;
        margin-bottom: 0;
        vertical-align: middle;
        line-height: normal;
        display: inline;
        align-items: center;
        font-size: 12px;
        font-weight: 400;
        color: $mid_gray_bg;
        text-transform: none;

        input {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;

          &:checked {
            ~ {
              .checkmark {
                border-color: $blue-text-one;

                &:after {
                  opacity: 1;
                }
              }
            }
          }
        }

        .checkmark {
          width: 14px;
          min-width: 14px;
          height: 14px;
          display: inline-block;
          border: 1px solid $blue-text-one;
          vertical-align: middle;
          margin-right: 11px;
          position: relative;

          &:after {
            content: "";
            position: absolute;
            top: 1px;
            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
            transform: translate(0, -50%);
            width: 4px;
            height: 8px;
            border-radius: 2px;
            border: solid $blue-text-one;
            border-width: 0 1px 1px 0;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            border-radius: 0px;
            left: 0;
            right: 0;
            margin: 0 auto;
            transition: all 0.2s;
            opacity: 0;
          }
        }
      }
    }

    // ul {
    //   width: 100%;
    //   display: flex;
    //   justify-content: center;
    //   margin: 0;
    //   padding: 0 0 30px;
    //   list-style: none;

    //   li {
    //     width: auto;
    //     margin: 0 25px;

    //     @include mobile-view {
    //       margin: 0 10px;
    //     }

    //     button {
    //       width: 151px;
    //       height: 40px;
    //       padding: 0px 25px;
    //       background: $hotel-secondary-color;
    //       border-radius: 25px;
    //       border: 1px solid $hotel-secondary-color;
    //       font-size: 14px;
    //       font-weight: 500;
    //       color: $text-white;
    //       transition: 0.3s;
    //       position: relative;
    //       z-index: 9;
    //       overflow: hidden;
    //       white-space: normal;

    //       &.btn_no {
    //         border: 1px solid $feedback_text-clr;
    //         color: $feedback_text-clr;
    //         background: $background-white;

    //         // &:hover {
    //         //   background: transparent;
    //         //   color: $text-white;
    //         // }
    //       }

    //       &.btn_yes {
    //         border: 1px solid $primary-color;
    //         color: $text-white;
    //         background: $primary-color;

    //         // &:hover {
    //         //   background: transparent;
    //         //   color: $text-white;
    //         // }
    //       }

    //       &::before {
    //         content: "";
    //         position: absolute;
    //         top: 2px;
    //         left: 2px;
    //         width: 100%;
    //         height: 0%;
    //         background: $pink_clr;
    //         z-index: -1;
    //         transition: 0.8s;
    //         border-radius: 25px;
    //       }

    //       // &:hover {
    //       //   border: 1px solid $hotel-secondary-color;
    //       //   color: $text-white;

    //       //   &:before {
    //       //     height: calc(100% - 4px);
    //       //     width: calc(100% - 4px);
    //       //   }
    //       // }

    //       &.btn_disable {
    //         cursor: default;
    //       }

    //       @include mobile-view {
    //         width: 135px;
    //       }
    //     }
    //   }
    // }
    .alert_box {
      max-width: 375px;
      width: 100%;
      margin: 10px auto 5px;
      padding: 5px 20px;
      font-size: 12px;
      color: #ff7272;
      background: rgba(255, 114, 114, 0.15);
      text-align: center;
      border-radius: 25px;
    }
    .cta_btn_wrps {
      padding: 10px;
      width: 100%;
      display: flex;

      button {
        max-width: 472px;
        width: 100%;
        height: 40px;
        padding: 10px 25px;
        background: $hotel-secondary-color;
        border-radius: 25px;
        border: 1px solid $hotel-secondary-color;
        font-size: 14px;
        color: $text-white;
        transition: 0.3s;
        position: relative;
        z-index: 9;
        overflow: hidden;
        white-space: normal;
        display: flex;
        margin: 0 10px;
        align-items: center;
        justify-content: center;

        &:hover {
          border: 1px solid $hotel-secondary-color;
          color: $text-white;
          background: $hotel-secondary-color;
        }

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }

    .footer_logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 10px;

      img {
        max-width: 62px;
        height: 23px;
      }
    }
  }

  .modal-footer {
    padding: 0 20px 25px;
    border: 0;
    margin: 0;

    .modal_btm {
      width: 100%;

      .block_logo {
        width: 100%;
        text-align: center;
        margin: 0 0 0;

        img {
          height: 22px;
        }
      }
    }
  }
}
