<div class="page_load">
  <div class="block_not_available">
      <div class="block_not_available_inner">
          <h6> Flight not available</h6>
          <p>Please adjust the search parameters and try again. You could maybe try changing the airports, dates, seating class, etc.</p>
          <div class="block_im">
              <img src="{{s3BucketUrl}}assets/images/Flight-not-available-im.svg" alt="Flight not available Images"></div>
          <a [routerLink]=[url] [queryParams]="queryParams">
              Go back to previous page
          </a>
      </div>
  </div>
</div>