<div class="page_load">
    <div class="block_not_available">
        <div class="block_not_available_inner">
            <h6> Flight not available</h6>
            <p>{{'adjust_parameters' | translate}}</p>
            <div class="block_im">
                <img src="{{s3BucketUrl}}assets/images/Flight-not-available-im.svg" alt="Flight not available Images"></div>
            <a [routerLink]=[url] [queryParams]="queryParams">
              {{'go_back_to_previous_page' | translate}}
          </a>
        </div>
    </div>
</div>