<!-- Facebook Loader start -->
<div class="block_detail" *ngIf="isLoading">
  <div class="block_laycredit_checkbox">
    <p class="fb_animation w-50 mb-0"></p>
    <div class="block_apply_laycredits">
      <div class="block_top">
        <p class="fb_animation w-100 mb-0"></p>
      </div>
      <div class="block_btm">
        <p class="fb_animation w-100 mb-0"></p>
      </div>
    </div>
    <div></div>
  </div>
</div>
<!-- Facebook Loader End -->

<div class="block_detail">
  <div class="block_laycredit_checkbox" *ngIf="totalLaycreditPoints">
    <label class="custom_checkbox">
      <input type="checkbox" (change)="toggleLayCredit($event)">
      <span class="checkmark"></span>
      Use Laycredit for this booking. You have <span>{{totalLaycreditPoints}} Laycredits</span> in your wallet.
    </label>
    <div class="block_apply_laycredits" id="Laycredits_apply">
      <div class="block_top">
        <label>Apply Laycredits </label><span>{{value}}</span>
      </div>
      <div class="block_btm">
        <div class="custom_range_slide redeem_laypoint">
          <ng5-slider class="custom-class" [(value)]="value" [options]="laycreditOptions" (userChangeEnd)="selectLaycredit($event)"></ng5-slider>
        </div>
      </div>
    </div>
  </div>
</div>