@import '../../../cstm-variable';
@import "../../../_cstm-variable.scss";
@import "../../../_cstm-components.scss";
@import "../../../_hotel.scss";
@import "../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


.custom-class{
    margin: 0;
    .ng5-slider-bubble{
        display: none;
    }
}
.block_detail {
    .block_apply_laycredits{
        margin-top: 20px;
        color: $pink;
        display: inline-block;
        width: 100%;
        .point_div_wrps{
            // width: 50%;
            // display: inline-block;
            label{
                font-size: 19px;
            }
            @include tab-view{
                width: 100%;
            }
        }
        
        .custom_range_slide{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}