<div class="block_detail disabled"> 
    <div class="block_laycredit_checkbox" >
        <div class="block_apply_laycredits" id="Laycredits_apply">
            <div class="block_top point_div_wrps">
                <label>Apply {{value | number : '1.2-2'}} of your Laytrip Points</label><span></span>
            </div>
            <div class="block_btm point_div_wrps">
                <div class="custom_range_slide redeem_laypoint">
                    <span class="point_val">0</span> 
                    <ng5-slider class="custom-class" [(value)]="value" [options]="laycreditOptions" (userChangeEnd)="selectLaycredit($event)"></ng5-slider>
                    <span class="point_val">{{laycreditOptions.ceil}}</span>
                </div>
            </div>
        </div>
    </div>
</div>