@import '../../../cstm-variable';
@import "../../../_cstm-variable.scss";
@import "../../../_cstm-components.scss";
@import "../../../_hotel.scss";
@import "../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");



.ng-customClass.country_code {
  width: 150px;
}
.img_country_code{
	border-radius: 3px;
}


::ng-deep .calender-passport-expiry{
  min-width: 300px !important;  
}
.accordion_bookings{
  .card{
    .card-header{
      .card-link{
        font-weight: 600;
        color: $text-black;
        font-size: 16px;
        border: none;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0;

        &[aria-expanded="true"]{
            &:after {
                font-family: 'FontAwesome';
                content: "\f077";
                color: $text-grey;
                font-weight: normal;
                transition: 0.3s;
                right: 0;
            }
        }
        &[aria-expanded="false"]{
            &:after {
                font-family: 'FontAwesome';
                content: "\f078";
                color: $text-grey;
                font-weight: normal;
                transition: 0.3s;
                right: 0;
            }
        }
      }
    }
  }
}