@import '../../../cstm-variable';
@import "../../../_cstm-variable.scss";
@import "../../../_cstm-components.scss";
@import "../../../_hotel.scss";
@import "../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");



.ng-customClass.country_code {
  width: 150px;
}
.img_country_code{
	border-radius: 3px;
}


::ng-deep .calender-passport-expiry{
  min-width: 300px !important;  
}
.accordion_bookings{
  .card{
    border: 1px solid $grayed_border;
    border-radius: 10px;
    .card-header{
      border: none;
      background-color: transparent;
      padding: 15px;
      .card-link{
        font-weight: 600;
        color: $text-black;
        font-size: 16px;
        border: none;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0;

        &[aria-expanded="true"]{
            &:after {
                font-family: 'FontAwesome';
                content: "\f077";
                color: $text-grey;
                font-weight: normal;
                transition: 0.3s;
                right: 0;
            }
        }
        &[aria-expanded="false"]{
            &:after {
                font-family: 'FontAwesome';
                content: "\f078";
                color: $text-grey;
                font-weight: normal;
                transition: 0.3s;
                right: 0;
            }
        }
      }
    }
    .card-body{
      padding: 15px;
      .sub_cat_wrapper{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        flex-wrap: wrap;
        //margin: 0 0 15px 0;
        .add_btn_lined{
          color: $text_light_yellow;
          border: 1px solid $text_light_yellow;
          background-color: $background-white;
          border-radius: 5px;
          font-size: 12px;
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 20px;
          padding: 0 10px;
          position: relative;
          margin-bottom: 15px;
          &:focus{
            outline: none;
            box-shadow: none;
        }
          &:last-child{
            //margin: 0;
          }
          .close_icon{
            position: absolute;
            top: -10px;
            right: -10px;
            border: 1px solid $text_light_yellow;
            width: 20px;
            border-radius: 50%;
            background-color: $background-white;
            i{
                color: $text_light_yellow;
            }
        }
        }
      }
      .common_form{
        label{
          color: $mid_gray_bg;
          font-size: 12px;
          font-weight: 500;
        }
        input{
          border: none;
          border-radius: 0;
          border-bottom: 2px solid $box-border-color;
          font-size: 14px;
          padding: 8px 0;
          &:focus{
            outline: none;
            box-shadow: none;
          }
        }
        select{
          border: none;
          border-radius: 0;
          border-bottom: 2px solid $box-border-color;
          font-size: 14px;
          padding: 8px 0;
          &:focus{
            outline: none;
            box-shadow: none;
          }
        }
        .dobs{
          input{
            background: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/calender_yellow.svg) center right 15px no-repeat;
            background-size: 20px;
          }
        }
        .mb-sm-10{
          @include tab-view{
            margin-bottom: 10px;
          }
        }
      }
      .accordion_addn{
        margin-top: 20px;
        .card{
          border: none;
          .card-header{
            border: none;
            background-color: transparent;
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include tab-view{
              flex-direction: column;
            }
            .heade_wrps{
              color: $active-tab-text;
              font-size: 16px;
              font-weight: 500;
              margin-right: 15px;
              @include tab-view{
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin: 0;
              }
              .responsive_anch{
                display: none;
                @include tab-view{
                  font-weight: 600;
                  color: $text-black;
                  font-size: 16px;
                  border: none;
                  background-color: transparent;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  padding: 0;
          
                  &[aria-expanded="true"]{
                      &:after {
                          font-family: 'FontAwesome';
                          content: "\f077";
                          color: $text-grey;
                          font-weight: normal;
                          transition: 0.3s;
                          right: 0;
                      }
                  }
                  &[aria-expanded="false"]{
                      &:after {
                          font-family: 'FontAwesome';
                          content: "\f078";
                          color: $text-grey;
                          font-weight: normal;
                          transition: 0.3s;
                          right: 0;
                      }
                  }
                }
              }
            }
            .addon_anchor{
              font-weight: 600;
              color: $text-black;
              font-size: 16px;
              border: none;
              background-color: transparent;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 0;
      
              &[aria-expanded="true"]{
                  &:after {
                      font-family: 'FontAwesome';
                      content: "\f077";
                      color: $text-grey;
                      font-weight: normal;
                      transition: 0.3s;
                      right: 0;
                  }
              }
              &[aria-expanded="false"]{
                  &:after {
                      font-family: 'FontAwesome';
                      content: "\f078";
                      color: $text-grey;
                      font-weight: normal;
                      transition: 0.3s;
                      right: 0;
                  }
              }
              @include tab-view{
                display: none;
              }
            }
            #addon_tab{
              flex-direction: row;
              flex-wrap: nowrap;
              flex: 2;
              @include tab-view{
                flex-wrap: wrap;
                margin: 5px 0;
                width: 100%;
              }
              li{
                @include tab-view{
                  margin-left: 5px;
                  margin-bottom: 5px;
                  &:first-child{
                    margin-left: 0;
                  }
                }
                a{
                  background-color: $background-white;
                  color: #E4E4E4;
                  border: 1px solid #E4E4E4;
                  border-radius: 8px;
                  font-size: 14px;
                  margin: 0 5px;
                  @include tab-view{
                    margin: 0;
                  }
                  &.active{
                    color: $active-tab-text;
                    border: 1px solid $active-tab-text;
                  }
                }
              }
            }
          }
          .card-body{
            padding: 0;
            margin-top: 15px;
            .addon_listins_wrps{
              display: flex;
              justify-content: flex-end;
              @include tab-view{
                justify-content: flex-start;
              }
              .addon_btn_drop{
                background-color: $background-white;
                color: $mid_gray_bg;
                border: 1px solid $mid_gray_bg;
                border-radius: 8px;
                font-size: 13px;
                margin: 0;
                width: 100%;
                padding: 6px 10px;
                position: relative;
                max-width: 420px;
                margin-right: 30px;
                &:focus{
                  outline: none;
                  box-shadow: none;
                }
                &:hover{
                  outline: none;
                  box-shadow: none;
                }
                &[aria-expanded="true"]{
                  &:after {
                      font-family: 'FontAwesome';
                      content: "\f077";
                      color: $text-grey;
                      font-weight: normal;
                      transition: 0.3s;
                      right: 10px;
                      position: absolute;
                  }
                }
                &[aria-expanded="false"]{
                  &:after {
                    font-family: 'FontAwesome';
                    content: "\f078";
                    color: $text-grey;
                    font-weight: normal;
                    transition: 0.3s;
                    right: 10px;
                    position: absolute;
                  }
                }
                @include tab-view{
                  margin-right: 0;
                  text-align: left;
                  align-items: center;
                  display: flex;
                }
              }
              .dropdownList{
                li{
                  button{
                    border: none;
                    @include tab-view{
                      padding: 5px;
                      font-size: 12px;
                      white-space: normal;
                    }
                    &:focus{
                      outline: none;
                      box-shadow: none;
                    }
                    &:hover{
                      outline: none;
                      box-shadow: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}