
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Name" formControlName="first_name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Name" formControlName="last_name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Telephone" formControlName="phone_number">
      </div>
      <div class="col">
        <select class="form-control" formControlName="gender">
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>
    </div>
    <div class="form-row">  
      
      <div class="col">
        <input type="email" class="form-control" placeholder="Email" formControlName="email">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Date of birth" formControlName="dob">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Nationality" formControlName="dob">
      </div>
      
    </div>