@import "../../../cstm-variable";
@import "../../../_cstm-variable.scss";
@import "../../../_cstm-components.scss";
@import "../../../_hotel.scss";
@import "../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.ng-customClass.country_code {
  //width: 150px;

  .ng-input {
    padding-left: 0;
  }
}

.img_country_code {
  border-radius: 3px;
}

::ng-deep .calender-passport-expiry {
  min-width: 300px !important;
}

.dobs {
  ::ng-deep .birth_date {
    .p-inputtext {
      border: none;
    }

    th {
      font-size: 13px !important;
      border-bottom: none !important;
      font-weight: 600 !important;
      text-align: center;
    }

    td {
      padding: 0.1rem !important;

      span {
        width: 35px;
        height: auto;
        font-size: 12px;
        display: flex;
        align-items: center;
        flex-direction: column;
        border: none !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        color: $text-grey;
        margin: 1px;
        position: relative;

        @include mobile-view {
          width: 33px;
        }

        &:hover {
          background: none !important;
        }

        &.p-highlight {
          background: none !important;
          font-weight: 500;
          overflow: visible;

          &::before {
            content: "";
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $pink;
            position: absolute;
            top: -5px;
          }
        }
      }
    }
  }
}



.accordion_bookings {
  .card {
    border: 1px solid $grayed_border;
    border-radius: 10px;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    .card-header {
      border: none;
      background-color: transparent;
      padding: 15px;

      .card-link {
        font-weight: 600;
        color: $text-black;
        font-size: 16px;
        border: none;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0;

        &[aria-expanded="true"] {
          &:after {
            font-family: "FontAwesome";
            content: "\f077";
            color: $text-grey;
            font-weight: normal;
            transition: 0.3s;
            right: 0;
          }
        }

        &[aria-expanded="false"] {
          &:after {
            font-family: "FontAwesome";
            content: "\f078";
            color: $text-grey;
            font-weight: normal;
            transition: 0.3s;
            right: 0;
          }
        }
      }
    }

    .card-body {
      padding: 15px;

      .sub_cat_wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        flex-wrap: wrap;

        //margin: 0 0 15px 0;
        .add_btn_lined {
          color: $text_light_yellow;
          border: 1px solid $text_light_yellow;
          background-color: $background-white;
          border-radius: 5px;
          font-size: 12px;
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 20px;
          padding: 0 10px;
          position: relative;
          margin-bottom: 15px;

          &:focus {
            outline: none;
            box-shadow: none;
          }

          &:hover {
            color: $text-white;
            background-color: $text_light_yellow;
          }

          &.active {
            color: $text-white;
            background-color: $text_light_yellow;
          }

          &:last-child {
            //margin: 0;
          }

          .close_icon {
            position: absolute;
            top: -10px;
            right: -10px;
            border: 1px solid $text_light_yellow;
            width: 20px;
            border-radius: 50%;
            background-color: $background-white;

            i {
              color: $text_light_yellow;
            }
          }
        }
      }

      .common_form {
        label {
          color: $mid_gray_bg;
          font-size: 12px;
          font-weight: 500;
        }

        input {
          border: none;
          border-radius: 0;
          border-bottom: 2px solid $box-border-color;
          font-size: 14px;
          padding: 8px 0;

          &:focus {
            outline: none;
            box-shadow: none;
          }
        }

        select {
          border: none;
          border-radius: 0;
          border-bottom: 2px solid $box-border-color;
          font-size: 14px;
          padding: 8px 0;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-image: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/arrow_dropdown.svg);
          background-position: right;
          background-repeat: no-repeat;
          background-size: 14px;
          transition: 0.3s;

          &:focus {
            outline: none;
            box-shadow: none;
          }
        }

        .nation_wrps {
          ng-select {
            .ng-input {
              &[aria-expanded="true"] {
                &:after {
                  content: "";
                  position: relative;
                  padding: 5px 9px;
                  background-image: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/arrow_up_dropdown.svg);
                  background-position: right;
                  background-repeat: no-repeat;
                  background-size: 10px;
                  transition: 0.3s;
                  right: 8px;
                  border: none;
                  top: 5px;

                  @include tab-view {
                    position: absolute;
                    right: 0;
                    height: 12px;
                  }
                }
              }

              &[aria-expanded="false"] {
                &:after {
                  position: relative;
                  padding: 5px 9px;
                  background-image: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/arrow_dropdown.svg);
                  background-position: right;
                  background-repeat: no-repeat;
                  background-size: 10px;
                  content: "";
                  transition: 0.3s;
                  right: 8px;
                  border: none;
                  top: 5px;

                  @include tab-view {
                    position: absolute;
                    right: 0;
                    height: 12px;
                  }
                }
              }
            }
          }
        }

        .mb-sm-10 {
          margin-bottom: 10px;

          &.telephone_wrps {
            .tel_span {
              border-bottom: 2px solid $box-border-color;
              display: flex;
              position: relative;
              bottom: 2px;

              input {
                border-bottom: none;

                &:first-child {
                  width: 30px;
                }
              }
            }
          }

          &.dobs {
            input {
              background: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/calender_yellow.svg) center right 15px no-repeat;
              background-size: 20px;
              // border: none;
            }
          }

          .gender_anchers {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            a {
              &.active {
                color: $text_light_yellow;
              }

              color: $mid_gray_bg;
              font-size: 14px;
              padding: 0 25px 0 0;

              &:hover {
                color: $text_light_yellow;
                text-decoration: none;
              }

              &:focus {
                outline: none;
              }
            }
          }
        }
      }

      .accordion_addn {
        margin-top: 20px;

        .card {
          border: none;

          .card-header {
            border: none;
            background-color: transparent;
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include tab-view {
              flex-direction: column;
            }

            .heade_wrps {
              color: $text-black;
              font-size: 16px;
              font-weight: 500;
              margin-right: 15px;

              @include tab-view {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin: 0;
              }

              .responsive_anch {
                display: none;

                @include tab-view {
                  font-weight: 600;
                  color: $text-black;
                  font-size: 16px;
                  border: none;
                  background-color: transparent;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  padding: 0;

                  &[aria-expanded="true"] {
                    &:after {
                      font-family: "FontAwesome";
                      content: "\f077";
                      color: $text-grey;
                      font-weight: normal;
                      transition: 0.3s;
                      right: 0;
                    }
                  }

                  &[aria-expanded="false"] {
                    &:after {
                      font-family: "FontAwesome";
                      content: "\f078";
                      color: $text-grey;
                      font-weight: normal;
                      transition: 0.3s;
                      right: 0;
                    }
                  }
                }
              }
            }

            .addon_anchor {
              font-weight: 600;
              color: $text-black;
              font-size: 16px;
              border: none;
              background-color: transparent;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 0;

              &[aria-expanded="true"] {
                &:after {
                  font-family: "FontAwesome";
                  content: "\f077";
                  color: $text-grey;
                  font-weight: normal;
                  transition: 0.3s;
                  right: 0;
                }
              }

              &[aria-expanded="false"] {
                &:after {
                  font-family: "FontAwesome";
                  content: "\f078";
                  color: $text-grey;
                  font-weight: normal;
                  transition: 0.3s;
                  right: 0;
                }
              }

              @include tab-view {
                display: none;
              }
            }

            #addon_tab {
              flex-direction: row;
              flex-wrap: nowrap;
              flex: 2;

              @include tab-view {
                flex-wrap: wrap;
                margin: 5px 0;
                width: 100%;
              }

              li {
                flex: 1;

                &:first-child {
                  a {
                    margin-left: 0;
                  }
                }

                &:last-child {
                  a {
                    margin-right: 5px;
                  }
                }

                @include tab-view {
                  margin-left: 5px;
                  margin-bottom: 5px;

                  &:first-child {
                    margin-left: 0;
                  }
                }

                a {
                  background-color: $background-white;
                  // color: #e4e4e4;
                  // border: 1px solid #e4e4e4;
                  color: $text_grey_dark;
                  border: 1px solid $text_grey_dark;
                  border-radius: 8px;
                  font-size: 12px;
                  margin: 0 0 0 5px;
                  padding: 10px;
                  text-align: center;

                  @include tab-view {
                    margin: 0;
                    font-size: 9px;
                    padding: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                  }



                  &.active {
                    color: $text_grey_dark;
                    border: 1px solid $text_grey_dark;
                  }
                }
              }
            }
          }

          .card-body {
            padding: 0;
            margin-top: 15px;

            @include tab-view {
              margin-top: 5px;
            }

            .addon_listins_wrps {
              display: flex;
              justify-content: flex-end;

              @include tab-view {
                justify-content: flex-start;
              }

              .addon_btn_drop {
                background-color: $background-white;
                color: $mid_gray_bg;
                border: 1px solid $mid_gray_bg;
                border-radius: 8px;
                font-size: 13px;
                margin: 0;
                width: 100%;
                padding: 6px 10px;
                position: relative;
                max-width: 435px;
                margin-right: 20px;

                &:focus {
                  outline: none;
                  box-shadow: none;
                }

                &:hover {
                  outline: none;
                  box-shadow: none;
                }

                &[aria-expanded="true"] {
                  &:after {
                    font-family: "FontAwesome";
                    content: "\f077";
                    color: $text-grey;
                    font-weight: normal;
                    transition: 0.3s;
                    right: 10px;
                    position: absolute;
                  }
                }

                &[aria-expanded="false"] {
                  &:after {
                    font-family: "FontAwesome";
                    content: "\f078";
                    color: $text-grey;
                    font-weight: normal;
                    transition: 0.3s;
                    right: 10px;
                    position: absolute;
                  }
                }

                @include tab-view {
                  margin-right: 0;
                  text-align: left;
                  align-items: center;
                  display: flex;
                }
              }

              .dropdownList {
                li {
                  button {
                    border: none;

                    @include tab-view {
                      padding: 5px;
                      font-size: 12px;
                      white-space: normal;
                    }

                    &:focus {
                      outline: none;
                      box-shadow: none;
                    }

                    &:hover {
                      outline: none;
                      box-shadow: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}