<section class="block_dominican_republic">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="block_left_title">
                    <h2>Ready for an adventure? <span>Dominican Republic has it all!</span></h2>
                    <p class="extra-heading">¿Listo para la aventura? ¡República Dominicana lo tiene todo!</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block_right_logo">
                    <img src="{{s3BucketUrl}}assets/images/dominican_republic__logo.svg?var=1.0.0" alt="Dominican Republic">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="block_dominican_republic_list">
                    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="block_btn">
                    <a class="btn_dr_home" [routerLink]="['/coming-soon']">Click to find the best prices <img src="{{s3BucketUrl}}assets/images/icon/right-arrow.svg" alt="Right Arrow"></a>
                </div>
            </div>
        </div>
    </div>

</section>