<section class="detail_info_main add_passenger flight">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
              <div class="detail_info_left">
                  <div class="block_passanger_info">
                      <div class="block_title_section">
                          <h5 class="fb_animation w-25 mb-0"></h5>
                          <span class="fb_animation w-25 mb-0"></span>
                      </div>
                      <div class="passanger_detail_main">
                          <div class="block_passenger_detail">
                              <h6 class="fb_animation w-25"></h6>
                              <div id="accordion-Adults" class="accordion">
                                  <div class="card_add_pass">
                                      <div class="card-header" id="adultOne">
                                          <h2 class="mb-0">
                                              <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#adultcollapseOne">
                                                  <p class="fb_animation w-100 mb-0"></p>
                                              </button>
                                          </h2>
                                      </div>
                                  </div>

                                  <div class="card_add_pass">
                                      <div class="card-header" id="adultTwo">
                                          <h2 class="mb-0">
                                              <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#adultcollapseTwo">
                                                  <p class="fb_animation w-100 mb-0"></p>
                                              </button>
                                          </h2>
                                      </div>
                                  </div>
                              </div>
                              <a class="add_passenger_btn" href="javascript:void(0);">
                                  <p class="fb_animation w-25 mb-0"></p>
                              </a>
                          </div>
                          <div class="block_passenger_detail">
                              <h6 class="fb_animation w-25"></h6>
                              <div id="accordion-Childs" class="accordion">
                                  <div class="card_add_pass">
                                      <div class="card-header" id="childOne">
                                          <h2 class="mb-0">
                                              <label class="custom_checkbox">
                                                  <input type="checkbox" value="">
                                                  <span class="checkmark"></span>
                                              </label>
                                              <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#childcollapseOne">
                                                  <p class="fb_animation w-100 mb-0"></p>
                                              </button>
                                          </h2>
                                      </div>
                                  </div>

                                  <div class="card_add_pass">
                                      <div class="card-header" id="childTwo">
                                          <h2 class="mb-0">
                                              <label class="custom_checkbox">
                                                  <input type="checkbox" value="">
                                                  <span class="checkmark"></span>
                                              </label>
                                              <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#childcollapseTwo">
                                                  <p class="fb_animation w-100 mb-0"></p>
                                              </button>
                                          </h2>
                                      </div>
                                  </div>
                              </div>
                              <a class="add_passenger_btn" href="javascript:void(0);">
                                  <p class="fb_animation w-25 mb-0"></p>
                              </a>
                          </div>
                          <div class="block_passenger_detail">
                              <h6 class="fb_animation w-25"></h6>
                              <div class="block_no_add_passenger">
                                  <p class="fb_animation w-100 mb-0"></p>
                              </div>
                              <a class="add_passenger_btn" href="javascript:void(0);">
                                  <p class="fb_animation w-25 mb-0"></p>
                              </a>
                          </div>
                          <div class="required_wheelchair">
                              <ul>
                                  <li>
                                      <p class="fb_animation w-50 mb-0"></p>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="btn_payment w-100">
                      <div class="w-50 h-100">
                          <p class="fb_animation w-100 mb-0"></p>
                          <p class="fb_animation w-100 mb-0"></p>
                          <p class="fb_animation w-100 mb-0"></p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="detail_info_right">
                  <h5 class="fb_animation"></h5>
                  <div class="block_top">
                      <div class="summary_info">
                          <div class="info_top">
                              <ul>
                                  <li class="w-25 m-auto">
                                      <p class="fb_animation mb-0"></p>
                                      <p class="fb_animation mb-0"></p>
                                  </li>
                                  <li class="ic_flight fb_animation w-25 m-auto">
                                      <p class="fb_animation mb-0"></p>
                                      <p class="fb_animation mb-0"></p>
                                  </li>
                                  <li class="fb_animation w-25 m-auto">
                                      <p class="fb_animation mb-0"></p>
                                      <p class="fb_animation mb-0"></p>
                                  </li>
                              </ul>
                              <p class="fb_animation w-75 m-auto"></p>
                              <div class="btm_aerrow"></div>
                          </div>
                          <div class="info_btm">
                              <div class="info_btm_top">
                                  <div class="w-100">
                                      <p class="fb_animation w-100 mb-0"></p>
                                      <p class="fb_animation w-100 mb-0"></p>
                                  </div>
                              </div>
                              <div class="info_btm_btm">
                                  <div class="flight_info_text">
                                      <div class="w-100">
                                          <p class="fb_animation w-100 mb-0"></p>
                                          <p class="fb_animation w-100 mb-0"></p>
                                      </div>
                                  </div>
                                  <div class="flight_info" id="flight_info" style="display: none;">
                                      <div class="flight_cityname">
                                          New York (NY) <span>AIRPORT Address, Country</span>
                                      </div>
                                      <div class="flight_middle">
                                          <div class="middle_top">
                                              <img src="assets/images/airlines_logo.png" alt="Airlines Logo">
                                              <p>American Airlines <span>Operated by Nacil Air India</span></p>
                                          </div>
                                          <div class="middle_btm">
                                              <div class="info_left">
                                                  <span>Flight DE-123</span>
                                                  <div class="flight_time_info">
                                                      <div class="flight_time_left">
                                                          12:00 AM <span>THU, NOV 29</span>
                                                      </div>
                                                      <div class="flight_time_separator">
                                                          <span></span>
                                                      </div>
                                                      <div class="flight_time_left">
                                                          02:00 AM <span>THU, NOV 29</span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="info_right">
                                                  02h 50m <span>Duration</span>
                                              </div>
                                          </div>
                                      </div>

                                      <div class="block_layover">
                                          <div class="layover_name">
                                              <p>LOHEGAON (PNQ) <span>AIRPORT Address, Country</span></p>
                                          </div>
                                          <div class="layover_time">
                                              <p>03h 50m <span>Layover time</span></p>
                                          </div>
                                      </div>

                                      <div class="flight_middle">
                                          <div class="middle_top">
                                              <img src="assets/images/airlines_logo.png" alt="Airlines Logo">
                                              <p>American Airlines <span>Operated by Nacil Air India</span></p>
                                          </div>
                                          <div class="middle_btm">
                                              <div class="info_left">
                                                  <span>Flight DE-123</span>
                                                  <div class="flight_time_info">
                                                      <div class="flight_time_left">
                                                          12:00 AM <span>THU, NOV 29</span>
                                                      </div>
                                                      <div class="flight_time_separator">
                                                          <span></span>
                                                      </div>
                                                      <div class="flight_time_left">
                                                          02:00 AM <span>THU, NOV 29</span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="info_right">
                                                  02h 50m <span>Duration</span>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="flight_cityname">
                                          Los Angeles (CA) <span>AIRPORT Address, Country</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="cmn_block">
                      <div class="block_inner">
                          <h6>
                              <p class="fb_animation w-50 mb-0"></p>
                          </h6>
                          <ul>
                              <li>
                                  <p class="fb_animation w-100 mb-0"></p>
                              </li>
                          </ul>
                      </div>
                      <div class="block_inner last">
                          <h6>
                              <p class="fb_animation w-50 mb-0"></p>
                          </h6>
                          <ul>
                              <li>
                                  <p class="fb_animation w-100 mb-0"></p>
                              </li>
                              <li>
                                  <p class="fb_animation w-100 mb-0"></p>
                              </li>
                          </ul>
                      </div>
                      <div class="partial_pay_info">
                          <ul>
                              <li>
                                  <p class="fb_animation w-100 mb-0"></p>
                              </li>
                          </ul>
                      </div>
                      <div class="total_payment">
                          <ul>
                              <li>
                                  <p class="fb_animation w-100 mb-0"></p>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="cmn_block policies">
                      <div class="block_inner">
                          <p class="fb_animation w-50 mb-2"></p>
                          <ul>
                              <li>
                                  <p class="fb_animation w-100 mb-0"></p>
                              </li>
                              <li>
                                  <p class="fb_animation w-100 mb-0"></p>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>