<div class="page_load">
  <div class="block_not_available">
      <div class="block_not_available_inner">
          <h6> Book Your Flight</h6>
        <ul class="guest-popup">
            <li>
                <label class="custom_radio">  
                    <input type="radio" name="booking_as" (click)="bookingAs('guest')">
                    <span class="checkmark"></span>
                    Want to book as guest user
                </label>        
            </li>
            <li>
                <label class="custom_radio">
                    <input type="radio" name="booking_as" checked (click)="bookingAs('login')">
                    <span class="checkmark"></span>
                    Signup with the system to available the installment booking
                </label>        
            </li>
        </ul> 
         
   
			   
          <a  (click)="btnContinue(userType)" >
              <img src="{{s3BucketUrl}}assets/images/icon/right-arrow.svg" alt="Left Arrow">
              Continue
          </a>
      </div>
  </div>
</div>

