<section class="block_covid_19 block_cms_page_main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12"  *ngIf="loading">
        <div class="block_cmspage_comman cms_laytrip">
          <div class="fb_animation pb-3 pt-3 mb-3">
          </div>
          <div class="fb_animation pb-1 pt-1 mb-3">
          </div>
          <div class="fb_animation pb-5 pt-5 mb-3">
          </div>
          <div class="fb_animation pb-3 pt-3 mb-3">
          </div>
          <div class="fb_animation pb-3 pt-3 mb-3">
          </div>
          <div class="fb_animation pb-1 pt-1 mb-3">
          </div>
          <div class="fb_animation pb-5 pt-5">
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="block_cmspage_comman cms_laytrip">
          <h3>COVID-19 Travel</h3>
          <div *ngIf="!loading" [innerHtml]="cmsData.enContent"></div>
        </div>
      </div>
    </div>
  </div>
</section>