<section class="block_covid_19">
  <div class="container">
    <div class="row">
      <div class="col-lg-12" [innerHtml]="cmsData.enContent">
        <!-- <div class="block_covid_cnt">
          <div class="block_cnt">
            <h2>How might COVID affect my travels?</h2>
            <p>At Laytrip, we worry about your health and safety while you are traveling either across country or
              abroad. </p>
            <p>We suggest you follow the guidelines provided by your government about the suggested measures.</p>
          </div>
          <div class="block_cnt">
            <h2>Country-by-country restrictions</h2>
            <p>A great resource for tracking country related restrictions is IATA - the International Air Transport
              Association. It sources information from government websites to provide condensed information about global
              safety standards, document requirements when travelling and other guidelines.</p>
            <p><a href="https://www.iatatravelcentre.com/world.php"
                target="_blank">https://www.iatatravelcentre.com/world.php</a></p>
            <img src="{{s3BucketUrl}}assets/images/map.png" alt="Map">
          </div>
          <div class="block_cnt">
            <h2>Travel Recommendations</h2>
            <p>Centers for Disease Control and Prevention: <a class="d-block" target="_blank"
                href="https://www.cdc.gov/coronavirus/2019-ncov/travelers/index.html">https://www.cdc.gov/coronavirus/2019-ncov/travelers/index.html</a>
            </p>
            <p>World Health Organization:<a class="d-block" target="_blank"
                href="https://www.who.int/">https://www.who.int/</a></p>
            <p>US Department of State - Travel<a class="d-block" target="_blank"
                href="https://travel.state.gov/content/travel/en/traveladvisories/traveladvisories.html/">https://travel.state.gov/content/travel/en/traveladvisories/traveladvisories.html/</a>
            </p>
          </div>
          <div class="block_cnt">
            <h2>Cancellation Policy at Laytrip</h2>
            <p>If your booking has been cancelled by the provider - we will follow their cancellation policies and
              refund you only the amounts released by the provider. Otherwise, we do not provide refunds in any form.
            </p>
            <p>Check our <span><a href="javascript:void(0);">cancellation policy page</a></span> for more information.
            </p>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>