<section class="search_result flight">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="block_page_not_available">
                    <div class="block_page_not_available_inner">
                        <img src="{{s3BucketUrl}}assets/images/404_im.svg" alt="404 Image">
                        <h6>{{'page_not_found' | translate}}</h6>
                        <a class="btn btn_laytrip" href="javascript:void(0);" routerLink="/">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>