<div class="form-container resetpass-container show_resetpass">
  <div class="resetpass_modal">
    <div class="modal_top">
      <div class="modal_title">
        <h4>Reset password</h4>
        <p *ngIf="!resetSuccess">OTP was sent successfully. Please check your email
          to reset your password.</p>
        <p *ngIf="resetSuccess">Password reset successfully. Please check login with your updated password.</p>
        <p *ngIf="!resetSuccess" style="color: red;">{{apiMessage}}</p>
      </div>
    </div>
    
    <div class="modal_cnt">
      <form [formGroup]="resetForm" *ngIf="!resetSuccess">
        <div class="form_row">
          <label>OTP<sup>*</sup></label>
          <ul class="add_otp">
            <li>
              <input type="text" (keypress)="commonFunctoin.validateNumber($event)" #input1
                (input)="commonFunctoin.onInputEntry($event, input2)" formControlName="otp1" maxlength="1" tabindex="1"
                placeholder="0">
            </li>
            <li>
              <input type="text" (keypress)="commonFunctoin.validateNumber($event)" #input2
                (input)="commonFunctoin.onInputEntry($event, input3)" formControlName="otp2" maxlength="1" tabindex="2"
                placeholder="0">
            </li>
            <li>
              <input type="text" (keypress)="commonFunctoin.validateNumber($event)" #input3
                (input)="commonFunctoin.onInputEntry($event, input4)" formControlName="otp3" maxlength="1" tabindex="3"
                placeholder="0">
            </li>
            <li>
              <input type="text" (keypress)="commonFunctoin.validateNumber($event)" #input4
                (input)="commonFunctoin.onInputEntry($event, input5)" formControlName="otp4" maxlength="1" tabindex="4"
                placeholder="0">
            </li>
            <li>
              <input type="text" (keypress)="commonFunctoin.validateNumber($event)" #input5
                (input)="commonFunctoin.onInputEntry($event, input6)" formControlName="otp5" maxlength="1" tabindex="5"
                placeholder="0">
            </li>
            <li>
              <input type="text" (keypress)="commonFunctoin.validateNumber($event)" #input6
                (input)="commonFunctoin.onInputEntry($event, input7)" formControlName="otp6" maxlength="1" tabindex="6"
                placeholder="0">
            </li>
          </ul>
          <div *ngIf="(submitted || errorMessage) && (resetForm.controls.otp6.errors)" class="focus-input100 login-error">
            <div *ngIf="(resetForm.controls.otp6.required)" class="text-danger">{{errorMessage}}</div>
          </div>
        </div>
        <div class="form_row">
          <label>New Password<sup>*</sup></label>
          <div class="text_field">
            <input class="border-css" #input7
              [ngClass]="{'error': submitted  && !loading && resetForm.controls.new_password.errors}"
              autocomplete="new-password" [type]="passFieldTextType ? 'text' : 'password'"
              formControlName="new_password" maxlength="50" tabindex="104" placeholder="Enter Password">
          </div>
          <div class="error_text"
            *ngIf="(submitted || resetForm.controls.new_password.touched) && resetForm.controls.new_password.errors">
            <div class="text-danger" *ngIf="resetForm.controls.new_password.errors.required">Please enter your password.
            </div>
            <div class="text-danger" *ngIf="resetForm.controls.new_password.errors.pattern">Your password must contain 1
              Alpha, 1 numeric , 1 special & 8 character long.</div>
          </div>
        </div>
        <div class="form_row">
          <label>Confirm Password<sup>*</sup></label>
          <div class="text_field">
            <input class="border-css"
              [ngClass]="{'error': submitted  && !loading && resetForm.controls.confirm_password.errors}"
              autocomplete="new-password" [type]="passFieldTextType ? 'text' : 'password'"
              formControlName="confirm_password" maxlength="50" tabindex="104" placeholder="Enter Password">
          </div>
          <div
            *ngIf="(submitted || resetForm.controls.confirm_password.touched) && resetForm.controls.confirm_password.errors"
            class="focus-input100 login-error">
            <div *ngIf="resetForm.controls.confirm_password.errors.required" class="text-danger">Please enter your
              confirm password.</div>
            <div class="text-danger" *ngIf="resetForm.controls.confirm_password.errors.mustMatch">Confirm password
              doesn't match.</div>

          </div>
        </div>
        <div class="form_btn">
          <button type="submit" class="btn btn-accent btn-block btn-flat b-r-10" (click)="onSubmit()"
            >
            <i class="fa fa-spinner fa-spin" *ngIf="loading"></i> Reset Password
          </button>
        </div>
      </form>
    </div>
    <div class="modal_change_link">
      <p>Back to <a href="javascript:void(0);" (click)="openSignInPage()" class="signIn">Sign In</a></p>
    </div>
  </div>
</div>