<div class="form-container resetpass-container show_resetpass">
  <div class="resetpass_modal">
    <div class="modal_top">
      <div class="modal_title">
        <h4>Reset password</h4>
        <p>Password reset otp was sent successfully. Please check your email
          to reset your password.</p>

      </div>
    </div>
    <p style="color: red;">{{apiMessage}}</p>
    <div class="modal_cnt">
      <form [formGroup]="forgotForm">
        <div class="form_row">
          <label>OTP<sup>*</sup></label>
          <ul class="add_otp">
            <li>
              <input type="text" (keypress)="commonFunctoin.validateNumber($event)" #input1
                (input)="commonFunctoin.onInputEntry($event, input2)" formControlName="otp1" maxlength="1" tabindex="1"
                placeholder="0">
            </li>
            <li>
              <input type="text" (keypress)="commonFunctoin.validateNumber($event)" #input2
                (input)="commonFunctoin.onInputEntry($event, input3)" formControlName="otp2" maxlength="1" tabindex="2"
                placeholder="0">
            </li>
            <li>
              <input type="text" (keypress)="commonFunctoin.validateNumber($event)" #input3
                (input)="commonFunctoin.onInputEntry($event, input4)" formControlName="otp3" maxlength="1" tabindex="3"
                placeholder="0">
            </li>
            <li>
              <input type="text" (keypress)="commonFunctoin.validateNumber($event)" #input4
                (input)="commonFunctoin.onInputEntry($event, input5)" formControlName="otp4" maxlength="1" tabindex="4"
                placeholder="0">
            </li>
            <li>
              <input type="text" (keypress)="commonFunctoin.validateNumber($event)" #input5
                (input)="commonFunctoin.onInputEntry($event, input6)" formControlName="otp5" maxlength="1" tabindex="5"
                placeholder="0">
            </li>
            <li>
              <input type="text" (keypress)="commonFunctoin.validateNumber($event)" #input6
                (input)="commonFunctoin.onInputEntry($event, input7)" formControlName="otp6" maxlength="1" tabindex="6"
                placeholder="0">
            </li>
          </ul>
        </div>
        <div *ngIf="(submitted || errorMessage) && otpForm.controls.otp1.errors" class="focus-input100 login-error">
          <div *ngIf="otpForm.controls.otp1.errors.required" class="text-danger">{{errorMessage}}</div>
        </div>
        <div class="form_row">
          <label>New Password<sup>*</sup></label>
          <div class="text_field">
            <input class="border-css"
              [ngClass]="{'error': submitted  && !loading && signupForm.controls.new_password.errors}"
              autocomplete="new-password" [type]="passFieldTextType ? 'text' : 'password'"
              formControlName="new_password" maxlength="50" tabindex="104" placeholder="Enter Password">
          </div>
          <div
            *ngIf="(submitted || forgotForm.controls.new_password.touched) && forgotForm.controls.new_password.errors"
            class="focus-input100 login-error">
            <p *ngIf="forgotForm.controls.new_password.errors.required" class="text-danger">Please enter your
              new password.</p>

          </div>
        </div>
        <div class="form_row">
          <label>Confirm Password<sup>*</sup></label>
          <div class="text_field">
            <input class="border-css"
              [ngClass]="{'error': submitted  && !loading && signupForm.controls.confirm_password.errors}"
              autocomplete="new-password" [type]="passFieldTextType ? 'text' : 'password'"
              formControlName="confirm_password" maxlength="50" tabindex="104" placeholder="Enter Password">
          </div>
          <div
            *ngIf="(submitted || forgotForm.controls.confirm_password.touched) && forgotForm.controls.confirm_password.errors"
            class="focus-input100 login-error">
            <p *ngIf="forgotForm.controls.confirm_password.errors.required" class="text-danger">Please enter your
              new password.</p>

          </div>
        </div>
        <div class="form_btn">
          <button type="submit" class="btn btn-accent btn-block btn-flat b-r-10" (click)="onSubmit()"
            style="background: #FF473A;">
            <i class="fa fa-spinner fa-spin" *ngIf="loading"></i> Reset Password
          </button>
        </div>
      </form>
      <p>Back to <a href="javascript:void(0);" (click)="openSignInPage()" class="signIn">Sign In</a></p>
    </div>
  </div>
</div>