<!-- <div class="form-container resetpass-container show_resetpass">
  <div class="resetpass_modal">
    <div class="modal_top">
      <div class="modal_title">
        <h4>Reset password</h4>
        <p *ngIf="!resetSuccess">OTP was sent successfully. Please check your email
          to reset your password.</p>
        <p *ngIf="resetSuccess">Password reset successfully. Please check login with your updated password.</p>
        <p *ngIf="!resetSuccess" style="color: red;">{{apiMessage}}</p>
      </div>
    </div>
    
    <div class="modal_cnt">
      <form [formGroup]="resetForm" *ngIf="!resetSuccess">
        <div class="form_row">
          <label>OTP<sup>*</sup></label>
          <ul class="add_otp">
            <li>
              <input type="text" (keydown)="onKeydown($event)" (keypress)="commonFunctoin.validateNumber($event)" #input1
                (input)="commonFunctoin.onInputEntry($event, input2)" formControlName="otp1" maxlength="1" class="tab1" tabindex="1"
                placeholder="0">
            </li>
            <li>
              <input type="text" (keydown)="onKeydown($event)" (keypress)="commonFunctoin.validateNumber($event)" #input2
                (input)="commonFunctoin.onInputEntry($event, input3)" formControlName="otp2" maxlength="1" class="tab2" tabindex="2"
                placeholder="0">
            </li>
            <li>
              <input type="text" (keydown)="onKeydown($event)" (keypress)="commonFunctoin.validateNumber($event)" #input3
                (input)="commonFunctoin.onInputEntry($event, input4)" formControlName="otp3" maxlength="1" class="tab3" tabindex="3"
                placeholder="0">
            </li>
            <li>
              <input type="text" (keydown)="onKeydown($event)" (keypress)="commonFunctoin.validateNumber($event)" #input4
                (input)="commonFunctoin.onInputEntry($event, input5)" formControlName="otp4" maxlength="1" class="tab4" tabindex="4"
                placeholder="0">
            </li>
            <li>
              <input type="text" (keydown)="onKeydown($event)" (keypress)="commonFunctoin.validateNumber($event)" #input5
                (input)="commonFunctoin.onInputEntry($event, input6)" formControlName="otp5" maxlength="1" class="tab5" tabindex="5"
                placeholder="0">
            </li>
            <li>
              <input type="text" (keydown)="onKeydown($event)" (keypress)="commonFunctoin.validateNumber($event)" #input6
                (input)="commonFunctoin.onInputEntry($event, input7)" formControlName="otp6" maxlength="1" class="tab6" tabindex="6"
                placeholder="0">
            </li>
          </ul>
          <div *ngIf="resetForm.hasError('otpsError') && ( resetForm.controls.otp1.touched || submitted)">
            <p class="text-danger">Please enter OTP</p>
          </div>
        </div>
        <div class="form_row">
          <label>New Password<sup>*</sup></label>
          <div class="text_field">
            <input class="border-css" #input7
              [ngClass]="{'error': submitted  && !loading && resetForm.controls.new_password.errors}"
              autocomplete="new-password" [type]="passFieldTextType ? 'text' : 'password'"
              formControlName="new_password" maxlength="50" tabindex="104" placeholder="Enter New Password">
          </div>
          <div class="error_text"
            *ngIf="(submitted || resetForm.controls.new_password.touched) && resetForm.controls.new_password.errors">
            <div class="text-danger" *ngIf="resetForm.controls.new_password.errors.required">Please enter your new password.
            </div>
            <div class="text-danger" *ngIf="resetForm.controls.new_password.errors.pattern">Your password must contain 1
              Alpha, 1 numeric , 1 special & 8 character long.</div>
          </div>
        </div>
        <div class="form_row">
          <label>Confirm Password<sup>*</sup></label>
          <div class="text_field">
            <input class="border-css"
              [ngClass]="{'error': submitted  && !loading && resetForm.controls.confirm_password.errors}"
              autocomplete="new-password" [type]="passFieldTextType ? 'text' : 'password'"
              formControlName="confirm_password" maxlength="50" tabindex="104" placeholder="Enter Confirm Password">
          </div>
          <div
            *ngIf="(submitted || resetForm.controls.confirm_password.touched) && resetForm.controls.confirm_password.errors"
            class="focus-input100 login-error">
            <div *ngIf="resetForm.controls.confirm_password.errors.required" class="text-danger">Please enter your
              confirm password.</div>
            <div class="text-danger" *ngIf="resetForm.controls.confirm_password.errors.mustMatch">Confirm password
              doesn't match.</div>

          </div>
        </div>
        <div class="form_btn">
          <button type="submit" class="btn btn-accent btn-block btn-flat b-r-10" (click)="onSubmit()"
            >
            <i class="fa fa-spinner fa-spin" *ngIf="loading"></i> Reset Password
          </button>
        </div>
      </form>
    </div>
    <div class="modal_change_link">
      <p>Back to <a (click)="openSignInPage()" class="signIn  hover-link">Sign In</a></p>
    </div>
  </div>
</div> -->

<div class="resetpass_modal_block" *ngIf="!resetSuccess">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{'reset_password' | translate}}</h4>
        <span>{{'forgot_password_message' | translate}}</span>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
        <img src="{{s3BucketUrl}}assets/images/icon/close-icon.svg" alt="Close Icon">
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="resetForm">
            <div class="form_row">
                <div class="text_field">
                    <ng-otp-input #ngOtpInput  (onInputChange)="onOtpChange($event)"  [config]="config"></ng-otp-input>
                    <div *ngIf="(otpLengthError && submitted)">
                      <p class="error_text">{{'otp_touched_validation' | translate}}</p>
                  </div>
                </div>
            </div>
            <div class="resend_otp_code">
                
              <div>
                    <countdown *ngIf="isTimerEnable" #countdown  [config]="configCountDown"
             (finished)="timerComplete()">$!s!</countdown> {{ isTimerEnable ? 'seconds remaining' :''}}
                </div>
                <a class="text-right hover-link" [ngClass]="isResend ? '' : 'disable_link'"   (click)="resendOtp()"><p >{{'resend_code' | translate}} </p><i class="fa fa-spinner fa-spin" *ngIf="spinner"></i></a>
            </div>
            <div class="form_row">
							<div class="text_field pass_show">
								<input type="password" [ngClass]="{'error': (submitted && resetForm.controls.new_password.errors) || (resetForm.controls.new_password.touched && resetForm.controls.new_password.errors)}"
                autocomplete="new-password" [type]="passFieldTextType ? 'text' : 'password'"
                formControlName="new_password" maxlength="50" tabindex="104"  placeholder="{{'new_password' | translate}}">
                <span class="ptxt"><i id="passEye"
                  [ngClass]="passFieldTextType ? 'fa fa-eye' : 'fa fa-eye-slash'"
                  aria-hidden="true" (click)="toggleFieldTextType($event)"></i></span>
                  <div class="error_text"
                  *ngIf="(submitted || resetForm.controls.new_password.touched) && resetForm.controls.new_password.errors">
                  <p *ngIf="resetForm.controls.new_password.errors.required">{{'password_touched_validation' | translate}}
                  </p>
                  <p *ngIf="resetForm.controls.new_password.errors.pattern">{{'password_string_validation' | translate}}</p>
                </div>
              </div>
                
						</div>					
						<div class="form_row">
							<div class="text_field pass_show">
								<input type="password"  [ngClass]="{'error': (submitted && resetForm.controls.confirm_password.errors) || (resetForm.controls.confirm_password.touched && resetForm.controls.confirm_password.errors)}"
                autocomplete="new-password" [type]="cnfPassFieldTextType ? 'text' : 'password'"
                formControlName="confirm_password" maxlength="50" tabindex="104"  placeholder="{{'confirm_password' | translate}}">
                <span class="ptxt"><i id="cnfEye"
                  [ngClass]="cnfPassFieldTextType ? 'fa fa-eye' : 'fa fa-eye-slash'"
                  aria-hidden="true" (click)="toggleFieldTextType($event)"></i></span>
                  <div
                  *ngIf="(submitted || resetForm.controls.confirm_password.touched) && resetForm.controls.confirm_password.errors"
                  class="focus-input100 login-error error_text">
                  <p *ngIf="resetForm.controls.confirm_password.errors.required">{{'confirm_password_touched_validaion' | translate}}</p>
                  <p *ngIf="resetForm.controls.confirm_password.errors.mustMatch">{{'confirm_password_not_match' | translate}}</p>
                </div>  
              </div>
              
						</div>
            <div class="form_btn">               
                <button type="submit"  [disabled]="(!resetForm.valid)" [ngClass]="{'btn_disable':(!resetForm.valid || resetForm.hasError('otpsError') )}" class="btn btn-accent btn-block btn-flat b-r-10" (click)="onSubmit()">
                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i> {{'reset_password' | translate}}
                </button>
            </div>
            <div class="block_api_error" *ngIf="apiMessage.length > 0">{{apiMessage}}</div>
            <div class="modal_btm">
                <div class="block_logo">
                    <img src="{{s3BucketUrl}}assets/images/dr_logo.svg" alt="Logo">
                </div>
            </div>
        </form>
    </div>
  </div>


<div class="resetpass_modal_block" *ngIf="resetSuccess">
  <div class="modal-header">
      <img class="ic_suc" src="{{s3BucketUrl}}assets/images/icon/ic_success_new.svg" alt="success">
      <h4 class="modal-title suc_title" id="modal-basic-title">{{'password_reset_sucessfully_title' | translate}}</h4>  
      <span>{{'password_reset_sucessfully_description' | translate}}</span>       
      <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
      <img src="{{s3BucketUrl}}assets/images/icon/close-icon.svg" alt="Close Icon">
      </button>
  </div>
  <div class="modal-body">
        
      <div class="form_btn">               
          <button type="submit"  class="btn btn-accent btn-block btn-flat b-r-10" (click)="openSignInPage()">
               {{'sign_in' | translate}}
          </button>
      </div>
      <div class="modal_btm">
        <div class="block_logo">
            <img src="{{s3BucketUrl}}assets/images/dr_logo.svg" alt="Logo">
        </div>
    </div>
  </div>
</div>