<div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">JFK-MIA, Feb 11, 2021-Feb 15,2021</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
            <app-flight-cart-item></app-flight-cart-item>
        </div>
      </div>
    </div>
    <!-- <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Travellers</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
            <app-traveler-form [totalTraveler]="totalTraveler"></app-traveler-form>
        </div>
      </div>
    </div> -->
  </div> 