@import '../../../cstm-variable';
@import "../../../_cstm-variable.scss";
@import "../../../_cstm-components.scss";
@import "../../../_hotel.scss";
@import "../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.section_description{
    &.one{
        transform: translate(10%, -10%);
        max-width: 170px;
        right: 0;
    }
    transform: translate(20%, 70%);
    max-width: 240px;
}
.inner_accordion_wrapper{
    .panel-heading{
        .panel-title{
            margin: 0;
            a{
                font-weight: 600;
                color: $text-black;
                font-size: 16px;
                border: none;
                background-color: transparent;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 0;
    
                &[aria-expanded="true"]{
                    &:after {
                        font-family: 'FontAwesome';
                        content: "\f077";
                        color: $text-grey;
                        font-weight: normal;
                        transition: 0.3s;
                        right: 0;
                    }
                }
                &[aria-expanded="false"]{
                    &:after {
                        font-family: 'FontAwesome';
                        content: "\f078";
                        color: $text-grey;
                        font-weight: normal;
                        transition: 0.3s;
                        right: 0;
                    }
                }
                .headerin_wrapper{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex: 1;
                    padding-right: 20px;
                    @include tab-view{
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                    }
                    .header_name{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 27px;
                        position: relative; 
                        .title_image{
                            border-radius: 50%;
                            border: 2px solid $pink;
                            padding: 5px;
                            height: 38px;
                            width: 38px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: 15px;
                            img{
                                width: 24px;
                            }
                            @include tab-view{
                                display: none;
                            }
                        }
                        .flight_routing_imgs{
                            display: flex;
                            flex-direction: column;
                            padding: 0 20px;
                            @include tab-view{
                                max-width: 110px;
                            }
                        }
                        
                    }
                    .header_date{
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}
