<div class="card-body main_body">
    <!-- <div class="card accordion_detailed_wrps wo_return">
        <div class="card-body">
            <div>
                <div class="cols_wrps">
                    <div class="lines_cols">
                        <div class="line_shortname colmns_w">
                            <span>
                                <img src="{{s3BucketUrl}}assets/images/icon/pink_filled_flight.svg" alt=""
                                    class="Pink filled Flight" />
                                JFK to MIA
                            </span>
                            <span class="hrs_">
                                1 h 24 m
                            </span>
                        </div>
                        <div class="date_wrp colmns_w">
                            Jun 01, 2021
                        </div>
                        <div class="timing_wrp colmns_w">
                            08:00 AM - 09:24 AM
                        </div>
                    </div>
                    <div class="lines_cols">
                        <div class="line_company_name colmns_w">
                            American
                            <span class="hrs_">
                                1 h 24 m
                            </span>
                        </div>
                        <div class="fl_number colmns_w">
                            <span class="pink_stamp"></span>
                            Flight AA-2116
                        </div>
                        <div class="class_wrps colmns_w">
                            Economy
                        </div>
                    </div>
                </div>
                <div class="change_plane_wrapper">
                    <img src="{{s3BucketUrl}}assets/images/icon/yellow_double_flight.svg" alt=""
                        class="Pink filled Flight" />
                    Change Planes in DCA
                </div>
                <div class="cols_wrps">
                    <div class="lines_cols">
                        <div class="line_shortname colmns_w">
                            <span>
                                <img src="{{s3BucketUrl}}assets/images/icon/pink_filled_flight.svg" alt=""
                                    class="Pink filled Flight" />
                                JFK to MIA
                            </span>
                            <span class="hrs_">
                                1 h 24 m
                            </span>
                        </div>
                        <div class="date_wrp colmns_w">
                            Jun 01, 2021
                        </div>
                        <div class="timing_wrp colmns_w">
                            08:00 AM - 09:24 AM
                        </div>
                    </div>
                    <div class="lines_cols">
                        <div class="line_company_name colmns_w">
                            American
                            <span class="hrs_">
                                1 h 24 m
                            </span>
                        </div>
                        <div class="fl_number colmns_w">
                            <span class="pink_stamp"></span>
                            Flight AA-2116
                        </div>
                        <div class="class_wrps colmns_w">
                            Economy
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="total_hrs_wrps cta_btns_wrps">
        <span class="ct_btns">
            <button>Cancel</button>
        </span>
        8h 29m
    </div> -->

<ng-container *ngIf="(cartItem | json) != '{}'">
  <div class="card accordion_detailed_wrps" >
    <div class="card-body" *ngIf="(cartItem | json) != '{}'">
      <div *ngFor="let stop of cartItem?.moduleInfo[0]?.routes[0]?.stops">
        <div class="change_plane_wrapper" *ngIf="stop.is_layover">
          <span class="plane_wrps">
            <img src="{{s3BucketUrl}}assets/images/icon/planegray.svg" alt="" class="Pink filled Flight" />
            Change Planes in {{stop?.layover_airport_name}}</span>
          <span class="hr_wrps" *ngIf="stop?.is_layover">{{stop?.layover_duration}}</span>
        </div>
        <div class="cols_wrps">
          <div class="lines_cols">
            <div class="line_shortname colmns_w">
              <span> 
                <img src="{{s3BucketUrl}}assets/images/icon/pink_filled_flight.svg" alt="" class="Pink filled Flight" />
                {{stop.departure_info.code }} - {{stop.arrival_info.code }}
              </span>
              <span class="hrs_">
                {{stop.duration}}
              </span>
            </div>
            <div class="date_wrp colmns_w">
              {{commonFunction.convertDateFormat(stop.departure_date,'DD/MM/YYYY')}} 
            </div>
            <div class="timing_wrp colmns_w">
              {{ stop.departure_time | lowercase }} - {{stop.arrival_time | lowercase}} 
            </div>
          </div>
          <div class="lines_cols">
            <div class="line_company_name colmns_w">
              {{stop.airline_name}}
              <span class="hrs_">
                {{stop.duration}} 
              </span>
            </div>
            <div class="fl_number colmns_w">
              <span class="pink_stamp"></span>
              Flight  {{stop.airline}}-{{stop.flight_number}} 
            </div>
            <div class="class_wrps colmns_w">
              {{stop.cabin_class}} 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="total_hrs_wrps cta_btns_wrps" *ngIf="(cartItem | json) != '{}'">
      <span class="ct_btns" >
        <a href="javascript:void(0);">
          Cancel
        </a>
      </span>
      Duration {{cartItem?.moduleInfo[0]?.routes[0]?.duration}} 
    </div>
  </div>


  
  <div class="card accordion_detailed_wrps wo_return"  *ngIf="cartItem?.moduleInfo[0]?.routes?.length === 2"  >
    <div class="card-body">
      <div *ngFor="let stop of cartItem?.moduleInfo[0]?.routes[1]?.stops">
        <div class="change_plane_wrapper" *ngIf="stop.is_layover">
          <span class="plane_wrps">
            <img src="{{s3BucketUrl}}assets/images/icon/planegray.svg" alt="" class="Pink filled Flight" />
            Change Planes in {{stop?.layover_airport_name}}</span>
            <span class="hr_wrps" *ngIf="stop?.is_layover">{{stop?.layover_duration}}</span>
          </div>
        <div class="cols_wrps">
          <div class="lines_cols">
            <div class="line_shortname colmns_w">
              <span>
                <img src="{{s3BucketUrl}}assets/images/icon/blue_return_flight.svg" alt="" class="Pink filled Flight" />
                {{stop.departure_info.code}} - {{stop.arrival_info.code}}
              </span>
              <span class="hrs_">
                {{stop.duration}}
              </span>
            </div>
            <div class="date_wrp colmns_w">
              {{commonFunction.convertDateFormat(stop.departure_date,'DD/MM/YYYY')}}
            </div>
            <div class="timing_wrp colmns_w">
              {{ stop.departure_time | lowercase }} - {{ stop.arrival_time | lowercase}}
            </div>
          </div>
          <div class="lines_cols">
            <div class="line_company_name colmns_w">
              {{stop.airline_name}}
              <span class="hrs_">
                {{stop.duration}}
              </span>
            </div>
            <div class="fl_number colmns_w">
              <span class="pink_stamp"></span>
              Flight {{stop.airline}}-{{stop.flight_number}}
            </div>
            <div class="class_wrps colmns_w">
              {{stop.cabin_class}}
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>

  <div class="total_hrs_wrps cta_btns_wrps" *ngIf="cartItem?.moduleInfo[0]?.routes?.length === 2">
    <span class="ct_btns"></span>
    Duration {{cartItem?.moduleInfo[0]?.routes[1]?.duration}}
  </div>
  <app-booking-traveler [travelers]="cartItem" [isPassportRequired]="cartItem?.moduleInfo[0]?.routes.is_passport_required"></app-booking-traveler>
</ng-container>
 