@import '../../../../../../cstm-variable';
@import "../../../../../../_cstm-variable.scss";
@import "../../../../../../_cstm-components.scss";
@import "../../../../../../_hotel.scss";
@import "../../../../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.card-body {
    padding: 15px;

    @include tab-view{
        padding: 10px;
    }

    &.main_body {
        border-top: 1px solid $grayed_border;
        background-color: $background-white;
        margin-top: -1px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .accordion_detailed_wrps {
        border: 1px solid $grayed_border;
        border-radius: 10px;
        margin-bottom: 10px;

        .card-body {
            padding: 15px; 

            @include tab-view{
                padding: 10px;
            }

            .cols_wrps {
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include tab-view {
                    align-items: flex-start;
                    flex-direction: row;
                }

                .lines_cols {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    width: 100%;
                    font-size: 20px;
                    color: $mid_gray_bg;

                    @include tab-view {
                        font-size: 12px;
                    }

                    .colmns_w {
                        @include tab-view {
                            margin-bottom: 1px;
                            &.timing_wrp {
                                margin-bottom: 0;
                            }
                        }
                    }

                    &:last-child {
                        .colmns_w {
                            @include tab-view {
                                &:last-child {
                                    margin-bottom: 0px;
                                }
                            }
                        }
                    }

                    .line_shortname {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: $text-black;
                        font-weight: 600;
                        flex: 1;

                        @include tab-view{
                            font-size: 16px;
                        }

                        img {
                            margin-right: 20px;

                            @include tab-view {
                                max-width: 18px;
                                margin-right: 5px;
                            }
                        }

                        .hrs_ {
                            display: none;
                            font-size: 18px;
                            color: $mid_gray_bg;
                            font-weight: 400;

                            @include tab-view {
                                display: none;
                            }
                        }
                    }

                    .line_company_name {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex: 1;
                        @include tab-view {
                            margin-top: 5px;
                        }
                        .hrs_ {
                            font-size: 18px;

                            @include tab-view {
                                //display: none;
                                font-size: 10px;
                                margin-top: 5px;
                            }
                        }
                    }

                    .fl_number {
                        flex: 1;
                        display: flex;
                        align-items: center;

                        .pink_stamp {
                            width: 14px;
                            height: 14px;
                            background-color: $pink;
                            border-radius: 50%;
                            margin-right: 10px;

                            @include tab-view {
                                width: 8px;
                                height: 8px;
                            }
                        }
                    }
                }
            }

            .change_plane_wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                // border-top: 1px dashed $text_light_yellow;
                // border-bottom: 1px dashed $text_light_yellow;
                // color: $text_light_yellow;
                // filter: grayscale(90%);
                border-top: 1px dashed $grayed_border;
                border-bottom: 1px dashed $grayed_border;
                color: $grayed_border;
                padding: 10px 0;
                margin: 40px 0;
                .plane_wrps{
                    flex: 5;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include mobile-sm-view{
                        flex: 3;
                    }
                }
                .hr_wrps{
                    display: flex;
                    justify-content: flex-end;
                    flex: 1;
                }
                img {
                    margin-right: 15px;
                    @include mobile-sm-view{
                        max-width: 24px;
                    }
                }

                @include tab-view {
                    margin: 10px 0;
                    font-size: 14px;
                    padding: 6px 0;
                    .hr_wrps{
                        font-size: 10px;
                    }
                }
                @include mobile-sm-view{
                    font-size: 11px;
                }
            }
        }

        &.w_return {
            margin-top: 15px;
        }
        .total_hrs_wrps {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: $mid_gray_bg;
            font-size: 18px;
            margin: 5px 0;
            padding: 0 15px;
            @include tab-view{
                padding: 0 10px;
                margin: 10px 0 0;
            }
    
            &.cta_btns_wrps {
                justify-content: space-between;
                font-size: 15px;
                @include tab-view{
                    font-size: 12px;
                }
                .ct_btns {
                    a {
                        background-color: transparent;
                        color: $text_light_yellow;
                        border: none;
                        box-shadow: none;
                        font-size: 15px;
                        padding: 0;

                        @include tab-view{
                            font-size: 12px;
                        }
    
                        // margin-right: 40px;
                        &:last-child {
                            margin: 0;
                        }
                    }
                }
    
            }
        }
    }

    

    .sub_accordions {
        margin-top: 15px;

        .card-body {
            padding: 0;
        }
    }

    .dobs {
        ::ng-deep .birth_date {

            .p-inputtext {
                border: none;
            }

            th {
                font-size: 13px !important;
                border-bottom: none !important;
                font-weight: 600 !important;
                text-align: center;
            }

            td {
                padding: 0.1rem !important;

                span {
                    width: 35px;
                    height: auto;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    border: none !important;
                    border-radius: 0 !important;
                    box-shadow: none !important;
                    color: $text-grey;
                    margin: 1px;
                    position: relative;

                    @include mobile-view {
                        width: 33px;
                    }

                    &:hover {
                        background: none !important;
                    }

                    &.p-highlight {
                        background: none !important;
                        font-weight: 500;
                        overflow: visible;

                        &::before {
                            content: "";
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                            background-color: $pink;
                            position: absolute;
                            top: -5px;
                        }
                    }
                }
            }
        }
    }
}

.delete_account_block {
    .modal-header {
      justify-content: center;
      border: none;
      padding: 25px;
  
      .close {
        opacity: 1;
        position: absolute;
        top: 20px;
        right: 20px;
  
        img {
          width: 12px;
        }
  
        @include mobile-view {
          top: 15px;
          right: 15px;
        }
      }
    }
  
    .modal-body {
      width: 100%;
      padding: 0px 15px 20px;
  
      @include tab-view {
        height: 100%;
        justify-content: center;
        display: flex;
        flex-flow: column;
      }
  
      .block_im {
        margin: 0 auto 15px;
        width: 85px;
      }
  
      h4 {
        font-size: 32px;
        line-height: 40px;
        font-weight: 500;
        color: $active-tab-text;
        padding: 0px 0px 15px;
        text-align: center;
  
        // span {
        //   display: block;
        // }
  
        @include tab-view {
          font-size: 24px;
          text-align: center;
        }
  
        @include mobile-view {
          font-size: 20px;
          line-height: 26px;
          text-align: center;
        }
      }
  
      .check {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 0 30px;
  
        .custom_checkbox {
          position: relative;
          margin-bottom: 0;
          vertical-align: middle;
          line-height: normal;
          display: inline;
          align-items: center;
          font-size: 12px;
          font-weight: 400;
          color: $mid_gray_bg;
          text-transform: none;
  
          input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
  
            &:checked {
              ~ {
                .checkmark {
                  border-color: $blue-text-one;
  
                  &:after {
                    opacity: 1;
                  }
                }
              }
            }
          }
  
          .checkmark {
            width: 14px;
            min-width: 14px;
            height: 14px;
            display: inline-block;
            border: 1px solid $blue-text-one;
            vertical-align: middle;
            margin-right: 11px;
            position: relative;
  
            &:after {
              content: "";
              position: absolute;
              top: 1px;
              -webkit-transform: translate(0, -50%);
              -moz-transform: translate(0, -50%);
              -ms-transform: translate(0, -50%);
              -o-transform: translate(0, -50%);
              transform: translate(0, -50%);
              width: 4px;
              height: 8px;
              border-radius: 2px;
              border: solid $blue-text-one;
              border-width: 0 1px 1px 0;
              transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              border-radius: 0px;
              left: 0;
              right: 0;
              margin: 0 auto;
              transition: all 0.2s;
              opacity: 0;
            }
          }
        }
      }
  
      // ul {
      //   width: 100%;
      //   display: flex;
      //   justify-content: center;
      //   margin: 0;
      //   padding: 0 0 30px;
      //   list-style: none;
  
      //   li {
      //     width: auto;
      //     margin: 0 25px;
  
      //     @include mobile-view {
      //       margin: 0 10px;
      //     }
  
      //     button {
      //       width: 151px;
      //       height: 40px;
      //       padding: 0px 25px;
      //       background: $hotel-secondary-color;
      //       border-radius: 25px;
      //       border: 1px solid $hotel-secondary-color;
      //       font-size: 14px;
      //       font-weight: 500;
      //       color: $text-white;
      //       transition: 0.3s;
      //       position: relative;
      //       z-index: 9;
      //       overflow: hidden;
      //       white-space: normal;
  
      //       &.btn_no {
      //         border: 1px solid $feedback_text-clr;
      //         color: $feedback_text-clr;
      //         background: $background-white;
  
      //         // &:hover {
      //         //   background: transparent;
      //         //   color: $text-white;
      //         // }
      //       }
  
      //       &.btn_yes {
      //         border: 1px solid $primary-color;
      //         color: $text-white;
      //         background: $primary-color;
  
      //         // &:hover {
      //         //   background: transparent;
      //         //   color: $text-white;
      //         // }
      //       }
  
      //       &::before {
      //         content: "";
      //         position: absolute;
      //         top: 2px;
      //         left: 2px;
      //         width: 100%;
      //         height: 0%;
      //         background: $pink_clr;
      //         z-index: -1;
      //         transition: 0.8s;
      //         border-radius: 25px;
      //       }
  
      //       // &:hover {
      //       //   border: 1px solid $hotel-secondary-color;
      //       //   color: $text-white;
  
      //       //   &:before {
      //       //     height: calc(100% - 4px);
      //       //     width: calc(100% - 4px);
      //       //   }
      //       // }
  
      //       &.btn_disable {
      //         cursor: default;
      //       }
  
      //       @include mobile-view {
      //         width: 135px;
      //       }
      //     }
      //   }
      // }
  
      .cta_btn_wrps {
        padding: 10px;
        width: 100%;
        display: flex;
  
        button {
          max-width: 472px;
          width: 100%;
          height: 40px;
          padding: 10px 25px;
          background: $hotel-secondary-color;
          border-radius: 25px;
          border: 1px solid $hotel-secondary-color;
          font-size: 14px;
          color: $text-white;
          transition: 0.3s;
          position: relative;
          z-index: 9;
          overflow: hidden;
          white-space: normal;
          display: flex;
          margin: 0 10px;
          align-items: center;
          justify-content: center;
  
          &:hover {
            border: 1px solid $hotel-secondary-color;
            color: $text-white;
            background: $hotel-secondary-color;
          }
  
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
      }
  
      .footer_logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 10px;
  
        img {
          max-width: 62px;
          height: 23px;
        }
      }
    }
  
    .modal-footer {
      padding: 0 20px 25px;
      border: 0;
      margin: 0;
  
      .modal_btm {
        width: 100%;
  
        .block_logo {
          width: 100%;
          text-align: center;
          margin: 0 0 0;
  
          img {
            height: 22px;
          }
        }
      }
    }
  }
  