<div class="filter_saidbar desktop_sort">
  <!-- <div class="block_result_found">
    <p>{{hotelDetails.length}} Hotels found from</p> -->
  <!-- <span>{{hotelDetails[0].address.city_name}},{{hotelDetails[0].address.country_name}}</span> -->
  <!-- <span>{{locationName}}</span>
  </div> -->
  <div class="short_by">
    <!-- <div class="block_inn">
      <h4>Sort By</h4>  
    </div> -->
    <div class="accordion block_shortby" id="accordion-shortby">
      <div class="accordion-group" [ngClass]="{'active': lowToHighToggle === true}">
        <div class="accordion-heading" (click)="toggleLowToHigh()" data-toggle="collapse"
        data-parent="#accordion-shortby" href="#collapseshortBy"> 
          <a class="accordion-toggle" >
            Sort By
          </a> 
          <a class="anchor_link" [hidden]="lowToHighToggle !== true" (click)="resetSorting('total','ASC')">Clear</a>
        </div>
        <div id="collapseshortBy" class="accordion-body filter_acc collapse">
          <div class="accordion-inner">
            <div class="block_cmn price">
              <h5>Price</h5>
              <ul>
                <li>
                  <label class="custom_radio">
                    <input type="radio" [checked]="sortType=='lh_price'"
                      (click)="sortHotelData('total','ASC','lh_price')"> <span class="checkmark"></span>
                      Lowest to Highest
                  </label>
                </li>
                <li>
                  <label class="custom_radio">
                    <input type="radio" [checked]="sortType=='hl_price'"
                      (click)="sortHotelData('total','DESC','hl_price')"> <span class="checkmark"></span>
                      Highest to Lowest
                  </label>
                </li>
              </ul>
            </div>
            <div class="block_cmn duration">
              <h5>Ratings</h5>
              <ul>
                <li>
                  <label class="custom_radio">
                    <input type="radio" [checked]="sortType=='lh_duration'"
                      (click)="sortHotelData('rating','ASC','lh_duration')"> <span class="checkmark"></span>
                      Lowest to Highest
                  </label>
                </li>
                <li>
                  <label class="custom_radio">
                    <input type="radio" [checked]="sortType=='hl_duration'"
                      (click)="sortHotelData('rating','DESC','hl_duration')"> <span class="checkmark"></span>
                      Highest to Lowest
                  </label>
                </li>
              </ul>
            </div>
            <div class="block_cmn arrival">
              <h5>Alphabetical</h5>
              <ul>
                <li>
                  <label class="custom_radio">
                    <input type="radio" [checked]="sortType=='lh_arrival'"
                      (click)="sortHotelData('name','ASC','lh_arrival')"> <span class="checkmark"></span>  A to Z</label>
                     
                </li>
                <li>
                  <label class="custom_radio">
                    <input type="radio" [checked]="sortType=='hl_arrival'"
                      (click)="sortHotelData('name','DESC','hl_arrival')"> <span class="checkmark"></span>  Z to A</label>
                     
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="accordion block_shortby" id="accordion-shortby">
      <div class="accordion-group" [ngClass]="{'active': lowToHighToggle === true}">
        <div class="accordion-heading" (click)="toggleLowToHigh()"> <a class="accordion-toggle" data-toggle="collapse"
            data-parent="#accordion-shortby" href="#collapseshortBy">
            Lowest to highest
          </a> </div>
        <div id="collapseshortBy" class="accordion-body filter_acc collapse">
          <div class="accordion-inner">
            <div class="block_cmn price">
              <h5>Price</h5>
              <ul>
                <li>
                  <label class="custom_radio">Lowest to highest
                    <input type="radio" [checked]="sortType=='lh_price'"
                      (click)="sortHotelData('total','ASC','lh_price')"> <span class="checkmark"></span>
                  </label>
                </li>
                <li>
                  <label class="custom_radio">Highest to lowest
                    <input type="radio" [checked]="sortType=='hl_price'"
                      (click)="sortHotelData('total','DESC','hl_price')"> <span class="checkmark"></span>
                  </label>
                </li>
              </ul>
            </div>
            <div class="block_cmn duration">
              <h5>Ratings</h5>
              <ul>
                <li>
                  <label class="custom_radio">Lowest to highest
                    <input type="radio" [checked]="sortType=='lh_duration'"
                      (click)="sortHotelData('rating','ASC','lh_duration')"> <span class="checkmark"></span>
                  </label>
                </li>
                <li>
                  <label class="custom_radio">Highest to lowest
                    <input type="radio" [checked]="sortType=='hl_duration'"
                      (click)="sortHotelData('rating','DESC','hl_duration')"> <span class="checkmark"></span>
                  </label>
                </li>
              </ul>
            </div>
            <div class="block_cmn arrival">
              <h5>Hotels</h5>
              <ul>
                <li>
                  <label class="custom_radio">A to Z
                    <input type="radio" [checked]="sortType=='lh_arrival'"
                      (click)="sortHotelData('name','ASC','lh_arrival')"> <span class="checkmark"></span> </label>
                </li>
                <li>
                  <label class="custom_radio">Z to A
                    <input type="radio" [checked]="sortType=='hl_arrival'"
                      (click)="sortHotelData('name','DESC','hl_arrival')"> <span class="checkmark"></span> </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>

<div class="filter_saidbar mobile_sort">
  <div class="short_by">
    <!-- <div class="block_inn">
      <h4>Sort By</h4>  
    </div> -->
    <div class="accordion block_shortby" id="accordion-shortby">
      <!-- <div class="accordion-group" [ngClass]="{'active': lowToHighToggle === true}"> -->
      <div class="accordion-group">
        <div class="accordion-heading" aria-expanded="true"> 
          <a class="accordion-toggle" >
            Sort By
          </a> 
          <a class="anchor_link"  (click)="resetSorting('total','ASC')">Clear</a>
        </div>
        <div id="collapseshortBy" class="accordion-body filter_acc collapse show">
          <div class="accordion-inner">
            <div class="block_cmn price">
              <h5>Price</h5>
              <ul>
                <li>
                  <label class="custom_radio">
                    <input type="radio" [checked]="sortType=='lh_price'"
                      (click)="sortHotelData('total','ASC','lh_price')"> <span class="checkmark"></span>
                      Lowest to Highest
                  </label>
                </li>
                <li>
                  <label class="custom_radio">
                    <input type="radio" [checked]="sortType=='hl_price'"
                      (click)="sortHotelData('total','DESC','hl_price')"> <span class="checkmark"></span>
                      Highest to Lowest
                  </label>
                </li>
              </ul>
            </div>
            <div class="block_cmn duration">
              <h5>Ratings</h5>
              <ul>
                <li>
                  <label class="custom_radio">
                    <input type="radio" [checked]="sortType=='lh_duration'"
                      (click)="sortHotelData('rating','ASC','lh_duration')"> <span class="checkmark"></span>
                      Lowest to Highest
                  </label>
                </li>
                <li>
                  <label class="custom_radio">
                    <input type="radio" [checked]="sortType=='hl_duration'"
                      (click)="sortHotelData('rating','DESC','hl_duration')"> <span class="checkmark"></span>
                      Highest to Lowest
                  </label>
                </li>
              </ul>
            </div>
            <div class="block_cmn arrival">
              <h5>Alphabetical</h5>
              <ul>
                <li>
                  <label class="custom_radio">
                    <input type="radio" [checked]="sortType=='lh_arrival'"
                      (click)="sortHotelData('name','ASC','lh_arrival')"> <span class="checkmark"></span> 
                      A to Z</label>
                </li>
                <li>
                  <label class="custom_radio">
                    <input type="radio" [checked]="sortType=='hl_arrival'"
                      (click)="sortHotelData('name','DESC','hl_arrival')"> <span class="checkmark"></span>
                      Z to A </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="accordion block_shortby" id="accordion-shortby">
      <div class="accordion-group" [ngClass]="{'active': lowToHighToggle === true}">
        <div class="accordion-heading" (click)="toggleLowToHigh()"> <a class="accordion-toggle" data-toggle="collapse"
            data-parent="#accordion-shortby" href="#collapseshortBy">
            Lowest to highest
          </a> </div>
        <div id="collapseshortBy" class="accordion-body filter_acc collapse">
          <div class="accordion-inner">
            <div class="block_cmn price">
              <h5>Price</h5>
              <ul>
                <li>
                  <label class="custom_radio">Lowest to highest
                    <input type="radio" [checked]="sortType=='lh_price'"
                      (click)="sortHotelData('total','ASC','lh_price')"> <span class="checkmark"></span>
                  </label>
                </li>
                <li>
                  <label class="custom_radio">Highest to lowest
                    <input type="radio" [checked]="sortType=='hl_price'"
                      (click)="sortHotelData('total','DESC','hl_price')"> <span class="checkmark"></span>
                  </label>
                </li>
              </ul>
            </div>
            <div class="block_cmn duration">
              <h5>Ratings</h5>
              <ul>
                <li>
                  <label class="custom_radio">Lowest to highest
                    <input type="radio" [checked]="sortType=='lh_duration'"
                      (click)="sortHotelData('rating','ASC','lh_duration')"> <span class="checkmark"></span>
                  </label>
                </li>
                <li>
                  <label class="custom_radio">Highest to lowest
                    <input type="radio" [checked]="sortType=='hl_duration'"
                      (click)="sortHotelData('rating','DESC','hl_duration')"> <span class="checkmark"></span>
                  </label>
                </li>
              </ul>
            </div>
            <div class="block_cmn arrival">
              <h5>Hotels</h5>
              <ul>
                <li>
                  <label class="custom_radio">A to Z
                    <input type="radio" [checked]="sortType=='lh_arrival'"
                      (click)="sortHotelData('name','ASC','lh_arrival')"> <span class="checkmark"></span> </label>
                </li>
                <li>
                  <label class="custom_radio">Z to A
                    <input type="radio" [checked]="sortType=='hl_arrival'"
                      (click)="sortHotelData('name','DESC','hl_arrival')"> <span class="checkmark"></span> </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div> 
