<section class="block_cms_page_main page_trems">
    <div class="page_topbanner">
        <img src="{{s3BucketUrl}}assets/images/cms_page_banner.png" alt="Banner Image">
    </div>
    <div class="block_cms_cnt">
        <div class="container">
            <div class="row">
                <div class="page_back_link">
                    <a class="hover-link" (click)="commonFunction.goBack()"><img style="margin-right: 5px;" src="{{s3BucketUrl}}assets/images/icon/ic_back.svg" alt=""> {{'back' | translate}}</a>
                </div>

                <div class="col-lg-12" *ngIf="loading">
                    <div class="block_cmspage_comman cms_laytrip">
                        <h3 class="fb_animation w-25"></h3>
                        <p class="fb_animation w-100 mb-2"></p>
                        <div style="margin-bottom: 30px;">
                            <p class="fb_animation w-100 mb-2"></p>
                            <p class="fb_animation w-100 mb-2"></p>
                            <p class="fb_animation w-100 mb-2"></p>
                            <p class="fb_animation w-100 mb-2"></p>
                        </div>
                        <div style="margin-bottom: 30px;">
                            <p class="fb_animation w-100 mb-2"></p>
                            <p class="fb_animation w-100 mb-2"></p>
                            <p class="fb_animation w-100 mb-2"></p>
                            <p class="fb_animation w-100 mb-2"></p>
                        </div>
                        <div style="margin-bottom: 0px;">
                            <p class="fb_animation w-100 mb-2"></p>
                            <p class="fb_animation w-100 mb-2"></p>
                            <p class="fb_animation w-100 mb-2"></p>
                            <p class="fb_animation w-100 mb-2"></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12" *ngIf="!loading">
                    <div class="block_cmspage_comman cms_laytrip" [innerHtml]="cmsData.enContent">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>