<div class="filter_main_wrapper desk_ver">
  <div class="accordion block_shortby" id="accordion3">
    <div class="accordion-group" [ngClass]="{'active': is_open === true}">
      <div class="accordion-heading" (click)="toggleFilter()" data-toggle="collapse" aria-expanded="true"
        data-parent="#accordion3" href="#collapseThree">
        <a class="accordion-toggle">
          Filters
        </a>
        <!-- <a class="anchor_link" [hidden]="is_open !== true" (click)="resetFilter()"> {{'clear' | translate}}</a> -->
      </div>
      <div id="collapseThree" class="accordion-body collapse">
        <div class="accordion-inner">
          <!-- <ng-scrollbar #scrollable [invertX]="invertX" [invertY]="invertY" [trackX]="false" [compact]="compact"
          [shown]="shown" [disableOnBreakpoints]="false">

         
        </ng-scrollbar> -->
          <div class="fliter_block">
            <div class="cmn_block">
              <div class="block_top_in">
                <h5 class="title_h5">Hotel Name
                  <a class="anchor_link" (click)="resetFilter()"> {{'clear' | translate}}</a>
                </h5>
              </div>
              <div class="searchbar_box">
                <input (blur)="onBlurMethod($event)" type="text" class="searchHotelName" placeholder="Search" tabindex="3"
                  (keyup)="searchHotelName($event)" value="{{searchHotel}}">

                <div class="search_suggetion_main" *ngIf="isHotelSearch">
                  <div class="close_btn">
                    <button (click)="clearHotelSearch()" type="button" class="close">
                      <img src="{{s3BucketUrl}}assets/images/icon/close-icon.svg" alt="Close Icon">
                    </button>
                  </div>
                  <ng-scrollbar class="custom_scroll_suggetion" barClass="scrollbar" customview="true" #scrollable
                    track="all" pointerEventsMethod="scrollbar">
                    <div class="suggtions_wrps_mn">
                      <div class="suggtions">
                        <div class="sug_line_box">
                          <span class="linew_wrps">
                            <span class="line_names" (click)="clickHotelFilterName($event)"
                              *ngFor="let item of filterHotelNames">{{item.hotelName}}</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </ng-scrollbar>
                </div>


                <!-- <ng-select [(ngModel)]="hotelname" [items]="hotelNamesArray" bindLabel="hotelName" [loading]=""
                  placeholder="Search" (change)="searchHotel()" [clearable]="false" [selectOnTab]="true">
                </ng-select> -->

              </div>
            </div>
            <div class="cmn_block price">
              <div class="block_top_in">
                <h5>Total Price</h5>
              </div>
              <!--
            <ul class="block_price_radio">
              <li>
                <label class="custom_radio">Total
                  <input type="radio" [checked]="sortType=='filter_total_price'" name="fl_price_radio"
                    (click)="filterHotelByPrice('total','filter_total_price')">
                  <span class="checkmark"></span> </label>
              </li>
              <li>
                <label class="custom_radio">Weekly
                  <input type="radio" [checked]="sortType=='filter_weekly_price'" name="fl_price_radio"
                    (click)="filterHotelByPrice('weekly','filter_weekly_price')"> <span class="checkmark"></span>
                </label>
              </li>
            </ul> -->
              <form [formGroup]="priceSlider">
                <div class="custom_range_slide">
                  <p>{{ currency?.symbol }}{{priceValue}} - {{ currency?.symbol }}{{priceHighValue}}</p>
                  <ng5-slider *ngIf="priceValue && priceOptions && priceHighValue" [(value)]="priceValue"
                    [(highValue)]="priceHighValue" formControlName="price" [options]="priceOptions"
                    (userChangeEnd)="fliterByPrice($event)"></ng5-slider>
                  <!-- *ngIf="priceValue && priceOptions && priceHighValue" -->
                </div>
              </form>

            </div>
            <div class="cmn_block price" *ngIf="partialPaymentValue > 0 && partialPaymentHighValue > 0">
              <div class="block_top_in">
                <h5>Installment Amount</h5>
              </div>

              <form [formGroup]="partialPriceSlider" >
                <div class="custom_range_slide">
                  <p>{{ currency?.symbol }}{{partialPaymentValue}} - {{ currency?.symbol }}{{partialPaymentHighValue}}
                  </p>
                  <ng5-slider *ngIf="partialPaymentValue && partialPaymentOptions && partialPaymentHighValue"
                    [(value)]="partialPaymentValue" [(highValue)]="partialPaymentHighValue"
                    formControlName="partial_price" [options]="partialPaymentOptions"
                    (userChangeEnd)="fliterByPartialPayment($event)"></ng5-slider>
                </div>
              </form>
            </div>

            <div class="cmn_block pad_no">
              <div class="accordion block_shortby inner_accodeions" id="accordion-starrates">
                <div class="accordion-group" [ngClass]="{'active': lowToHighToggleRating  === true}">
                  <div class="accordion-heading no_accordion" (click)="toggleLowToHighRating()"> <a
                      class="accordion-toggle">
                      Star Ratings
                    </a> </div>
                  <div id="collapseOutbound" class="accordion-body filter_acc ">
                    <div class="accordion-inner">
                      <!-- <div class="block_cmn stop">
                      <ul>
                        <li *ngFor="let item of ratingStar">
                          <label class="custom_checkbox">
                            <input type="checkbox" value="{{item.title}}"
                              (click)="filterByHotelRatings($event,item.title)">
                            <span class="checkmark"></span>{{item.title}} Star</label> <span><img
                              src="{{s3BucketUrl}}assets/images/icon/stars/{{item.title}}s.svg"
                              alt="5 Stars Icon"></span>
                        </li>
                      </ul>
                    </div> -->
                      <div class="star-rating {{rating_number}}">
                        <input (change)="filterByHotelRatings($event,5)" id="star-5" [checked]="rating_number==5"
                          type="checkbox" name="rating" />
                        <label for="star-5" title="5 stars">
                          <img class="blank" src="{{s3BucketUrl}}assets/images/icon/star_blank.svg"
                            alt="blank Stars Icon">
                          <img class="filled" src="{{s3BucketUrl}}assets/images/icon/star_filled.svg"
                            alt="filled Stars Icon">
                        </label>
                        <input (change)="filterByHotelRatings($event,4)" id="star-4" [checked]="rating_number==4"
                          type="checkbox" name="rating" />
                        <label for="star-4" title="4 stars">
                          <img class="blank" src="{{s3BucketUrl}}assets/images/icon/star_blank.svg"
                            alt="blank Stars Icon">
                          <img class="filled" src="{{s3BucketUrl}}assets/images/icon/star_filled.svg"
                            alt="filled Stars Icon">
                        </label>
                        <input (change)="filterByHotelRatings($event,3)" id="star-3" [checked]="rating_number==3"
                          type="checkbox" name="rating" />
                        <label for="star-3" title="3 stars">
                          <img class="blank" src="{{s3BucketUrl}}assets/images/icon/star_blank.svg"
                            alt="blank Stars Icon">
                          <img class="filled" src="{{s3BucketUrl}}assets/images/icon/star_filled.svg"
                            alt="filled Stars Icon">
                        </label>
                        <input (change)="filterByHotelRatings($event,2)" id="star-2" [checked]="rating_number==2"
                          type="checkbox" name="rating" />
                        <label for="star-2" title="2 stars">
                          <img class="blank" src="{{s3BucketUrl}}assets/images/icon/star_blank.svg"
                            alt="blank Stars Icon">
                          <img class="filled" src="{{s3BucketUrl}}assets/images/icon/star_filled.svg"
                            alt="filled Stars Icon">
                        </label>
                        <input (change)="filterByHotelRatings($event,1)" id="star-1" [checked]="rating_number==1"
                          type="checkbox" name="rating" />
                        <label for="star-1" title="1 star">
                          <img class="blank" src="{{s3BucketUrl}}assets/images/icon/star_blank.svg"
                            alt="blank Stars Icon">
                          <img class="filled" src="{{s3BucketUrl}}assets/images/icon/star_filled.svg"
                            alt="filled Stars Icon">
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cmn_block pad_no">
              <div class="accordion block_shortby inner_accodeions" id="accordion-amenities">
                <div class="accordion-group" [ngClass]="{'active': lowToHighToggleAmenities  === true}">
                  <div class="accordion-heading no_accordion" (click)="toggleLowToHighAmenities()"> <a
                      class="accordion-toggle">
                      Amenities
                    </a> </div>
                  <div id="collapseInbound" class="accordion-body filter_acc">
                    <div class="accordion-inner">
                      <div class="block_cmn stop">
                        <ul>
                          <li *ngFor="let item of amenities">
                            <label class="custom_checkbox">
                              <input type="checkbox" value="{{item.title}}"
                                (click)="filterByHotelAmenities($event,item.title)">
                              <span class="checkmark"></span>{{item.title}}</label>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--   <div class="cmn_block departure_to">
            <div class="block_top_in">
              <h5>Cancellation Policy</h5>
            </div>
            <ul>
              <li>
                <label class="custom_checkbox">
                  <input type="checkbox" value="true" (click)="filterByPolicy($event)"> <span class="checkmark"></span>
                  <p>Free Cancellation</p>
                </label>
              </li>
              <li>
                <label class="custom_checkbox">
                  <input type="checkbox" value="false" (click)="filterByPolicy($event)"> <span class="checkmark"></span>
                  <p>Non Refundable</p>
                </label>
              </li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="filter_main_wrapper responsive_mobile">
  <div class="accordion block_shortby" id="accordion3">
    <div class="accordion-group">
      <!-- <div class="accordion-group" [ngClass]="{'active': is_open === true}"> -->
      <div class="accordion-heading">
        <a class="accordion-toggle">
          Filters
        </a>
        <a class="anchor_link" (click)="resetFilter()"> {{'clear' | translate}}</a>
      </div>
      <div id="collapseThree" class="accordion-body collapse show">
        <div class="accordion-inner">
          <!-- <ng-scrollbar #scrollable [invertX]="invertX" [invertY]="invertY" [trackX]="false" [compact]="compact"
            [shown]="shown" [disableOnBreakpoints]="false">
  
           
          </ng-scrollbar> -->
          <div class="fliter_block">
            <div class="cmn_block">
              <div class="block_top_in">
                <h5>Hotel Name</h5>
              </div>
              <div class="searchbar_box">
                <input type="text" placeholder="Search" tabindex="3" class="searchHotelName"
                  (keyup)="searchHotelName($event)" value="{{searchHotel}}">

                <div class="search_suggetion_main" *ngIf="isHotelSearch">
                  <div class="close_btn">
                    <button type="button" class="close">
                      <img src="{{s3BucketUrl}}assets/images/icon/close-icon.svg" alt="Close Icon">
                    </button>
                  </div>
                  <ng-scrollbar class="custom_scroll_suggetion" barClass="scrollbar" customview="true" #scrollable
                    track="all" pointerEventsMethod="scrollbar">
                    <div class="suggtions_wrps_mn">
                      <div class="suggtions">
                        <div class="sug_line_box">
                          <span class="linew_wrps">
                            <span class="line_names" (click)="clickHotelFilterName($event)"
                              *ngFor="let item of filterHotelNames">{{item.hotelName}}</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </ng-scrollbar>
                </div>
                <!-- <ng-select [(ngModel)]="hotelname" [items]="hotelNamesArray" bindLabel="hotelName" [loading]=""
                  placeholder="Search" (change)="searchHotel()" [clearable]="false" [selectOnTab]="true">
                </ng-select> -->

              </div>
            </div>
            <div class="cmn_block price">
              <div class="block_top_in">
                <h5>Total Price</h5>
              </div>
              <!-- 
              <ul class="block_price_radio">
                <li>
                  <label class="custom_radio">Total
                    <input type="radio" [checked]="sortType=='filter_total_price'" name="fl_price_radio"
                      (click)="filterHotelByPrice('total','filter_total_price')">
                    <span class="checkmark"></span> </label>
                </li>
                <li>
                  <label class="custom_radio">Weekly
                    <input type="radio" [checked]="sortType=='filter_weekly_price'" name="fl_price_radio"
                      (click)="filterHotelByPrice('weekly','filter_weekly_price')"> <span class="checkmark"></span>
                  </label>
                </li>
              </ul> -->
              <form [formGroup]="priceSlider">
                <div class="custom_range_slide">
                  <p>{{ currency?.symbol }}{{priceValue}} - {{ currency?.symbol }}{{priceHighValue}}</p>
                  <ng5-slider *ngIf="priceValue && priceOptions && priceHighValue" [(value)]="priceValue"
                    [(highValue)]="priceHighValue" formControlName="price" [options]="priceOptions"
                    (userChangeEnd)="fliterByPrice($event)"></ng5-slider>
                  <!-- *ngIf="priceValue && priceOptions && priceHighValue" -->
                </div>
              </form>
            </div>
            <div class="cmn_block price" *ngIf="partialPaymentValue > 0 && partialPaymentHighValue > 0">
              <div class="block_top_in">
                  <h5>Installment Amount</h5>
               </div>
              <form [formGroup]="partialPriceSlider" class="custom_range_form_slider">
                <div class="custom_range_slide">
                  <p>{{ currency?.symbol }}{{partialPaymentValue}} - {{ currency?.symbol }}{{partialPaymentHighValue}}
                  </p>
                  <ng5-slider *ngIf="partialPaymentValue  && partialPaymentHighValue" [(value)]="partialPaymentValue"
                    [(highValue)]="partialPaymentHighValue" formControlName="partial_price"
                    [options]="partialPaymentOptions" (userChangeEnd)="fliterByPartialPayment($event)"></ng5-slider>
                </div>
              </form>
            </div>

            <div class="cmn_block pad_no">
              <div class="accordion block_shortby inner_accodeions" id="accordion-starrates">
                <div class="accordion-group" [ngClass]="{'active': lowToHighToggleRating  === true}">
                  <div class="accordion-heading no_accordion" (click)="toggleLowToHighRating()"> <a
                      class="accordion-toggle">
                      Star Ratings
                    </a> </div>
                  <div id="collapseOutbound" class="accordion-body filter_acc ">
                    <div class="accordion-inner">
                      <!-- <div class="block_cmn stop">
                        <ul>
                          <li *ngFor="let item of ratingStar">
                            <label class="custom_checkbox">
                              <input type="checkbox" value="{{item.title}}"
                                (click)="filterByHotelRatings($event,item.title)">
                              <span class="checkmark"></span>{{item.title}} Star</label> <span><img
                                src="{{s3BucketUrl}}assets/images/icon/stars/{{item.title}}s.svg"
                                alt="5 Stars Icon"></span>
                          </li>
                        </ul>
                      </div> -->
                      <div class="star-rating {{rating_number}}">
                        <input class="star-5" (change)="filterByHotelRatings($event,5)" [checked]="rating_number==5"
                          type="checkbox" name="rating1" />
                        <label for="star-5" title="5 stars">
                          <img class="blank" src="{{s3BucketUrl}}assets/images/icon/star_blank.svg"
                            alt="blank Stars Icon">
                          <img class="filled" src="{{s3BucketUrl}}assets/images/icon/star_filled.svg"
                            alt="filled Stars Icon">
                        </label>
                        <input class="star-4" (change)="filterByHotelRatings($event,4)" [checked]="rating_number==4"
                          type="checkbox" name="rating1" />
                        <label for="star-4" title="4 stars">
                          <img class="blank" src="{{s3BucketUrl}}assets/images/icon/star_blank.svg"
                            alt="blank Stars Icon">
                          <img class="filled" src="{{s3BucketUrl}}assets/images/icon/star_filled.svg"
                            alt="filled Stars Icon">
                        </label>
                        <input class="star-3" (change)="filterByHotelRatings($event,3)" [checked]="rating_number==3"
                          type="checkbox" name="rating1" />
                        <label for="star-3" title="3 stars">
                          <img class="blank" src="{{s3BucketUrl}}assets/images/icon/star_blank.svg"
                            alt="blank Stars Icon">
                          <img class="filled" src="{{s3BucketUrl}}assets/images/icon/star_filled.svg"
                            alt="filled Stars Icon">
                        </label>
                        <input class="star-2" (change)="filterByHotelRatings($event,2)" [checked]="rating_number==2"
                          type="checkbox" name="rating1" />
                        <label for="star-2" title="2 stars">
                          <img class="blank" src="{{s3BucketUrl}}assets/images/icon/star_blank.svg"
                            alt="blank Stars Icon">
                          <img class="filled" src="{{s3BucketUrl}}assets/images/icon/star_filled.svg"
                            alt="filled Stars Icon">
                        </label>
                        <input class="star-1" (change)="filterByHotelRatings($event,1)" [checked]="rating_number==1"
                          type="checkbox" name="rating1" />
                        <label for="star-1" title="1 star">
                          <img class="blank" src="{{s3BucketUrl}}assets/images/icon/star_blank.svg"
                            alt="blank Stars Icon">
                          <img class="filled" src="{{s3BucketUrl}}assets/images/icon/star_filled.svg"
                            alt="filled Stars Icon">
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cmn_block pad_no">
              <div class="accordion block_shortby inner_accodeions" id="accordion-amenities">
                <div class="accordion-group" [ngClass]="{'active': lowToHighToggleAmenities  === true}">
                  <div class="accordion-heading no_accordion" (click)="toggleLowToHighAmenities()"> <a
                      class="accordion-toggle">
                      Amenities
                    </a> </div>
                  <div id="collapseInbound" class="accordion-body filter_acc">
                    <div class="accordion-inner">
                      <div class="block_cmn stop">
                        <ul>
                          <li *ngFor="let item of amenities">
                            <label class="custom_checkbox">
                              <input type="checkbox" value="{{item.title}}"
                                (click)="filterByHotelAmenities($event,item.title)">
                              <span class="checkmark"></span>{{item.title}}</label>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="cmn_block departure_to">
              <div class="block_top_in">
                <h5>Cancellation Policy</h5>
              </div>
              <ul>
                <li>
                  <label class="custom_checkbox">
                    <input type="checkbox" value="true" (click)="filterByPolicy($event)"> <span
                      class="checkmark"></span>
                    <p>Free Cancellation</p>
                  </label>
                </li>
                <li>
                  <label class="custom_checkbox">
                    <input type="checkbox" value="false" (click)="filterByPolicy($event)"> <span
                      class="checkmark"></span>
                    <p>Non Refundable</p>
                  </label>
                </li>
              </ul>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>