<div class="filter_main_wrapper desk_ver">
    <div class="accordion block_shortby" id="accordion3">
        <div class="accordion-group" [ngClass]="{'active': is_open === true}">
            <div class="accordion-heading" (click)="toggleFilter()">
                <a class="accordion-toggle">
          Filters
        </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse" [ngClass]="{'show': is_open === true}">
                <div class="accordion-inner">
                    <div class="fliter_block">
                        <div class="cmn_block">
                            <div class="block_top_in">
                                <h5 class="title_h5">Hotel Name
                                    <a class="anchor_link" (click)="resetFilter()"> {{'clear' | translate}}</a>
                                </h5>
                            </div>
                            <div class="searchbar_box">
                                <input (blur)="onBlurMethod($event)" type="text" class="searchHotelName" placeholder="Search" tabindex="3" (keyup)="searchHotelName($event)" value="{{searchHotel}}">

                                <div class="search_suggetion_main" *ngIf="isHotelSearch">
                                    <div class="close_btn">
                                        <button (click)="clearHotelSearch()" type="button" class="close">
                      <img src="{{s3BucketUrl}}assets/images/icon/close-icon.svg" alt="Close Icon">
                    </button>
                                    </div>
                                    <ng-scrollbar class="custom_scroll_suggetion" barClass="scrollbar" customview="true" #scrollable track="all" pointerEventsMethod="scrollbar">
                                        <div class="suggtions_wrps_mn">
                                            <div class="suggtions">
                                                <div class="sug_line_box">
                                                    <span class="linew_wrps">
                            <span class="line_names" (click)="clickHotelFilterName($event)"
                              *ngFor="let item of filterHotelNames">{{item.hotelName}}</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-scrollbar>
                                </div>
                            </div>
                        </div>
                        <div class="cmn_block price">
                            <div class="block_top_in">
                                <h5>Total Price</h5>
                            </div>
                            <form [formGroup]="priceSlider">
                                <div class="custom_range_slide">
                                    <p>{{ currency?.symbol }}{{priceValue | number : '1.2-2'}} - {{ currency?.symbol }}{{priceHighValue | number : '1.2-2'}}</p>
                                    <ng5-slider *ngIf="priceValue && priceOptions && priceHighValue" [(value)]="priceValue" [(highValue)]="priceHighValue" formControlName="price" [options]="priceOptions" (userChangeEnd)="fliterByPrice($event)"></ng5-slider>
                                </div>
                            </form>

                        </div>
                        <div class="cmn_block price" *ngIf="partialPaymentValue > 0 && partialPaymentHighValue > 0">
                            <div class="block_top_in">
                                <h5>Installment Amount</h5>
                            </div>

                            <form [formGroup]="partialPriceSlider">
                                <div class="custom_range_slide">
                                    <p>{{ currency?.symbol }}{{partialPaymentValue | number : '1.2-2'}} - {{ currency?.symbol }}{{partialPaymentHighValue | number : '1.2-2'}} Weekly
                                    </p>
                                    <ng5-slider *ngIf="partialPaymentValue && partialPaymentOptions && partialPaymentHighValue" [(value)]="partialPaymentValue" [(highValue)]="partialPaymentHighValue" formControlName="partial_price" [options]="partialPaymentOptions" (userChangeEnd)="fliterByPartialPayment($event)"></ng5-slider>
                                </div>
                            </form>
                        </div>
                        <div class="cmn_block price">
                            <div class="block_top_in">
                                <h5>Distance</h5>
                            </div>

                            <form [formGroup]="distanceSlider">
                                <div class="custom_range_slide">
                                    <p>{{distance}} Miles
                                    </p>
                                    <ng5-slider [(value)]="value" [options]="options" formControlName="distance" (userChangeEnd)="fliterByDistance($event)"></ng5-slider>
                                </div>
                            </form>
                        </div>

                        <div class="cmn_block pad_no">
                            <div class="accordion block_shortby inner_accodeions" id="accordion-starrates">
                                <div class="accordion-group" [ngClass]="{'active': lowToHighToggleRating  === true}">
                                    <div class="accordion-heading no_accordion" (click)="toggleLowToHighRating()"> <a class="accordion-toggle">
                      Star Ratings
                    </a> </div>
                                    <div id="collapseOutbound" class="accordion-body filter_acc ">
                                        <div class="accordion-inner">
                                            <div class="star-rating {{rating_number}}">
                                                <input (change)="filterByHotelRatings($event,5)" id="star-5" [checked]="rating_number==5" type="checkbox" name="rating" />
                                                <label for="star-5" title="5 stars">
                          <img class="blank" src="{{s3BucketUrl}}assets/images/icon/star_blank.svg"
                            alt="blank Stars Icon">
                          <img class="filled" src="{{s3BucketUrl}}assets/images/icon/star_filled.svg"
                            alt="filled Stars Icon">
                        </label>
                                                <input (change)="filterByHotelRatings($event,4)" id="star-4" [checked]="rating_number==4" type="checkbox" name="rating" />
                                                <label for="star-4" title="4 stars">
                          <img class="blank" src="{{s3BucketUrl}}assets/images/icon/star_blank.svg"
                            alt="blank Stars Icon">
                          <img class="filled" src="{{s3BucketUrl}}assets/images/icon/star_filled.svg"
                            alt="filled Stars Icon">
                        </label>
                                                <input (change)="filterByHotelRatings($event,3)" id="star-3" [checked]="rating_number==3" type="checkbox" name="rating" />
                                                <label for="star-3" title="3 stars">
                          <img class="blank" src="{{s3BucketUrl}}assets/images/icon/star_blank.svg"
                            alt="blank Stars Icon">
                          <img class="filled" src="{{s3BucketUrl}}assets/images/icon/star_filled.svg"
                            alt="filled Stars Icon">
                        </label>
                                                <input (change)="filterByHotelRatings($event,2)" id="star-2" [checked]="rating_number==2" type="checkbox" name="rating" />
                                                <label for="star-2" title="2 stars">
                          <img class="blank" src="{{s3BucketUrl}}assets/images/icon/star_blank.svg"
                            alt="blank Stars Icon">
                          <img class="filled" src="{{s3BucketUrl}}assets/images/icon/star_filled.svg"
                            alt="filled Stars Icon">
                        </label>
                                                <input (change)="filterByHotelRatings($event,1)" id="star-1" [checked]="rating_number==1" type="checkbox" name="rating" />
                                                <label for="star-1" title="1 star">
                          <img class="blank" src="{{s3BucketUrl}}assets/images/icon/star_blank.svg"
                            alt="blank Stars Icon">
                          <img class="filled" src="{{s3BucketUrl}}assets/images/icon/star_filled.svg"
                            alt="filled Stars Icon">
                        </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cmn_block pad_no">
                            <div class="accordion block_shortby inner_accodeions" id="accordion-amenities">
                                <div class="accordion-group" [ngClass]="{'active': lowToHighToggleAmenities  === true}">
                                    <div class="accordion-heading no_accordion" (click)="toggleLowToHighAmenities()"> <a class="accordion-toggle">
                      Amenities
                    </a> </div>
                                    <div id="collapseInbound" class="accordion-body filter_acc">
                                        <div class="accordion-inner">
                                            <div class="block_cmn stop">
                                                <ul>
                                                    <li *ngFor="let item of amenities">
                                                        <label class="custom_checkbox">
                              <input type="checkbox" value="{{item.title}}"
                                (click)="filterByHotelAmenities($event,item.title)">
                              <span class="checkmark"></span>{{item.title}}</label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="filter_main_wrapper responsive_mobile">
    <div class="accordion block_shortby" id="accordion3">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle">
          Filters
        </a>

                <button type="button" class="close" (click)="closeModal()">
            <img src="{{s3BucketUrl}}assets/images/icon/arrow_up_dropdown.svg" alt="Close Icon">
          </button>
            </div>
            <div id="collapseThree" class="accordion-body collapse show">
                <div class="accordion-inner">
                    <div class="fliter_block">
                        <div class="cmn_block">
                            <div class="block_top_in">
                                <h5 class="title_h5">Hotel Name
                                    <a class="anchor_link" (click)="resetFilter()"> {{'clear' | translate}}</a>
                                </h5>
                            </div>
                            <div class="searchbar_box">
                                <input type="text" placeholder="Search" tabindex="3" class="searchHotelName" (keyup)="searchHotelName($event)" value="{{searchHotel}}">

                                <div class="search_suggetion_main" *ngIf="isHotelSearch">
                                    <div class="close_btn">
                                        <button type="button" class="close" (click)="clearHotelSearch()">
                      <img src="{{s3BucketUrl}}assets/images/icon/close-icon.svg" alt="Close Icon">
                    </button>
                                    </div>
                                    <ng-scrollbar class="custom_scroll_suggetion" barClass="scrollbar" customview="true" #scrollable track="all" pointerEventsMethod="scrollbar">
                                        <div class="suggtions_wrps_mn">
                                            <div class="suggtions">
                                                <div class="sug_line_box">
                                                    <span class="linew_wrps">
                            <span class="line_names" (click)="clickHotelFilterName($event)"
                              *ngFor="let item of filterHotelNames">{{item.hotelName}}</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-scrollbar>
                                </div>
                            </div>
                        </div>
                        <div class="cmn_block price">
                            <div class="block_top_in">
                                <h5>Total Price</h5>
                            </div>
                            <form [formGroup]="priceSlider">
                                <div class="custom_range_slide">
                                    <p>{{ currency?.symbol }}{{priceValue | number : '1.2-2'}} - {{ currency?.symbol }}{{priceHighValue | number : '1.2-2'}}</p>
                                    <ng5-slider *ngIf="priceValue && priceOptions && priceHighValue" [(value)]="priceValue" [(highValue)]="priceHighValue" formControlName="price" [options]="priceOptions" (userChangeEnd)="fliterByPrice($event)"></ng5-slider>
                                </div>
                            </form>
                        </div>
                        <div class="cmn_block price" *ngIf="partialPaymentValue > 0 && partialPaymentHighValue > 0">
                            <div class="block_top_in">
                                <h5>Installment Amount</h5>
                            </div>
                            <form [formGroup]="partialPriceSlider" class="custom_range_form_slider">
                                <div class="custom_range_slide">
                                    <p>{{ currency?.symbol }}{{partialPaymentValue | number : '1.2-2'}} - {{ currency?.symbol }}{{partialPaymentHighValue | number : '1.2-2'}} Weekly
                                    </p>
                                    <ng5-slider *ngIf="partialPaymentValue  && partialPaymentHighValue" [(value)]="partialPaymentValue" [(highValue)]="partialPaymentHighValue" formControlName="partial_price" [options]="partialPaymentOptions" (userChangeEnd)="fliterByPartialPayment($event)"></ng5-slider>
                                </div>
                            </form>
                        </div>
                        <div class="cmn_block price">
                            <div class="block_top_in">
                                <h5>Distance</h5>
                            </div>

                            <form [formGroup]="distanceSlider">
                                <div class="custom_range_slide">
                                    <p>{{distance}} Miles
                                    </p>
                                    <ng5-slider [(value)]="value" [options]="options" formControlName="distance" (userChangeEnd)="fliterByDistance($event)"></ng5-slider>
                                </div>
                            </form>
                        </div>

                        <div class="cmn_block pad_no">
                            <div class="accordion block_shortby inner_accodeions" id="accordion-starrates">
                                <div class="accordion-group" [ngClass]="{'active': lowToHighToggleRating  === true}">
                                    <div class="accordion-heading no_accordion" (click)="toggleLowToHighRating()"> <a class="accordion-toggle">
                      Star Ratings
                    </a> </div>
                                    <div id="collapseOutbound" class="accordion-body filter_acc ">
                                        <div class="accordion-inner">
                                            <div class="star-rating {{rating_number}}">
                                                <a (click)="starRating(5)" class="star_box" [ngClass]="{'active':rating_number==5}">
                                                    <img class="blank" src="{{s3BucketUrl}}assets/images/icon/star_blank.svg" alt="blank Stars Icon">
                                                    <img class="filled" src="{{s3BucketUrl}}assets/images/icon/star_filled.svg" alt="filled Stars Icon">
                                                </a>

                                                <a (click)="starRating(4)" class="star_box" [ngClass]="{'active':rating_number >=4}">
                                                    <img class="blank" src="{{s3BucketUrl}}assets/images/icon/star_blank.svg" alt="blank Stars Icon">
                                                    <img class="filled" src="{{s3BucketUrl}}assets/images/icon/star_filled.svg" alt="filled Stars Icon">
                                                </a>
                                                <a (click)="starRating(3)" class="star_box" [ngClass]="{'active':rating_number>=3}">
                                                    <img class="blank" src="{{s3BucketUrl}}assets/images/icon/star_blank.svg" alt="blank Stars Icon">
                                                    <img class="filled" src="{{s3BucketUrl}}assets/images/icon/star_filled.svg" alt="filled Stars Icon">
                                                </a>
                                                <a (click)="starRating(2)" class="star_box" [ngClass]="{'active':rating_number>=2}">
                                                    <img class="blank" src="{{s3BucketUrl}}assets/images/icon/star_blank.svg" alt="blank Stars Icon">
                                                    <img class="filled" src="{{s3BucketUrl}}assets/images/icon/star_filled.svg" alt="filled Stars Icon">
                                                </a>
                                                <a (click)="starRating(1)" class="star_box" [ngClass]="{'active':rating_number>=1}">
                                                    <img class="blank" src="{{s3BucketUrl}}assets/images/icon/star_blank.svg" alt="blank Stars Icon">
                                                    <img class="filled" src="{{s3BucketUrl}}assets/images/icon/star_filled.svg" alt="filled Stars Icon">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cmn_block pad_no">
                            <div class="accordion block_shortby inner_accodeions" id="accordion-amenities">
                                <div class="accordion-group" [ngClass]="{'active': lowToHighToggleAmenities  === true}">
                                    <div class="accordion-heading no_accordion" (click)="toggleLowToHighAmenities()"> <a class="accordion-toggle">
                      Amenities
                    </a> </div>
                                    <div id="collapseInbound" class="accordion-body filter_acc">
                                        <div class="accordion-inner">
                                            <div class="block_cmn stop">
                                                <ul>
                                                    <li *ngFor="let item of amenities">
                                                        <label class="custom_checkbox">
                              <input type="checkbox" value="{{item.title}}"
                                (click)="filterByHotelAmenities($event,item.title)">
                              <span class="checkmark"></span>{{item.title}}</label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>