@import "../../../cstm-variable";
@import "../../../_cstm-variable.scss";
@import "../../../_cstm-components.scss";
@import "../../../_hotel.scss";
@import "../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.timer_main_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 25px 0px;
    @include tab-view {
        padding: 20px 0px 10px;
    }
    .upper_big_fonts {
        color: $text-black;
        font-size: 36px;
        margin-bottom: 6px;
        font-weight: 400;
        span {
            color: $blue-text;
        }
        @include tab-view {
            font-size: 14px;
            font-weight: 500;
        }
    }
    .lo_sm_fn {
        color: $pink;
        font-size: 20px;
        @include tab-view {
            font-size: 12px;
        }
    }
}
