.cmn_add_edit_modal {
	.modal-dialog {
		.modal-content {
			.modal-body {
				.add_card_form {
					.form_row {
						.form_field.half {
							.text_field {
								.phone_no {
									.code {
                                        .dropdown{
                                            width: 150px;
                                        }
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.img_country_code{
	border-radius: 3px;
}
::ng-deep .calender-passport-expiry{
    min-width: 100% !important;  
}

.cmn_add_edit_modal .modal-dialog .modal-content .modal-body .add_card_form .form_row .form_field .text_field.custom-select{
	border-bottom: 1px solid #E0E2E5;		
}