<!-- <div class="modal-header">
    <div class="block_title">
        <h5>{{ travellerId ? ('edit_co_traveler' | translate) : ('add_co_traveler' | translate)}}</h5>
    </div>
    <button type="button" class="close" (click)="close()">
        <img src="{{s3BucketUrl}}assets/images/icon/close-icon.svg" alt="Close Icon">
    </button>
</div>
<form [formGroup]="coAccountForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
        <div class="add_card_form">
            <div class="form_row">
                <div class="form_field">
                    <label>{{'gender' | translate}}<sup>*</sup></label>
                    <ul class="custom_listing">
                        <li>
                            <label class="custom_radio">{{'male' | translate}}
                                <input type="radio" checked="checked" formControlName="gender" value="M" tabindex="0">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li>
                            <label class="custom_radio">{{'female' | translate}}
                                <input type="radio" formControlName="gender" value="F" tabindex="-1">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form_row">
                <div class="form_field half">
                    <label>{{'first_name' | translate}}<sup>*</sup></label>
                    <div class="text_field">
                        <input type="text" formControlName="firstName" maxlength="20" tabindex="1"
                            placeholder="{{'first_name_placeholder' | translate}}">
                        <div *ngIf="(submitted  || coAccountForm.controls.firstName.touched) && coAccountForm.controls.firstName.errors"
                            class="focus-input100 login-error">
                            <div *ngIf="coAccountForm.controls.firstName.errors.required" class="error_text">
                                {{'first_name_touched_validation' | translate}}
                            </div>
                        
                            <div *ngIf="coAccountForm.controls.firstName.errors.pattern" class="error_text">
                                {{'first_name_string_validation' | translate}}</div>
                        </div>
                    </div>
                </div>
                <div class="form_field half">
                    <label>{{'last_name' | translate}}<sup>*</sup></label>
                    <div class="text_field">
                        <input type="text" formControlName="lastName" maxlength="20" tabindex="2"
                            placeholder="{{'last_name_placeholder' | translate}}">
                        <div *ngIf="(submitted  || coAccountForm.controls.lastName.touched) && coAccountForm.controls.lastName.errors"
                            class="focus-input100 login-error">
                            <div *ngIf="coAccountForm.controls.lastName.errors.required" class="error_text">
                                {{'last_name_touched_validation' | translate}}
                            </div>
                            <div *ngIf="coAccountForm.controls.lastName.errors.pattern" class="error_text">
                                {{'last_name_string_validation' | translate}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form_row">
                <div class="form_field half">
                    <label>{{'dob' | translate}}<sup>*</sup></label>
                    <div class="text_field">
                        <p-calendar class="account_datepicker" dateFormat="M d, yy" tabindex="3" inputStyleClass="custom_datpicker birth_date"
                            inputId="basic" formControlName="dob" placeholder="{{'dob_placeholder' | translate}}"
                            [maxDate]="dobMaxDate" [yearNavigator]="true" [monthNavigator]="true" yearRange="1970:2020"
                            [defaultDate]="dobMaxDate" panelStyleClass="calender-price-view" (onSelect)=changeDateOfBirth($event)>
                        </p-calendar>

                    </div>
                    <div *ngIf="(submitted && coAccountForm.controls.dob.errors)" class="focus-input100 login-error">
                        <div *ngIf="coAccountForm.controls.dob.errors.required" class="error_text">
                            {{'dob_touched_validation' | translate}}
                        </div>
                    </div>
                </div>
                <div class="form_field half">
                    <label>{{'nationality' | translate}}<sup>*</sup></label>
                    <div class="text_field custom-select">
                        <ng-select class="ng-customClass" [items]="countries" bindLabel="name" tabindex="4"
                            [selectOnTab]="true" formControlName="country_id" selectOnTab="true"
                            placeholder="{{'select_nationality_placeholder' | translate}}">
                            <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                <span class="ng-value-label"><img class="img_country_code"
                                        [src]="item.flag ? item.flag : s3BucketUrl+'assets/images/icon/flag/flag-svg.jpg'"
                                        width="20px" height="20px"> {{ item.name ? item.name : 'Select nationality' }}
                                </span>
                                <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item">
                                <img class="img_country_code" [src]="item.flag" width="20px" height="20px">
                                {{item.name}}
                            </ng-template>
                        </ng-select>
                    </div>
                    <div *ngIf="(submitted  || coAccountForm.controls.country_id.touched) && coAccountForm.controls.country_id.errors"
                        class="focus-input100 login-error">
                        <div *ngIf="coAccountForm.controls.country_id.errors.required" class="error_text">
                            {{'select_nationality_touched_validation' | translate}}</div>
                    </div>
                </div>
            </div>
            <div class="form_row" *ngIf="isAdult || !isChild && !isInfant">
                <div class="form_field half">
                    <label>{{'email' | translate}}<sup>*</sup></label>
                    <div class="text_field">
                        <input type="email" [readonly]="travelerInfo.email" formControlName="email" maxlength="40"
                            tabindex="5" placeholder="{{'email_placeholder' | translate}}">
                    </div>
                    <div *ngIf="(submitted  || coAccountForm.controls.email.touched) && coAccountForm.controls.email.errors"
                        class="focus-input100 login-error">
                        <div *ngIf="coAccountForm.controls.email.errors.required" class="error_text">
                            {{'email_touched_validation' | translate}}
                        </div>
                        <div *ngIf="coAccountForm.controls.email.errors.pattern" class="error_text">
                            {{'email_invalid_validation' | translate}}</div>
                    </div>
                </div>
                <div class="form_field half">
                    <label>{{'phone_no' | translate}}<sup>*</sup></label>
                    <div class="text_field">
                        <div class="phone_no">
                            <div class="code">
                                <div class="dropdown">
                                    <ng-select class="ng-customClass country_code" tabindex="6" selectOnTab="true"
                                        [items]="countries_code" bindLabel="country_name" clearSearchOnAdd="true"
                                        formControlName="country_code"
                                        placeholder="{{'country_code_placeholder' | translate}}">
                                        <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                            <span class="ng-value-label"><img class="img_country_code"
                                                    [src]="item.flag ? item.flag : s3BucketUrl+'assets/images/icon/flag/flag-svg.jpg'"
                                                    width="20px" height="20px"> {{ item.country_name ? item.country_name
                                                : 'Select country code' }} </span>
                                            <span class="ng-value-icon right" (click)="clear(item)"
                                                aria-hidden="true">×</span>
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item">
                                            <img class="img_country_code" [src]="item.flag" width="20px" height="20px">
                                            {{item.country_name}}
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="number">
                                <input type="text" formControlName="phone_no" maxlength="10" minlength="10"
                                    (keypress)="commonFunction.validateNumber($event)" tabindex="7"
                                    placeholder="0000 0000 00">
                            </div>
                        </div>
                    </div>
                    <div *ngIf="(submitted || coAccountForm.controls.country_code.touched || coAccountForm.controls.phone_no.touched) 
                                             && coAccountForm.hasError('phoneAndPhoneCodeError')">
                        <p class="error_text">{{'phone_touched_validation' | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="form_row" *ngIf="isAdult || !isInfant || isChild">
                <div class="form_field half">
                    <label>{{'passport_number' | translate}}</label>
                    <div class="text_field">
                        <input type="text" formControlName="passport_number" maxlength="30" tabindex="8"
                            placeholder="{{'passport_number_placeholder' | translate}}">
                    </div>
                </div>
                <div class="form_field half">
                    <label>{{'passport_expiry_date' | translate}}</label>
                    <div class="text_field">
                        <p-calendar class="account_datepicker" dateFormat="M d, yy" tabindex="9" inputStyleClass="custom_datpicker birth_date"
                            inputId="basic" formControlName="passport_expiry" [minDate]="expiryMinDate"
                            [yearNavigator]="true" [monthNavigator]="true" yearRange="2020:2030"
                            [defaultDate]="dobMaxDate" panelStyleClass="calender-price-view calender-passport-expiry"
                            placeholder="{{'passport_expiry_date_placeholder' | translate}}">
                        </p-calendar>
                    </div>
                </div>

            </div>


        </div>

    </div>
    <div class="modal-footer">
        <div class="form_btn">
            <button> <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                {{ travellerId ? ('update_traveler' | translate) : ('add_traveler' | translate) }} </button>
        </div>
    </div>
</form>
 -->
<form [formGroup]="travellerForm">
    <div class="common_form">
        <div class="form-row">
            <div class="col-sm-12 col-md-4 mb-sm-10 ">
                <label for="">First Name*</label>
                <input tabindex="21" type="text" class="form-control" placeholder="First Name" formControlName="firstName">
                <div *ngIf="(submitted || travellerForm.controls.firstName.touched) && travellerForm.controls.firstName.errors"
                    class="error">
                    <small *ngIf="travellerForm.controls.firstName.errors.required" class="error_field">Please
                        enter your
                        first name.</small>
                    <small *ngIf="travellerForm.controls.firstName.errors.pattern" class="error_field">
                            {{'first_name_string_validation' | translate}}</small>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-sm-10">
                <label for="">Last Name*</label>
                <input tabindex="22" type="text" class="form-control" placeholder="Last Name" formControlName="lastName">
                <div *ngIf="(submitted || travellerForm.controls.lastName.touched) && travellerForm.controls.lastName.errors"
                    class="error">
                    <small *ngIf="travellerForm.controls.lastName.errors.required" class="error_field">Please
                        enter your
                        last name.</small>
                    <small *ngIf="travellerForm.controls.lastName.errors.pattern" class="error_field">
                            {{'last_name_string_validation' | translate}}</small>    
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-sm-10">
                <label for="">Gender*</label>
                <div class="gender_anchers">
                    <select  tabindex="23" formControlName="gender">
                        <option value="">Select Gender</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                        <option value="O">Other</option>
                    </select>
                </div>
                <div *ngIf="(submitted || travellerForm.controls.gender.touched) && travellerForm.controls.gender.errors" class="error">
                    <small *ngIf="travellerForm.controls.gender.errors.required" class="error_field">Please enter
                        your gender.</small>                       
                </div>
            </div>
            <div class="col-sm-12 dobs col-md-4 mb-sm-10">
                <label for="">Date of birth*</label>
                <p-calendar tabindex="24" dateFormat="M d, yy" class="form-control" panelStyleClass="birth_date" inputId="basic"
                    formControlName="dob"   [readonlyInput]="true" [yearNavigator]="true" [monthNavigator]="true"
                    yearRange="{{dobYearRange}}" (onSelect)=selectDob($event) 
                    placeholder="Date of birth">
                </p-calendar>
                <div *ngIf="(submitted || travellerForm.controls.dob.touched) && travellerForm.controls.dob.errors" class="error">
                    <small *ngIf="travellerForm.controls.dob.errors.required" class="error_field">Please
                        select
                        your date of birth.</small>
                </div>
            </div>
            
            <div class="col-sm-12 col-md-4 mb-sm-10 telephone_wrps" *ngIf="isAdult">
                <label for="">Phone*</label>
                
                <span class="tel_span">
                    <input type="text"  class="form-control" tabindex="25"  placeholder="+00" maxlength="4"
                      formControlName="country_code">
                      <input type="text" (keypress)="commonFunction.validateNumber($event)" tabindex="26" class="form-control" placeholder="000000000" maxlength="10"
                      formControlName="phone_no">
                </span>
            
                <div class="error" *ngIf="(submitted || travellerForm.controls.country_code.touched || travellerForm.controls.phone_no.touched) && travellerForm.controls.phone_no.errors">
                        <small *ngIf="travellerForm.hasError('phoneAndPhoneCodeError')" class="error_field">Please enter phone number</small>
                        <small *ngIf="!travellerForm.hasError('phoneAndPhoneCodeError') && travellerForm.controls.phone_no.errors && travellerForm.controls.phone_no.errors.minlength"  class="error_field">Phone number should be minimum 10</small>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-sm-10" *ngIf="isAdult">
                <label for="">Email*</label>
                <input tabindex="26" [readonly]="traveller.email && traveller.email != 'undefined' && traveller.email != ''"
                 type="email" class="form-control" placeholder="Email" formControlName="email">
                <div *ngIf="(submitted || travellerForm.controls.email.touched) && travellerForm.controls.email.errors" class="error">
                    <small *ngIf="travellerForm.controls.email.errors.required" class="error_field">Please enter
                        your email
                        address.</small>
                    <small *ngIf="travellerForm.controls.email.errors.pattern" class="error_field">
                            {{'email_invalid_validation' | translate}}</small>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 nation_wrps">
                <label for="">Nationality*</label>
                <ng-select  tabindex="27" class="ng-customClass" [items]="countries"
                    bindLabel="name"  [selectOnTab]="true"
                    formControlName="country_id" selectOnTab="true"
                    placeholder="{{'country_placeholder' | translate}}"
                    >
                    <ng-template ng-label-tmp let-item="item" let-clear="clear">
                        <span class="ng-value-label"><img class="img_country_code"
                                [src]="item.flag ? item.flag : s3BucketUrl+'assets/images/icon/flag/flag-svg.jpg'"
                                width="20px" height="20px">
                            {{ item.name ? item.name : 'Select country' }} </span>
                        <span class="ng-value-icon right" (click)="clear(item)"
                            aria-hidden="true">×</span>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item">
                        <img class="img_country_code" [src]="item.flag" width="20px"
                            height="20px">
                        {{item.name}}
                    </ng-template>
                </ng-select>
                <div *ngIf="(submitted || travellerForm.controls.country_id.touched) && travellerForm.controls.country_id.errors" class="error">
                    <small *ngIf="travellerForm.controls.country_id.errors.required" class="error_field">Please
                        select
                        your country.</small>
                </div>
                
            </div>
            <div class="col-sm-12 col-md-4 mb-sm-10" *ngIf="isAdult">
                <label for="">Passport number</label>
                <input tabindex="28" type="text" class="form-control" placeholder="Passport number" formControlName="passport_number">
            </div>
            <div class="col-sm-12 dobs col-md-4 mb-sm-10"  *ngIf="isAdult">
                <label for="">Passport Expiry date</label>
                <p-calendar tabindex="29" dateFormat="M d, yy" class="form-control" panelStyleClass="birth_date" inputId="basic"
                    formControlName="passport_expiry" [readonlyInput]="true" [yearNavigator]="true" [monthNavigator]="true"
                    yearRange="2021:2030"
                    placeholder="Passport Expiry date">
                </p-calendar>
            </div>
            
        </div>
        <span class="edit_btns">
            <button (click)="onSubmit()" class="hover-link">{{ travellerId ? 'Update' : 'Save'}} </button>
        </span>
    </div>
</form>