<div class="pay_summery_wrapper" *ngIf="typeOf(priceSummary)!=='undefined'">
    <h3>Payment Summary</h3>
    <div class="pay_sum_inner">
      
      <div class="pay_list_wrper">
        <div class="pay_listing" *ngFor="let item of cartPrices">
          <span>{{item.location}}</span>
          <span>${{item.selling_price | number : '1.2-2'}}</span>
        </div>
        
        <div class="pay_listing total_amm_blue">
          <span>Total Purchase</span>
          <span *ngIf="typeOf(priceSummary.instalments)!='undefined'">${{priceSummary.totalAmount | number : '1.2-2'}}</span>
        </div>
        <small class="grayed_text">Taxes and Fees Included</small>
      </div>
      <!-- Start -->
      <div class="pay_list_wrper">
        <div class="pay_listing" *ngIf="priceSummary?.paymentType=='instalment'">
          <span>Booking Downpayment</span>
          <span>${{priceSummary.instalments?.instalment_date[0]?.instalment_amount | number : '1.2-2'}}</span>
        </div>
        <div class="pay_listing">
          <span>Applied Laytrip Points</span>
          <span>-${{priceSummary.layCreditPoints | number : '1.2-2' }} </span>
        </div>
        <div class="pay_listing total_amm_blue">
          <span>Total Due Now</span>
          <span>${{priceSummary.remainingAmount | number : '1.2-2'}}</span>
        </div>
      </div>
      <!-- End -->
      <div class="price_accordion" id="price_collapse" *ngIf="priceSummary?.paymentType=='instalment'">
        <div class="card">
          <div class="card-header" id="headingOne">
            <button class="card_header_btn" type="button" data-toggle="collapse" data-target="#instalment_acc"
              aria-expanded="true" aria-controls="instalment_acc">
              {{priceSummary.instalments?.instalment_date?.length-1}} {{installmentType[priceSummary.instalmentType]}} Installments of ${{priceSummary.instalments?.instalment_date[1]?.instalment_amount |
                number : '1.2-2'}}
            </button>
          </div>
          <div id="instalment_acc" class="collapse show" aria-labelledby="headingOne" data-parent="#price_collapse">
            <div class="card-body">
              <div class="pay_sap_setions" *ngIf="typeOf(priceSummary.instalments)!='undefined'">

                <div class="section_description total_price_popup" *ngIf="origin=='/cart/booking' && installmentVartion>0">
                  <span class="sec_text">If your plan has an odd Total Price, your final payment will show a slightly higher amount.</span>
                  <a (click)="closeInstallmentVartion(-1)"><img src="{{s3BucketUrl}}assets/images/close_pink.svg" alt="Close"></a>
                </div>

                <div class="due_details" *ngFor="let instalment of priceSummary.instalments.instalment_date | slice:1; let i = index;">
                  <span>#{{i+1}} Due {{commonFunction.convertDateFormat(instalment.instalment_date,'YYYY-MM-DD') }}</span>
                  <span>${{instalment.instalment_amount |
                    number : '1.2-2'}}</span>
                </div>
                <div class="total_amm_blue">
                  <span>Total Installments</span>
                  <span>${{insatllmentAmount | number : '1.2-2' }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>