<div class="search_area">
  <label>{{ label }}</label>
  <div class="travel_info" id="add_child">
    <span>{{ totalPerson }}</span> Traveller
    <div class="drop_aerrow"></div>
  </div>
  <span>{{roomsGroup.length}} Rooms</span>
  <!-- {{ totalRoom }} Rooms -->
  <div class="traveller_add_block" id="add_child_open" style="display: none;">
    <!-- room 1 div -->
    <ng-container *ngFor="let room of roomsGroup;let id=index;">
      <div class="rooms_aloc" [attr.id]="id">
        <div class="room_label_main">
          <span>
            Room {{id+1}}
          </span>
          <span>
            <a (click)="addRoom(id)" *ngIf="roomsGroup.length === 1 || roomsGroup.length < 8 && id+1 === 1">Add a
              room</a>
            <a (click)="removeRoom(id)" *ngIf="id+1 > 1" [ngClass]="{'remove_room':id+1 > 1}">Remove a room</a>
          </span>
        </div>
        <ul>
          <li>
            <div class="left"> <span>Adult</span> (18+ years)
            </div>
            <div class="right">
              <input type='button' value='-' class='qtyminus un_active' field='quantity'
                [disabled]="room.adults === 1 && room.adults > 0" id="{{id}}"
                [ngClass]="{ 'un_active' : room.adults === 1 && room.adults > 0 }"
                (click)="addRemovePerson({id: id, type: 'minus',label: 'adult', value: room.adults})" />
              <input type='text' name='quantity' value='{{ room.adults }}' class='qty' readonly />
              <input type='button' value='+' class='qtyplus' field='quantity' id="{{id}}"
                [ngClass]="{'un_active' : room.adults === 4 && room.adults > 0}" [disabled]="room.adults === 4"
                (click)="addRemovePerson({id: id, type: 'plus',label: 'adult', value: room.adults})" />
            </div>
          </li>
          <li>
            <div class="left"> <span>Child</span> (0-17 years)
            </div>
            <div class="right">
              <input type='button' value='-' class='qtyminus' field='quantity' id="{{id}}"
                [ngClass]="{ 'un_active' : room.child.length === 0}" [disabled]="room.child.length === 0"
                (click)="addRemovePerson({id: id, type: 'minus',label: 'child', value: room.child.length})" />
              <input type='text' name='quantity' value='{{ room.child.length === 0 ? 0 : room.child.length }}'
                class='qty' readonly />
              <input type='button' value='+' class='qtyplus' field='quantity'
                [ngClass]="{ 'un_active' : room.child.length > 0 && room.child.length === 4}"
                [disabled]="room.child.length === 4" id="{{id}}"
                (click)="addRemovePerson({id: id, type: 'plus',label: 'child', value: room.child.length})" />
            </div>
          </li>
        </ul>
        <ng-container>
          <div class="child_sel_wrapper">
            <div class="child_boxes open" *ngFor="let childage of room.child;let idx=index;">
              <span class="label_name">Child {{idx+1}} age</span>
              <select name="" id="{{id}}" #child (change)="changeChildAge(child.value, id)">
                <option value="">Select Age</option>
                <option *ngFor='let in of counter(17) ;let i = index' value="{{i+1}}">{{i+1}}</option>
              </select>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <!-- room 1 div -->
    <!-- room 2 div -->
    <!-- <div class="rooms_aloc marign_rooms">
      <div class="room_label_main">
        <span>
          Room 2
        </span>
        <span>
          <a href="" class="remove_room">Remove a room</a>
        </span>
      </div>
      <ul>
        <li>
          <div class="left"> <span>Adult</span> (12+ years)
          </div>
          <div class="right">
            <input type='button' value='-' class='qtyminus un_active' field='quantity'
              [disabled]="adults === 1 && adults > 0"
              [ngClass]="{ 'un_active' : adults === 1 && adults > 0 }"
              (click)="room1btnClickForChange({type: 'minus',label: 'adult', value: adults})" />
            <input type='text' name='quantity' value='{{ adults }}' class='qty' />
            <input type='button' value='+' class='qtyplus' field='quantity'
              (click)="room2btnClickForChange({type: 'plus',label: 'adult', value: adults})" /> </div>
        </li>
        <li>
          <div class="left"> <span>Child</span> (1+12 years)
          </div>
          <div class="right">
            <input type='button' value='-' class='qtyminus' field='quantity'
              [ngClass]="{ 'disable_btn' : childValue === 0 }" [disabled]="childValue === 0"
              (click)="room1btnClickForChange({type: 'minus',label: 'child', value: childValue})" />
            <input type='text' name='quantity' value='{{ childValue }}' class='qty' />
            <input type='button' value='+' class='qtyplus' field='quantity'
              (click)="room2btnClickForChange({type: 'plus',label: 'child', value: childValue})" /> </div>
        </li>

      </ul>
      <div class="child_sel_wrapper">
        <div class="child_boxes open">
          <span class="label_name">Child 1 age</span>
          <select name="" id="child1">
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
          </select>
        </div>
        <div class="child_boxes open">
          <span class="label_name">Child 2 age</span>
          <select name="" id="child2">
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
          </select>
        </div>
        <div class="child_boxes open">
          <span class="label_name">Child 3 age</span>
          <select name="" id="child3">
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
          </select>
        </div>
        <div class="child_boxes">
          <span class="label_name">Child 4 age</span>
          <select name="" id="child4">
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
          </select>
        </div>
      </div>
    </div> -->
  </div>
</div>