<div class="search_area">
  <label>{{ label }}</label>
  <div class="travel_info" id="add_child">
    <span>{{ totalPerson }}</span> Traveller
    <div class="drop_aerrow"></div>
  </div>
  <span>{{ class }}</span>
  <div class="traveller_add_block" id="add_child_open" style="display: none;">
    <!-- room 1 div -->
    <div class="rooms_aloc">
      <div class="room_label_main">
        <span>
          Room 1
        </span>
        <span>
          <a href="">Add a room</a>
        </span>
      </div>
      <ul>
        <li>
          <div class="left"> <span>Adult</span> (12+ years)
          </div>
          <div class="right">
            <input type='button' value='-' class='qtyminus un_active' data-field='quantity' />
            <input type='text' name='quantity' value='0' class='qty' />
            <input type='button' value='+' class='qtyplus' data-field='quantity' /> </div>
        </li>
        <li>
          <div class="left"> <span>Child</span> (2+12 years)
          </div>
          <div class="right">
            <input type='button' value='-' class='qtyminus' data-field='quantity' />
            <input type='text' name='quantity' value='0' class='qty' />
            <input type='button' value='+' class='qtyplus' data-field='quantity' /> </div>
        </li>
      </ul>
      <div class="child_sel_wrapper">
        <div class="child_boxes">
          <span class="label_name">Child 1 age</span>
          <select name="" id="child1">
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
          </select>
        </div>
        <div class="child_boxes">
          <span class="label_name">Child 2 age</span>
          <select name="" id="child2">
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
          </select>
        </div>
        <div class="child_boxes">
          <span class="label_name">Child 3 age</span>
          <select name="" id="child3">
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
          </select>
        </div>
        <div class="child_boxes">
          <span class="label_name">Child 4 age</span>
          <select name="" id="child4">
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
          </select>
        </div>
      </div>
    </div>
    <!-- room 1 div -->
    <!-- room 2 div -->
    <div class="rooms_aloc marign_rooms">
      <div class="room_label_main">
        <span>
          Room 2
        </span>
        <span>
          <a href="" class="remove_room">Remove a room</a>
        </span>
      </div>
      <ul>
        <li>
          <div class="left"> <span>Adult</span> (12+ years)
          </div>
          <div class="right">
            <input type='button' value='-' class='qtyminus un_active' data-field='quantity' />
            <input type='text' name='quantity' value='0' class='qty' />
            <input type='button' value='+' class='qtyplus' data-field='quantity' /> </div>
        </li>
        <li>
          <div class="left"> <span>Child</span> (2+12 years)
          </div>
          <div class="right">
            <input type='button' value='-' class='qtyminus' data-field='quantity' />
            <input type='text' name='quantity' value='0' class='qty' />
            <input type='button' value='+' class='qtyplus' data-field='quantity' /> </div>
        </li>

      </ul>
      <div class="child_sel_wrapper">
        <div class="child_boxes open">
          <span class="label_name">Child 1 age</span>
          <select name="" id="child1">
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
          </select>
        </div>
        <div class="child_boxes open">
          <span class="label_name">Child 2 age</span>
          <select name="" id="child2">
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
          </select>
        </div>
        <div class="child_boxes open">
          <span class="label_name">Child 3 age</span>
          <select name="" id="child3">
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
          </select>
        </div>
        <div class="child_boxes">
          <span class="label_name">Child 4 age</span>
          <select name="" id="child4">
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
            <option value="">12</option>
          </select>
        </div>
      </div>
      <!-- <div class="room_bottom_label">
        <span>
          <a href="">Add anothet room</a>
        </span>
      </div> -->
    </div>
    <!-- room 2 div -->
  </div>
</div>