<section class="detail_info_main payment_info book_confirm_login book_confirm_guest flight">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <app-flight-confirmation [bookingData]="bookingResult"></app-flight-confirmation>

            </div>
            <!-- <div class="col-lg-4">
                <app-flight-summary-loader *ngIf="!priceData.length"></app-flight-summary-loader>

                <app-flight-summary *ngIf="priceData.length" [priceData]="priceData" [laycreditpoints]="laycreditpoints" (flightAvailable)="flightAvailable($event)" [showPartialPayemntOption]="showPartialPayemntOption" (getRouteDetails)="getFlightSummaryData($event)"
                    partialPaymentAmount={{partialPaymentAmount}} payNowAmount={{payNowAmount}} [instalmentMode]="instalmentMode">
                </app-flight-summary>
            </div> -->
        </div>
    </div>
    <div class="row">
			<div class="col-md-12">
				<div id="device-fingerprint" class="hidden">

				</div>

				<div id="challenge-modal" class="hidden">
					<div id="challenge">
					</div>
				</div>
			</div>
		</div>
</section>
