<app-laytrip-loader [loading]="loading"></app-laytrip-loader>
<app-checkout-progress [progressStep]="progressStep"></app-checkout-progress>
<section class="payment_mode_main_wrapper flight">
    <div class="container" *ngIf="!isCartEmpty">
        <form>
            <div class="row">
                <div class="col-lg-7">
                    <h3>Your Bookings</h3>
                    <div class="booking_detail_bg_wrps">
                        <app-cart *ngIf="carts && carts.length" [carts]="carts"></app-cart>
                        <app-cart-loader *ngIf="cartLoading"></app-cart-loader>
                    </div>
                    <h3>Credit Card Details</h3>
                    <div class="booking_detail_bg_wrps">
                        <div id="accordion-card" class="card_accordion">
                            <div class="card">
                                <app-card-list cardListChangeCount="{{cardListChangeCount}}" cardToken={{cardToken}}></app-card-list>
                                <div class="new_card">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#collapseOne"
                                            aria-controls="collapseOne" aria-expanded="true">
                                            <span class="heade_wrps">
                                                <img src="{{s3BucketUrl}}assets/images/card_gray.svg" alt="Card icon" />
                                                New
                                            </span>
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                        <div class="card-body">
                                            <app-add-card (emitCardListChange)="getCardListChange($event)"></app-add-card>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="payment_container">
                        <div class="payment_mode_wrapper">
                            <app-payment-mode-loader *ngIf="cartLoading"></app-payment-mode-loader>
                            <app-price-summary [priceSummary]="priceSummary" [cartPrices]="cartPrices">
                            </app-price-summary>
                        </div>
                        <div class="cta_btn_wrapper">
                            <button  (click)="bookFlight()">Pay and Book</button>

                        </div>
                    </div>
                    <div class="section_description" *ngIf="validationErrorMessage">
                        <span class="sec_text">{{validationErrorMessage}}.</span>
                        <a (click)="removeValidationError()"><img src="{{s3BucketUrl}}assets/images/close_pink.svg"
                                alt="Close"></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <app-empty-cart *ngIf="isCartEmpty"></app-empty-cart>
</section>

<app-full-page-overlay-loader *ngIf="isBookingProgress"></app-full-page-overlay-loader>
<app-signin></app-signin>
<app-challenge *ngIf="challengePopUp"></app-challenge>
