@import '../../../../cstm-variable';
@import "../../../../_cstm-variable.scss";
@import "../../../../_cstm-components.scss";
@import "../../../../_hotel.scss";
@import "../../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.payment_mode_main_wrapper {
    background-color: $background-white;

    @include tab-view {
        .col-lg-7 {
            padding: 0;
        }
    }

    h3 {
        color: $blue-text;
        font-size: 34px;
        margin-bottom: 5px;
        margin: 25px 0 15px;

        @include tab-view {
            font-size: 24px;
            padding: 0 15px;
            margin-top: 5px;
        }
    }

    .title_bar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
            color: $blue-text;
            font-size: 34px;
            margin-bottom: 5px;
            margin: 25px 0 15px;

            @include tab-view {
                font-size: 24px;
                margin-top: 0;
            }
        }

        .edit_btns {
            a {
                background-color: transparent;
                color: $text_light_yellow;
                box-shadow: none;
                font-size: 12px;
                padding: 0;
                text-align: right;
                text-decoration: none;

                @include tab-view {
                    font-size: 12px;
                    min-width: 55px;
                }
            }
        }
    }

    .timer_main_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 25px 0px;

        .upper_big_fonts {
            color: $text-black;
            font-size: 36px;
            margin-bottom: 6px;
            font-weight: 400;

            span {
                color: $blue-text;
            }

            @include tab-view {
                font-size: 12px;
                font-weight: 500;
            }
        }

        .lo_sm_fn {
            color: $pink;
            font-size: 20px;

            @include tab-view {
                font-size: 10px;
            }
        }
    }

    .booking_detail_bg_wrps {
        background-color: $bg-body;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 15px;

        .card_accordion {
            .card {
                border: 1px solid $grayed_border;
                border-radius: 10px;
                padding: 0;

                @include tab-view {
                    padding: 0;
                }

                .new_card {
                    border: 1px solid $box-border-color;
                    border-radius: 10px;
                    position: relative;
                    margin: 15px;

                    @include tab-view {
                        margin: 0 15px 15px;
                    }
                }

                .card-header {
                    border: none;
                    background-color: transparent;
                    padding: 15px;
                    height: 68px;
                    display: flex;

                    a {
                        font-weight: 600;
                        color: $text-black;
                        font-size: 16px;
                        border: none;
                        background-color: transparent;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        padding: 0;

                        &[aria-expanded="true"] {
                            &:after {
                                content: "";
                                //position: relative;
                                padding: 5px 9px;
                                background-image: url(https://d2q1prebf1m2s9.cloudfront.net/assets/images/arrow_up_dropdown.svg);
                                background-position: right;
                                background-repeat: no-repeat;
                                background-size: 12px;
                                transition: 0.3s;
                                right: 0;
                                border: none;
                                top: 5px;

                                @include tab-view {
                                    position: relative;
                                    right: 0;
                                    height: 12px;
                                }
                            }
                        }

                        &[aria-expanded="false"] {
                            &:after {
                                //position: relative;
                                padding: 5px 9px;
                                background-image: url(https://d2q1prebf1m2s9.cloudfront.net/assets/images/arrow_dropdown.svg);
                                background-position: right;
                                background-repeat: no-repeat;
                                background-size: 12px;
                                content: "";
                                transition: 0.3s;
                                right: 0;
                                border: none;
                                top: 5px;

                                @include tab-view {
                                    position: relative;
                                    right: 0;
                                    height: 12px;
                                }
                            }
                        }

                        .heade_wrps {
                            img {
                                margin-right: 15px;
                            }
                        }
                    }
                }

                .card-body {
                    padding: 15px;
                }
            }
        }
    }

    .card_details_wrppers {
        .title_bar {
            @include tab-view {
                margin: 25px 0 15px;
                padding: 0 15px;

                h3 {
                    margin: 0;
                    padding: 0;
                }

                .edit_btns {
                    @include tab-view {
                        font-size: 12px;
                        min-width: 55px;
                    }
                }
            }
        }
    }

    .payment_container {
        max-width: 658px;
        margin: 0 auto;

        @include tab-view {
            width: 100%;
            padding: 10px 0;
        }

        .payment_mode_wrapper {
            display: flex;
            flex-direction: column;

            h3 {
                color: $blue-text;
                font-size: 34px;
                margin-bottom: 5px;
                margin: 25px 0 15px;

                @include tab-view {
                    font-size: 18px;
                }
            }
        }

        .custom_checkbox {
            position: relative;
            margin-top: 10px;
            vertical-align: middle;
            line-height: normal;
            // display: flex;
            // align-items: flex-start;
            font-size: 11px;

            a {
                color: $txt_clr_blue;
                // display: contents;
                position: relative;
            }

            input {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;

                &:checked {
                    ~ {
                        .checkmark {
                            border-color: $text_light_yellow;

                            &:after {
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            .checkmark {
                width: 14px;
                min-width: 14px;
                height: 14px;
                display: inline-block;
                border: 1px solid $text_light_yellow;
                vertical-align: middle;
                margin-right: 11px;
                margin-top: 3px;
                position: relative;
                float: left;

                &:after {
                    content: "";
                    position: absolute;
                    top: 1px;
                    -webkit-transform: translate(0, -50%);
                    -moz-transform: translate(0, -50%);
                    -ms-transform: translate(0, -50%);
                    -o-transform: translate(0, -50%);
                    transform: translate(0, -50%);
                    width: 6px;
                    height: 9px;
                    border-radius: 2px;
                    border: solid $text_light_yellow;
                    // border-top-width: medium;
                    // border-right-width: medium;
                    // border-bottom-width: medium;
                    // border-left-width: medium;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    border-radius: 0px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    transition: all 0.2s;
                    opacity: 0;
                }
            }
        }

        .cta_btn_wrapper {
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 25px 0 15px;
            align-items: center;
            flex-direction: column;

            button {
                &:disabled {
                    cursor: not-allowed;
                }

                width: 100%;
                height: 54px;
                padding: 10px 45px;
                background: $primary-color;
                border-radius: 25px;
                border: none;
                font-size: 18px;
                color: $text-white;
                transition: 0.3s;
                position: relative;
                z-index: 9;
                overflow: hidden;
                white-space: normal;
                cursor: pointer;
                border: 1px solid $primary-color;
                margin-bottom: 10px;

                @include tab-view {
                    font-size: 14px;
                    height: 44px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 0%;
                    background: $background-white;
                    z-index: -1;
                    transition: 0.8s;
                    border-radius: 0 0 50% 50%;
                }

                // &:hover {
                //     color: $primary-color;
                //     &:before {
                //         height: 190%;
                //     }
                // }
                &.trans_btn {
                    color: $pink;
                    background-color: transparent;
                    border: 2px solid $box-border-color;

                    &::before {
                        background: $pink;
                    }

                    // &:hover{
                    //     color: $text-white;
                    // }
                }

                .white_search {
                    display: none;

                    &.show {
                        display: inline-block;
                    }
                }

            }
        }
    }
}

.error_wrapper {
    display: flex;
    flex-direction: column;

    .section_description {
        transform: translate(0%, -0%);
        max-width: 445px;
        position: relative;
        justify-content: space-between;
        flex: 1;
        width: 100%;
        margin-bottom: 5px;

        a {
            width: 10px !important;
        }
    }
}

.btn_payment {
    display: flex;
    justify-content: flex-end;
}