<div class="form_row common_row">
    <label>Enter Old Password</label>
    <div class="text_field">
        <input type="password" placeholder="••••••••••" formControlName="" maxlength="25" tabindex="1">
    </div>
</div>
<div class="form_row common_row">
    <label>Enter New Password</label>
    <div class="text_field">
        <input type="password" placeholder="••••••••••" formControlName="" maxlength="25" tabindex="2">
    </div>
</div>
<div class="form_row common_row">
    <label>Reenter Password</label>
    <div class="text_field">
        <input type="password" placeholder="••••••••••" formControlName="" maxlength="25" tabindex="3">
    </div>
</div>
<div class="form_row">
    <span class="edit_btns">
        <a href="javascrip:void(0);">Save</a>
    </span>
</div>