<section class="block_cms_page_main" *ngIf="loading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="block_cmspage_comman cms_laytrip">
                    <div class="block_top">
                        <h6 class="">
                            <p class="fb_animation w-50 mb-0 ml-auto mr-auto"></p>
                            <p class="fb_animation w-50 mb-0 ml-auto mr-auto"></p>
                        </h6>
                    </div>
                    <div class="block_btm">
                        <div class="block_inn_top mb-4">
                            <div class="block_inn_cnt">
                                <div class="w-100 ">
                                    <p class="fb_animation w-100 mb-2"></p>
                                    <p class="fb_animation w-100 mb-2"></p>
                                    <p class="fb_animation w-100 mb-2"></p>
                                    <p class="fb_animation w-100 mb-2"></p>
                                    <p class="fb_animation w-100 mb-2"></p>
                                    <p class="fb_animation w-100 mb-2"></p>
                                    <p class="fb_animation w-100 mb-2"></p>
                                    <p class="fb_animation w-100 mb-0"></p>
                                </div>
                            </div>
                            <div class="block_inn_im">
                                <p class="fb_animation w-100 mb-4"></p>
                            </div>
                        </div>
                        <div class="block_inn_btm">
                            <h5>
                                <p class="fb_animation w-75 mb-0"></p>
                            </h5>
                            <div class="block_cmn">
                                <span>
                  <p class="fb_animation w-50 mb-0"></p>
                </span>
                                <div class="w-100 ">
                                    <p class="fb_animation w-100 mb-2"></p>
                                    <p class="fb_animation w-100 mb-2"></p>
                                    <p class="fb_animation w-100 mb-3"></p>
                                </div>
                                <a href="javascript:void(0);">
                                    <p class="fb_animation w-25 mb-0"></p>
                                </a>
                            </div>
                            <div class="block_cmn">
                                <span>
                  <p class="fb_animation w-50 mb-0"></p>
                </span>
                                <div class="w-100 ">
                                    <p class="fb_animation w-100 mb-2"></p>
                                    <p class="fb_animation w-100 mb-2"></p>
                                    <p class="fb_animation w-100 mb-3"></p>
                                </div>
                                <a href="javascript:void(0);">
                                    <p class="fb_animation w-25 mb-0"></p>
                                </a>
                            </div>
                            <div class="block_cmn">
                                <span>
                  <p class="fb_animation w-50 mb-0"></p>
                </span>
                                <div class="w-100 ">
                                    <p class="fb_animation w-100 mb-2"></p>
                                    <p class="fb_animation w-100 mb-3"></p>
                                    <p class="fb_animation w-100 mb-2"></p>
                                    <p class="fb_animation w-100 mb-3"></p>
                                    <p class="fb_animation w-100 mb-2"></p>
                                    <p class="fb_animation w-100 mb-3"></p>
                                </div>
                                <a href="javascript:void(0);">
                                    <p class="fb_animation w-25 mb-0"></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="block_cms_page_main" *ngIf="cmsData">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="block_cmspage_comman cms_laytrip">
                    <div class="block_top">
                        <h6>{{cmsData?.title}}</h6>
                    </div>
                    <div class="block_btm" *ngIf="cmsData" [innerHtml]="cmsData.enContent">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>