<section class="block_cms_page_main" *ngIf="loading">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="block_cmspage_comman cms_laytrip">
          <div class="block_top">
            <h6 class="">
              <p class="fb_animation w-50 mb-0 ml-auto mr-auto"></p>
              <p class="fb_animation w-50 mb-0 ml-auto mr-auto"></p>
            </h6>
          </div>
          <div class="block_btm">
            <div class="block_inn_top mb-4">
              <div class="block_inn_cnt">
                <div class="w-100 ">
                  <p class="fb_animation w-100 mb-2"></p>
                  <p class="fb_animation w-100 mb-2"></p>
                  <p class="fb_animation w-100 mb-2"></p>
                  <p class="fb_animation w-100 mb-2"></p>
                  <p class="fb_animation w-100 mb-2"></p>
                  <p class="fb_animation w-100 mb-2"></p>
                  <p class="fb_animation w-100 mb-2"></p>
                  <p class="fb_animation w-100 mb-0"></p>
                </div>
              </div>
              <div class="block_inn_im">
                <p class="fb_animation w-100 mb-4"></p>
              </div>
            </div>
            <div class="block_inn_btm">
              <h5>
                <p class="fb_animation w-75 mb-0"></p>
              </h5>
              <div class="block_cmn">
                <span>
                  <p class="fb_animation w-50 mb-0"></p>
                </span>
                <div class="w-100 ">
                  <p class="fb_animation w-100 mb-2"></p>
                  <p class="fb_animation w-100 mb-2"></p>
                  <p class="fb_animation w-100 mb-3"></p>
                </div>
                <a href="javascript:void(0);">
                  <p class="fb_animation w-25 mb-0"></p>
                </a>
              </div>
              <div class="block_cmn">
                <span>
                  <p class="fb_animation w-50 mb-0"></p>
                </span>
                <div class="w-100 ">
                  <p class="fb_animation w-100 mb-2"></p>
                  <p class="fb_animation w-100 mb-2"></p>
                  <p class="fb_animation w-100 mb-3"></p>
                </div>
                <a href="javascript:void(0);">
                  <p class="fb_animation w-25 mb-0"></p>
                </a>
              </div>
              <div class="block_cmn">
                <span>
                  <p class="fb_animation w-50 mb-0"></p>
                </span>
                <div class="w-100 ">
                  <p class="fb_animation w-100 mb-2"></p>
                  <p class="fb_animation w-100 mb-3"></p>
                  <p class="fb_animation w-100 mb-2"></p>
                  <p class="fb_animation w-100 mb-3"></p>
                  <p class="fb_animation w-100 mb-2"></p>
                  <p class="fb_animation w-100 mb-3"></p>
                </div>
                <a href="javascript:void(0);">
                  <p class="fb_animation w-25 mb-0"></p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="block_cms_page_main" *ngIf="cmsData">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="block_cmspage_comman cms_laytrip">
          <div class="block_top">
            <h6>{{cmsData?.title}}</h6>
          </div>
          <div class="block_btm" *ngIf="cmsData" [innerHtml]="cmsData.enContent">
            <!-- <div class="block_inn_top">
              <div class="block_inn_cnt">
              </div>
              <div class="block_inn_im">
                <img src="{{s3BucketUrl}}assets/images/Why-Laytrip_im.svg" alt="Why Laytrip Image">
              </div>
            </div> -->
            <!-- <div class="block_inn_btm">
              <h5>Below are the ways we want you to enjoy while using Laytrip:</h5>
              <div class="block_cmn">
                <span>Afford your travel</span>
                <p>We want to help you easily afford your trip. Our partial payment option is centered around providing
                  the most efficient way of paying for travelling at the cheapest price. We work hard to determine the
                  most efficient dates for you to book your travel and make suggestions to you in real time.</p>
                <a href="javascript:void(0);">Read more about our partial payments plan</a>
              </div>
              <div class="block_cmn">
                <span>Get inspired</span>
                <p>With our community of travellers and TripFluencers you can easily explore popular destinations all
                  around the world and get insights about particular cities. Browse through thousands of reviews from
                  certified tripfluencers, read their blogs and check-out pictures to get inspired to book your next
                  trip!</p>
                <a href="javascript:void(0);">Check-out our explore page</a>
              </div>
              <div class="block_cmn">
                <span>Earn points and get discounts</span>
                <p>With every friend that signs up with your personal URL - you earn laytrip points which accumulate on
                  your account and can be used to reduce your booking total, make new bookings, or give laytrip points
                  as gifts.</p>
                <p>If you want more out of your points, become a subscribed user and track all the referral points you
                  earn through your friends and friends of friends.</p>
                <p>Another option, become a certified TripFluencer! Go on trips though Laytrip and share your
                  experiences with your social media audience. You will earn more points if you are a TripFluencer and
                  will have access to some of our exclusive features.</p>
                <a href="javascript:void(0);">Read more about our Points System and Referral Program</a>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>