<!-- Start Search Result section -->
<section class="search_result flight">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="block_noresult_found">
                    <div class="block_noresult_found_inner {{s3BucketUrl}}assets/images/alert_pink.svg">
                        <img src="{{s3BucketUrl}}assets/images/alert_pink.svg" alt="No Search Found Images">
                        <h6>{{'no_results_1' | translate}}</h6>
                        <p>{{'no_results_3' | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Close Search Result section -->