<div class="block_passenger_detail">
  <h6>Infant <span>(From 0 - 2 years)</span></h6>
  <div class="block_no_add_passenger">
      You have not added any infant.
  </div>
  <a class="add_passenger_btn" href="javascript:void(0);">+ Add Infant</a>

  <!--
  <div id="accordion" class="accordion">
      <div class="card_add_pass">
          <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
              <label class="custom_checkbox">
                  <input type="checkbox" value="">
                  <span class="checkmark"></span>
              </label>
              <a class="card-title"> Child 1 </a>
          </div>
          <div id="collapseOne" class="card-body collapse show" data-parent="#accordion">
              <div class="block_add_passenger">
                  <div class="form_row">
                      <div class="form_field">
                          <label>Title</label>
                          <ul>
                              <li>
                                  <label class="custom_radio">Mr.
                                      <input type="radio" checked="checked" name="ch-title-two">
                                      <span class="checkmark"></span>
                                  </label>
                              </li>
                              <li>
                                  <label class="custom_radio">Ms.
                                      <input type="radio" name="ch-title-two">
                                      <span class="checkmark"></span>
                                  </label>
                              </li>
                              <li>
                                  <label class="custom_radio">Mrs.
                                      <input type="radio" name="ch-title-two">
                                      <span class="checkmark"></span>
                                  </label>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="form_row">
                      <div class="form_field">
                          <label>Gender</label>
                          <ul>
                              <li>
                                  <label class="custom_radio">Male
                                      <input type="radio" checked="checked" name="ch-gender-two">
                                      <span class="checkmark"></span>
                                  </label>
                              </li>
                              <li>
                                  <label class="custom_radio">Female
                                      <input type="radio" name="ch-gender-two">
                                      <span class="checkmark"></span>
                                  </label>
                              </li>
                              <li>
                                  <label class="custom_radio">Non - Binary
                                      <input type="radio" name="ch-gender-two">
                                      <span class="checkmark"></span>
                                  </label>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="form_row">
                      <div class="form_field half">
                          <label>First Name<sup>*</sup></label>
                          <div class="text_field">
                              <input type="text" name="fname" maxlength="20" tabindex="1" placeholder="First Name">
                          </div>
                      </div>
                      <div class="form_field half">
                          <label>Last Name<sup>*</sup></label>
                          <div class="text_field">
                              <input type="text" name="lname" maxlength="20" tabindex="2" placeholder="last Name">
                          </div>
                      </div>
                  </div>
                  <div class="form_row">
                      <div class="form_field half">
                          <label>Date of Birth</label>
                          <div class="text_field">
                              <input class="birth_date" type="text" name="email" maxlength="20" tabindex="3" placeholder="Dd/mm/yyyy">
                          </div>
                      </div>
                      <div class="form_field half">
                          <label>Nationality</label>
                          <div class="text_field custom-select">
                              <select>
                                  <option value="0">Select</option>
                                  <option value="1">Select</option>
                                  <option value="2">Select</option>
                                  <option value="3">Select</option>
                                  <option value="4">Select</option>
                                  <option value="5">Select</option>
                                  <option value="6">Select</option>
                                  <option value="7">Select</option>
                              </select>
                          </div>
                      </div>
                  </div>
                  <div class="form_row">
                      <div class="form_field half">
                          <label>Frequently - flyer no.</label>
                          <div class="text_field">
                              <input type="email" name="text" maxlength="20" tabindex="5" placeholder="Enter frequently - flyer no.">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="card_add_pass">
          <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              <label class="custom_checkbox">
                  <input type="checkbox" value="">
                  <span class="checkmark"></span>
              </label>
              <a class="card-title"> Child 2 </a>
          </div>
          <div id="collapseTwo" class="card-body collapse" data-parent="#accordion">
              <div class="block_add_passenger">
                  <div class="form_row">
                      <div class="form_field">
                          <label>Title</label>
                          <ul>
                              <li>
                                  <label class="custom_radio">Mr.
                                      <input type="radio" checked="checked" name="ch-title-two">
                                      <span class="checkmark"></span>
                                  </label>
                              </li>
                              <li>
                                  <label class="custom_radio">Ms.
                                      <input type="radio" name="ch-title-two">
                                      <span class="checkmark"></span>
                                  </label>
                              </li>
                              <li>
                                  <label class="custom_radio">Mrs.
                                      <input type="radio" name="ch-title-two">
                                      <span class="checkmark"></span>
                                  </label>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="form_row">
                      <div class="form_field">
                          <label>Gender</label>
                          <ul>
                              <li>
                                  <label class="custom_radio">Male
                                      <input type="radio" checked="checked" name="ch-gender-two">
                                      <span class="checkmark"></span>
                                  </label>
                              </li>
                              <li>
                                  <label class="custom_radio">Female
                                      <input type="radio" name="ch-gender-two">
                                      <span class="checkmark"></span>
                                  </label>
                              </li>
                              <li>
                                  <label class="custom_radio">Non - Binary
                                      <input type="radio" name="ch-gender-two">
                                      <span class="checkmark"></span>
                                  </label>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="form_row">
                      <div class="form_field half">
                          <label>First Name<sup>*</sup></label>
                          <div class="text_field">
                              <input type="text" name="fname" maxlength="20" tabindex="1" placeholder="First Name">
                          </div>
                      </div>
                      <div class="form_field half">
                          <label>Last Name<sup>*</sup></label>
                          <div class="text_field">
                              <input type="text" name="lname" maxlength="20" tabindex="2" placeholder="last Name">
                          </div>
                      </div>
                  </div>
                  <div class="form_row">
                      <div class="form_field half">
                          <label>Date of Birth</label>
                          <div class="text_field">
                              <input class="birth_date" type="text" name="email" maxlength="20" tabindex="3" placeholder="Dd/mm/yyyy">
                          </div>
                      </div>
                      <div class="form_field half">
                          <label>Nationality</label>
                          <div class="text_field custom-select">
                              <select>
                                  <option value="0">Select</option>
                                  <option value="1">Select</option>
                                  <option value="2">Select</option>
                                  <option value="3">Select</option>
                                  <option value="4">Select</option>
                                  <option value="5">Select</option>
                                  <option value="6">Select</option>
                                  <option value="7">Select</option>
                              </select>
                          </div>
                      </div>
                  </div>
                  <div class="form_row">
                      <div class="form_field half">
                          <label>Frequently - flyer no.</label>
                          <div class="text_field">
                              <input type="email" name="text" maxlength="20" tabindex="5" placeholder="Enter frequently - flyer no.">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
-->
</div>