<div [formGroup]="form" class="lab_wrapper">
    <label class="label_wrp">{{label}}</label>
    <ng-select [formControlName]="controlName" [loading]="loading" id="{{id}}" [selectOnTab]="true" [items]="data" groupBy="recentSearches" bindLabel="title" bindValue="title" [(ngModel)]="defaultSelected.city" [clearable]="false" minTermLength="3" notFoundText=""
        [virtualScroll]="true" (search)="onChangeSearch($event)" loadingText="" (click)="onAuxClick($event)" (change)="selectEvent($event, id)" (clear)="onRemove($event)" class="laytrip-input-new" placeholder="{{ defaultCity }}" [tabIndex]="tabIndex">
        <ng-template ng-label-tmp let-item="item">
            <div class="hotel-parent">
                <div class="sub-parent">{{item.title}}</div>
            </div>
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
            <div class="hotel-parent">
                <img height="15" width="15" [src]="itemIconArray[item.type]" />
                <div class="sub-parent">{{item.title}}</div>
            </div>
        </ng-template>
    </ng-select>
</div>