<div class="card hotel_card">
    <div class="card-body ">
        <div class="hotel_upper_inner">
            <div class="col_boxs desk_box">
                <span>
                    Check In
                </span>
                {{commonFunction.convertDateFormat(cartItem.module_info.input_data.check_in,'YYYY-MM-DD') }}
            </div>
            <div class="col_boxs desk_box">
                <span>
                    Check Out
                </span>
                {{commonFunction.convertDateFormat(cartItem.module_info.input_data.check_out,'YYYY-MM-DD') }}
            </div>
            <div class="col_boxs desk_box">
                {{cartItem.module_info.input_data.num_nights}} {{cartItem.module_info.input_data.num_nights>1 ? 'Nights':'Night'}}, {{cartItem.module_info.input_data.num_rooms}} {{cartItem.module_info.input_data.num_rooms >1 ? 'Rooms' : 'Room'}}
            </div>
            <div class="responsive_boxes">
                <div>
                    <div class="col_boxs">
                        <span>
                            Check In
                        </span>
                        {{commonFunction.convertDateFormat(cartItem.module_info.input_data.check_in,'YYYY-MM-DD') }}
                    </div>
                    <div class="col_boxs">
                        <span>
                            Check Out
                        </span>
                        {{commonFunction.convertDateFormat(cartItem.module_info.input_data.check_out,'YYYY-MM-DD') }}
                    </div>
                </div>
                <div class="col_boxs">
                    {{cartItem.module_info.input_data.num_nights}} {{cartItem.module_info.input_data.num_nights>1 ? 'Nights':'Night'}} <br> {{cartItem.module_info.input_data.num_rooms}} {{cartItem.module_info.input_data.num_rooms >1 ? 'Rooms' : 'Room'}}
                </div>
            </div>
        </div>
        <div class="hotel_lower_inner" *ngIf="cartItem.module_info.amenities.length">
            <span>
                <ng-container *ngFor="let amenity of cartItem.module_info.amenities ; let laststop = last">
                    {{amenity}}
                    <ng-container *ngIf="!laststop">,</ng-container>
                </ng-container>
            </span>
        </div>
        <div class="cta_btn_wrps">
            <a href="javascript:void(0);" (click)="openDeleteConfirmationPopup(cartItem.id)">
                Delete
            </a>
        </div>
    </div>
</div>

<div id="collapse_" class="collapse show sub_accordions" data-parent="#accordion1">
    <div class="card-body">
      <app-traveler-form [cartItem]="cartItem" cartNumber={{cartNumber}} cartId={{cartItem.id}}></app-traveler-form>
    </div>
  </div>