<div class="card hotel_card">
    <div class="card-body ">
        <div class="hotel_upper_inner">
            <div class="col_boxs desk_box">
                <span>
                    {{'check_in' | translate}}
                </span> {{commonFunction.convertDateFormat(cartItem.module_info.input_data.check_in,'YYYY-MM-DD') }}
            </div>
            <div class="col_boxs desk_box">
                <span>
                    {{'check_out' | translate}}
                </span> {{commonFunction.convertDateFormat(cartItem.module_info.input_data.check_out,'YYYY-MM-DD') }}
            </div>
            <div class="col_boxs desk_box">
                {{cartItem.module_info.input_data.num_nights}} {{(cartItem.module_info.input_data.num_nights>1?'nights':'night') | translate}}, {{cartItem.module_info.input_data.num_rooms}} {{(cartItem.module_info.input_data.num_rooms>1?'rooms':'room') | translate}}
            </div>
            <div class="responsive_boxes">
                <div>
                    <div class="col_boxs">
                        <span>
                            {{'check_in' | translate}}
                        </span> {{commonFunction.convertDateFormat(cartItem.module_info.input_data.check_in,'YYYY-MM-DD') }}
                    </div>
                    <div class="col_boxs">
                        <span>
                            {{'check_out' | translate}}
                        </span> {{commonFunction.convertDateFormat(cartItem.module_info.input_data.check_out,'YYYY-MM-DD') }}
                    </div>
                </div>
                <div class="col_boxs">
                    {{cartItem.module_info.input_data.num_nights}} {{(cartItem.module_info.input_data.num_nights>1 ? 'nights':'night') | translate}} <br> {{cartItem.module_info.input_data.num_rooms}} {{(cartItem.module_info.input_data.num_rooms >1 ? 'rooms' : 'room') | translate}}
                </div>
            </div>
        </div>
        <div class="cta_btn_wrps">
            <a href="javascript:void(0);" (click)="openDeleteConfirmationPopup(cartItem.id)">
                {{'delete' | translate}}
            </a>
        </div>
    </div>
</div>

<div id="collapse_" class="collapse show sub_accordions" data-parent="#accordion1">
    <div class="card-body">
        <app-traveler-form [cartItem]="cartItem" cartNumber={{cartNumber}} cartId={{cartItem.id}}></app-traveler-form>
    </div>
</div>