<div class="card hotel_card">
    <div class="card-body ">
        <div class="hotel_upper_inner">
            <div class="col_boxs desk_box">
                <span>
                    Check In
                </span>
                Dec 9, 2021
            </div>
            <div class="col_boxs desk_box">
                <span>
                    Check Out
                </span>
                Dec 11, 2021
            </div>
            <div class="col_boxs desk_box">
                1 Night, 2 Rooms
            </div>
            <div class="responsive_boxes">
                <div>
                    <div class="col_boxs">
                        <span>
                            Check In
                        </span>
                        Dec 9, 2021
                    </div>
                    <div class="col_boxs">
                        <span>
                            Check Out
                        </span>
                        Dec 11, 2021
                    </div>
                </div>
                <div class="col_boxs">
                    1 Night <br> 2 Rooms
                </div>
            </div>
        </div>
        <div class="hotel_lower_inner">
            <span>
                Breakfast available (pay at property), King Bed, Non Smoking, Fridge, Wifi
            </span>
        </div>
        <div class="cta_btn_wrps">
            <a href="javascript:void(0);">
                Cancel
            </a>
        </div>
    </div>
</div>