<div class="modal_title">
    <button type="button" class="close" (click)="close()">
        <img src="{{s3BucketUrl}}assets/images/icon/close-icon.svg" alt="Close Icon">
    </button>
</div>
<div class="empty_modal_wrp">
    <div class="cookie_main_wrapper">
        <div class="inner_wrppar">
            <div class="cookie_header">
                {{'cookie_policy' | translate}}
            </div>
            <div class="cookie_msg">
                {{'cookie_policy_info_1' | translate}} <a class="anchor-tag" (click)="goToPrivacyPolicy()">{{'privacy_and_policy' | translate}}</a> {{'cookie_policy_info_2' | translate}}
            </div>
            <div class="cta_btn_wrps">
                <button (click)="acceptCookiePolicy()">{{'accept' | translate}}</button>
            </div>
            <div class="logo_wrpper_footer">
                <img src="{{s3BucketUrl}}assets/images/laytrip_logo_blue.svg" alt="Logo" />
            </div>
        </div>
    </div>
</div>