<div id="accordion_Bookings" class="accordion_bookings" *ngIf="(travelers | json) != '{}' && (moduleInfo | json) != '{}' ">
    <div class="card" *ngFor="let traveler of travelers">
        <div class="card-header">
            <a class="card-link">
                {{ traveler.userData.firstName || '' | titlecase}} {{ traveler.userData.lastName || '' | titlecase }}
            </a>
        </div>
        <div class="collapse show">
            <div class="card-body">                
                <div class="common_form">
                    <div class="form-row">
                        <div class="col-sm-12 col-md-4 mb-sm-10">
                            <label for="">First Name*</label>
                            <input type="text" class="form-control" placeholder="{{traveler.userData.firstName}}" disabled>                           
                        </div>
                        <div class="col-sm-12 col-md-4 mb-sm-10">
                            <label for="">Last Name*</label>
                            <input type="text" class="form-control" placeholder="{{traveler.userData.lastName}}" disabled>
                        </div>

                        <div class="col-sm-12 col-md-4 mb-sm-10">
                            <label for="">Gender*</label>
                            <input type="text" class="form-control" placeholder="{{getGender(traveler.userData.gender)}}" disabled>

                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="col-sm-12 col-md-4 mb-sm-10">
                            <label for="">Email*</label>
                            <input type="email" class="form-control" placeholder="{{traveler.userData.email}}" disabled>
                        </div>
                        <div class="col-sm-12 col-md-4 mb-sm-10">
                            <label for="">Telephone*</label>
                            <input type="text" class="form-control" placeholder="{{traveler.userData.phoneNo}}" disabled>
                        </div>
                        <div class="col dobs col-md-4 mb-sm-10">
                            <label for="">Date of birth*</label>
                            <input type="text" class="form-control" placeholder="{{commonFunction.convertDateFormat(traveler.userData.dob,'YYYY-MM-DD')}}" disabled>
                        </div>
                    </div>
                    <div class="form-row mt-3 mb-sm-10">
                        <div class="col-sm-12 col-md-4"> 
                            <label for="">Passport number</label>
                            <input type="text" class="form-control"  placeholder="{{traveler.userData.passportNumber}}" disabled>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <label for="">Nationality*</label>
                            <input type="text" class="form-control"   placeholder="{{traveler.userData.country ? traveler.userData.country.name : ''}}" disabled>
                        </div>
                    </div>
                </div>

                <div id="accordion_add" class="accordion_addn">
                    <div class="card">
                        <div class="card-header">
                            <span class="heade_wrps">
                                Add-Ons
                                <a href="javascript:void(0);" class="addon_anchor responsive_anch">
                                </a>
                            </span>
                            <ul class="nav nav-pills" id="addon_tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="baggage-tab" data-toggle="tab" href="#baggage"
                                        role="tab" aria-controls="baggage" aria-selected="true">Baggage Included</a>
                                </li>
                                <li class="nav-item disabled_addon" role="presentation">
                                    <a class="nav-link" id="boarding-tab" data-toggle="tab" href="#boarding"
                                        role="tab" aria-controls="boarding" aria-selected="false">Priority
                                        Boarding</a>
                                </li>
                                <li class="nav-item disabled_addon" role="presentation">
                                    <a class="nav-link" id="insurance-tab" data-toggle="tab" href="#insurance"
                                        role="tab" aria-controls="insurance" aria-selected="false">Insurance</a>
                                </li>
                            </ul>
                        </div>
                        <div id="add_acord" class="collapse show">
                            <div class="card-body">
                                <div class="tab-content" id="addon_tabContent">
                                    <div class="tab-pane fade show active" id="baggage" role="tabpanel"
                                        aria-labelledby="baggage-tab"> 
                                        <div class="addon_listins_wrps">
                                            <span></span>
                                            <button class="addon_btn_drop" (click)="$event.preventDefault()">
                                                {{formatBaggageDescription(moduleInfo[0]?.routes[0]?.stops[0]?.cabin_baggage, moduleInfo[0]?.routes[0]?.stops[0]?.checkin_baggage)}}
                                            </button>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="boarding" role="tabpanel"
                                        aria-labelledby="boarding-tab">
                                        Cabin bag upto Standard Baggage
                                    </div>
                                    <div class="tab-pane fade" id="insurance" role="tabpanel"
                                        aria-labelledby="insurance-tab">
                                        Cabin bag upto Standard Baggage
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>