<!-- <div class="form-container sign-up-container">
    <div class="sign_up">
        <div class="modal_top">
            <div class="modal_title">
                <h4>{{'resister' | translate}}</h4>
                <p>{{'sign_up_to_continue' | translate}}</p>
                <p style="color: red;">{{apiError}}</p>
            </div>
        </div>
        <div class="modal_cnt">
            <form [formGroup]="signupForm">

                <div class="form_row">
                    <label>{{'email' | translate}}<sup>*</sup></label>
                    <div class="text_field">
                        <input type="email" name="email" class="border-css" [ngClass]="{'error': submitted  && !loading && signupForm.controls.email.errors}" type="email" formControlName="email" maxlength="50" tabindex="103" placeholder="{{'email_placeholder' | translate}}">
                        <div class="error_text" *ngIf="(submitted || signupForm.controls.email.touched) && signupForm.controls.email.errors">
                            <div *ngIf="signupForm.controls.email.errors.required">{{'email_touched_validation' | translate}}</div>
                            <div *ngIf="signupForm.controls.email.errors.pattern">{{'email_invalid_validation' | translate}}</div>
                        </div>
                    </div>
                </div>
                <div class="form_row">
                    <div class="field_form">
                        <div class="field_in">
                            <label>{{'password' | translate}}<sup>*</sup></label>
                            <div class="text_field pass_show">
                                <input class="border-css" [ngClass]="{'error': submitted  && !loading && signupForm.controls.password.errors}" autocomplete="new-password" [type]="passFieldTextType ? 'text' : 'password'" formControlName="password" maxlength="50" tabindex="104" placeholder="{{'password_placholder' | translate}}">
                                <span class="ptxt"><i id="passEye"
                                        [ngClass]="passFieldTextType ? 'fa fa-eye' : 'fa fa-eye-slash'"
                                        aria-hidden="true" (click)="toggleFieldTextType($event)"></i></span>
                                <div class="error_text" *ngIf="(submitted || signupForm.controls.password.touched) && signupForm.controls.password.errors">
                                    <div *ngIf="signupForm.controls.password.errors.required">{{'password_touched_validation' | translate}}
                                    </div>
                                    <div *ngIf="signupForm.controls.password.errors.pattern">{{'password_string_validation' | translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="field_in last">
                            <label>{{'confirm_password' | translate}}<sup>*</sup></label>
                            <div class="text_field pass_show">
                                <input class="border-css" [ngClass]="{'error': submitted  && !loading && signupForm.controls.confirm_password.errors}" [type]="cnfPassFieldTextType ? 'text' : 'password'" formControlName="confirm_password" maxlength="50" tabindex="105" placeholder="{{'confirm_password_placeholder' | translate}}">
                                <span class="ptxt"><i id="cnfEye"
                                        [ngClass]="cnfPassFieldTextType ? 'fa fa-eye' : 'fa fa-eye-slash'"
                                        aria-hidden="true" (click)="toggleFieldTextType($event)"></i></span>

                                <div class="error_text" *ngIf="(submitted || signupForm.controls.confirm_password.touched) && signupForm.controls.confirm_password.errors">
                                    <div *ngIf="signupForm.controls.confirm_password.errors.required">{{'confirm_password_touched_validaion' | translate}}</div>
                                    <div *ngIf="signupForm.controls.confirm_password.errors.mustMatch">{{'confirm_password_not_match' | translate}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form_row last">
                    <div class="check text_field">
                        <span>{{'accept_term_and_condition' | translate}} <a href="javascript:void(0);">{{'term_and_condition' | translate}}</a> | <a href="javascript:void(0);">{{'privacy_and_policy' | translate}}</a></span>
                    </div>
                </div>
                <div class="form_btn">
                    <button type="submit" class="btn btn-accent btn-block btn-flat b-r-10" (click)="onSubmit()">
                        <i class="fa fa-spinner fa-spin" *ngIf="loading"></i> {{'sign_up' | translate}}
                    </button>
                </div>
            </form>
            <div class="modal_btm">
                <p>{{'already_account' | translate}}<a (click)="openSignInPage()" class="signIn hover-link">{{'sign_in' | translate}}</a></p>
            </div>
        </div>
    </div>
</div> -->
<div class="modal fade comman_modal" id="sign_up_modal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="sign_in_modal">
				<button type="button" class="close" data-dismiss="modal"> <img src="{{s3BucketUrl}}assets/images/icon/close-icon.svg" alt="Close Icon"> </button>
				<div class="modal_top">
					<div class="modal_title">
                        <div class="block_im">
                            <img src="{{s3BucketUrl}}assets/images/modal_head_im.png" alt="image">
                        </div>
						<h4>{{'sign_up' | translate}}</h4>
					</div>
				</div>
				<div class="modal_cnt">
					<form [formGroup]="signupForm">
						<div class="form_row">
							<div class="text_field half">
								<input  type="text" formControlName="first_name" [ngClass]="{'error': submitted  && !loading && signupForm.controls.first_name.errors}" maxlength="20" tabindex="1" placeholder="{{'first_name' | translate}}">
								<div class="error_text" *ngIf="(submitted || signupForm.controls.first_name.touched) && signupForm.controls.first_name.errors">
                                    <div *ngIf="signupForm.controls.first_name.errors.required">{{'first_name_touched_validation' | translate}}</div>
                                    <div *ngIf="signupForm.controls.first_name.errors.pattern" class="error_text">{{'first_name_string_validation' | translate}}</div>
                                </div>
                            </div>
                            <div class="text_field half">
								<input  type="text" formControlName="last_name" [ngClass]="{'error': submitted  && !loading && signupForm.controls.last_name.errors}" maxlength="20" tabindex="2"  placeholder="{{'last_name' | translate}}">
								<div class="error_text" *ngIf="(submitted || signupForm.controls.last_name.touched) && signupForm.controls.last_name.errors">
                                    <div *ngIf="signupForm.controls.last_name.errors.required">{{'last_name_touched_validation' | translate}}</div>
                                    <div *ngIf="signupForm.controls.last_name.errors.pattern" class="error_text">{{'last_name_string_validation' | translate}}</div>
                                </div>
							</div>
						</div>
						<div class="form_row">
							<div class="text_field">
								<input  type="email" [ngClass]="{'error': submitted  && !loading && signupForm.controls.email.errors}" formControlName="email" maxlength="20" tabindex="3"  placeholder="{{'email' | translate}}">
								<div class="error_text" *ngIf="(submitted || signupForm.controls.email.touched) && signupForm.controls.email.errors">
                                    <div *ngIf="signupForm.controls.email.errors.required">{{'email_touched_validation' | translate}}</div>
                                    <div *ngIf="signupForm.controls.email.errors.pattern">{{'email_invalid_validation' | translate}}</div>
                                </div>
							</div>
						</div>					
						<div class="form_row">
							<div class="text_field pass_show">
								<input [ngClass]="{'error': submitted  && !loading && signupForm.controls.password.errors}" autocomplete="new-password" [type]="passFieldTextType ? 'text' : 'password'"  formControlName="password" maxlength="20" tabindex="4"  placeholder="{{'password' | translate}}">
                                <span class="ptxt"><i id="passEye"
                                    [ngClass]="passFieldTextType ? 'fa fa-eye' : 'fa fa-eye-slash'"
                                    aria-hidden="true" (click)="toggleFieldTextType($event)"></i></span>
                                <div class="error_text" *ngIf="(submitted || signupForm.controls.password.touched) && signupForm.controls.password.errors">
                                    <div *ngIf="signupForm.controls.password.errors.required">{{'password_touched_validation' | translate}}
                                    </div>
                                    <div *ngIf="signupForm.controls.password.errors.pattern">{{'password_string_validation' | translate}}</div>
                                </div>
							</div>
						</div>					
						<div class="form_row">
							<div class="text_field pass_show">
								<input   [ngClass]="{'error': submitted  && !loading && signupForm.controls.confirm_password.errors}" [type]="cnfPassFieldTextType ? 'text' : 'password'" formControlName="confirm_password" maxlength="20" tabindex="5"  placeholder="{{'confirm_password' | translate}}">
                                <span class="ptxt"><i id="cnfEye"
                                    [ngClass]="cnfPassFieldTextType ? 'fa fa-eye' : 'fa fa-eye-slash'"
                                    aria-hidden="true" (click)="toggleFieldTextType($event)"></i></span>

                                <div class="error_text" *ngIf="(submitted || signupForm.controls.confirm_password.touched) && signupForm.controls.confirm_password.errors">
                                    <div *ngIf="signupForm.controls.confirm_password.errors.required">{{'confirm_password_touched_validaion' | translate}}</div>
                                    <div *ngIf="signupForm.controls.confirm_password.errors.mustMatch">{{'confirm_password_not_match' | translate}}</div>
                                </div>
							</div>
						</div>					
						<div class="form_row last">
                            <div class="check">
                                <label class="custom_checkbox">
                                    <input  formControlName="checked" tabindex="6" type="checkbox" value="">
                                    <span class="checkmark"></span>  
                                    
                                </label>
                                <div>
                                    {{'already_account' | translate }}<a href="javascript:void(0);">{{'term_and_condition' | translate }}</a> {{'and_the' | translate }} <a href="javascript:void(0);">{{'privacy_and_policy' | translate }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="error_text" *ngIf="(submitted || signupForm.controls.checked.touched) && signupForm.controls.checked.errors">
                            <div *ngIf="signupForm.controls.checked.errors.required">{{'checked_touched_validaion' | translate}}</div>
                        </div> 
                        <div class="form_btn">
                            <button type="submit" class="btn btn-accent btn-block btn-flat b-r-10" (click)="onSubmit()">
                                <i class="fa fa-spinner fa-spin" *ngIf="loading"></i> {{'sign_up' | translate}}
                            </button>
                        </div>
					</form>
                    <div class="modal_btm">
                        <div class="border_block"><span>Or</span></div>
                        <app-social-login (socialError)="socialError($event)"></app-social-login>
                        <p>Dont't have an account? <a href="javascript:void(0);" class="signIn" data-toggle="modal" 
                            data-target="#sign_in_modal" >{{'sign_in' | translate}}</a></p>
                        <div class="block_logo">
                            <img src="{{s3BucketUrl}}assets/images/dr_logo.svg" alt="Logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
