@import "../../../../_cstm-variable.scss";
@import "../../../../_cstm-components.scss";
@import "../../../../_hotel.scss";
@import "../../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.comman_modal {
  padding: 0 !important;
  z-index: 2147483601;

  .modal-dialog {
    max-width: 500px;
  }

  .modal-content {
    border-radius: 10px;

    .sign_in_modal {
      width: 100%;
      padding: 20px 20px 25px;

      .close {
        opacity: 1;

        img {
          width: 12px;
        }
      }

      .modal_top {
        width: 100%;
        margin: 0 0 35px;

        .modal_title {
          width: 100%;

          .block_im {
            width: 100%;
            text-align: center;

            img {
              background: $text-white;
              padding: 8px;
              border-radius: 80px;
              border: 1px solid $grayed_border;
            }

            @include tab-view {
              display: none;
            }
          }

          h4 {
            font-size: 32px;
            color: $active-tab-text;
            font-weight: 500;
            margin: 0;
          }
        }
      }

      .modal_cnt {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        form {
          width: 100%;
          .form_row {
            width: 100%;
            display: flex;
            justify-content: space-between;

            @include tab-view {
              flex-flow: column;
            }

            .text_field {
              width: 100%;
              margin: 0 0 20px;

              &.half {
                width: 48%;

                @include tab-view {
                  width: 100%;
                }
              }

              input {
                width: 100%;
                height: 50px;
                border: 1px solid $clr_d6;
                background: transparent;
                outline: none;
                border-radius: 10px;
                font-size: 16px;
                color: $mid_gray_bg;
                padding: 0 15px;
                &::placeholder {
                  color: $mid_gray_bg;
                  -webkit-text-fill-color: $mid_gray_bg;
                }
                &.error {
                  border-color: $error-color;
                }
              }
              .error_text {
                width: 100%;
                color: $error-color;
                font-size: 10px;
                font-weight: 400;
                margin: 5px 0 0;
              }
              &.pass_show {
                position: relative;
                .ptxt {
                  position: absolute;
                  top: 16px;
                  right: 10px;
                  z-index: 1;
                  color: $text-grey;
                  margin-top: 0;
                  cursor: pointer;
                  transition: 0.3s ease all;
                }
              }
            }

            &.last {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin: 0 0 25px;
              flex-flow:column;

              .check {
                width: 100%;
                display: flex;
                .custom_checkbox {
                  position: relative;
                  margin-bottom: 0;
                  vertical-align: middle;
                  line-height: normal;
                  display: inline;
                  align-items: center;
                  font-size: 12px;
                  font-weight: 400;
                  color: $mid_gray_bg;
                  text-transform: none;

                  input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;

                    &:checked {
                      ~ {
                        .checkmark {
                          border-color: $blue-text-one;

                          &:after {
                            opacity: 1;
                          }
                        }
                      }
                    }
                  }

                  .checkmark {
                    width: 14px;
                    min-width: 14px;
                    height: 14px;
                    display: inline-block;
                    border: 1px solid $blue-text-one;
                    vertical-align: middle;
                    margin-right: 11px;
                    position: relative;

                    &:after {
                      content: "";
                      position: absolute;
                      top: 1px;
                      -webkit-transform: translate(0, -50%);
                      -moz-transform: translate(0, -50%);
                      -ms-transform: translate(0, -50%);
                      -o-transform: translate(0, -50%);
                      transform: translate(0, -50%);
                      width: 4px;
                      height: 8px;
                      border-radius: 2px;
                      border: solid $blue-text-one;
                      border-top-width: medium;
                      border-right-width: medium;
                      border-bottom-width: medium;
                      border-left-width: medium;
                      border-width: 0 1px 1px 0;
                      transform: rotate(45deg);
                      -webkit-transform: rotate(45deg);
                      -ms-transform: rotate(45deg);
                      border-radius: 0px;
                      left: 0;
                      right: 0;
                      margin: 0 auto;
                      transition: all 0.2s;
                      opacity: 0;
                    }
                  }
                }
              }

              div {
                font-size: 12px;
                font-weight: 400;
                color: $mid_gray_bg;
                text-transform: none;
                a {
                  font-size: 12px;
                  color: $active-tab-text;
                }
              }

              .error_text {
                width: 100%;
                margin: 5px 0 0;
                text-align: left;

                div{
                  color: $error-color;
                  font-size: 10px;
                  font-weight: 400;
                }
              }
            }
          }

          .form_btn {
            width: 100%;
            text-align: center;

            button {
              width: 100%;
              height: 40px;
              padding: 0px 25px;
              background: $hotel-secondary-color;
              border-radius: 25px;
              border: 1px solid $hotel-secondary-color;
              font-size: 14px;
              font-weight: 500;
              color: $text-white;
              transition: 0.3s;
              position: relative;
              z-index: 9;
              overflow: hidden;
              white-space: normal;

              &::before {
                content: "";
                position: absolute;
                top: 1px;
                left: 1px;
                width: 100%;
                height: 0%;
                background: $background-white;
                z-index: -1;
                transition: 0.8s;
                border-radius: 25px;
              }

              &:hover {
                border: 1px solid $hotel-secondary-color;
                color: $hotel-secondary-color;
                &:before {
                  height: calc(100% - 2px);
                  width: calc(100% - 2px);
                }
              }
            }
          }
        }

        .modal_btm {
          margin: 25px 0 0;
          width: 100%;
          text-align: center;
          overflow: hidden;

          .border_block {
            width: 100%;
            position: relative;
            height: 20px;

            &:before {
              width: 100%;
              background: $box-border-color;
              position: absolute;
              top: 50%;
              left: 0;
              height: 1px;
              content: "";
            }

            span {
              width: auto;
              font-size: 14px;
              color: $mid_gray_bg;
              text-align: center;
              position: absolute;
              font-weight: 400;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
              background: $text-white;
              padding: 0 35px;
            }
          }

          ul {
            width: 100%;
            list-style: none;
            margin: 20px 0;
            padding: 0;
            display: flex;
            justify-content: center;

            li {
              width: auto;
              padding: 0 13px;

              a {
                width: 66px;
                height: 66px;
                border-radius: 50%;
                line-height: 40px;
                display: flex;
                align-items: center;
                border: 1px solid $box-border-color;
                color: $social-text-red;
                position: relative;

                img {
                  height: 30px;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                }

                @media (max-width: 991px) {
                  font-size: 0;
                  justify-content: center;

                  img {
                    margin: 0;
                  }
                }
              }
            }
          }

          p {
            width: 100%;
            text-align: center;
            font-size: 14px;
            color: $text_grey_dark;
            margin: 0;
            font-weight: 400;

            a {
              color: $pink_clr;
              font-weight: 500;
            }
          }

          .block_logo {
            width: 100%;
            text-align: center;
            margin: 10px 0 0;

            img {
              height: 22px;
            }
          }
        }
      }
    }
  }
}
