<div class="modal fade comman_modal signup_modal" id="sign_up_modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="header_img">
                <img src="{{s3BucketUrl}}assets/images/cms_page_banner.png" alt="image">
            </div>
            <div class="sign_in_modal">
                <button type="button" class="close" (click)="closeModal()"> <img
                        src="{{s3BucketUrl}}assets/images/icon/close_white.svg" alt="Close Icon"> </button>
                <div class="modal_top">
                    <div class="modal_title">
                        <!-- <div class="block_im">
                            <img src="{{s3BucketUrl}}assets/images/modal_head_im.png" alt="image">
                        </div> -->
                        <h4>{{'sign_up' | translate}}</h4>
                    </div>
                </div>
                <div class="modal_cnt">
                    <div class="modalcnt_top">
                        <app-social-login (socialError)="socialError($event)"></app-social-login>
                        <div class="border_block"><span>Or</span></div>
                    </div>

                    <form id="signup-form" [formGroup]="signupForm">
                        <div class="form_row">
                            <div class="text_field half">
                                <input value="{{getValue()}}" type="text" formControlName="first_name"
                                    [ngClass]="{'error': submitted && !signupForm.controls.first_name.valid}"
                                   maxlength="25" tabindex="11" placeholder="{{'first_name' | translate}}"
                                    (keypress)="commonFunction.preventNumberInput($event)" class="signupfn">
                                <div class="error_text" *ngIf="submitted">
                                    <div
                                        *ngIf="signupForm.controls.first_name.errors && signupForm.controls.first_name.errors.required">
                                        {{'first_name_touched_validation' | translate}}</div>
                                    <div *ngIf="signupForm.controls.first_name.errors && signupForm.controls.first_name.errors.pattern"
                                        class="error_text">
                                        {{'first_name_string_validation' | translate}}</div>
                                </div>
                            </div>
                            <div class="text_field half">
                                <input type="text" formControlName="last_name"
                                    [ngClass]="{'error': submitted && !signupForm.controls.last_name.valid}"
                                    maxlength="25" tabindex="12" placeholder="{{'last_name' | translate}}"
                                    (keypress)="commonFunction.preventNumberInput($event)" class="signupln">
                                <div class="error_text" *ngIf="submitted">
                                    <div
                                        *ngIf="signupForm.controls.last_name.errors && signupForm.controls.last_name.errors.required">
                                        {{'last_name_touched_validation' | translate}}</div>
                                    <div *ngIf="signupForm.controls.last_name.errors && signupForm.controls.last_name.errors.pattern"
                                        class="error_text">
                                        {{'last_name_string_validation' | translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="text_field">
                                <input #email type="email" (input)="checkEmailExist($event.target.value)"
                                    [ngClass]="{'error': submitted && !signupForm.controls.email.valid}"
                                    formControlName="email" maxlength="50" tabindex="13" class="signupem"
                                    placeholder="{{'email' | translate}}">
                                <div class="error_text" *ngIf="submitted">
                                    <div
                                        *ngIf="signupForm.controls.email.errors && signupForm.controls.email.errors.required">
                                        {{'email_touched_validation'
                                        | translate}}</div>
                                    <div
                                        *ngIf="signupForm.controls.email.errors && signupForm.controls.email.errors.pattern">
                                        {{'email_invalid_validation' |
                                        translate}}</div>
                                </div>
                                <div class="error_text" *ngIf="emailExist">{{'email_exist_validation'|translate}}</div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="text_field half pass_show">
                                <input [ngClass]="{'error': submitted && !signupForm.controls.password.valid}"
                                    autocomplete="new-password" [type]="passFieldTextType ? 'text' : 'password'"
                                    formControlName="password" maxlength="50" tabindex="14"
                                    placeholder="{{'password' | translate}}">
                                <span class="ptxt"><i id="passEye"
                                        [ngClass]="passFieldTextType ? 'fa fa-eye' : 'fa fa-eye-slash'"
                                        aria-hidden="true" (click)="toggleFieldTextType($event)"></i></span>
                                <div class="error_text" *ngIf="submitted">
                                    <div
                                        *ngIf="signupForm.controls.password.errors && signupForm.controls.password.errors.required">
                                        {{'password_touched_validation' | translate}}
                                    </div>
                                    <div
                                        *ngIf="signupForm.controls.password.errors && signupForm.controls.password.errors.pattern">
                                        {{'password_string_validation' | translate}}</div>
                                </div>
                            </div>
                            <div class="text_field half pass_show">
                                <input [ngClass]="{'error': submitted && !signupForm.controls.confirm_password.valid}"
                                    [type]="cnfPassFieldTextType ? 'text' : 'password'"
                                    formControlName="confirm_password" maxlength="50" tabindex="15"
                                    placeholder="{{'new_password_placeholder' | translate}}">
                                <span class="ptxt"><i id="cnfEye"
                                        [ngClass]="cnfPassFieldTextType ? 'fa fa-eye' : 'fa fa-eye-slash'"
                                        aria-hidden="true" (click)="toggleFieldTextType($event)"></i></span>
                                <div class="error_text" *ngIf="submitted">
                                    <div
                                        *ngIf="signupForm.controls.confirm_password.errors && signupForm.controls.confirm_password.errors.required">
                                        {{'confirm_password_touched_validaion' | translate}}</div>
                                    <div
                                        *ngIf="signupForm.controls.confirm_password.errors && signupForm.controls.confirm_password.errors.mustMatch">
                                        {{'confirm_password_not_match' | translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form_row last">
                            <div class="check">
                                <label class="custom_checkbox">
                                    <input (change)="checkAccept($event)" formControlName="checked" value="{{iAccept}}"
                                        tabindex="16" type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <div>
                                    {{'already_account' | translate }} <a class="hover-link" target="_blank"
                                        [routerLink]="['/terms']" [queryParams]="commonFunction.isRefferal()? commonFunction.getRefferalParms() : ''" > {{'term_and_condition' | translate }}</a> {{'and_the'
                                    | translate }} <a class="hover-link" target="_blank"
                                        [routerLink]="['/privacy-policy']">{{'privacy_and_policy' | translate }}</a>
                                </div>
                            </div>
                            <div *ngIf="submitted && !this.iAccept" class="error_text">
                                <div>{{'checked_touched_validaion' | translate}}</div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="text_field">
                                <re-captcha #captchaElem (resolved)="captchaResponse($event)" tabindex="17"
                                    siteKey="6LcPUboZAAAAAN1Sh411ruqdmT4OD6ZDe65rTsVO"></re-captcha>
                                <div class="error_text" *ngIf="!isCaptchaValidated && submitted">{{
                                    're_captcha_error_message' | translate }}</div>
                            </div>
                        </div>
                        <div class="form_btn">
                            <button type="submit" class="btn btn-accent btn-block btn-flat b-r-10" (click)="onSubmit()">
                                <i class="fa fa-spinner fa-spin" *ngIf="loading"></i> {{'sign_up' | translate}}
                            </button>
                        </div>
                        <div class="block_api_error" *ngIf="apiError.length > 0">
                            {{apiError}}
                        </div>
                    </form>
                    <div class="modal_btm">
                        <!-- <div class="border_block"><span>Or</span></div>
                        <app-social-login (socialError)="socialError($event)"></app-social-login> -->

                        <p>Already have an account? <a (click)="openSignInModal()" class="signIn hover-link"
                                data-toggle="modal" data-target="#sign_in_modal" data-dismiss="modal">{{'sign_in' |
                                translate}}</a></p>

                        <div class="block_logo">
                            <img src="{{s3BucketUrl}}assets/images/dr_logo.svg" alt="Logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>