@import "../../../_cstm-variable.scss";
@import "../../../_cstm-components.scss";
@import "../../../_hotel.scss";
@import "../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.progress_loader {
    border-radius: 50px;
    height: 20px;
}

.page_load {
    .page_load_inner {
        max-width: 514px;
        padding: 30px;
        width: 100%;

        @include tab-view{
            max-width: 93%;
            padding: 15px;
        }

        .page_laoding {
            h3 {
                font-size: 32px;
                font-weight: 400;
                color: $active-tab-text;
                margin-bottom: 20px;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                color: $text_grey_dark;
                margin-bottom: 10px;
                width: 90%;
                margin: 0 auto;
            }

            .footer_logo {
                margin-top: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                img {
                    max-width: 66px;
                    height: 22px;
                }
            }
        }
    }
}


$max: 12;
$angle: 360/$max;
$size: 120px;
$fill: #0043FF;



svg {
    height: 32px;
    width: 32px;
    margin: 0 0 10px 0 ;
    overflow: visible;
   
}


@function transform($item: 1) {
    $base: rotate(#{-$angle*$item}deg) translate(5px, 5px);
    @return $base;
}

.g--circle {
    transform-origin: $size/2 $size/2;

    fill: $fill;
    animation: opacity 1.2s linear infinite;

    @for $item from 1 through $max {
        &:nth-child(#{$max}n + #{$item}) {
            animation-delay: -#{$item/10}s;
            transform: transform($item) scale(.9);
        }
    }
}

.g-circles--v1 .g--circle {
    fill-opacity: 0;
    animation-name: opacity;
}



@keyframes opacity {
    3% {
        fill-opacity: 1;
    }

    75% {
        fill-opacity: 0;
    }

}

@keyframes opacity-stroke {
    10% {
        stroke-opacity: 1;
    }

    85% {
        stroke-opacity: 0;
    }

}


@keyframes transform {
    10% {
        transform-origin: 70px 70px;
        transform: scale(.75);
    }
}

@keyframes transform-2 {
    40% {
        transform: scale(.85) translate(10px, 10px);
    }

    60% {
        stroke-width: 20;
    }
}