<!-- Start page loader modal-->
<div class="page_load">
  <div class="page_load_inner">
      <div class="page_laoding">
          <img src="{{s3BucketUrl}}assets/images/flight-load_im.png" alt="Loading Images">
          <h6> {{type}} <span>{{module}}</span></h6>
          <!-- <div id="Loader_progressbar">
              <div class="progress-label">Loading...</div>
          </div> -->
          <div class="progress Loader_progressbar progress_loader" >
            <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width:100%"></div>
          </div>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
      </div>
  </div>
</div>
<!-- Close page loader modal-->