<div class="form-container forgotpassword-container show_forgotpass">
    <div class="forgot_modal">
        <div class="modal_top">
            <div class="modal_title">
                <h4>Forgot password?</h4>
                <p *ngIf="!forgotPasswordSuccess">Enter the email address you used to register on laytrip. We’ll send
                    you a link to reset your password.</p>
                <p *ngIf="forgotPasswordSuccess">Password reset request was sent successfully. Please check your email
                    to reset your password.</p>
                <p style="color: red;">{{apiMessage}}</p>
            </div>
        </div>
        
        <div class="modal_cnt">
            <form *ngIf="!forgotPasswordSuccess" [formGroup]="forgotForm">
                <div class="form_row">
                    <label>Email<sup>*</sup></label>
                    <div class="text_field">
                        <input type="email" class="border-css" type="email"
                            [ngClass]="{'error': submitted  && !loading}" formControlName="email" maxlength="50"
                            tabindex="1" placeholder="Enter Email">
                                <p  *ngIf="(submitted || forgotForm.controls.email.touched) && forgotForm.controls.email.errors && forgotForm.controls.email.errors.required" class="error_text">Please enter your
                                    email address.</p>
                                <p *ngIf="(submitted || forgotForm.controls.email.touched) && forgotForm.controls.email.errors && forgotForm.controls.email.errors.pattern"
                                    class="error_text">Please enter valid email address.</p>
                    </div>
                </div>
                <div class="form_btn">
                    <button type="submit" class="btn btn-accent btn-block btn-flat b-r-10" (click)="onSubmit()">

                        <i class="fa fa-spinner fa-spin" *ngIf="loading"></i> Reset Password
                    </button>
                </div>
            </form>            
        </div>
        <div class="modal_change_link">            
            <p>Back to <a  (click)="openSignInPage()" class="signIn  hover-link">Sign In</a></p>
        </div>
    </div>
</div>