<!-- <div class="form-container forgotpassword-container show_forgotpass">
    <div class="forgot_modal">
        <div class="modal_top">
            <div class="modal_title">
                <h4>{{'forgot_password_title' | translate}}</h4>
                <p *ngIf="!forgotPasswordSuccess">{{'forgot_password_description' | translate}}</p>
                <p *ngIf="forgotPasswordSuccess">Password reset request was sent successfully. Please check your email to reset your password.</p>
                <p style="color: red;">{{apiMessage}}</p>
            </div>
        </div>

        <div class="modal_cnt">
            <form *ngIf="!forgotPasswordSuccess" [formGroup]="forgotForm">
                <div class="form_[formGroup]="forgotForm"row">
                    <label>{{'email' | translate}}<sup>*</sup></label>
                    <div class="text_field">
                        <input type="email" class="border-css" type="email" [ngClass]="{'error': submitted  && !loading}" formControlName="email" maxlength="50" tabindex="1" placeholder="{{'email_placeholder' | translate}}">
                        <p *ngIf="(submitted || forgotForm.controls.email.touched) && forgotForm.controls.email.errors && forgotForm.controls.email.errors.required" class="error_text">{{'email_touched_validation' | translate}}</p>
                        <p *ngIf="(submitted || forgotForm.controls.email.touched) && forgotForm.controls.email.errors && forgotForm.controls.email.errors.pattern" class="error_text">{{'email_invalid_validation' | translate}}</p>
                    </div>
                </div>             
                <div class="form_btn">
                    <button type="submit" class="btn btn-accent btn-block btn-flat b-r-10" (click)="onSubmit()">

                        <i class="fa fa-spinner fa-spin" *ngIf="loading"></i> {{'reset_password' | translate}}
                    </button>
                </div>
            </form>
        </div>
        <div class="modal_change_link">
            <p>{{'back_to_sing_in' | translate}} <a (click)="openSignInPage()" class="signIn  hover-link">{{'sign_in' | translate}}</a></p>
        </div>
    </div>
</div> -->
<div class="forgot_modal_block">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{'forgot_password_title' | translate}}</h4>
        <p style="color: red;">{{apiMessage}}</p>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
        <img src="{{s3BucketUrl}}assets/images/icon/close-icon.svg" alt="Close Icon">
        </button>
    </div>
    <div class="modal-body">
        <p>{{'forgot_password_description' | translate}}</p>     
        <form [formGroup]="forgotForm">
            <div class="form_row">
                <div class="text_field">
                    <input type="email" [ngClass]="{'error': submitted  && !loading}" formControlName="email" maxlength="50" tabindex="1" placeholder="{{'email_placeholder' | translate}}" /> 
                    <div class="error_text" >
                        <p *ngIf="(submitted || forgotForm.controls.email.touched) && forgotForm.controls.email.errors && forgotForm.controls.email.errors.required" class="error_text">{{'email_touched_validation' | translate}}</p>
                        <p *ngIf="(submitted || forgotForm.controls.email.touched) && forgotForm.controls.email.errors && forgotForm.controls.email.errors.pattern" class="error_text">{{'email_invalid_validation' | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="form_btn">               
                <button type="submit" class="btn btn-accent btn-block btn-flat b-r-10" (click)="onSubmit()">
                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i> {{'reset_password' | translate}}
                </button>
            </div>
            <div class="modal_btm">
                <div class="block_logo">
                    <img src="{{s3BucketUrl}}assets/images/dr_logo.svg" alt="Logo">
                </div>
            </div>
        </form>
    </div>
</div>
