@import "../../../../_cstm-variable.scss";
@import "../../../../_cstm-components.scss";
@import "../../../../_hotel.scss";
@import "../../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.forgot_modal_block {
  .modal-header {
    justify-content: center;
    border: none;
    padding: 35px 20px 5px;

    h4 {
      font-size: 32px;
      line-height: 40px;
      font-weight: 500;
      color: $active-tab-text;

      @include mobile-view {
        font-size: 28px;
      }
    }
    .close {
      opacity: 1;
      position: absolute;
      top: 20px;
      right: 20px;

      img {
        width: 12px;
      }

      @include mobile-view {
        top: 15px;
        right: 15px;
      }
    }
  }

  .modal-body {
    width: 100%;
    padding: 20px;

    p {
      max-width: 350px;
      width: 100%;
      text-align: center;
      font-size: 14px;
      color: $text_grey_dark;
      margin: 0 auto 25px;
    }

    .form_row {
      width: 100%;
      margin: 0 0 25px;
      .text_field {
        input {
          width: 100%;
          height: 50px;
          border: 1px solid $clr_d6;
          background: transparent;
          outline: none;
          border-radius: 10px;
          font-size: 16px;
          color: $mid_gray_bg;
          padding: 0 15px;

          &::placeholder {
            color: $mid_gray_bg;
            -webkit-text-fill-color: $mid_gray_bg;
          }

          &.error {
            border-color: $error-color;
            color: $error-color;
            &::placeholder {
              color: $error-color;
              -webkit-text-fill-color: $error-color;
            }
          }
        }

        .error_text {
          width: 100%;
          color: $error-color;
          font-size: 10px;
          font-weight: 400;
          margin: 5px 0 0;
          text-align: left;
        }
      }
    }

    .form_btn {
      width: 100%;
      text-align: center;

      button {
        width: 100%;
        height: 40px;
        padding: 0px 25px;
        background: $hotel-secondary-color;
        border-radius: 25px;
        border: 1px solid $hotel-secondary-color;
        font-size: 14px;
        font-weight: 500;
        color: $text-white;
        transition: 0.3s;
        position: relative;
        z-index: 9;
        overflow: hidden;
        white-space: normal;

        &::before {
          content: "";
          position: absolute;
          top: 1px;
          left: 1px;
          width: 100%;
          height: 0%;
          background: $background-white;
          z-index: -1;
          transition: 0.8s;
          border-radius: 25px;
        }

        &:hover {
          border: 1px solid $hotel-secondary-color;
          color: $hotel-secondary-color;
          &:before {
            height: calc(100% - 2px);
            width: calc(100% - 2px);
          }
        }
      }
    }

    .block_api_error {
      max-width: 375px;
      width: 100%;
      margin: 13px auto 0;
      padding: 5px 20px;
      font-size: 12px;
      color: $api_error_text;
      background: $api_error_bg;
      border-radius: 20px;
    }
    .block_logo {
      width: 100%;
      text-align: center;
      margin: 25px 0 0;

      img {
        height: 22px;
      }
    }
  }
}
