@import "../../../_cstm-variable.scss";
@import "../../../_cstm-components.scss";
@import "../../../_hotel.scss";
@import "../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


.block_feedback {
    width: 514px;
    max-width: 96%;
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 3px 20px $shadow-black-light;

   @include tab-view {
        padding: 15px;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 20px;
        font-weight: normal;
        opacity: 1;
        z-index: 99;
        img{
            max-width: 12px;
        }
    }

    .block_feedback_inner {
        max-width: 100%;
        margin: 0 auto;

        h6 {
            margin: 0 0 20px;
            font-size: 32px;
            font-weight: 400;
            color: $active-tab-text;

            @include tab-view {
                font-size: 29px;
                padding-top: 30px;
            }

        }

        p {
            font-size: 16px;
            font-weight: 500;
            color: $text_grey_dark;
            margin: 0 0 65px;

            @media(max-width: 767px) {
                font-size: 16px;
                margin: 0 0 35px;
            }
        }

        .block_feedback_add {
            width: 100%;
            text-align: center;

            ul {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin: 0 0 10px;
                padding: 0;
                list-style: none;

                @media(max-width: 767px) {
                    margin: 0 0 20px;
                }

                li {
                    position: relative;
                    z-index: 2;
                    margin: 0;

                    a {
                        background: transparent;
                        padding: 0;
                        display: flex;
                        flex-flow: column;
                        justify-content: center;
                        line-height: normal;
                        transition: 0.25s ease-out;

                        img {
                            height: 74px;
                            position: relative;
                            transform: scale(1);
                            transition: 0.25s ease-out;

                            &.normal {
                                opacity: 1;
                            }

                            &.on_hover {
                                opacity: 0;
                                position: absolute;
                                top: 0;
                                left: 0;
                            }

                            @media(max-width:991px) {
                                margin: 0;
                                width: 50px;
                                height: auto;
                            }

                            @include tab-view {
                                margin: 0;
                                width: 52px;
                                height: auto;
                            }
                        }

                        span {
                            font-size: 12px;
                            font-weight: 500;
                            margin: 5px 0 0px;
                            color: $grayed_border;
                            transition: 0.25s ease-out;

                            @media(max-width: 991px) {
                                margin: 20px 0 0;
                                font-size: 14px;
                            }

                            @include tab-view {
                                margin: 10px 0 0;
                                font-size: 10px;
                            }
                        }

                        &:before {
                            display: none;
                        }

                        &.active {
                            img {

                                &.normal {
                                    opacity: 0;
                                }

                                &.on_hover {
                                    opacity: 1;
                                }
                            }

                            span {
                                color: $pink;
                            }
                        }

                        // &:hover {
                        //     img {
                        //         &.normal {
                        //             opacity: 1;
                        //         }

                        //         &.on_hover {
                        //             opacity: 0;
                        //         }
                        //     }

                        //     span {
                        //         color: $text_grey_dark;
                        //     }
                        // }
                    }
                }
            }

            .block_feedback_form {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;

                .feedback_comment {
                    width: 100%;
                    margin: 10px 0;

                    label {
                        width: 100%;
                        font-size: 12px;
                        font-weight: 400;
                        color: $text-grey;
                        text-align: left;
                    }

                    textarea {
                        width: 100%;
                        border: 1px solid $box-border-color;
                        font-size: 16px;
                        font-weight: 400;
                        border-radius: 10px;
                        color: $text-grey;
                        resize: none;
                        padding: 15px;

                        &:focus{
                            outline: none;
                            box-shadow: none;
                        }

                        @media(max-width: 767px) {
                            font-size: 14px;
                        }
                    }
                }

                .feedback_btn {
                    
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;

                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 40px;
                        font-size: 14px;
                        color: $text-white;
                        font-weight: 400;
                        border-radius: 25px;
                        background: $pink;
                        position: relative;
                        z-index: 9;
                        overflow: hidden;
                        border: none;
                        &:focus{
                            outline: none;
                            box-shadow: none;
                        }

                        @include tab-view {
                            font-size: 13px;
                            height: 37px;
                            padding: 0 10px;
                        }
                    }

                    a {
                        margin: 40px 0 0;
                        display: block;

                        @media(max-width: 767px) {
                            margin: 20px 0 0;

                            img {
                                width: 30%;
                            }
                        }

                        @media(max-width:575px) {
                            margin: 20px 0 0;

                            img {
                                width: 40%;
                            }
                        }
                    }
                }
                .footer_logo{
                    margin-top: 15px;
                    display: flex;
                        align-items: center;
                        justify-content: center;
                        img{
                            max-width: 66px;
                            height: 22px;
                        }
                }
            }
        }
    }
}