<div class="page_load">
  <div class="block_feedback">
    <button type="button" class="close" (click)="close()">
      <img src="{{s3BucketUrl}}assets/images/icon/close-icon.svg" alt="Close Icon">
    </button>
    <div class="block_feedback_inner">
      <h6>How did we do?</h6>
      <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
        <div class="block_feedback_add">
          <ul>
            <li>
              <a class="anchor-tag" [ngClass]="{'active': _rating === 'Terrible'}"
                (click)="selectRating($event,'Terrible')">
                <img class="normal" src="{{s3BucketUrl}}assets/images/feedback/1.svg" alt="Feedback Image">
                <img class="on_hover" src="{{s3BucketUrl}}assets/images/feedback/selected/1-pink.svg"
                  alt="Feedback Image">
                <span>Poor</span>
              </a>
            </li>
            <li>
              <a class="anchor-tag" [ngClass]="{'active': _rating === 'Bad'}" (click)="selectRating($event,'Bad')">
                <img class="normal" src="{{s3BucketUrl}}assets/images/feedback/2.svg" alt="Feedback Image">
                <img class="on_hover" src="{{s3BucketUrl}}assets/images/feedback/selected/2-pink.svg"
                  alt="Feedback Image">
                <span>Not Good</span>
              </a>
            </li>
            <li>
              <a class="anchor-tag" [ngClass]="{'active': _rating === 'Okay'}" (click)="selectRating($event,'Okay')">
                <img class="normal" src="{{s3BucketUrl}}assets/images/feedback/3.svg" alt="Feedback Image">
                <img class="on_hover" src="{{s3BucketUrl}}assets/images/feedback/selected/3-pink.svg"
                  alt="Feedback Image">
                <span>Good</span>
              </a>
            </li>
            <li>
              <a class="anchor-tag" [ngClass]="{'active': _rating === 'Good'}" (click)="selectRating($event,'Good')">
                <img class="normal" src="{{s3BucketUrl}}assets/images/feedback/4.svg" alt="Feedback Image">
                <img class="on_hover" src="{{s3BucketUrl}}assets/images/feedback/selected/4-pink.svg"
                  alt="Feedback Image">
                <span>Very Good</span>
              </a>
            </li>
            <li>
              <a class="anchor-tag" [ngClass]="{'active': _rating === 'Excllent'}"
                (click)="selectRating($event,'Excllent')">
                <img class="normal" src="{{s3BucketUrl}}assets/images/feedback/5.svg" alt="Feedback Image">
                <img class="on_hover" src="{{s3BucketUrl}}assets/images/feedback/selected/5-pink.svg"
                  alt="Feedback Image">
                <span>Excellent</span>
              </a>
            </li>
          </ul>
          <div class="block_feedback_form">
            <div class="feedback_comment">
              <textarea formControlName="comment" placeholder="Comments"></textarea>
              <div *ngIf="(submitted  || feedbackForm.controls.comment.touched) && feedbackForm.controls.comment.errors"
                class="focus-input100 login-error" style="text-align: left;">
                <div *ngIf="feedbackForm.controls.comment.errors.required" class="text-danger">Please add your comments
                </div>
              </div>
            </div>
            <div class="feedback_btn">
              <button type="submit"> <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>&nbsp;Submit </button>
            </div>
            <div class="footer_logo">
              <a class="hover-link">
                <img src="{{s3BucketUrl}}assets/images/laytrip_logo_blue.svg" alt="logo Icon">
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>