<!-- Start Our Discover Section-->
<section class="our_discover">
  <div class="container-fluid">
      <div class="row">
          <div class="flex_row">
              <div class="col-lg-3">
                  <div class="discover_text">
                      <span>Features</span>
                      <h2>Discover <span>New York</span></h2>
                      <p>21,483 Hotels</p>
                      <a href="javascript:vooid(0);">See All Hotels <img src="{{s3BucketUrl}}assets/images/icon/right-arrow.svg" alt=""></a>
                  </div>
              </div>
              <div class="col-lg-9">
                  <div class="discover_slid">
                      <ul class="features-discover">
                          <li class="item">
                              <div class="slid_card">
                                  <div class="inner">
                                      <div class="slid_im">
                                          <img src="{{s3BucketUrl}}assets/images/slid-1.png" alt="" />
                                          <a href="javascript:void(0);">
                                              <img src="{{s3BucketUrl}}assets/images/icon/wishlist-icon.svg" alt="" />
                                          </a>
                                      </div>
                                      <div class="slid_cnt">
                                          <h3>Carnival Hotel</h3>
                                          <span>Las Vegas, United States</span>
                                          <div class="review_part">
                                              <ul>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                  <li>200 reviews</li>
                                              </ul>
                                          </div>
                                          <p>It is a long established fact that a read will be distracted by readable content of a page when looking at its layout.</p>
                                          <div class="price_part">
                                              <span>$230</span>/per night
                                          </div>
                                          <div class="instalment_part">
                                              <a href="javascript:void(0);">
                                                  Instalment starts from <span>$35</span>/week
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </li>
                          <li class="item">
                              <div class="slid_card">
                                  <div class="inner">
                                      <div class="slid_im">
                                          <img src="{{s3BucketUrl}}assets/images/slid-2.png" alt="" />
                                          <a href="javascript:void(0);">
                                              <img src="{{s3BucketUrl}}assets/images/icon/wishlist-icon.svg" alt="" />
                                          </a>
                                      </div>
                                      <div class="slid_cnt">
                                          <h3>Carnival Hotel</h3>
                                          <span>Las Vegas, United States</span>
                                          <div class="review_part">
                                              <ul>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                  <li>200 reviews</li>
                                              </ul>
                                          </div>
                                          <p>It is a long established fact that a read will be distracted by readable content of a page when looking at its layout.</p>
                                          <div class="price_part">
                                              <span>$230</span>/per night
                                          </div>
                                          <div class="instalment_part">
                                              <a href="javascript:void(0);">
                                                  Instalment starts from <span>$35</span>/week
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </li>
                          <li class="item">
                              <div class="slid_card">
                                  <div class="inner">
                                      <div class="slid_im">
                                          <img src="{{s3BucketUrl}}assets/images/slid-3.png" alt="" />
                                          <a href="javascript:void(0);">
                                              <img src="{{s3BucketUrl}}assets/images/icon/wishlist-icon.svg" alt="" />
                                          </a>
                                      </div>
                                      <div class="slid_cnt">
                                          <h3>Carnival Hotel</h3>
                                          <span>Las Vegas, United States</span>
                                          <div class="review_part">
                                              <ul>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                  <li>200 reviews</li>
                                              </ul>
                                          </div>
                                          <p>It is a long established fact that a read will be distracted by readable content of a page when looking at its layout.</p>
                                          <div class="price_part">
                                              <span>$230</span>/per night
                                          </div>
                                          <div class="instalment_part">
                                              <a href="javascript:void(0);">
                                                  Instalment starts from <span>$35</span>/week
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </li>
                          <li class="item">
                              <div class="slid_card">
                                  <div class="inner">
                                      <div class="slid_im">
                                          <img src="{{s3BucketUrl}}assets/images/slid-1.png" alt="" />
                                          <a href="javascript:void(0);">
                                              <img src="{{s3BucketUrl}}assets/images/icon/wishlist-icon.svg" alt="" />
                                          </a>
                                      </div>
                                      <div class="slid_cnt">
                                          <h3>Carnival Hotel</h3>
                                          <span>Las Vegas, United States</span>
                                          <div class="review_part">
                                              <ul>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                  <li>200 reviews</li>
                                              </ul>
                                          </div>
                                          <p>It is a long established fact that a read will be distracted by readable content of a page when looking at its layout.</p>
                                          <div class="price_part">
                                              <span>$230</span>/per night
                                          </div>
                                          <div class="instalment_part">
                                              <a href="javascript:void(0);">
                                                  Instalment starts from <span>$35</span>/week
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </li>
                          <li class="item">
                              <div class="slid_card">
                                  <div class="inner">
                                      <div class="slid_im">
                                          <img src="{{s3BucketUrl}}assets/images/slid-2.png" alt="" />
                                          <a href="javascript:void(0);">
                                              <img src="{{s3BucketUrl}}assets/images/icon/wishlist-icon.svg" alt="" />
                                          </a>
                                      </div>
                                      <div class="slid_cnt">
                                          <h3>Carnival Hotel</h3>
                                          <span>Las Vegas, United States</span>
                                          <div class="review_part">
                                              <ul>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                  <li>200 reviews</li>
                                              </ul>
                                          </div>
                                          <p>It is a long established fact that a read will be distracted by readable content of a page when looking at its layout.</p>
                                          <div class="price_part">
                                              <span>$230</span>/per night
                                          </div>
                                          <div class="instalment_part">
                                              <a href="javascript:void(0);">
                                                  Instalment starts from <span>$35</span>/week
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </li>
                          <li class="item">
                              <div class="slid_card">
                                  <div class="inner">
                                      <div class="slid_im">
                                          <img src="{{s3BucketUrl}}assets/images/slid-3.png" alt="" />
                                          <a href="javascript:void(0);">
                                              <img src="{{s3BucketUrl}}assets/images/icon/wishlist-icon.svg" alt="" />
                                          </a>
                                      </div>
                                      <div class="slid_cnt">
                                          <h3>Carnival Hotel</h3>
                                          <span>Las Vegas, United States</span>
                                          <div class="review_part">
                                              <ul>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                  <li>200 reviews</li>
                                              </ul>
                                          </div>
                                          <p>It is a long established fact that a read will be distracted by readable content of a page when looking at its layout.</p>
                                          <div class="price_part">
                                              <span>$230</span>/per night
                                          </div>
                                          <div class="instalment_part">
                                              <a href="javascript:void(0);">
                                                  Instalment starts from <span>$35</span>/week
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Close Our Discover Section-->