<div class="price_listing_wrpper">
    <div class="total_p_wrp bb">
        <div class="left_sec">
            Total Purchases
            <span>
                Taxes and Fees Included
            </span>
        </div>
        <div class="right_sec">
            $900
        </div>
    </div>
    <div class="price_descrip">
        <div class="line_desc">
            <div class="left_sec">
                Booking Downpayment
            </div>
            <div class="right_sec">
                $180
            </div>
        </div>
        <div class="line_desc">
            <div class="left_sec">
                Add-on Baggage
            </div>
            <div class="right_sec">
                $180
            </div>
        </div>
        <div class="line_desc">
            <div class="left_sec">
                Add-on Baggage
            </div>
            <div class="right_sec">
                $180
            </div>
        </div>
        <div class="total_p_wrp">
            <div class="left_sec">
                Downpayment
            </div>
            <div class="right_sec">
                $200
            </div>
        </div>
        <div class="listing_accordion">
            <div id="accordion_listing">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" aria-expanded="true" href="#listing_descrip">
                            7 Monthly Installments of $100
                        </a>
                    </div>
                    <div id="listing_descrip" class="collapse show" data-parent="#accordion_listing">
                        <div class="card-body">
                            <div class="line_desc paid_clr">
                                <div class="left_sec">
                                    Booking Downpayment
                                </div>
                                <div class="right_sec">
                                    $180
                                </div>
                                <span class="paid_markss">
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="line_desc due_clr">
                                <div class="left_sec">
                                    Add-on Baggage
                                </div>
                                <div class="right_sec">
                                    $180
                                </div>
                                <span class="paid_markss"></span>
                            </div>
                            <div class="line_desc">
                                <div class="left_sec">
                                    Add-on Baggage
                                </div>
                                <div class="right_sec">
                                    $180
                                </div>
                                <span class="paid_markss"></span>
                            </div>
                            <div class="total_p_wrp">
                                <div class="left_sec">
                                    Downpayment
                                </div>
                                <div class="right_sec">
                                    $200
                                </div>
                                <span class="paid_markss"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>