@import "../../../../../../cstm-variable";
@import "../../../../../../_cstm-variable.scss";
@import "../../../../../../_cstm-components.scss";
@import "../../../../../../_hotel.scss";
@import "../../../../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.price_listing_wrpper {
    background-color: $background-white;
    // padding-top: 15px;
    border-radius: 10px;
    border: 1px solid #d6d6d6;
    margin: 0 15px 15px;
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;

    .total_p_wrp {
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        // color: $active-tab-text;
        // font-weight: 600;
        // padding: 10px 15px;
        // font-size: 16px;

        // @include tab-view {
        //     font-size: 14px;
        // }

        // &.bb {
        //     border-bottom: 1px solid $box-border-color;

        //     .left_sec {
        //         flex-direction: column;
        //         display: flex;

        //         span {
        //             color: $mid_gray_bg;
        //             font-size: 10px;
        //             @include tab-view {
        //                 font-weight: 400;
        //             }
        //         }
        //     }
        //     .fake_paid_markss {
        //         @include tab-view {
        //             display: none;
        //         }
        //     }
        // }

        // .left_sec {
        //     // flex: 1;
        //     @include tab-view {
        //         font-size: 14px;
        //     }
        // }

        .paid_markss {
            width: 21px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 7px;
        }
    }

    .price_descrip {
        .line_desc {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $mid_gray_bg;
            // padding: 5px 15px;
            font-size: 16px;
            font-weight: 400;
            padding-bottom: 7px;
            @include tab-view {
                font-size: 14px;
            }

            &.paid_clr {
                color: #1cd304;
            }

            &.due_clr {
                color: $pink;
            }

            &.black_line_head {
                .fake_paid_markss {
                    @include tab-view {
                        display: none;
                    }
                }
            }

            .left_sec {
                display: flex;
                align-items: center;
                .left_date{
                    min-width: 170px;
                }
                .booking_type {
                    display: flex;
                    align-items: center;
                    i{
                        padding: 0 6px;
                        font-size: 11px; 
                    }
                }
            }
            .right_sec{
                display: flex;
                align-items: center;
            }

            .paid_markss {
                width: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 7px;
                font-size: 14px;
            }
        }

        .listing_accordion {
            .card{
                background: transparent;
                border: none;
                .card-header{
                    margin: 0;
                    background: transparent;
                    border-radius: 0;
                    padding: 23px 20px;
                    border-bottom: none;
                    border-bottom: 1px dashed #d6d6d6;
                    a{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-weight: 400;
                        font-size: 16px;
                        color: $mid_gray_bg;
                        &:after {
                            content: "";
                            position: relative;
                            padding: 5px 9px;
                            transition: 0.3s;
                            border: none;
                        }
                        &[aria-expanded="true"] {
                            &:after {
                                background-image: url(https://d2q1prebf1m2s9.cloudfront.net/assets/images/arrow_up_dropdown.svg);
                                background-position: right;
                                background-repeat: no-repeat;
                                background-size: 14px;
                            }
                        }
                        &[aria-expanded="false"] {
                            &:after {
                                background-image: url(https://d2q1prebf1m2s9.cloudfront.net/assets/images/arrow_dropdown.svg);
                                background-position: right;
                                background-repeat: no-repeat;
                                background-size: 14px;
                            }
                        }
                    }
                }
                #listing_descrip{
                    .card-body{
                        padding: 20px;
                    }
                }
            }
            // #accordion_listing {
            //     .card {
            //         border: none;
            //         border-top: 1px solid $box-border-color;
            //         border-bottom-left-radius: 10px;
            //         border-bottom-right-radius: 10px;
            //         border-top-right-radius: 0;
            //         border-top-left-radius: 0;

            //         .card-header {
            //             margin: 0;
            //             background-color: $background-white;
            //             border-radius: 10px;
            //             padding: 15px;
            //             border-bottom: none;

            //             a {
            //                 font-weight: 400;
            //                 color: $text-grey;
            //                 font-size: 16px;
            //                 border: none;
            //                 background-color: transparent;
            //                 display: flex;
            //                 justify-content: space-between;
            //                 align-items: flex-start;
            //                 width: 100%;
            //                 padding: 0;

            //                 @include tab-view {
            //                     font-size: 14px;
            //                 }

            //                 &[aria-expanded="true"] {
            //                     &:after {
            //                         content: "";
            //                         position: relative;
            //                         padding: 5px 9px;
            //                         background-image: url(https://d2q1prebf1m2s9.cloudfront.net/assets/images/arrow_up_dropdown.svg);
            //                         background-position: right;
            //                         background-repeat: no-repeat;
            //                         background-size: 14px;
            //                         transition: 0.3s;
            //                         right: 0;
            //                         border: none;
            //                         top: 5px;

            //                         // @include tab-view {
            //                         //     position: absolute;
            //                         //     right: 0;
            //                         //     height: 12px;
            //                         // }
            //                     }
            //                 }

            //                 &[aria-expanded="false"] {
            //                     &:after {
            //                         position: relative;
            //                         padding: 5px 9px;
            //                         background-image: url(https://d2q1prebf1m2s9.cloudfront.net/assets/images/arrow_dropdown.svg);
            //                         background-position: right;
            //                         background-repeat: no-repeat;
            //                         background-size: 14px;
            //                         content: "";
            //                         transition: 0.3s;
            //                         right: 0;
            //                         border: none;
            //                         top: 5px;

            //                         // @include tab-view {
            //                         //     position: absolute;
            //                         //     right: 0;
            //                         //     height: 12px;
            //                         // }
            //                     }
            //                 }
            //             }
            //         }

            //         .card-body {
            //             padding: 0;
            //         }
            //     }
            // }
        }
    }

    .fake_paid_markss {
        width: 31px;
    }
    @include tab-view {
        margin: 0 10px 15px;
    }
}

.booking_summary_sect{
    padding-top: 16px;
    .summary_box{
        padding: 10px 15px;
        border-bottom: 1px dashed #d6d6d6;
        &:first-child{
            border-top: 1px dashed #d6d6d6;
        }
        &:last-child{
            border-top: 1px dashed #d6d6d6;
            border-bottom: 0;
        }
        .summary_item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 400;
            font-size: 16px;
            color: $mid_gray_bg;
            padding: 5px 5px 2px;
            .summary_item_price{
                font-weight: 300;
                display: flex;
                align-items: center;
            }

            &.summary_item_total{
                color: #0B4BFF;
                font-weight: 600;
                padding: 13px 5px;
                .summary_item_price{
                    font-weight: 600;
                }
            }
        }
    }
}