@import "../../../../_cstm-variable.scss";
@import "../../../../_cstm-components.scss";
@import "../../../../_hotel.scss";
@import "../../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.modal_otp_block {
  .modal-header {
    justify-content: center;
    border: none;
    padding: 15px 20px 0;
    flex-flow: column;
    align-items: center;

    .close {
      opacity: 1;

      img {
        width: 12px;
      }
    }
  }

  .modal-body {
    width: 100%;
    padding: 35px 20px 20px;

    @include tab-view {
      flex: revert;
    }

    .modal_top_block {
      margin: 0 0 26px;
      text-align: center;
      .ic_suc {
        margin: 0 0 15px;
      }

      h4 {
        font-size: 23px;
        line-height: 28px;
        font-weight: 500;
        color: $active-tab-text;
        text-align: center;
        max-width: 370px;
        margin: 0 auto;

        &.suc_title {
          margin: 15px auto 0;
        }

        @include tab-view {
          max-width: 100%;
        }
      }
    }

    .form_row {
      width: 100%;
      .text_field {
        width: 100%;
        ng-otp-input {
          width: 100%;
          display: flex;
          .ng-star-inserted {
            .wrapper {
              display: flex;
              justify-content: center;
            }
          }
        }
        .error_text {
          width: 100%;
          color: $error-color;
          font-size: 10px;
          font-weight: 400;
          margin: 5px 0 0;
          text-align: center;
        }
      }
    }
    .resend_otp_code {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 20px 0 25px;

      div {
        font-size: 12px;
        color: $text_grey_dark;
        .count-down {
          padding-right: 3px;
        }
      }
      .resendSpinner {
        margin-right: 5px;
      }
      .hover-link {
        p {
          margin: 0;
          font-size: 12px;
          color: $active-tab-text;
        }

        &.disable_link {
          cursor: default;

          p {
            color: $text_grey_dark;
          }
        }
      }
    }
    .form_btn {
      width: 100%;
      text-align: center;

      button {
        width: 100%;
        height: 40px;
        padding: 0px 25px;
        background: $hotel-secondary-color;
        border-radius: 25px;
        border: 1px solid $hotel-secondary-color;
        font-size: 14px;
        font-weight: 500;
        color: $text-white;
        transition: 0.3s;
        position: relative;
        z-index: 9;
        overflow: hidden;
        white-space: normal;

        &::before {
          content: "";
          position: absolute;
          top: 1px;
          left: 1px;
          width: 100%;
          height: 0%;
          background: $background-white;
          z-index: -1;
          transition: 0.8s;
          border-radius: 25px;
        }

        &:hover {
          border: 1px solid $hotel-secondary-color;
          color: $hotel-secondary-color;
          &:before {
            height: calc(100% - 2px);
            width: calc(100% - 2px);
          }
        }
      }
    }
    .block_api_error {
      max-width: max-content;
      width: 100%;
      margin: 13px auto 0;
      padding: 5px 20px;
      font-size: 12px;
      color: $api_error_text;
      //background: $api_error_bg;
      background: transparent;
      border-radius: 25px;
      text-align: center;
    }
  }

  .modal-footer {
    padding: 0 20px 25px;
    border: 0;
    margin: 0;
    .modal_btm {
      width: 100%;
      .block_logo {
        width: 100%;
        text-align: center;
        margin: 0 0 0;

        img {
          height: 22px;
        }
      }
    }
  }
}
