<!-- <div class="form-container otp-container show_otp">
    <div class="verify_otp_modal">
        <div class="modal_top">
            <div class="modal_title">
                <h4>{{'sign_in_otp_title' | translate}}</h4>
                <p>{{'sign_in_otp_description' | translate}}</p>
                <p style="color: red;">{{apiError}}</p>
            </div>
        </div>

        <div class="modal_cnt">
            <div *ngIf="otpVerified" class="modal_message">
                <h4 style="color: green;">Your OTP is verified successfully.</h4>
            </div>
            <form [formGroup]="otpForm" *ngIf="!otpVerified">
                <ul class="add_otp">
                    <li>
                        <input type="text" (keydown)="onKeydown($event)" (keypress)="commonFunctoin.validateNumber($event)" #input1 (input)="onInputEntry($event, input2)" formControlName="otp1" maxlength="1" tabindex="1" class="tab1" placeholder="0">
                    </li>
                    <li>
                        <input type="text" (keydown)="onKeydown($event)" (keypress)="commonFunctoin.validateNumber($event)" #input2 (input)="onInputEntry($event, input3)" formControlName="otp2" maxlength="1" tabindex="2" class="tab2" placeholder="0">
                    </li>
                    <li>
                        <input type="text" (keydown)="onKeydown($event)" (keypress)="commonFunctoin.validateNumber($event)" #input3 (input)="onInputEntry($event, input4)" formControlName="otp3" maxlength="1" tabindex="3" class="tab3" placeholder="0">
                    </li>
                    <li>
                        <input type="text" (keydown)="onKeydown($event)" (keypress)="commonFunctoin.validateNumber($event)" #input4 (input)="onInputEntry($event, input5)" formControlName="otp4" maxlength="1" tabindex="4" class="tab4" placeholder="0">
                    </li>
                    <li>
                        <input type="text" (keydown)="onKeydown($event)" (keypress)="commonFunctoin.validateNumber($event)" #input5 (input)="onInputEntry($event, input6)" formControlName="otp5" maxlength="1" tabindex="5" class="tab5" placeholder="0">
                    </li>
                    <li>
                        <input type="text" (keydown)="onKeydown($event)" (keypress)="commonFunctoin.validateNumber($event)" #input6 (input)="onInputEntry($event, input6)" formControlName="otp6" maxlength="1" tabindex="6" class="tab6" placeholder="0">
                    </li>
                </ul>
                <div *ngIf="otpForm.hasError('otpsError') && ( otpForm.controls.otp1.touched || submitted)">
                    <p class="text-danger">{{'otp_touched_validation' | translate}}</p>
                </div>
                
                <div class="resend_otp_code">
                    <span></span><a class="text-right hover-link" *ngIf="!otpVerified" (click)="resendOtp()">{{'resend_code' | translate}} <i class="fa fa-spinner fa-spin" *ngIf="spinner"></i></a>
                </div>
                <div class="form_btn">
                    <button type="submit" class="btn btn-accent btn-block btn-flat b-r-10" (click)="onSubmit()">
            <i class="fa fa-spinner fa-spin" *ngIf="loading"></i> {{'veryfy' | translate}}
          </button>
                </div>
            </form>
        </div>
        <div class="modal_change_link">
            <p>Back to <a class="hover-link" id="signIn" (click)="openSignInPage()">{{'sign_in' | translate}}</a></p>
        </div>
    </div>
</div> -->
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{'sign_in_otp_title' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="otpForm" *ngIf="!otpVerified">
        <div class="form_row">
            <div class="text_field">
                <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="config"></ng-otp-input>
                <div *ngIf="otpForm.hasError('otpsError') && ( otpForm.controls.otp1.touched || submitted)">
                    <p class="text-danger">{{'otp_touched_validation' | translate}}</p>
                </div>
            </div>
        </div>
       
        
        <div class="resend_otp_code">
            <span>00:57s</span> remaining<a class="text-right hover-link" *ngIf="!otpVerified" (click)="resendOtp()">{{'resend_code' | translate}} <i class="fa fa-spinner fa-spin" *ngIf="spinner"></i></a>
        </div>
        <div class="form_btn">
            <button type="submit" class="btn btn-accent btn-block btn-flat b-r-10" (click)="onSubmit()">
                <i class="fa fa-spinner fa-spin" *ngIf="loading"></i> {{'veryfy' | translate}}
            </button>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
</div>
