<div class="form-container otp-container show_otp">
  <div class="verify_otp_modal">
    <div class="modal_top">
      <div class="modal_title">
        <h4>Have you received the code?</h4>
        <p>A code was sent to your email address</p>
        <p style="color: red;">{{apiError}}</p>
      </div>
    </div>
   
    <div class="modal_cnt">
      <div *ngIf="otpVerified" class="modal_message">
        <h4 style="color: green;">Your OTP is verified successfully.</h4>
      </div>
      <form [formGroup]="otpForm" *ngIf="!otpVerified">
        <ul class="add_otp">
          <li>
            <input type="text" (keypress)="commonFunctoin.validateNumber($event)" #input1
              (input)="onInputEntry($event, input2)" formControlName="otp1" maxlength="1" tabindex="1" placeholder="0">
          </li>
          <li>
            <input type="text" (keypress)="commonFunctoin.validateNumber($event)" #input2
              (input)="onInputEntry($event, input3)" formControlName="otp2" maxlength="1" tabindex="2" placeholder="0">
          </li>
          <li>
            <input type="text" (keypress)="commonFunctoin.validateNumber($event)" #input3
              (input)="onInputEntry($event, input4)" formControlName="otp3" maxlength="1" tabindex="3" placeholder="0">
          </li>
          <li>
            <input type="text" (keypress)="commonFunctoin.validateNumber($event)" #input4
              (input)="onInputEntry($event, input5)" formControlName="otp4" maxlength="1" tabindex="4" placeholder="0">
          </li>
          <li>
            <input type="text" (keypress)="commonFunctoin.validateNumber($event)" #input5
              (input)="onInputEntry($event, input6)" formControlName="otp5" maxlength="1" tabindex="5" placeholder="0">
          </li>
          <li>
            <input type="text" (keypress)="commonFunctoin.validateNumber($event)" #input6
              (input)="onInputEntry($event, input6)" formControlName="otp6" maxlength="1" tabindex="6" placeholder="0">
          </li>
        </ul>
        <div *ngIf="(submitted || errorMessage) && otpForm.controls.otp1.errors" class="focus-input100 login-error">
          <div *ngIf="otpForm.controls.otp1.errors.required" class="text-danger">{{errorMessage}}</div>
        </div>
        <div class="resend_otp_code">
          <span></span><a class="text-right" *ngIf="!otpVerified" href="javascript:void(0);"
            (click)="resendOtp()">Resend code <i class="fa fa-spinner fa-spin" *ngIf="spinner"></i></a>
        </div>
        <div class="form_btn">
          <button type="submit" class="btn btn-accent btn-block btn-flat b-r-10" (click)="onSubmit()"
            style="background: #FF473A;">
            <i class="fa fa-spinner fa-spin" *ngIf="loading"></i> Verify
          </button>
        </div>
      </form>
    </div>
    <div class="modal_change_link">
      <p>Back to <a href="javascript:void(0);" id="signIn" (click)="openSignInPage()">Sign In</a></p>
    </div>
  </div>
</div>