@import '../../../../../cstm-variable';
@import "../../../../../_cstm-variable.scss";
@import "../../../../../_cstm-components.scss";
@import "../../../../../_hotel.scss";
@import "../../../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


.search_result .result_listing.one_way_list .search_block .detail_info_show .tab-content .card-body .tab_detail.fare_detail_cnt p {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.view_more {
    cursor: pointer;
}

.routing_main_wrps {
    .card_box {
        border: 1px solid $box-border-color;
        border-radius: 10px;
        padding: 15px 20px 10px;
        margin-bottom: 20px;

        &:last-child{
            margin-bottom: 0;
        }

        .card_iinner {
            display: flex;
            justify-content: space-between;

            .main_left_side {
                display: flex;
                flex-direction: column;
                flex: 4;
                .common_wrper{
                    display: flex;
                }
                .left_side {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    max-width: 320px;

                    .flight_nams_wrps {
                        display: flex;
                        justify-content: space-between;

                        &:nth-child(2) {
                            margin-top: 10px;
                        }

                        &:nth-child(3) {
                            margin-top: 10px;
                        }

                        .fight_secs {
                            display: flex;
                            flex-direction: column;

                            &:first-child {
                                padding-right: 15px;
                                padding-top: 10px;
                                flex: 1;
                                max-width: 95px;
                            }

                            &:last-child {
                                padding-top: 22px;
                                flex: 2;
                            }

                            img {
                                max-width: 55px;
                                margin: 0 auto;
                            }

                            .fl_name {
                                font-size: 10px;
                                font-weight: 600;
                                color: $text-black;
                                text-align: center;
                                margin-top: 3px;
                            }

                            .fl_num {
                                font-size: 9px;
                                font-weight: 500;
                                color: $mid_gray_bg;
                                text-align: center;
                                margin-top: 3px;
                            }

                            .fl_times {
                                font-size: 14px;
                                font-weight: 600;
                                color: $text-black;
                            }

                            .fl_desti {
                                font-size: 12px;
                                font-weight: 400;
                                color: $mid_gray_bg;
                            }
                        }
                    }
                }

                .center_side {
                    flex: 1;
                    display: flex;
                    justify-content: space-between;
                    text-align: center;
                    padding-top: 22px;
                    font-size: 14px;
                    font-weight: 600;
                    .stops_wr{
                        max-width: 105px;
                        justify-content: space-between;
                        flex-direction: column;
                        display: flex;
                        .stopages {
                            flex-direction: column;
                            display: flex;
                        }
                        .accordion_infos{
                            margin-top: 5px;
                            display: flex;
                        }
                    }

                    .fl_type {
                        color: $text-black;
                    }

                    .stop_names {
                        font-size: 12px;
                        font-weight: 500;
                        color: $mid_gray_bg;
                    }
                    .fl_timin {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        flex: 2;
    
                        .hh_mm {
                            font-size: 14px;
                            font-weight: 600;
                            color: $text-black;
                        }
    
                        .lyovr_txt {
                            font-size: 12px;
                            font-weight: 500;
                            color: $mid_gray_bg;
                        }
                    }

                    .accordion_infos_1 {
                        .det_link {
                            color: $active-tab-text;

                            &[aria-expanded="true"] {
                                color: $mid_gray_bg;
                                &:after {
                                    content: "";
                                    position: relative;
                                    padding: 5px 9px;
                                    background-image: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/arrow_up_dropdown.svg);
                                    background-position: right;
                                    background-repeat: no-repeat;
                                    background-size: 11px;
                                    transition: 0.3s;
                                    right: 0;
                                    border: none;
                                    top: 1px;
                                }
                            }

                            &[aria-expanded="false"] {
                                color: $active-tab-text;
                                &:after {
                                    position: relative;
                                    padding: 5px 9px;
                                    background-image: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/blue_down.svg);
                                    background-position: right;
                                    background-repeat: no-repeat;
                                    background-size: 11px;
                                    content: "";
                                    transition: 0.3s;
                                    right: 0;
                                    border: none;
                                    top: 1px;
                                }
                            }
                        }
                    }
                }
            }

            .right_side {
                flex: 1;
                justify-content: space-between;
                display: flex;
                align-items: center;

                .fl_fares {
                    display: flex;
                    flex-direction: column;
                    font-size: 10px;
                    font-weight: 400;
                    text-align: center;

                    .fare_type {
                        color: $mid_gray_bg;
                    }

                    .total_pr {
                        color: $pink;
                        display: flex;
                        align-items: center;

                        .big-num {
                            font-size: 24px;
                            margin: 0 3px;
                            font-weight: 700;
                        }
                    }

                    .cta_btn {
                        button {
                            max-width: 100px;
                            width: 100%;
                            height: 32px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: $active-tab-text;
                            border-radius: 25px;
                            border: 1px solid $active-tab-text;
                            font-size: 16px;
                            color: $text-white;
                            transition: .3s;
                            position: relative;
                            z-index: 9;
                            overflow: hidden;
                            white-space: normal;
                            margin: 5px auto;

                            &:focus {
                                outline: none;
                                box-shadow: none;
                            }
                        }
                    }
                }
            }
        }

        .detail_accorrd {
            border: 1px solid $box-border-color;
            border-radius: 10px;
            padding: 15px;
            margin-top: 15px;

            .io_ru_wrps {
                display: flex;
                justify-content: space-between;

                .installment_wprs {
                    flex: 2;
                    padding-right: 50px;

                    .type_lines {
                        border-bottom: 1px solid $box-border-color;
                        padding: 15px 0;
                        font-size: 12px;
                        display: flex;
                        justify-content: flex-start;

                        &:last-child {
                            border: none;
                        }

                        .titles {
                            font-weight: 600;
                            color: $text-black;
                            margin-right: 15px;
                        }

                        .texts {
                            font-weight: 500;
                            color: $mid_gray_bg;
                        }
                    }
                }

                .rules_wrps {
                    flex: 1;
                    max-width: 188px;
                    display: flex;
                    flex-direction: column;

                    .heads {
                        font-size: 14px;
                        font-weight: 600;
                        color: $text-black;

                        img {
                            max-width: 15px;
                            margin-right: 5px;
                        }
                    }

                    .texts_rules {
                        font-size: 10px;
                        font-weight: 400;
                        color: $mid_gray_bg;
                        margin-top: 10px;
                        line-height: 14px;
                        overflow-y: auto;
                        max-height: 150px;
                    }
                }
            }

            .notifi_text {
                font-weight: 500;
                color: $mid_gray_bg;
                font-size: 10px;
                margin-top: 5px;
                display: flex;
                justify-content: flex-start;
            }
        }
    }
}