<!-- start contect us section -->
<form [formGroup]="subscribeForm" (ngSubmit)="subscribeNow()">
    <section class="contact_us_upper_main">
        <div class="container">
            <div class="contect_text_wrapper">
                <div class="keep_touch">{{'keep_in_touch' | translate}} </div>
                <!-- <h3 *ngIf="!commonFunction.isRefferal()">{{'join_lt_1' | translate}}</h3>
                <h3 *ngIf="commonFunction.isRefferal()">{{'join_lt_2' | translate}}</h3> -->
                <h4>{{'mobile_page_button_join' | translate}} <span class="brand_name_contact">Laytrip</span> {{'for_discounts_to_your' | translate}}
                    <p>{{'favorite_destinations' | translate}}</p>
                </h4>
                <div class="custom_input_wrapper">
                    <input type="email" formControlName="email" maxlength="40" (click)="changeEmail()" placeholder="{{ 'mobile_page_subscribe_email_placeholder' | translate}}">
                    <button type="submit"><i class="fa fa-spinner fa-spin" *ngIf="loading"></i>{{'mobile_page_button_join' | translate}}</button>
                </div>
                <div *ngIf="submitted" class="focus-input100 message_block">
                    <p *ngIf="subscribeForm.controls.email.errors && subscribeForm.controls.email.errors.required" class="message_error">
                        {{'mobile_page_subscribe_email_touched_validation' | translate}}
                    </p>
                    <p *ngIf="subscribeForm.controls.email.errors && subscribeForm.controls.email.errors.pattern" class="message_error">
                        {{'email_invalid_validation' | translate}}
                    </p>
                </div>
                <div class="message_block" *ngIf="success || error">
                    <p class="message_success" *ngIf="success">{{successMessage}}</p>
                    <p class="message_error" *ngIf="error">{{errorMessage}}</p>
                </div>
            </div>
        </div>
    </section>
</form>
<!-- end contect us section -->