@import "../../../../_cstm-variable.scss";
@import "../../../../_cstm-components.scss";
@import "../../../../_hotel.scss";
@import "../../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.contact_us_upper_main{
    background-image: url('http://d2q1prebf1m2s9.cloudfront.net/assets/images/footer-bg-new.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 30px 0;
    min-height: 500px;
    background-position: center center;
    .contect_text_wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 50px;
        position: relative;
        h3{
            color: $active-tab-text;
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 30px;
        }
        .custom_input_wrapper{
            border: 3px solid $pink;
            width: 100%;
            max-width: 680px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 57px;
            border-radius: 30px;

            input{
                border: none;
                padding: 15px;
                background-color: transparent;
                font-size: 22px;
                width: 100%;
            }
            button {
                max-width: 155px;
                width: 100%;
                height: 52px;
                background: $hotel-secondary-color;
                border-radius: 0 25px 25px 0;
                border: none;
                font-size: 26px;
                color: $text-white;
                transition: 0.3s;
                position: relative;
                z-index: 9;
                overflow: hidden;
                white-space: normal;
                right: -1px;
        
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 0%;
                    background: $secondary-color;
                    z-index: -1;
                    transition: 0.8s;
                    border-radius: 0 0 50% 50%;
                }
        
                &:hover {
                    &:before {
                        height: 190%;
                    }
                }
            }
        }
    }
}