<!-- start contect us section -->
<form [formGroup]="subscribeForm" (ngSubmit)="subscribeNow()">
    <section class="contact_us_upper_main">
        <div class="container">
            <div class="contect_text_wrapper">
                <h3>Join Laytrip for Discounts to Your Favorite Destinations</h3>

                <div class="custom_input_wrapper">
                    <input type="email" formControlName="email" maxlength="40" (click)="changeEmail()"
                        placeholder="{{ 'mobile_page_subscribe_email_placeholder' | translate}}">
                    <!-- <button>Join</button> -->
                    <button type="submit"><i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                        Join</button>
                </div>
                <!-- <div *ngIf="(submitted || subscribeForm.controls.email.touched) && subscribeForm.controls.email.errors"
                    class="focus-input100 message_block">
                    <p *ngIf="subscribeForm.controls.email.errors.required" class="message_error">
                        {{'mobile_page_subscribe_email_touched_validation' | translate}}
                    </p>
                    <p *ngIf="subscribeForm.controls.email.errors.pattern" class="message_error">
                        {{'email_invalid_validation' | translate}}
                    </p> 
                </div> -->
                <div *ngIf="submitted" class="message_block">
                   
                </div>
                <div class="message_block" *ngIf="submitted || success || error">
                    <p class="message_success" *ngIf="success && !error">{{successMessage}}</p>
                    <p class="message_error err" *ngIf="error && !success">{{errorMessage}}</p>
                    <p *ngIf="subscribeForm.controls.email.errors.required" class="message_error req">
                        {{'mobile_page_subscribe_email_touched_validation' | translate}}
                    </p>
                    <p *ngIf="subscribeForm.controls.email.errors.pattern" class="message_error">
                        {{'email_invalid_validation' | translate}}
                    </p>
                </div>
            </div>
        </div>
    </section>
</form>
<!-- end contect us section -->