<!-- Start Our Mobile App Section-->
<section class="our_mobile_apps">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
              <div class="app_intro">
                  <div class="app_icon">
                      <img src="assets/images/icon/Appicon.svg" alt="" />
                  </div>
                  <h2>Easy Bookings with our Mobile Apps</h2>
                  <p>Download the Mobile App <span>Access the app at the Android Google Play and on Apple App Store.</span></p>
                  <ul>
                      <li>
                          <a href="javascript:void(0);">
                              <img src="assets/images/app-store-im.png" alt="" />
                          </a>
                      </li>
                      <li>
                          <a href="javascript:void(0);">
                              <img src="assets/images/play-store-im.png" alt="" />
                          </a>
                      </li>
                  </ul>
                  <div class="our_subscription">
                      <p>Be the first to get nearly updates</p>
                      <div class="subscription">
                          <input type="email" placeholder="Enter Your Email Address" />
                          <button>Subscribe Now</button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="app_im">
                  <img src="assets/images/mobile-apps.png" alt="" />
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Close Our Mobile App Section-->