@import "../../../../_cstm-variable.scss";
@import "../../../../_cstm-components.scss";
@import "../../../../_hotel.scss";
@import "../../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.contact_us_upper_main {
  //background-image: url("https://d2q1prebf1m2s9.cloudfront.net/assets/images/footer-bg-new.png");
  background: url("src/assets/images/contact_new_banner_orignal.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  padding: 40px 0;
  min-height: 429px;
  .contect_text_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    h3 {
      color: $active-tab-text;
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 30px;

      @include tab-view {
        font-size: 16px;
        text-align: center;
        margin-bottom: 18px;
      }
    }
    .keep_touch{
      font-size: 24px;
      color: #fff;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.4px;
      @include tab-view{
        font-size: 18px;
      }
      @include mobile-view{
        font-size: 12px;
        margin-bottom: 4px;
      }
    }
    h4{
      color: #fff;
      font-weight: 600;
      font-size: 40px;
      letter-spacing: 0.4px;
      margin-bottom: 62px;
      span{
        color: #FFAC00;
        font-weight: 700;
      }
      p{
        margin-bottom: 0;
        @include tab-view{
          display: inline-block;
        }
      }
      @include tab-view{
        font-size: 24px;
        margin-bottom: 30px;
      }
      @include mobile-view{
        font-size: 22px;
      }
    }
    .custom_input_wrapper{
      display: flex;
      input{
        border: 2px solid #F726C0;
        background: $text-white;
        color: $mid_gray_bg;
        padding: 8px 15px 8px 22px;
        border-radius: 20px;
        margin-right: 21px;
        width: 354px;
        max-width: 100%;
        box-shadow: none;
        font-size: 16px;
        @include mobile-md-view{
          max-width: 45%;
          padding: 8px 10px;
          font-size: 14px;
        }
      }
      button{
        padding:8px 28px;
        border-radius: 20px;
        background:#F726C0;
        border: 1px solid #F726C0;
        box-shadow: none;
        color: $text-white;
      }
    }
  }
  @include tab-view{
    padding: 30px 0;
    min-height: 400px;
  }
  @include mobile-view{
    padding: 23px 0 91px;
    min-height: 323px;
  }
}

.message_block {
  max-width: 675px;
  margin: 5px 0 0;
  p {
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 0 5px;
  }
  .message_success {
    //background: #28a745;
    color: $pink;
    background-color: transparent;
    text-transform: none;
  }
  .message_error {
    color: red;
    background-color: transparent;
    text-transform: none;
    // background: #dc3545;
  }
}
