@import '../../../cstm-variable';
@import "../../../_cstm-variable.scss";
@import "../../../_cstm-components.scss";
@import "../../../_hotel.scss";
@import "../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.search_suggetion_main {
    border: 1px solid $box-border-color;
    background-color: $background-white;
    border-radius: 10px;
    color: $mid_gray_bg;
    font-size: 16px;
    padding: 15px;
    position: absolute;
    margin-top: 5px;
    width: 100%;


    .close_btn {
        position: absolute;
        top: 10px;
        right: 10px;

        button {
            img {
                max-width: 9px;
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }

    .suggtions {
        scroll-behavior: smooth;
        height: 100%;
        max-height: 180px;
        overflow-y: auto;

        .sug_line_box {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0;
            }

            .word_alpha {
                font-size: 18px;
                font-weight: 500;
                color: $text-black;
                margin-right: 20px;
            }

            .linew_wrps {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;

                .line_names {
                    margin-bottom: 10px;
                    cursor: pointer;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}