<span class="mob_line"><img src="{{s3BucketUrl}}assets/images/icon/map-pin_gray.svg" alt="map pin">
    {{hotelDetails.length}} Hotels
    found in {{hotelName}}</span>
<div class="top_wrapper_box">
    <h3 class="shorting_label">{{filteredLabel}}</h3>
    <span class="desk_line"><img src="{{s3BucketUrl}}assets/images/icon/map-pin_gray.svg" alt="map pin">
        {{hotelDetails.length}} {{hotelDetails.length > 1 ? 'Hotels' : 'Hotel'}}
        found in {{hotelName}}</span>
    <button class="list_v_btn" (click)="differentView('listView')" [hidden]="!isMapView">
        <img src="{{s3BucketUrl}}assets/images/icon/list_y.svg" alt="List view">
        List
    </button>
    <button *ngIf="hotelListArray.length > 0" class="map_v_btn" (click)="differentView('mapView')" [hidden]="isMapView">
        <img src="{{s3BucketUrl}}assets/images/icon/map_.svg" alt="map view">
        Map
    </button>
</div>

<div id="full_hotel_listing">
   <!--  <div [hidden]="isMapView" *ngIf="hotelListArray.length" class="result_listing hotel_listings infinite-search-results" (clickOutside)="closeHotelDetail()" infinite-scroll
        [infiniteScrollDistance]="2"  [infiniteScrollThrottle]="50"  (scrolled)="onScrollDown()"> -->
    <!-- <div [hidden]="isMapView" *ngIf="hotelListArray.length" class="result_listing hotel_listings infinite-search-results" >
        
    </div> -->

    <!-- <div *ngIf="scrollLoading && !isMapView " class="scrollLoading_wrapper">
        <i class="fa fa-spinner fa-spin" class="pink_spinner"></i>
    </div> -->

    <div class="result_listing hotel_map_listings"  >
        <div class="col-lg-12" style="padding: 0;">
            <div class="row">
                <div class="col-lg-12" [hidden]="!isMapView">
                    <agm-map #gm [latitude]="defaultLat" [longitude]="defaultLng" [zoom]="10">
                        <!-- <agm-marker-cluster
                            imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m"> -->
                            <agm-marker #marker *ngFor="let hotel of hotelListArray;" [latitude]="hotel.geocodes.latitude"
                                [longitude]="hotel.geocodes.longitude"
                                [iconUrl]="{url:s3BucketUrl+'assets/images/hotels/custom-marker-1.svg', scaledSize: {height: 80,width: 48}}"
                                [label]="{text:getMapPrice(hotel), color: 'white',fontSize: '12px', class: 'mapLabel',backgroundColor:black}"
                                (markerClick)="infoWindowAction(hotel.id, $event, 'click')"
                                (boundsChange)="checkMarkersInBounds($event)">
                                <agm-info-window [disableAutoPan]="false" #infoWindow>
                                    <div>
                                        <p>{{hotel.name}}</p>
                                    </div>
                                </agm-info-window>
                            </agm-marker>
                        <!-- </agm-marker-cluster> -->
                    </agm-map>
                </div>
                <div class="col-lg-12 mt-3">
                    <div class="search_block" *ngFor="let item of hotelListArray  | paginate: { itemsPerPage: 20, currentPage: currentPage }; let blockIndex = index;">
                        <div class="listing_block">
                            <div class="listing_inner_box_wrppr">
                                <div class="desktop_box">
                                    <div class="box_left">
                                        <div class="block_main">
                                            <div class="block_top">
                                                <div class="block_inner">
                                                    <div class="box_img">
                                                        <div class="block_im">
                                                            <div class="hotel_list_img_wrp">
                                                                <!-- <ngx-gallery *ngIf="item.galleryImages.length > 0" [options]="galleryOptions"
                                                                    [images]="item.galleryImages"></ngx-gallery>
            
                                                                <img *ngIf="item.galleryImages.length == 0" src="{{s3BucketUrl}}assets/images/hotels/default_img.svg" alt="blank image" class="blank_image_box"> -->
                                                                <ngb-carousel [interval]="false">
                                                                    <ng-template ngbSlide *ngFor="let image of item.galleryImages">
                                                                      <div class="picsum-img-wrapper">
                                                                        <img src={{image.small}} onerror="this.onerror=null;this.src='http://d2q1prebf1m2s9.cloudfront.net/assets/images/profile_im.svg';">
                                                                      </div>
                                                                    </ng-template>
                                                                </ngb-carousel>
                                                            </div>
                                                        </div>
                                                    </div>
            
                                                    <div class="box_info">
                                                        <div class="block_detail">
                                                            <div class="block_detail_top">
                                                                <div class="detail_info">
                                                                    <h4>{{item?.name}}</h4>
                                                                    <span class="adress_span">
            
                                                                        {{item?.full_address}}
                                                                    </span>
                                                                    <div class="review_section_wrap">
                                                                        <div class="left_bar">
                                                                            <div class="stars_text">
                                                                                <div class="stars_rating {{item.rating}}">                                                                    
                                                                                    <img class="filled" src="{{s3BucketUrl}}assets/images/icon/star_filled.svg"
                                                                                        alt="filled Stars Icon" *ngFor='let in of counter(item.rating)'>
                                                                                    <img class="blank" src="{{s3BucketUrl}}assets/images/icon/star_blank.svg"
                                                                                        alt="blank Stars Icon" *ngFor='let in of counter(5 - item.rating)' >
                                                                                
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="block_detail_btm">
                                                            <span [id]="'accordion_infos1'+blockIndex" class="show_detail">
                                                                <a data-toggle="collapse" data-parent="#full_hotel_listing"
                                                                    [href]="'#collapse'+blockIndex" aria-expanded="false"
                                                                    aria-controls="collapse1" class="hotel_anchor">
                                                                    Details
                                                                </a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
            
                                            </div>
            
                                        </div>
                                    </div>
                                    <div class="box_right">
                                        <div class="block_price block_pr">
                                            <div class="block_inn_pr">
                                                <div class="block" *ngIf="item.secondary_start_price > 0">
                                                    <p>Flexible Installments</p>
                                                    <p>From <span>{{ currency?.symbol }}{{item?.secondary_start_price | number :
                                                            '1.2-2'}}</span> weekly
                                                    </p>
                                                </div>
                                                <div class="block" *ngIf="item.secondary_start_price === 0">
                                                    <p>Full Payment <span>{{ currency?.symbol }}{{item?.selling?.total | number :
                                                            '1.2-2'}}</span></p>
                                                </div>
                                            </div> <a class="book_btn anchor-tag"
                                                [routerLink]="['/hotel/detail', item.id, item.bundle]" [queryParams]="{check_in:check_in,check_out:check_out,latitude:latitude,longitude:longitude,itenery:itenery,location:location,city_id:city_id}">Select</a>
            
                                        </div>
                                    </div>
                                </div>
                                <div class="mobile_box">
            
                                    <div class="hotel_list_img_wrp">
                                        <!-- <ngx-gallery *ngIf="item.galleryImages.length > 0" [options]="galleryOptions"
                                            [images]="item.galleryImages"></ngx-gallery>
            
                                        <img *ngIf="item.galleryImages.length == 0" src="{{s3BucketUrl}}assets/images/hotels/default_img.svg" alt="blank image" class="blank_image_box"> -->                           
                                        <ngb-carousel [interval]="false">
                                            <ng-template ngbSlide *ngFor="let image of item.galleryImages">
                                              <div class="picsum-img-wrapper">
                                                <img src={{image.small}} onerror="this.onerror=null;this.src='http://d2q1prebf1m2s9.cloudfront.net/assets/images/profile_im.svg';">
                                              </div>
                                            </ng-template>
                                        </ngb-carousel>
                                    </div>
                                    <div class="middle_part">
                                        <div class="detail_info">
                                            <h4>{{item?.name}}</h4>
                                            <span class="adress_span">
            
                                                {{item?.full_address}}
                                            </span>
                                            <div class="review_section_wrap">
                                                <div class="left_bar">
            
                                                    <div class="stars_text">
                                                        <div class="stars_rating {{item.rating}}">                                                                    
                                                            <img class="filled" src="{{s3BucketUrl}}assets/images/icon/star_filled.svg"
                                                                alt="filled Stars Icon" *ngFor='let in of counter(item.rating)'>
                                                            <img class="blank" src="{{s3BucketUrl}}assets/images/icon/star_blank.svg"
                                                                alt="blank Stars Icon" *ngFor='let in of counter(5 - item.rating)' >
                                                        
                                                        </div>
            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="show_detail" [ngClass]="{'open_detail':showHotelDetails[blockIndex]}">
                                            <a class="show_more_detail anchor-tag" (click)="showDetails(blockIndex)">
                                                Details </a>
                                        </div> -->
                                        <span [id]="'accordion_infos1'+blockIndex" class="show_detail">
                                            <a data-toggle="collapse" data-parent="#full_hotel_listing"
                                                [href]="'#collapse'+blockIndex" aria-expanded="false"
                                                aria-controls="collapse1" class="hotel_anchor">
                                                Details
                                            </a>
                                        </span>
                                    </div>
                                    <div class="thrd_part">
                                        <div class="block_price block_pr">
                                            <div class="block_inn_pr">
                                                <div class="block" *ngIf="item.secondary_start_price > 0">
            
                                                    <p>From <span>{{ currency?.symbol }}{{item?.secondary_start_price | number :
                                                            '1.2-2'}}</span> weekly
                                                    </p>
                                                </div>
                                                <div class="block" *ngIf="item.secondary_start_price === 0">
                                                    <p>Full Payment <span>{{ currency?.symbol }}{{item?.selling?.total | number :
                                                            '1.2-2'}}</span></p>
                                                </div>
                                            </div> <a class="book_btn anchor-tag"
                                                [routerLink]="['/hotel/detail', item.id, item.bundle]" [queryParams]="{check_in:check_in,check_out:check_out,latitude:latitude,longitude:longitude,itenery:itenery,location:location,city_id:city_id}">Select</a>
                                            <p>Flexible Installments</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div [id]="'collapse'+blockIndex" class="detail_info_show collapse">
                            <div class="card-body">
                                <div class="io_ru_wrps">
                                    <div class="installment_wprs">
                                        <div class="type_lines">
                                            <span class="titles">
                                                Installment Option 1
                                            </span>
                                            <span class="texts" *ngIf="item.start_price>0">
                                                ${{item.start_price | number : '1.2-2'}} downpayment and
                                                {{item.no_of_weekly_installment}} weekly installments of
                                                ${{item.secondary_start_price |
                                                number : '1.2-2'}}
                                            </span>
                                            <span class="texts" *ngIf="item.start_price==0">
                                                Flights within 30 days of travel not available in installments
                                            </span>
                                        </div>
                                        <div class="type_lines">
                                            <span class="titles">
                                                Installment Option 2
                                            </span>
                                            <span class="texts" *ngIf="item.start_price>0">
                                                ${{item.second_down_payment | number : '1.2-2'}} downpayment and
                                                {{item.no_of_weekly_installment_2}} bi-weekly installments of
                                                ${{item.secondary_start_price_2 | number : '1.2-2'}}
                                            </span>
                                            <span class="texts" *ngIf="item.start_price==0">
                                                Flights within 30 days of travel not available in installments
                                            </span>
                                        </div>
                                        <div class="type_lines">
                                            <span class="titles">
                                                Installment Option 3
                                            </span>
                                            <span class="texts" *ngIf="item.start_price>0">
                                                ${{item.third_down_payment | number : '1.2-2'}} downpayment and
                                                {{item.no_of_weekly_installment_3}} monthly installments of
                                                ${{item.secondary_start_price_3 |
                                                number : '1.2-2'}}
                                            </span>
                                            <span class="texts" *ngIf="item.start_price==0">
                                                Flights within 30 days of travel not available in installments
                                            </span>
                                        </div>
                                        <div class="type_lines">
                                            <span class="titles">
                                                Average Nightly Rate
                                            </span>
                                            <span class="texts">
                                                ${{item.night_rate | number : '1.2-2'}} including taxes and fees
                                            </span>
                                            <div class="notifi_text mobile_notifi">
                                                More Weekly, Bi-Weekly and Monthly plan options on Booking screen.
                                            </div>
                                        </div>
                                        <div class="full_desk_not">
                                            <div class="notifi_text">
                                                More Weekly, Bi-Weekly and Monthly plan options on Booking screen.
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="rules_wrps">
                                        <span class="heads">
                                            <img src="{{s3BucketUrl}}assets/images/icon/bed-pink.svg" alt=""> Rules
                                        </span>
                                        <span class="texts_rules">
                                            Non-refundable, non-transferable. Change policy reflected in Laytrip <a
                                                [routerLink]="['/terms']">Terms</a> which apply.
                                        </span>
            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <pagination-controls class="hotel-pagination" autoHide="true" (pageChange)="pageChanged($event)"></pagination-controls>
    <app-hotel-not-found *ngIf="!hotelListArray.length"></app-hotel-not-found>
</div>