<!-- <div class="view_btn_wrapper">
    <div class="hotel-counter-wrapper">
        <div class="block_result_found">
            <p>{{hotelDetails.length}} Hotels found from</p>
            <span>{{hotelName}}</span>
        </div>
    </div>
    <div>
        <button class="list_v_btn" (click)="differentView('listView')" [hidden]="!isMapView">
            <img src="{{s3BucketUrl}}assets/images/hotels/list_btn.svg" alt="List view">
            List view
        </button>
        <button class="map_v_btn" (click)="differentView('mapView')" [hidden]="isMapView">
            <img src="{{s3BucketUrl}}assets/images/hotels/map_btn.svg" alt="List view">
            Map view
        </button>
    </div>
</div> -->
<div class="top_wrapper_box">
    <h3 class="shorting_label">Price Low to High</h3>
    <span><img src="{{s3BucketUrl}}assets/images/icon/map-pin_gray.svg" alt="map pin"> {{hotelDetails.length}} Hotels
        found in {{hotelName}}</span>
    <button class="list_v_btn" (click)="differentView('listView')" [hidden]="!isMapView">
        <img src="{{s3BucketUrl}}assets/images/icon/list_y.svg" alt="List view">
        List
    </button>
    <button class="map_v_btn" (click)="differentView('mapView')" [hidden]="isMapView">
        <img src="{{s3BucketUrl}}assets/images/icon/map_.svg" alt="map view">
        Map
    </button>
</div>

<div [hidden]="isMapView" *ngIf="hotelListArray.length" [@listAnimation]="hotelListArray.length"
    (@listAnimation.start)="logAnimation($event)" (@listAnimation.done)="logAnimation($event)"
    class="result_listing hotel_listings infinite-search-results" (clickOutside)="closeHotelDetail()" infiniteScroll
    [infiniteScrollDistance]="scrollDistance" [infiniteScrollDisabled]="isFullListDisplayed"
    [infiniteScrollThrottle]="throttle" [scrollWindow]="false" (scrolled)="onScrollDown()">
    <!-- <div class="carousel_box">
        <ul class="slides">
            <input type="radio" name="radio-buttons" id="img-1" checked />
            <li class="slide-container">
                <div class="slide-image">
                    <img
                        src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Timisoara_-_Regional_Business_Centre.jpg">
                </div>
                <div class="carousel-controls">
                    <label for="img-3" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-2" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
            <input type="radio" name="radio-buttons" id="img-2" />
            <li class="slide-container">
                <div class="slide-image">
                    <img
                        src="https://content.r9cdn.net/rimg/dimg/db/02/06b291e8-city-14912-171317ad83a.jpg?width=1750&height=1000&xhint=3040&yhint=2553&crop=true">
                </div>
                <div class="carousel-controls">
                    <label for="img-1" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-3" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
            <input type="radio" name="radio-buttons" id="img-3" />
            <li class="slide-container">
                <div class="slide-image">
                    <img src="https://speakzeasy.files.wordpress.com/2015/05/twa_blogpic_timisoara-4415.jpg">
                </div>
                <div class="carousel-controls">
                    <label for="img-2" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-1" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
            <div class="carousel-dots">
                <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
                <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
                <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
            </div>
        </ul>
    </div> -->
    <div class="search_block" *ngFor="let item of hotelListArray; let blockIndex = index;">
        <div class="listing_block">
            <div class="listing_inner_box_wrppr">
                <div class="desktop_box">
                    <div class="box_left">
                        <div class="block_main">
                            <div class="block_top">
                                <div class="block_inner">
                                    <div class="box_img">
                                        <div class="block_im">
                                            <div class="hotel_list_img_wrp">
                                                <!-- <img src="{{item?.thumbnail}}" alt="Hotel image"> -->
                                                <ngx-gallery [options]="galleryOptions" [images]="item.galleryImages"></ngx-gallery>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="box_info">
                                        <div class="block_detail">
                                            <div class="block_detail_top">
                                                <div class="detail_info">
                                                    <h4>{{item?.name}}</h4>
                                                    <span class="adress_span">

                                                        {{item?.full_address}}
                                                    </span>
                                                    <div class="review_section_wrap">
                                                        <div class="left_bar">

                                                            <div class="stars_text">
                                                                <div class="stars_rating">
                                                                    <img src="{{s3BucketUrl}}assets/images/hotels/rating_stars.svg"
                                                                        alt="Stars"
                                                                        *ngFor='let in of counter(item.rating)'>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block_detail_btm">
                                            <div class="show_detail"
                                                [ngClass]="{'open_detail':showHotelDetails[blockIndex]}">
                                                <a class="show_more_detail anchor-tag"
                                                    (click)="showDetails(blockIndex)">
                                                    Details </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="box_right">
                        <div class="block_price block_pr">
                            <div class="block_inn_pr">
                                <div class="block" *ngIf="item.secondary_start_price > 0">
                                    <p>Flexible Installments</p>
                                    <p>From <span>{{ currency?.symbol }}{{item?.secondary_start_price}}</span> weekly
                                    </p>
                                </div>
                                <div class="block" *ngIf="item.secondary_start_price === 0">
                                    <p>From <span>{{ currency?.symbol }}{{item?.selling?.total}}</span> weekly</p>
                                </div>
                            </div> <a class="book_btn anchor-tag"
                                [routerLink]="['/hotel/detail', item.id, hotelToken]">Select</a>

                        </div>
                    </div>
                </div>
                <div class="mobile_box">

                    <div class="hotel_list_img_wrp">
                        <ngx-gallery [options]="galleryOptions" [images]="item.galleryImages"></ngx-gallery>
                    </div>
                    <div class="middle_part">
                        <div class="detail_info">
                            <h4>{{item?.name}}</h4>
                            <span class="adress_span">

                                {{item?.full_address}}
                            </span>
                            <div class="review_section_wrap">
                                <div class="left_bar">

                                    <div class="stars_text">
                                        <div class="stars_rating">
                                            <img src="{{s3BucketUrl}}assets/images/hotels/rating_stars.svg" alt="Stars"
                                                *ngFor='let in of counter(item.rating)'>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="show_detail" [ngClass]="{'open_detail':showHotelDetails[blockIndex]}">
                            <a class="show_more_detail anchor-tag" (click)="showDetails(blockIndex)">
                                Details </a>
                        </div>
                    </div>
                    <div class="thrd_part">
                        <div class="block_price block_pr">
                            <div class="block_inn_pr">
                                <div class="block" *ngIf="item.secondary_start_price > 0">
                                    
                                    <p>From <span>{{ currency?.symbol }}{{item?.secondary_start_price}}</span> weekly
                                    </p>
                                </div>
                                <div class="block" *ngIf="item.secondary_start_price === 0">
                                    <p>From <span>{{ currency?.symbol }}{{item?.selling?.total}}</span> weekly</p>
                                </div>
                            </div> <a class="book_btn anchor-tag"
                                [routerLink]="['/hotel/detail', item.id, hotelToken]">Select</a>
                                <p>Flexible Installments</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="detail_info_show" [attr.id]="blockIndex" *ngIf="showHotelDetails[blockIndex] === true">
            <div class="card-body">

                <!-- <div class="block_flight_info">
                    <div class="tab_detail fare_detail_cnt">
                        <div class="triangle_right"></div>
                        <ul>
                            <li>Base Fare <span>{{ currency?.symbol
                                    }}{{item?.selling?.sub_total}}</span></li>
                            <li>Taxes and Fees <span>{{ currency?.symbol
                                    }}{{item?.selling?.taxes}}</span></li>
                            <li>Total Fare <span>{{ currency?.symbol
                                    }}{{item?.selling?.total}}</span></li>
                        </ul>
                        <div class="triangle_left"></div>
                        <ul *ngIf="item.instalment_details.instalment_available">
                            <li class="down_payment">
                                {{'down_payment' | translate}}
                                <span class="down_value">{{ currency?.symbol }}{{ item?.start_price | number :
                                    '1.2-2'}}</span>
                            </li>
                            <ng-container
                                *ngFor="let instalment of item.instalment_details.instalment_date; let i = index">
                                <li *ngIf="i>0">
                                    <div class="detail"> {{i}} {{'installment' | translate}}
                                        <p>{{
                                            commonFunction.convertDateFormat(instalment.instalment_date,'YYYY-MM-DD')}}
                                        </p>
                                    </div> <span>{{ currency?.symbol }}{{instalment.instalment_amount}}</span>
                                </li>
                            </ng-container>
                        </ul>
                    </div>
                </div> -->

                <div class="io_ru_wrps">
                    <div class="installment_wprs">
                        <ng-container
                        *ngFor="let instalment of item.instalment_details.instalment_date; let i = index">                        
                            <div class="type_lines" *ngIf="i>0">
                                <span class="titles">
                                     {{'installment' | translate}} Option {{i}}
                                </span>
                                <span class="texts">
                                    {{ currency?.symbol }}{{instalment.instalment_amount}} downpayment and
                                    23 weekly installments of 234
                                </span>
                                <!-- <span class="texts" >
                                    Flights within 30 days of travel not available in installments
                                </span> -->
                            </div>                            
                        </ng-container>
                        <!-- <div class="type_lines">
                            <span class="titles">
                                Installment Option 2
                            </span>
                            <span class="texts">
                                $121 downpayment and
                                23 weekly installments of 234
                            </span>
                            <span class="texts" *ngIf="item.start_price==0">
                                Flights within 30 days of travel not available in installments
                            </span> 
                        </div>
                        <div class="type_lines">
                            <span class="titles">
                                Installment Option 3
                            </span>
                            <span class="texts">
                                $121 downpayment and
                                23 weekly installments of 234
                            </span>
                             <span class="texts" *ngIf="item.start_price==0">
                                Flights within 30 days of travel not available in installments
                            </span> 
                        </div>
                        <div class="type_lines">
                            <span class="titles">
                                Full Payment
                            </span>
                            <span class="texts">
                                $21323 including taxes and fees
                            </span>
                            <div class="notifi_text mobile_notifi">
                                More Weekly, Bi-Weekly and Monthly plan options on Booking screen after you choose
                                Select.
                            </div>
                        </div> -->
                        <div class="full_desk_not">
                            <div class="notifi_text">
                                More Weekly, Bi-Weekly and Monthly plan options on Booking screen after you choose
                                Select.
                            </div>
                        </div>
                    </div>

                    <div class="rules_wrps">
                        <span class="heads">
                            <img src="{{s3BucketUrl}}assets/images/icon/bed-pink.svg" alt=""> Rules
                        </span>
                        <!-- <span class="texts_rules" *ngIf="!loadCancellationPolicy && errorMessage!=''">
                            {{ errorMessage }}
                        </span> -->

                        <span class="texts_rules">
                            Non-refundable, non-transferable. Change policy reflected in Laytrip <a
                                [routerLink]="['/terms']">Terms</a> which apply.
                        </span>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div *ngIf="scrollLoading" class="scrollLoading_wrapper">
    <i class="fa fa-spinner fa-spin"></i>
</div>

<div *ngIf="isFullListDisplayed" class="no-hotel-in-list">
    <span>No more hotels found!</span>
</div>

<div class="result_listing hotel_map_listings" [hidden]="!isMapView">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <agm-map #gm [latitude]="defaultLat" [longitude]="defaultLng" [zoom]="10">
                    <agm-marker-cluster
                        imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
                        <agm-marker #marker *ngFor="let hotel of hotelListArray;" [latitude]="hotel.geocodes.latitude"
                            [longitude]="hotel.geocodes.longitude"
                            [iconUrl]="{url:s3BucketUrl+'assets/images/hotels/custom-map-marker.svg', scaledSize: {height: 80,width: 48}}"
                            [label]="{text:currency?.symbol+hotel?.selling?.total, fontSize: '12px'}"
                            (mouseOver)="infoWindowAction(infoWindow, $event, 'open')"
                            (mouseOut)="infoWindowAction(infoWindow, $event, 'close')"
                            (markerClick)="infoWindowAction(hotel.id, $event, 'click')">
                            <!-- [iconUrl]="s3BucketUrl+'assets/images/hotels/custom-map-marker.svg'" -->
                            <agm-info-window [disableAutoPan]="false" #infoWindow>
                                <div>
                                    <p>{{hotel.name}}</p>
                                </div>
                            </agm-info-window>
                        </agm-marker>
                    </agm-marker-cluster>
                </agm-map>
            </div>
            <div class="col-lg-12 ">
                <ng-container *ngFor="let item of hotelListArray; let blockIndex = index;">
                    <!-- <div class="search_block" [attr.id]="item.id"
                        [ngClass]="{'selected-hotel':showMapDetails[item.id]}">
                        <div class="listing_block anchor-tag hover-anchor-tag">
                            <a target="_blank" [routerLink]="['/hotel/detail', item.id, hotelToken]">
                                <div class="block_main">
                                    <div class="block_top">
                                        <div class="block_inner">
                                            <div class="">
                                                <div class="block_im">
                                                    <div class="hotel_list_img_wrp">
                                                        <span class="fav_sections">
                                                            <a class="heart_blank"></a>
                                                        </span>
                                                        <img src="{{item?.thumbnail}}" alt="Hotel image">
                                                        <div class="review_section_wrap">
                                                            <div class="rating_num">
                                                                <span>
                                                                    {{item?.review_rating}}
                                                                </span>
                                                            </div>

                                                            <div class="stars_rating">
                                                                <img src="{{s3BucketUrl}}assets/images/hotels/rating_stars.svg"
                                                                    alt="Stars" *ngFor='let in of counter(item.rating)'>
                                                            </div>

                                                        </div>
                                                        
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="block_detail">
                                                    <div class="block_detail_top">
                                                        <div class="detail_info">
                                                            <h4>{{item?.name}}</h4>
                                                            <div class="place_name">
                                                                <div>
                                                                    <span class="adress_span">
                                                                        <img src="{{s3BucketUrl}}assets/images/hotels/map_pin_gray.svg"
                                                                            alt="Map pin"> {{item?.full_address}}
                                                                    </span>
                                                                </div>
                                                                <div class="ammin_listing">
                                                                    <div class="amminities_list">
                                                                        <img class="pr-2"
                                                                            *ngFor="let icon of item.amenities.fixed"
                                                                            [src]="amenitiesObject[icon]" alt="">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block_price block_pr">
                                    <div class="block_inn_pr">
                                        <div class="block" *ngIf="item.secondary_start_price > 0">
                                            <p>Room Starts from</p>
                                            <p><span>{{ currency?.symbol }}{{item?.secondary_start_price}}</span>
                                                /week
                                            </p>
                                        </div>
                                        <div class="block" *ngIf="item.secondary_start_price === 0">
                                            <p><span>{{ currency?.symbol }}{{item?.selling?.total}}</span></p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div> -->
                    <div class="search_block">
                        <div class="listing_block">
                            <div class="listing_inner_box_wrppr">

                                <div class="box_left">
                                    <div class="block_main">
                                        <div class="block_top">
                                            <div class="block_inner">

                                                <div class="box_img">
                                                    <div class="block_im">
                                                        <div class="hotel_list_img_wrp">
                                                            <span class="fav_sections">
                                                                <a class="heart_blank"></a>
                                                            </span>
                                                            <img src="{{item?.thumbnail}}" alt="Hotel image">
                                                            
                                                        </div>
                                                    </div>

                                                </div>


                                                <div class="box_info">
                                                    <div class="block_detail">
                                                        <div class="block_detail_top">
                                                            <div class="detail_info">
                                                                <h4>{{item?.name}}</h4>
                                                                <span class="adress_span">

                                                                    {{item?.full_address}}
                                                                </span>
                                                                <div class="review_section_wrap">
                                                                    <div class="left_bar">

                                                                        <div class="stars_text">
                                                                            <div class="stars_rating">
                                                                                <img src="{{s3BucketUrl}}assets/images/hotels/rating_stars.svg"
                                                                                    alt="Stars"
                                                                                    *ngFor='let in of counter(item.rating)'>
                                                                            </div>

                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="block_detail_btm">
                                                        <div class="show_detail"
                                                            [ngClass]="{'open_detail':showHotelDetails[blockIndex]}">
                                                            <a class="show_more_detail anchor-tag"
                                                                (click)="showDetails(blockIndex)">
                                                                Details </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div class="box_right">
                                    <div class="block_price block_pr">
                                        <div class="block_inn_pr">
                                            <div class="block" *ngIf="item.secondary_start_price > 0">
                                                <p>Flexible Installments</p>
                                                <p>From <span>{{ currency?.symbol
                                                        }}{{item?.secondary_start_price}}</span> weekly</p>
                                            </div>
                                            <div class="block" *ngIf="item.secondary_start_price === 0">
                                                <p>From <span>{{ currency?.symbol }}{{item?.selling?.total}}</span>
                                                    weekly</p>
                                            </div>
                                        </div> <a class="book_btn anchor-tag"
                                            [routerLink]="['/hotel/detail', item.id, hotelToken]">Select</a>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="detail_info_show" [attr.id]="blockIndex"
                            *ngIf="showHotelDetails[blockIndex] === true">
                            <div class="card-body">



                                <div class="io_ru_wrps">
                                    <div class="installment_wprs">
                                        <div class="type_lines">
                                            <span class="titles">
                                                Installment Option 1
                                            </span>
                                            <span class="texts">
                                                $121 downpayment and
                                                23 weekly installments of 234
                                            </span>
                                        </div>
                                        <div class="type_lines">
                                            <span class="titles">
                                                Installment Option 2
                                            </span>
                                            <span class="texts">
                                                $121 downpayment and
                                                23 weekly installments of 234
                                            </span>
                                        </div>
                                        <div class="type_lines">
                                            <span class="titles">
                                                Installment Option 3
                                            </span>
                                            <span class="texts">
                                                $121 downpayment and
                                                23 weekly installments of 234
                                            </span>
                                        </div>
                                        <div class="type_lines">
                                            <span class="titles">
                                                Full Payment
                                            </span>
                                            <span class="texts">
                                                $21323 including taxes and fees
                                            </span>
                                            <div class="notifi_text mobile_notifi">
                                                More Weekly, Bi-Weekly and Monthly plan options on Booking screen after
                                                you choose
                                                Select.
                                            </div>
                                        </div>
                                        <div class="full_desk_not">
                                            <div class="notifi_text">
                                                More Weekly, Bi-Weekly and Monthly plan options on Booking screen after
                                                you choose
                                                Select.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="rules_wrps">
                                        <span class="heads">
                                            <img src="{{s3BucketUrl}}assets/images/icon/pink_filled_flight.svg" alt="">
                                            Rules
                                        </span>

                                        <span class="texts_rules">
                                            Non-refundable, non-transferable. Change policy reflected in Laytrip <a
                                                [routerLink]="['/terms']">Terms</a> which apply.
                                        </span>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

</div>
<app-hotel-not-found *ngIf="!hotelListArray.length"></app-hotel-not-found>