.search_result
    .result_listing.one_way_list
    .search_block
    .detail_info_show
    .tab-content
    .card-body
    .tab_detail.fare_detail_cnt
    p {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.view_more {
    cursor: pointer;
}

#map {
    width: 100%;
    height: 100%;
}

agm-map {
    height: 560px;
}

.selected-hotel {
    border: 3px solid #000 !important;
}

.infinite-search-results {
    height: 100rem;
    overflow-y: auto;
}

.scrollLoading_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
    font-size: 25px;
}

.no-hotel-in-list {
    border-radius: 20px;
    font-size: 13px;
    color: #8188AB;
    background: transparent;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
