<span class="mob_line"><img src="{{s3BucketUrl}}assets/images/icon/map-pin_gray.svg" alt="map pin">
    {{'found_in_prefix' | translate}}
    {{hotelCount}} {{(hotelCount > 1 ? 'hotels' : 'hotel') | translate}}
    {{'found_in_suffix' | translate}} {{hotelName}}</span>
<div class="top_wrapper_box">
    <h3 class="shorting_label">{{filteredLabel}}</h3>
    <span class="desk_line" *ngIf="hotelListArray.length > 0"><img src="{{s3BucketUrl}}assets/images/icon/map-pin_gray.svg" alt="map pin">
        {{'found_in_prefix' | translate}}
        {{hotelCount}} {{(hotelCount > 1 ? 'hotels' : 'hotel') | translate}}
        {{'found_in_suffix' | translate}} {{hotelName}}</span>
    <button class="list_v_btn" (click)="differentView('listView')" [hidden]="!isMapView">
        <img src="{{s3BucketUrl}}assets/images/icon/list_y.svg" alt="List view">
        {{'list_vm' | translate}}
    </button>
    <button *ngIf="hotelListArray.length > 0" class="map_v_btn" (click)="differentView('mapView')" [hidden]="isMapView">
        <img src="{{s3BucketUrl}}assets/images/icon/map_.svg" alt="map view">
        {{'map_vm' | translate}}
    </button>
</div>

<div id="full_hotel_listing">
    <div class="result_listing hotel_map_listings">
        <div class="col-lg-12" style="padding: 0;">
            <div class="row">
                <div class="col-lg-12" [ngClass]="isMapView == true ? 'show-map' : 'hide-map'">
                    <agm-map #gm (mapClick)="closeWindow()" [latitude]="defaultLat" [longitude]="defaultLng" [clickableIcons]="false" minZoom="2" [zoom]="10" (boundsChange)="checkMarkersInBounds($event)">
                        <agm-marker #marker *ngFor="let hotel of hotelListArray;let i = index;" [latitude]="hotel.geocodes.latitude" [longitude]="hotel.geocodes.longitude" [iconUrl]="{url:s3BucketUrl+'assets/images/hotels/circle.svg', scaledSize: {height: 80,width: 48}}" [label]="{text:getMapPrice(hotel), position:'relative',zIndex:'100', color: 'white',fontSize: '12px', class: 'mapLabel'}"
                            (markerClick)="displayHotelDetails(hotel.id,infoWindow, 'click')" (mouseMove)="closeInfoWindow(infoWindow, gm)" (mouseOver)="openInfoWindow(infoWindow, gm)" [zIndex]="i+1">
                            <agm-snazzy-info-window [closeWhenOthersOpen]="true" [showCloseButton]="false" [panOnOpen]="false" #infoWindow>
                                <ng-template>{{hotel.name}}</ng-template>
                            </agm-snazzy-info-window>
                        </agm-marker>
                    </agm-map>
                </div>
                <div class="col-lg-12" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScrollDown()">
                    <div class="search_block" *ngFor="let item of hotelListArray ;let blockIndex = index;">
                        <div class="listing_block">
                            <div class="listing_inner_box_wrppr">
                                <div class="desktop_box">
                                    <div class="box_left">
                                        <div class="block_main">
                                            <div class="block_top">
                                                <div class="block_inner">
                                                    <div class="box_img">
                                                        <div class="block_im">
                                                            <div class="hotel_list_img_wrp">
                                                                <ngb-carousel #carousel [interval]="false" [showNavigationIndicators]="false" [showNavigationArrows]="item.galleryImages.length > 0? true:false" (slide)=onSlide($event,blockIndex)>
                                                                    <ng-template ngbSlide *ngFor="let image of item.galleryImages; let imageIndex = index" [id]="imageIndex">
                                                                        <div class="picsum-img-wrapper">
                                                                            <img #sliderimage *ngIf="imageIndex==0" attr.data.src={{image.small}} src={{image.small}} onerror="this.onerror=null;this.src='https://d2q1prebf1m2s9.cloudfront.net/assets/images/hotels/default_img.svg';">
                                                                            <img #sliderimage [class]="'ngb-slide-'+imageIndex+'-'+blockIndex" *ngIf="imageIndex!=0" attr.data.src={{image.small}} onerror="this.onerror=null;this.src='https://d2q1prebf1m2s9.cloudfront.net/assets/images/hotels/default_img.svg';">
                                                                        </div>
                                                                    </ng-template>
                                                                </ngb-carousel>
                                                                <div class="slider_dots">
                                                                    <ng-container *ngFor="let k of [].constructor(item.dots); let j = index">
                                                                        <span [ngClass]="{'active':item.activeSlide==j+1}" (click)="changeSlide(j+1)"></span>
                                                                    </ng-container>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="box_info">
                                                        <div class="block_detail">
                                                            <div class="block_detail_top">
                                                                <div class="detail_info">
                                                                    <a *ngIf="!commonFunction.isRefferal()" class="book_btn anchor-tag" [routerLink]="['/hotel/detail', item.id, item.bundle]" utm_medium [queryParams]="{check_in:check_in,check_out:check_out,latitude:latitude,longitude:longitude,itenery:itenery,location:location,city_id:city_id,city_name:city_name,hotel_name:item?.name,dealsIcon:hotelDealIcon}">
                                                                        <span class="wrapper_names">
                                                                            <span class="hotel_names">{{item?.name}}</span>
                                                                        </span>
                                                                    </a>
                                                                    <a *ngIf="commonFunction.isRefferal()" class="book_btn anchor-tag" [routerLink]="['/hotel/detail', item.id, item.bundle]" utm_medium [queryParams]="{check_in:check_in,check_out:check_out,latitude:latitude,longitude:longitude,itenery:itenery,location:location,city_id:city_id,city_name:city_name,hotel_name:item?.name,dealsIcon:hotelDealIcon,utm_source:commonFunction.getRefferalParms().utm_source,utm_medium:commonFunction.getRefferalParms().utm_medium}">
                                                                        <span class="wrapper_names">
                                                                            <span class="hotel_names">{{item?.name}}</span>
                                                                        <span class="off_label" *ngIf="item.offer_data.applicable && item.offer_data.discount.applicable">${{item.offer_data.discount.amount}} off</span>
                                                                        </span>
                                                                    </a>
                                                                    <span class="adress_span">{{item?.full_address}}</span>
                                                                    <div class="review_section_wrap">
                                                                        <div class="left_bar">
                                                                            <div class="stars_text">
                                                                                <div class="stars_rating {{item.rating}}">
                                                                                    <img class="filled" src="{{s3BucketUrl}}assets/images/icon/star_filled.svg" alt="filled Stars Icon" *ngFor='let in of counter(item.rating)'>
                                                                                    <img class="blank" src="{{s3BucketUrl}}assets/images/icon/star_blank.svg" alt="blank Stars Icon" *ngFor='let in of counter(5 - item.rating)'>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="block_detail_btm">
                                                            <span [id]="'accordion_infos1'+blockIndex" class="show_detail">
                                                                <a data-toggle="collapse" data-parent="#full_hotel_listing" [href]="'#collapse'+blockIndex" aria-expanded="true" aria-controls="collapse1" class="hotel_anchor">{{'details' | translate}}</a>
                                                            </span>
                                                        </div> -->
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="box_right">
                                        <div class="block_price block_pr">
                                            <div class="block_inn_pr">
                                                <div class="block" *ngIf="item.is_installment_available">
                                                    <p>{{'from' |translate}}</p>
                                                    <p class="duel_prices">
                                                        <span class="dashed_price" *ngIf="item.offer_data.applicable && item.offer_data.discount.applicable && item?.secondary_start_price > item?.discounted_secondary_start_price">
                                                            {{ currency?.symbol }}{{item?.secondary_start_price | number :'1.2-2'}}
                                                        </span>
                                                        <span>
                                                            {{ currency?.symbol }}{{ (item?.offer_data.applicable ? item?.discounted_secondary_start_price : item?.payment_object[item.payment_object.installment_type].installment)  | number :'1.2-2'}}
                                                        </span>
                                                    </p>
                                                    <p class="installment_type">{{item?.payment_object.installment_type | translate}}</p>
                                                </div>
                                                <div class="block" *ngIf="!item.is_installment_available">
                                                    <p> <span>{{ currency?.symbol }}{{item?.selling?.total | number : '1.2-2'}}</span></p>
                                                    <p>{{'full_payment' |translate}}</p>
                                                </div>
                                            </div>
                                            <a *ngIf="!commonFunction.isRefferal()" class="book_btn anchor-tag" [routerLink]="['/hotel/detail', item.id, item.bundle]" utm_medium [queryParams]="{check_in:check_in,check_out:check_out,x_coordinate:latitude,y_coordinate:longitude,itenery:itenery,location:location,city_id:city_id,city_name:city_name,hotel_name:item?.name,dealsIcon:hotelDealIcon}">{{'select' |translate}}</a>
                                            <a *ngIf="commonFunction.isRefferal()" class="book_btn anchor-tag" [routerLink]="['/hotel/detail', item.id, item.bundle]" utm_medium [queryParams]="{check_in:check_in,check_out:check_out,latitude:latitude,longitude:longitude,itenery:itenery,location:location,city_id:city_id,city_name:city_name,hotel_name:item?.name,dealsIcon:hotelDealIcon,utm_source:commonFunction.getRefferalParms().utm_source,utm_medium:commonFunction.getRefferalParms().utm_medium}">{{'select' |translate}}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="mobile_box">
                                    <div class="hotel_list_img_wrp">
                                        <ngb-carousel #carousel class="mobile_carousel" [interval]="false" [showNavigationIndicators]="false" [showNavigationArrows]="item.galleryImages.length > 0? true:false" (slide)=onSlide($event,blockIndex)>
                                            <ng-template ngbSlide *ngFor="let image of item.galleryImages; let imageIndex = index" [id]="imageIndex">
                                                <div class="picsum-img-wrapper">
                                                    <img #sliderimage *ngIf="imageIndex==0" attr.data.src={{image.small}} src={{image.small}} onerror="this.onerror=null;this.src='https://d2q1prebf1m2s9.cloudfront.net/assets/images/hotels/default_img.svg';">
                                                    <img #sliderimage [class]="'ngb-slide-'+imageIndex+'-'+blockIndex" *ngIf="imageIndex!=0" attr.data.src={{image.small}} onerror="this.onerror=null;this.src='https://d2q1prebf1m2s9.cloudfront.net/assets/images/hotels/default_img.svg';">
                                                </div>
                                            </ng-template>
                                        </ngb-carousel>
                                        <div class="slider_dots">
                                            <ng-container *ngFor="let k of [].constructor(item.dots); let j = index">
                                                <span [ngClass]="{'active':item.activeSlide==j+1}" (click)="changeSlide(j+1)"></span>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="middle_part">
                                        <div class="detail_info">
                                            <a *ngIf="!commonFunction.isRefferal()" class="book_btn anchor-tag" [routerLink]="['/hotel/detail', item.id, item.bundle]" utm_medium [queryParams]="{check_in:check_in,check_out:check_out,x_coordinate:latitude,y_coordinate:longitude,itenery:itenery,location:location,city_id:city_id,city_name:city_name,hotel_name:item?.name,dealsIcon:hotelDealIcon}">
                                                <span class="wrapper_names">
                                                    <span class="hotel_names">{{item?.name}}</span>
                                                <span class="off_label" *ngIf="item.offer_data.applicable && item.offer_data.discount.applicable">${{item.offer_data.discount.amount}}
                                                    {{'off' | translate}}</span>
                                                </span>
                                            </a>
                                            <a *ngIf="commonFunction.isRefferal()" class="book_btn anchor-tag" [routerLink]="['/hotel/detail', item.id, item.bundle]" utm_medium [queryParams]="{check_in:check_in,check_out:check_out,latitude:latitude,longitude:longitude,itenery:itenery,location:location,city_id:city_id,city_name:city_name,hotel_name:item?.name,dealsIcon:hotelDealIcon,utm_source:commonFunction.getRefferalParms().utm_source,utm_medium:commonFunction.getRefferalParms().utm_medium}">
                                                <span class="wrapper_names">
                                                    <span class="hotel_names">{{item?.name}}</span>
                                                <span class="off_label" *ngIf="item.offer_data.applicable && item.offer_data.discount.applicable">${{item.offer_data.discount.amount}}
                                                    {{'off' | translate}}</span>
                                                </span>
                                            </a>
                                            <span class="adress_span">

                                                {{item?.full_address}}
                                            </span>
                                            <div class="review_section_wrap">
                                                <div class="left_bar">

                                                    <div class="stars_text">
                                                        <div class="stars_rating {{item.rating}}">
                                                            <img class="filled" src="{{s3BucketUrl}}assets/images/icon/star_filled.svg" alt="filled Stars Icon" *ngFor='let in of counter(item.rating)'>
                                                            <img class="blank" src="{{s3BucketUrl}}assets/images/icon/star_blank.svg" alt="blank Stars Icon" *ngFor='let in of counter(5 - item.rating)'>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <span [id]="'accordion_infos1'+blockIndex" class="show_detail">
                                            <!-- <a data-toggle="collapse" data-parent="#full_hotel_listing"
                                                [href]="'#collapse'+blockIndex" aria-expanded="false"
                                                aria-controls="collapse1" class="hotel_anchor">
                                                {{'details' | translate}}
                                            </a> -->
                                        </span>
                                    </div>
                                    <div class="thrd_part">
                                        <div class="block_price block_pr">
                                            <div class="block_inn_pr">
                                                <div class="block" *ngIf="item.is_installment_available">
                                                    <p>{{'from' | translate}}</p>
                                                    <p class="duel_prices">
                                                        <span class="dashed_price" *ngIf="item.offer_data.applicable && item.offer_data.discount.applicable && item?.secondary_start_price > item?.discounted_secondary_start_price">
                                                            {{ currency?.symbol }}{{item?.secondary_start_price | number :'1.2-2'}}
                                                        </span>
                                                        <span>
                                                            {{ currency?.symbol }}{{ item?.offer_data.applicable ? item?.discounted_secondary_start_price : item?.payment_object[item.payment_object.installment_type].installment  | number :'1.2-2'}}
                                                        </span>
                                                    </p>
                                                    <p class="installment_type">{{ item?.payment_object.installment_type | translate}}</p>
                                                </div>
                                                <div class="block" *ngIf="!item.is_installment_available">
                                                    <p><span>{{ currency?.symbol }}{{item?.selling?.total |
                                                        number :
                                                        '1.2-2'}}</span> {{'full_payment' | translate}}
                                                    </p>
                                                </div>
                                            </div>
                                            <a *ngIf="!commonFunction.isRefferal()" class="book_btn anchor-tag" [routerLink]="['/hotel/detail', item.id, item.bundle]" utm_medium [queryParams]="{check_in:check_in,check_out:check_out,latitude:latitude,longitude:longitude,itenery:itenery,location:location,city_id:city_id,city_name:city_name,hotel_name:item?.name,dealsIcon:hotelDealIcon}">{{'select' | translate}}</a>
                                            <a *ngIf="commonFunction.isRefferal()" class="book_btn anchor-tag" [routerLink]="['/hotel/detail', item.id, item.bundle]" utm_medium [queryParams]="{check_in:check_in,check_out:check_out,latitude:latitude,longitude:longitude,itenery:itenery,location:location,city_id:city_id,city_name:city_name,hotel_name:item?.name,dealsIcon:hotelDealIcon,utm_source:commonFunction.getRefferalParms().utm_source,utm_medium:commonFunction.getRefferalParms().utm_medium}">{{'select' | translate}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div [id]="'collapse'+blockIndex" class="detail_info_show collapse show">
                            <div class="card-body">
                                <div class="io_ru_wrps">
                                    <div class="installment_wprs">
                                        <div class="type_lines">
                                            <span class="titles">{{'installment_option' | translate}} 1</span>
                                            <span class="texts" *ngIf="item.is_installment_available && item.payment_object.weekly">
                                                ${{item.payment_object['weekly'].down_payment | number : '1.2-2'}} {{'po_downpayment' | translate}}
                                                {{ item.payment_object['weekly'].installment_count }} {{'po_weekly_installments' | translate}}
                                                ${{ item.payment_object['weekly'].installment | number : '1.2-2'}}
                                            </span>
                                            <span class="texts" *ngIf="!item.is_installment_available || !item.payment_object.weekly">{{'not_available' | translate}}</span>
                                        </div>
                                        <div class="type_lines">
                                            <span class="titles">{{'installment_option' | translate}} 2</span>
                                            <span class="texts" *ngIf="item.is_installment_available && item.payment_object.biweekly">
                                                ${{item.payment_object['biweekly'].down_payment | number : '1.2-2'}} {{'po_downpayment' | translate}}
                                                {{item.payment_object['biweekly'].installment_count}} {{'po_bi_weekly_installments' | translate}}
                                                ${{item.payment_object['biweekly'].installment | number : '1.2-2'}}
                                            </span>
                                            <span class="texts" *ngIf="!item.is_installment_available ||  !item.payment_object.biweekly">{{'not_available' | translate}}</span>
                                        </div>
                                        <div class="type_lines">
                                            <span class="titles">{{'installment_option' | translate}} 3</span>
                                            <span class="texts" *ngIf="item.is_installment_available && item.payment_object.monthly">
                                                ${{item.payment_object['monthly'].down_payment | number : '1.2-2'}} {{'po_downpayment' | translate}}
                                                {{item.payment_object['monthly'].installment_count }} {{'po_monthly_installments' | translate}}
                                                ${{item.payment_object['monthly'].installment | number : '1.2-2'}}
                                            </span>
                                            <span class="texts" *ngIf="!item.is_installment_available || !item.payment_object.monthly">{{'not_available' | translate}}</span>
                                        </div>
                                        <div class="type_lines">
                                            <span class="titles">{{'full_payment' | translate}}</span>
                                            <span class="texts" *ngIf="!item?.offer_data.applicable">
                                                ${{item?.selling?.total | number : '1.2-2'}} {{'including_taxes_fees' | translate}}
                                            </span>
                                            <span class="texts" *ngIf="item?.offer_data.applicable">${{item?.selling?.discounted_total | number : '1.2-2'}} {{'including_taxes_fees' | translate}}</span>
                                        </div>
                                        <div class="type_lines">
                                            <span class="titles">{{'average_nightly_rate' | translate}}</span>
                                            <span class="texts" *ngIf="item?.offer_data.applicable">${{item?.selling?.discounted_avg_night_price | number : '1.2-2'}} {{'including_taxes_fees' | translate}}</span>
                                            <span class="texts" *ngIf="!item?.offer_data.applicable">${{item?.night_rate | number : '1.2-2'}} {{'including_taxes_fees' | translate}}</span>
                                            <div class="notifi_text mobile_notifi" *ngIf="item?.is_installment_available && !item?.offer_data.applicable">{{'more_payment_options' | translate}}</div>
                                        </div>
                                        <!-- <div class="full_desk_not" *ngIf="item?.is_installment_available && !item?.offer_data.applicable">
                                            <div class="notifi_text">{{'more_payment_options' | translate}}</div>
                                        </div> -->
                                    </div>

                                    <div class="rules_wrps">
                                        <span class="heads">
                                            <img src="{{s3BucketUrl}}assets/images/icon/bed-pink.svg" alt=""> {{'rules' | translate}}
                                        </span>
                                        <span class="texts_rules">
                                            {{'rules_1' | translate}} <a [routerLink]="['/terms']"
                                            [queryParams]="commonFunction.isRefferal()? commonFunction.getRefferalParms() : ''">{{'terms' | translate}}</a> {{'rules_2' | translate}}
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="scrollLoading" class="scrollLoading_wrapper">
        <i class="fa fa-spinner fa-spin pink_spinner"></i>
    </div>
    <app-hotel-not-found *ngIf="!this.isMapView &&  !hotelListArray.length"></app-hotel-not-found>
</div>