<app-laytrip-loader [loading]="addCartLoading || loading" [module]="'hotel'">
</app-laytrip-loader>

<!-- Start Search Result section -->
<section class="search_result flight" *ngIf="loading">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="filter_saidbar">
                    <div class="filter_by d-md-none d-lg-block">
                        <div class="fliter_block">
                            <div class="cmn_block price">
                                <div class="col-md-12 px-0">
                                    <div class="block_im">
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 p-0 mt-3">
                        <div class="">
                            <div class="price_by_date p-2" style="background: #fff;">
                                <div class="d-flex w-100">
                                    <div class="inner w-100">
                                        <div class="slid_block">
                                            <a class="ng-tns-c10-0" href="javascript:void(0);">
                                                <div class="block_top">
                                                    <p class="fb_animation"></p>
                                                </div>
                                                <div class="block_btm">
                                                    <p class="fb_animation"></p>
                                                </div>
                                                <div class="block_btm">
                                                    <p class="fb_animation"></p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter_by d-md-none d-lg-block">
                        <div class="fliter_block">
                            <div class="cmn_block price d-flex">
                                <div class="col-md-3 px-0">
                                    <div class="block_im">
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                    </div>
                                </div>
                                <div class="col-md-3 px-0">
                                    <div class="block_im">
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                    </div>
                                </div>
                                <div class="col-md-3 px-0">
                                    <div class="block_im">
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                    </div>
                                </div>
                                <div class="col-md-3 px-0">
                                    <div class="block_im">
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="cmn_block price">
                                <div class="col-md-12 px-0">
                                    <div class="block_im">
                                        <div class="fb_animation ml-3 w-50"></div>
                                        <div class="fb_animation ml-3 w-50"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 px-0 mt-2">
                                    <div class="block_im">
                                        <div class="fb_animation ml-3"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 px-0 mt-2">
                                    <div class="block_im">
                                        <div class="fb_animation ml-3"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 px-0 mt-2">
                                    <div class="block_im">
                                        <div class="fb_animation ml-3"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 px-0 mt-2">
                                    <div class="block_im">
                                        <div class="fb_animation ml-3"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 px-0 mt-2">
                                    <div class="block_im">
                                        <div class="fb_animation ml-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="result_listing one_way_list mt-4">
                    <div class="search_block">
                        <div class="listing_block">
                            <div class="row">
                                <div class="col-md-2 px-0">
                                    <div class="block_im">
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                    </div>
                                </div>
                                <div class="col-md-6 px-0">
                                    <div class="block_detail">
                                        <div class="block_detail_top">
                                            <p class="fb_animation w-100 mb-0"></p>
                                            <p class="fb_animation w-100 mb-0"></p>
                                            <p class="fb_animation w-100 mb-0"></p>
                                            <p class="fb_animation w-100 mb-2"></p>
                                        </div>
                                        <div class="block_detail_btm">
                                            <div class="show_detail">
                                                <p class="fb_animation w-50 mb-0"></p>
                                            </div>
                                            <div class="info_price_origin">
                                                <p class="fb_animation w-100 mb-0"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 px-0">
                                    <div class="block_price">
                                        <p class="fb_animation w-100 mb-2"></p>
                                        <p class="fb_animation w-100 mb-0"></p>
                                        <p class="fb_animation w-100 mb-3"></p>
                                        <div class="fb_animation mb-0 w-50 mx-auto"></div>
                                        <div class="fb_animation mb-3 w-50 mx-auto"></div>
                                        <p class="fb_animation w-100 mb-2"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search_block">
                        <div class="listing_block">
                            <div class="row">
                                <div class="col-md-2 px-0">
                                    <div class="block_im">
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                    </div>
                                </div>
                                <div class="col-md-6 px-0">
                                    <div class="block_detail">
                                        <div class="block_detail_top">
                                            <p class="fb_animation w-100 mb-0"></p>
                                            <p class="fb_animation w-100 mb-0"></p>
                                            <p class="fb_animation w-100 mb-0"></p>
                                            <p class="fb_animation w-100 mb-2"></p>
                                        </div>
                                        <div class="block_detail_btm">
                                            <div class="show_detail">
                                                <p class="fb_animation w-50 mb-0"></p>
                                            </div>
                                            <div class="info_price_origin">
                                                <p class="fb_animation w-100 mb-0"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 px-0">
                                    <div class="block_price">
                                        <p class="fb_animation w-100 mb-2"></p>
                                        <p class="fb_animation w-100 mb-0"></p>
                                        <p class="fb_animation w-100 mb-3"></p>
                                        <div class="fb_animation mb-0 w-50 mx-auto"></div>
                                        <div class="fb_animation mb-3 w-50 mx-auto"></div>
                                        <p class="fb_animation w-100 mb-2"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex">
                    <div class="col-lg-12 p-0">
                        <div class="">
                            <div class="price_by_date p-2" style="background: #fff;">
                                <div class="d-flex w-100">
                                    <div class="inner w-100">
                                        <div class="slid_block">
                                            <a class="ng-tns-c10-0" href="javascript:void(0);">
                                                <div class="block_top">
                                                    <p class="fb_animation"></p>
                                                </div>
                                                <div class="block_btm">
                                                    <p class="fb_animation"></p>
                                                </div>
                                                <div class="block_btm">
                                                    <p class="fb_animation"></p>
                                                </div>
                                                <div class="block_btm">
                                                    <p class="fb_animation"></p>
                                                </div>
                                                <div class="block_btm">
                                                    <p class="fb_animation"></p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="price_by_date p-2" style="background: #fff;">
                                <div class="d-flex mb-4">
                                    <div class="d-flex w-50 pr-3">
                                        <div class="inner w-100">
                                            <div class="slid_block">
                                                <a class="ng-tns-c10-0" href="javascript:void(0);">
                                                    <div class="block_top">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                    <div class="block_btm">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                    <div class="block_btm">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex w-50 pl-3">
                                        <div class="inner w-100">
                                            <div class="slid_block">
                                                <a class="ng-tns-c10-0" href="javascript:void(0);">
                                                    <div class="block_top">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                    <div class="block_btm">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                    <div class="block_btm">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex mb-4">
                                    <div class="d-flex w-50 pr-3">
                                        <div class="inner w-100">
                                            <div class="slid_block">
                                                <a class="ng-tns-c10-0" href="javascript:void(0);">
                                                    <div class="block_top">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                    <div class="block_btm">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                    <div class="block_btm">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex w-50 pl-3">
                                        <div class="inner w-100">
                                            <div class="slid_block">
                                                <a class="ng-tns-c10-0" href="javascript:void(0);">
                                                    <div class="block_top">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                    <div class="block_btm">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                    <div class="block_btm">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex mb-4">
                                    <div class="d-flex w-50 pr-3">
                                        <div class="inner w-100">
                                            <div class="slid_block">
                                                <a class="ng-tns-c10-0" href="javascript:void(0);">
                                                    <div class="block_top">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                    <div class="block_btm">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                    <div class="block_btm">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex w-50 pl-3">
                                        <div class="inner w-100">
                                            <div class="slid_block">
                                                <a class="ng-tns-c10-0" href="javascript:void(0);">
                                                    <div class="block_top">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                    <div class="block_btm">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                    <div class="block_btm">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Close Search Result section -->
<div class="search_tab_listing_wrapper" *ngIf="!loading">
  <div class="container">
    <div class="search_tab_icons_wrps">
      <a class="tab_anch flight hover-link" (click)="moduleTabClick('flight')">
        <img class="active-icon" src="{{s3BucketUrl}}assets/images/icon/tab-icon/plane_d_pink.svg" alt="Flight Icon" />
        <img class="default-icon" src="{{s3BucketUrl}}assets/images/icon/tab-icon/plane_d_blue.svg" alt="Flight Icon" />
      </a>
      <a class="active tab_anch" style="pointer-events: none;">
        <img class="active-icon" src="{{s3BucketUrl}}assets/images/icon/tab-icon/bed_d_pink.svg" alt="Hotel Icon" />
        <img class="default-icon" src="{{s3BucketUrl}}assets/images/icon/tab-icon/bed_d_blue.svg" alt="Hotel Icon" />
      </a>
      <!-- <a class="tab_anch" style="pointer-events: none;" *ngIf="!commonFunction.isRefferal()">
        <img class="active-icon" src="{{s3BucketUrl}}assets/images/icon/tab-icon/house_d_blue.svg"
          alt="Accommodation Icon" />
        <img class="default-icon" src="{{s3BucketUrl}}assets/images/icon/tab-icon/house_d_gray.svg"
          alt="Accommodation Icon" />
      </a>
      <a class="tab_anch" style="pointer-events: none;" *ngIf="!commonFunction.isRefferal()">
        <img class="active-icon" src="{{s3BucketUrl}}assets/images/icon/tab-icon/car_d_blue.svg" alt="car Icon" />
        <img class="default-icon" src="{{s3BucketUrl}}assets/images/icon/tab-icon/car_d_gray.svg" alt="car Icon" />
      </a> -->
    </div>
    <div class="searchbar_box_common">
        <app-hotel-search-widget></app-hotel-search-widget>
    </div>
</div>
</div>
<app-hotel-not-found *ngIf="isNotFound && hotelRoomArray.length==0"></app-hotel-not-found>

<section class="search_result hotels" *ngIf="!isNotFound && hotelRoomArray.length">
    <div class="container">
        <div class="title_name_wrapper">
            <div class="col_left">
                <h5 class="">{{hotelDetails.name}}</h5>
                <span class="add_wrpper">
          <span class="hotel_address">
            {{hotelDetails.address}}
          </span>
                <span class="hotel_stars">
            <ng-container *ngIf="hotelDetails?.rating">
              <img *ngFor="let in of counter(hotelDetails?.rating)" class="filled"
                src="{{s3BucketUrl}}assets/images/icon/star_filled.svg" alt="filled Stars Icon">
            </ng-container>
            <img *ngFor="let in of counter(5-hotelDetails?.rating)" class="blank"
              src="{{s3BucketUrl}}assets/images/icon/star_blank.svg" alt="blank Stars Icon">
          </span>
                </span>

            </div>
            <div class="col_right align-self-center" *ngIf="hotelRoomArray.length">
                <div class="price_wrpper">
                    <!-- <small class="desk_small">Flexible Installments</small> -->
                    <small>From</small>
                    <span *ngIf="hotelRoomArray[0]?.offer_data.applicable && hotelRoomArray[0]?.offer_data.discount.applicable" class="flex-row">
            <span *ngIf="hotelRoomArray[0].secondary_start_price > hotelRoomArray[0].discounted_secondary_start_price"
              class="big_font dashed_price"> ${{hotelRoomArray[0].secondary_start_price | number : '1.2-2'}} </span>
                    <span class="big_font">${{hotelRoomArray[0].discounted_secondary_start_price | number : '1.2-2'}}</span>
                    </span>
                    <small>Weekly Installments</small>
                    <span *ngIf="!hotelRoomArray[0].offer_data.applicable">
            From <span class="big_font">${{hotelRoomArray[0].secondary_start_price | number : '1.2-2'}}</span> weekly
                    </span>
                    <!-- <small class="mobile_small">Flexible Installments</small> -->
                </div>
            </div>
        </div>
        <div class="detail_box_wrpr">
            <div class="left_box_wrps">
                <div class="main_slider_big">
                    <ngb-carousel [interval]="false" [showNavigationIndicators]="false" (slide)=onMainSlide($event)>
                        <ng-template ngbSlide *ngFor="let image of galleryImages">
                            <div class="picsum-img-wrapper">
                                <img src={{image.big}} onerror="this.onerror=null;this.src='https://d2q1prebf1m2s9.cloudfront.net/assets/images/hotels/default_img.svg';">
                            </div>
                        </ng-template>
                    </ngb-carousel>
                    <div class="slider_dots">
                        <ng-container *ngFor="let k of [].constructor(dots); let j = index">
                            <span [ngClass]="{'active':activeSlide==j+1}" (click)="changeSlide(j+1)"></span>
                        </ng-container>
                    </div>
                </div>
                <div class="section_description" *ngIf="isCartFull">
                    <span class="sec_text">10 items cart maximum, please Checkout and start another Cart if you require
            more than 10.</span>
                    <a (click)="removeCartFullError()" href="javascript:void(0);"><img src="{{s3BucketUrl}}assets/images/close_pink.svg" alt="Close"></a>
                </div>
                <div class="description_wrpper">
                    <span class="upper_descrip">
            <h3 class="common_title_wrps">Description</h3>
            <!-- <a href="javascript:void(0);" class="cta_link hover-link">User Reviews</a> -->
          </span>
                    <p>
                        {{hotelDetails.description}}
                    </p>
                </div>
                <div class="right_box_wrps mobile_right">

                    <div class="map_wrapper">
                        <!-- iconUrl="http://maps.google.com/mapfiles/ms/icons/blue-dot.png" -->
                        <agm-map #dm [latitude]="hotelDetails?.latitude" [longitude]="hotelDetails?.longitude" minZoom="2" [zoom]="12" [clickableIcons]="false">
                            <agm-marker #marker [iconUrl]="{url:s3BucketUrl+'assets/images/hotels/map-pinfull.svg', scaledSize: {height: 80,width: 48}}" [latitude]="hotelDetails?.hotelLocations?.latitude" [longitude]="hotelDetails?.hotelLocations?.longitude">
                            </agm-marker>
                        </agm-map>
                    </div>
                    <div class="amenities_wrpper" #target1>
                        <h3 class="common_title_wrps">Amenities</h3>
                        <ul *ngIf="hotelDetails?.amenities?.list.length">
                            <ng-container *ngFor="let amenity of hotelDetails?.amenities?.list ; let i=index">
                                <li *ngIf="!showMoreAmenties && i < 10 ">{{amenity | titlecase}}</li>
                                <li *ngIf="showMoreAmenties">{{amenity | titlecase}}</li>
                            </ng-container>
                        </ul>
                        <a *ngIf="!showMoreAmenties && hotelDetails?.amenities?.list.length>10" (click)="toggleAmenities(target1,'more')" class="cta_link hover-link">More</a>
                        <a *ngIf="showMoreAmenties && hotelDetails?.amenities?.list.length>10" (click)="toggleAmenities(target1,'less')" class="cta_link hover-link">Less</a>
                    </div>
                </div>
                <div class="room_list_wrp" id="full_hotel_listing">
                    <h3 class="common_title_wrps">Rooms</h3>
                    <div class="search_block" *ngFor="let room of hotelRoomArray; let index = index;">
                        <div class="listing_block">
                            <div class="listing_inner_box_wrppr">
                                <div class="desktop_box">
                                    <div class="box_left">
                                        <div class="block_main">
                                            <div class="block_top">
                                                <div class="block_inner">
                                                    <div class="box_img">
                                                        <div class="block_im">
                                                            <div class="hotel_list_img_wrp">
                                                                <ngb-carousel *ngIf="room.galleryImages.length" #maincarousel [showNavigationArrows]="room.galleryImages.length>1?true:false" [interval]="false" [showNavigationIndicators]="false" (slide)=onRoomSlide($event,index)>
                                                                    <ng-template ngbSlide *ngFor="let image of room.galleryImages">
                                                                        <div class="picsum-img-wrapper">
                                                                            <img src={{image.medium}} onerror="this.onerror=null;this.src='https://d2q1prebf1m2s9.cloudfront.net/assets/images/hotels/default_img.svg';">
                                                                        </div>
                                                                    </ng-template>
                                                                </ngb-carousel>
                                                                <div class="slider_dots" *ngIf="room.galleryImages.length>1">
                                                                    <ng-container *ngFor="let k of [].constructor(room.dots); let j = index">
                                                                        <span [ngClass]="{'active':room.activeSlide==j+1}" (click)="changeSlide(j+1)"></span>
                                                                    </ng-container>
                                                                </div>
                                                                <img *ngIf="room.galleryImages.length==0" src="{{s3BucketUrl}}assets/images/hotels/default_img.svg" alt="blank image" class="blank_image_box">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="box_info">
                                                        <div class="block_detail">
                                                            <div class="block_detail_top">
                                                                <div class="detail_info">
                                                                    <h4>
                                                                        <!-- {{room.title}} -->
                                                                        <span class="wrapper_names">
                                      <span class="hotel_names">{{room.title}}</span>
                                                                        <span class="off_label" *ngIf="room?.offer_data.applicable && room?.offer_data.discount.applicable">${{room?.offer_data.discount.amount}}
                                        off</span>
                                                                        </span>
                                                                    </h4>
                                                                    <span class="adress_span">
                                    Sleeps {{room.occupancy}}
                                  </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="block_detail_btm">
                                                            <span [id]="'accordion_infos1'+index" class="show_detail">
                                <a data-toggle="collapse" data-parent="#full_hotel_listing" [href]="'#collapse1'+index"
                                  aria-expanded="false" aria-controls="collapse1" class="hotel_anchor">
                                  Details
                                </a>
                              </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box_right">
                                        <div class="block_price block_pr">
                                            <div class="block_inn_pr">
                                                <div class="block" *ngIf="room.start_price>0">
                                                    <!-- <p>Flexible Installments</p>
                          <p>From <span>${{room.secondary_start_price | number : '1.2-2'}}</span> weekly
                          </p> -->
                                                    <p>From</p>
                                                    <p *ngIf="room.offer_data.applicable && room.offer_data.discount.applicable">
                                                        <span class="dashed_price" *ngIf="room?.secondary_start_price >= room?.discounted_secondary_start_price">
                              {{ currency?.symbol }}{{room?.secondary_start_price | number :'1.2-2'}}
                            </span>
                                                        <span>
                              {{ currency?.symbol }}{{room.discounted_secondary_start_price | number : '1.2-2'}}
                            </span>
                                                    </p>
                                                    <p *ngIf="!room.offer_data.applicable">
                                                        <span>
                              {{ currency?.symbol }}{{room.secondary_start_price | number : '1.2-2'}}
                            </span>
                                                    </p>
                                                    <p class="installment_type">Weekly Installments</p>
                                                </div>
                                                <div class="block" *ngIf="room.start_price==0">
                                                    <p>Full Payment <span>${{ room.selling.total | number : '1.2-2' }}</span></p>
                                                </div>
                                            </div> <a class="book_btn anchor-tag" (click)="selectRoom(room)">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="mobile_box">

                                    <div class="hotel_list_img_wrp">
                                        <ngb-carousel *ngIf="room.galleryImages.length" #maincarousel [showNavigationArrows]="room.galleryImages.length>1?true:false" [interval]="false" [showNavigationIndicators]="false" (slide)=onRoomSlide($event,index)>
                                            <ng-template ngbSlide *ngFor="let image of room.galleryImages">
                                                <div class="picsum-img-wrapper">
                                                    <img src={{image.medium}} onerror="this.onerror=null;this.src='https://d2q1prebf1m2s9.cloudfront.net/assets/images/hotels/default_img.svg';">
                                                </div>
                                            </ng-template>
                                        </ngb-carousel>
                                        <div class="slider_dots" *ngIf="room.galleryImages.length>1">
                                            <ng-container *ngFor="let k of [].constructor(room.dots); let j = index">
                                                <span [ngClass]="{'active':room.activeSlide==j+1}" (click)="changeSlide(j+1)"></span>
                                            </ng-container>
                                        </div>
                                        <img *ngIf="room.galleryImages.length==0" src="{{s3BucketUrl}}assets/images/hotels/default_img.svg" alt="blank image" class="blank_image_box">
                                    </div>
                                    <div class="middle_part">
                                        <div class="detail_info">
                                            <h4>
                                                <!-- {{room.title}} -->
                                                <span class="wrapper_names">
                          <span class="hotel_names">{{room.title}}</span>
                                                <span class="off_label" *ngIf="room?.offer_data.applicable && room?.offer_data.discount.applicable">${{room?.offer_data.discount.amount}}
                            off</span>
                                                </span>
                                            </h4>
                                            <span class="adress_span">
                        Sleeps {{room.occupancy}}
                      </span>

                                        </div>

                                        <span [id]="'accordion_infos1'+index" class="show_detail">
                      <a data-toggle="collapse" data-parent="#full_hotel_listing" [href]="'#collapse1'+index"
                        aria-expanded="false" aria-controls="collapse1" class="hotel_anchor">
                        Details
                      </a>
                    </span>
                                    </div>
                                    <div class="thrd_part">
                                        <div class="block_price block_pr">
                                            <div class="block_inn_pr">
                                                <div class="block" *ngIf="room.start_price>0">
                                                    <!-- <p>From <span>${{room.secondary_start_price | number : '1.2-2'}}</span> weekly
                          </p> -->
                                                    <p>From</p>
                                                    <p class="duel_prices" *ngIf="room.offer_data.applicable && room.offer_data.discount.applicable">
                                                        <span class="dashed_price">
                              {{ currency?.symbol }}{{room.secondary_start_price | number : '1.2-2'}}
                            </span>
                                                        <span>
                              {{ currency?.symbol }}{{room.discounted_secondary_start_price | number : '1.2-2'}}
                            </span>
                                                    </p>
                                                    <p class="duel_prices" *ngIf="!room.offer_data.applicable">
                                                        <span>
                              {{ currency?.symbol }}{{room.secondary_start_price | number : '1.2-2'}}
                            </span>
                                                    </p>
                                                    <p class="installment_type">Weekly Installments</p>
                                                </div>
                                                <div class="block" *ngIf="room.start_price==0">
                                                    <p>Full Payment <span>${{ room.selling.total | number : '1.2-2' }}</span></p>
                                                </div>
                                            </div> <a class="book_btn anchor-tag" (click)="selectRoom(room)">Add to cart</a>
                                            <!-- <p>Flexible Installments</p> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div [id]="'collapse1'+index" class="detail_info_show collapse">
                            <div class="card-body">
                                <div class="io_ru_wrps">
                                    <div class="installment_wprs">
                                        <div class="type_lines">
                                            <span class="titles">
                        Installment Option 1
                      </span>
                                            <span class="texts" *ngIf="room.start_price>0 && showDownPayment(room?.offer_data,0)==true">
                        ${{room.start_price | number : '1.2-2'}} downpayment and
                        {{ room?.offer_data.applicable ?  room.discounted_no_of_weekly_installment : room.no_of_weekly_installment }}
                        weekly installments of ${{room.discounted_secondary_start_price | number : '1.2-2'}}

                      </span>
                                            <span class="texts" *ngIf="room.start_price==0 && showDownPayment(room?.offer_data,0)==true">
                        Flights within 30 days of travel not available in installments
                      </span>
                                            <span class="texts" *ngIf="showDownPayment(room?.offer_data,0)==false">
                        Not Available
                      </span>
                                        </div>
                                        <div class="type_lines">
                                            <span class="titles">
                        Installment Option 2
                      </span>
                                            <span class="texts" *ngIf="room.start_price>0 && showDownPayment(room?.offer_data,1)==true">
                        ${{room.second_down_payment | number : '1.2-2'}} downpayment and
                        {{room.no_of_weekly_installment_2}} bi-weekly installments of
                        ${{room.secondary_start_price_2 | number : '1.2-2'}}
                      </span>
                                            <span class="texts" *ngIf="room.start_price==0 && showDownPayment(room?.offer_data,1)==true">
                        Flights within 30 days of travel not available in installments
                      </span>
                                            <span class="texts" *ngIf="showDownPayment(room?.offer_data,1)==false">
                        Not Available
                      </span>
                                        </div>
                                        <div class="type_lines">
                                            <span class="titles">
                        Installment Option 3
                      </span>
                                            <span class="texts" *ngIf="room.start_price>0 && showDownPayment(room?.offer_data,2)==true">
                        ${{room.third_down_payment | number : '1.2-2'}} downpayment and
                        {{room.no_of_weekly_installment_3}} monthly installments of
                        ${{room.secondary_start_price_3 |
                        number : '1.2-2'}}
                      </span>
                                            <span class="texts" *ngIf="room.start_price==0 && showDownPayment(room?.offer_data,2)==true">
                        Flights within 30 days of travel not available in installments
                      </span>
                                            <span class="texts" *ngIf="showDownPayment(room?.offer_data,2)==false">
                        Not Available
                      </span>
                                        </div>
                                        <div class="type_lines">
                                            <span class="titles">
                        Average Nightly Rate
                      </span>
                                            <span class="texts" *ngIf="room?.offer_data.applicable">
                        ${{room?.selling?.discounted_avg_night_price | number : '1.2-2'}} including taxes and fees
                      </span>
                                            <span class="texts" *ngIf="!room?.offer_data.applicable">
                        ${{room?.night_rate | number : '1.2-2'}} including taxes and fees
                      </span>
                                            <div class="notifi_text mobile_notifi" *ngIf="!room?.offer_data.applicable">
                                                More Weekly, Bi-Weekly and Monthly plan options on Booking screen.
                                            </div>
                                        </div>
                                        <div class="full_desk_not" *ngIf="!room?.offer_data.applicable">
                                            <div class="notifi_text">
                                                More Weekly, Bi-Weekly and Monthly plan options on Booking screen.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="rules_wrps">
                                        <span class="heads">
                      <img src="{{s3BucketUrl}}assets/images/icon/bed-pink.svg" alt=""> Rules
                    </span>
                                        <span class="texts_rules">
                      Non-refundable, non-transferable. Change policy reflected in Laytrip <a [routerLink]="['/terms']"
                        [queryParams]="commonFunction.isRefferal()? commonFunction.getRefferalParms() : ''">Terms</a>
                      which apply.
                    </span>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
            <div class="right_box_wrps desk_right">

                <div class="map_wrapper">
                    <agm-map [latitude]="hotelDetails?.latitude" [longitude]="hotelDetails?.longitude" minZoom="2" [zoom]="12" [clickableIcons]="false">
                        <!--               iconUrl="http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
 -->
                        <agm-marker [iconUrl]="{url:s3BucketUrl+'assets/images/hotels/map-pinfull.svg', scaledSize: {height: 80,width: 48}}" [latitude]="hotelDetails?.hotelLocations?.latitude" [longitude]="hotelDetails?.hotelLocations?.longitude">
                        </agm-marker>
                    </agm-map>
                </div>
                <div class="amenities_wrpper" #target id="target">
                    <h3 class="common_title_wrps">Amenities</h3>
                    <ul *ngIf="hotelDetails?.amenities?.list.length">
                        <ng-container *ngFor="let amenity of hotelDetails?.amenities.list ; let i=index">
                            <li *ngIf="!showMoreAmenties && i < 10 ">{{amenity | titlecase}}</li>
                            <li *ngIf="showMoreAmenties">{{amenity | titlecase}}</li>
                        </ng-container>
                    </ul>
                    <a *ngIf="!showMoreAmenties && hotelDetails?.amenities?.list.length>10" (click)="toggleAmenities(target,'more')" class="cta_link hover-link">More</a>
                    <a *ngIf="showMoreAmenties && hotelDetails?.amenities?.list.length>10" (click)="toggleAmenities(target,'less')" class="cta_link hover-link">Less</a>
                </div>
            </div>
        </div>
    </div>
</section>