<app-laytrip-loader [loading]="addCartLoading || loading" [module]="'hotel'">
</app-laytrip-loader>

<!-- Start Search Result section -->
<!-- *ngIf="loading" -->
<section class="search_result flight" *ngIf="loading">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="filter_saidbar">
                    <div class="filter_by d-md-none d-lg-block">
                        <div class="fliter_block">
                            <div class="cmn_block price">
                                <div class="col-md-12 px-0">
                                    <div class="block_im">
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 p-0 mt-3">
                        <div class="">
                            <div class="price_by_date p-2" style="background: #fff;">
                                <div class="d-flex w-100">
                                    <div class="inner w-100">
                                        <div class="slid_block">
                                            <a class="ng-tns-c10-0" href="javascript:void(0);">
                                                <div class="block_top">
                                                    <p class="fb_animation"></p>
                                                </div>
                                                <div class="block_btm">
                                                    <p class="fb_animation"></p>
                                                </div>
                                                <div class="block_btm">
                                                    <p class="fb_animation"></p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter_by d-md-none d-lg-block">
                        <div class="fliter_block">
                            <div class="cmn_block price d-flex">
                                <div class="col-md-3 px-0">
                                    <div class="block_im">
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                    </div>
                                </div>
                                <div class="col-md-3 px-0">
                                    <div class="block_im">
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                    </div>
                                </div>
                                <div class="col-md-3 px-0">
                                    <div class="block_im">
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                    </div>
                                </div>
                                <div class="col-md-3 px-0">
                                    <div class="block_im">
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="cmn_block price">
                                <div class="col-md-12 px-0">
                                    <div class="block_im">
                                        <div class="fb_animation ml-3 w-50"></div>
                                        <div class="fb_animation ml-3 w-50"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 px-0 mt-2">
                                    <div class="block_im">
                                        <div class="fb_animation ml-3"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 px-0 mt-2">
                                    <div class="block_im">
                                        <div class="fb_animation ml-3"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 px-0 mt-2">
                                    <div class="block_im">
                                        <div class="fb_animation ml-3"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 px-0 mt-2">
                                    <div class="block_im">
                                        <div class="fb_animation ml-3"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 px-0 mt-2">
                                    <div class="block_im">
                                        <div class="fb_animation ml-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="result_listing one_way_list mt-4">
                    <div class="search_block w-100 mb-2">
                        <div class="listing_block">
                            <div class="row">
                                <div class="col-md-2 px-0">
                                    <div class="block_im">
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="block_detail">
                                        <div class="block_detail_top">
                                            <p class="fb_animation w-100 mb-0"></p>
                                            <p class="fb_animation w-100 mb-0"></p>
                                            <p class="fb_animation w-100 mb-0"></p>
                                            <p class="fb_animation w-100 mb-2"></p>
                                        </div>
                                        <div class="block_detail_btm">
                                            <div class="show_detail">
                                                <p class="fb_animation w-50 mb-0"></p>
                                            </div>
                                            <div class="info_price_origin">
                                                <p class="fb_animation w-100 mb-0"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 px-0">
                                    <div class="block_price">
                                        <p class="fb_animation w-100 mb-2"></p>
                                        <p class="fb_animation w-100 mb-0"></p>
                                        <p class="fb_animation w-100 mb-3"></p>
                                        <div class="fb_animation mb-0 w-50 mx-auto"></div>
                                        <div class="fb_animation mb-3 w-50 mx-auto"></div>
                                        <p class="fb_animation w-100 mb-2"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search_block w-100">
                        <div class="listing_block">
                            <div class="row">
                                <div class="col-md-2 px-0">
                                    <div class="block_im">
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                        <div class="fb_animation ml-3"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="block_detail">
                                        <div class="block_detail_top">
                                            <p class="fb_animation w-100 mb-0"></p>
                                            <p class="fb_animation w-100 mb-0"></p>
                                            <p class="fb_animation w-100 mb-0"></p>
                                            <p class="fb_animation w-100 mb-2"></p>
                                        </div>
                                        <div class="block_detail_btm">
                                            <div class="show_detail">
                                                <p class="fb_animation w-50 mb-0"></p>
                                            </div>
                                            <div class="info_price_origin">
                                                <p class="fb_animation w-100 mb-0"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 px-0">
                                    <div class="block_price">
                                        <p class="fb_animation w-100 mb-2"></p>
                                        <p class="fb_animation w-100 mb-0"></p>
                                        <p class="fb_animation w-100 mb-3"></p>
                                        <div class="fb_animation mb-0 w-50 mx-auto"></div>
                                        <div class="fb_animation mb-3 w-50 mx-auto"></div>
                                        <p class="fb_animation w-100 mb-2"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex">
                    <div class="col-lg-12 p-0">
                        <div class="">
                            <div class="price_by_date p-2" style="background: #fff;">
                                <div class="d-flex w-100">
                                    <div class="inner w-100">
                                        <div class="slid_block">
                                            <a class="ng-tns-c10-0" href="javascript:void(0);">
                                                <div class="block_top">
                                                    <p class="fb_animation"></p>
                                                </div>
                                                <div class="block_btm">
                                                    <p class="fb_animation"></p>
                                                </div>
                                                <div class="block_btm">
                                                    <p class="fb_animation"></p>
                                                </div>
                                                <div class="block_btm">
                                                    <p class="fb_animation"></p>
                                                </div>
                                                <div class="block_btm">
                                                    <p class="fb_animation"></p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="price_by_date p-2" style="background: #fff;">
                                <div class="d-flex mb-4">
                                    <div class="d-flex w-50 pr-3">
                                        <div class="inner w-100">
                                            <div class="slid_block">
                                                <a class="ng-tns-c10-0" href="javascript:void(0);">
                                                    <div class="block_top">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                    <div class="block_btm">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                    <div class="block_btm">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex w-50 pl-3">
                                        <div class="inner w-100">
                                            <div class="slid_block">
                                                <a class="ng-tns-c10-0" href="javascript:void(0);">
                                                    <div class="block_top">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                    <div class="block_btm">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                    <div class="block_btm">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex mb-4">
                                    <div class="d-flex w-50 pr-3">
                                        <div class="inner w-100">
                                            <div class="slid_block">
                                                <a class="ng-tns-c10-0" href="javascript:void(0);">
                                                    <div class="block_top">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                    <div class="block_btm">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                    <div class="block_btm">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex w-50 pl-3">
                                        <div class="inner w-100">
                                            <div class="slid_block">
                                                <a class="ng-tns-c10-0" href="javascript:void(0);">
                                                    <div class="block_top">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                    <div class="block_btm">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                    <div class="block_btm">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex mb-4">
                                    <div class="d-flex w-50 pr-3">
                                        <div class="inner w-100">
                                            <div class="slid_block">
                                                <a class="ng-tns-c10-0" href="javascript:void(0);">
                                                    <div class="block_top">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                    <div class="block_btm">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                    <div class="block_btm">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex w-50 pl-3">
                                        <div class="inner w-100">
                                            <div class="slid_block">
                                                <a class="ng-tns-c10-0" href="javascript:void(0);">
                                                    <div class="block_top">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                    <div class="block_btm">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                    <div class="block_btm">
                                                        <p class="fb_animation"></p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Close Search Result section -->
<div class="search_tab_listing_wrapper" *ngIf="!loading">
    <div class="container">
        <div class="search_tab_icons_wrps">
            <a class="tab_anch flight hover-link" (click)="moduleTabClick('flight')">
                <img class="active-icon" src="{{s3BucketUrl}}assets/images/icon/tab-icon/plane_d_pink.svg" alt="Hotel Icon" />
                <img class="default-icon" src="{{s3BucketUrl}}assets/images/icon/tab-icon/plane_d_blue.svg" alt="Hotel Icon" />
            </a>
            <a class="active tab_anch" style="pointer-events: none;">
                <img class="active-icon" src="{{s3BucketUrl}}assets/images/icon/tab-icon/bed_d_pink.svg" alt="Hotel Icon" />
                <img class="default-icon" src="{{s3BucketUrl}}assets/images/icon/tab-icon/bed_d_blue.svg" alt="Hotel Icon" />
            </a>
        </div>
        <div class="searchbar_box_common">
            <app-hotel-search-widget [dealIcon]="hotelDealIcon"></app-hotel-search-widget>
        </div>
    </div>
</div>
<app-hotel-not-found *ngIf="isNotFound && hotelRoomArray.length==0"></app-hotel-not-found>

<section class="search_result hotels" *ngIf="!isNotFound && hotelRoomArray.length">
    <div class="container">
        <div class="title_name_wrapper">
            <div class="col_left">
                <h5 class="">{{hotelDetails.name}}</h5>
                <span class="add_wrpper">
                    <span class="hotel_address">
                        {{hotelDetails.address}}
                    </span>
                <span class="hotel_stars">
                        <ng-container *ngIf="hotelDetails?.rating">
                            <img *ngFor="let in of counter(hotelDetails?.rating)" class="filled"
                                src="{{s3BucketUrl}}assets/images/icon/star_filled.svg" alt="filled Stars Icon">
                        </ng-container>
                        <img *ngFor="let in of counter(5-hotelDetails?.rating)" class="blank"
                            src="{{s3BucketUrl}}assets/images/icon/star_blank.svg" alt="blank Stars Icon">
                    </span>
                </span>
            </div>
            <div class="col_right align-self-center" *ngIf="hotelRoomArray.length">
                <div class="price_wrpper">
                    <small>{{'from' | translate}}</small>
                    <!-- <span *ngIf="hotelRoomArray[0]?.offer_data.applicable && hotelRoomArray[0]?.offer_data.discount.applicable" class="flex-row">                    
                        <span *ngIf="hotelRoomArray[0].secondary_start_price > hotelRoomArray[0].discounted_secondary_start_price"
                        class="big_font dashed_price"> ${{hotelRoomArray[0].secondary_start_price | number : '1.2-2'}}
                        </span>
                        <span class="big_font">${{hotelRoomArray[0].discounted_secondary_start_price | number : '1.2-2'}}</span>
                    </span>
                    
                    <span *ngIf="!hotelRoomArray[0].offer_data.applicable">
                        <span class="big_font">${{ (hotelRoomArray[0].is_installment_available ? hotelRoomArray[0].secondary_start_price  : hotelRoomArray[0]?.selling.total) | number : '1.2-2' }}</span>                        
                    </span> -->
                    <span *ngIf="hotelRoomArray[0].is_installment_available" class="flex-row">
                        <span
                            *ngIf="hotelRoomArray[0].offer_data.applicable && (hotelRoomArray[0].secondary_start_price > hotelRoomArray[0].discounted_secondary_start_price)"
                            class="big_font dashed_price"> ${{hotelRoomArray[0].secondary_start_price | number : '1.2-2'}} </span>
                    <span class="big_font">${{ (hotelRoomArray[0].offer_data.applicable ? hotelRoomArray[0].discounted_secondary_start_price :  hotelRoomArray[0].payment_object[hotelRoomArray[0].payment_object.installment_type].installment) | number : '1.2-2'}}</span>
                    </span>
                    <span *ngIf="!hotelRoomArray[0].is_installment_available">
                        <span class="big_font">${{  hotelRoomArray[0].selling.total | number : '1.2-2'}}</span>
                    </span>
                    <small>{{(hotelRoomArray[0]?.is_installment_available ? hotelRoomArray[0].payment_object.installment_type : 'full_payment') | translate}}</small>
                </div>

            </div>
        </div>
        <div class="detail_box_wrpr">
            <div class="left_box_wrps">
                <div class="main_slider_big">
                    <ngb-carousel [interval]="false" [showNavigationIndicators]="false" (slide)=onMainSlide($event)>
                        <ng-template ngbSlide *ngFor="let image of galleryImages">
                            <div class="picsum-img-wrapper">
                                <img src={{image.big}} onerror="this.onerror=null;this.src='https://d2q1prebf1m2s9.cloudfront.net/assets/images/hotels/default_img.svg';">
                            </div>
                        </ng-template>
                    </ngb-carousel>
                    <div class="slider_dots">
                        <ng-container *ngFor="let k of [].constructor(dots); let j = index">
                            <span [ngClass]="{'active':activeSlide==j+1}" (click)="changeSlide(j+1)"></span>
                        </ng-container>
                    </div>
                </div>
                <div class="section_description" *ngIf="isCartFull">
                    <span class="sec_text">{{'max_10_items' | translate}}</span>
                    <a (click)="removeCartFullError()" href="javascript:void(0);"><img src="{{s3BucketUrl}}assets/images/close_pink.svg" alt="Close"></a>
                </div>
                <div class="description_wrpper">
                    <span class="upper_descrip">
                        <h3 class="common_title_wrps">{{'description' | translate}}</h3>
                    </span>
                    <p id="hotel_desc" class="desc_col" [innerHTML]="hotelDetails.description"></p>
                    <button class="read_more" (click)="toggleDesc()">{{'read_more_1' | translate}}</button>
                    <p *ngIf="isTranslatedByGoogle" class="tx_by_google">Traducido por Google</p>
                </div>
                <div class="right_box_wrps mobile_right">

                    <div class="map_wrapper">
                        <agm-map #dm [latitude]="hotelDetails?.latitude" [longitude]="hotelDetails?.longitude" minZoom="2" [zoom]="12" [clickableIcons]="false">
                            <agm-marker #marker [iconUrl]="{url:s3BucketUrl+'assets/images/hotels/map-pinfull.svg', scaledSize: {height: 80,width: 48}}" [latitude]="hotelDetails?.hotelLocations?.latitude" [longitude]="hotelDetails?.hotelLocations?.longitude">
                            </agm-marker>
                        </agm-map>
                    </div>
                    <div class="amenities_wrpper" #target1>
                        <h3 class="common_title_wrps">{{'amenities' | translate}}</h3>
                        <ul *ngIf="hotelDetails?.amenities?.list.length">
                            <ng-container *ngFor="let amenity of hotelDetails?.amenities?.list ; let i=index">
                                <li *ngIf="!showMoreAmenties && i < 10 ">{{amenity | titlecase}}</li>
                                <li *ngIf="showMoreAmenties">{{amenity | titlecase}}</li>
                            </ng-container>
                        </ul>
                        <a *ngIf="!showMoreAmenties && hotelDetails?.amenities?.list.length>10" (click)="toggleAmenities(target1,'more')" class="cta_link hover-link">{{'more'
                            |translate}}</a>
                        <a *ngIf="showMoreAmenties && hotelDetails?.amenities?.list.length>10" (click)="toggleAmenities(target1,'less')" class="cta_link hover-link">{{'less'
                            |translate}}</a>
                    </div>
                </div>
                <div class="room_list_wrp" id="full_hotel_listing">
                    <h3 class="common_title_wrps">{{'rooms' | translate}}</h3>
                    <div class="search_block" *ngFor="let room of hotelRoomArray; let index = index;">
                        <div class="listing_block">
                            <div class="listing_inner_box_wrppr">
                                <div class="desktop_box">
                                    <div class="box_left">
                                        <div class="block_main">
                                            <div class="block_top">
                                                <div class="block_inner">
                                                    <div class="box_img">
                                                        <div class="block_im">
                                                            <div class="hotel_list_img_wrp">
                                                                <ngb-carousel *ngIf="room.galleryImages.length" #maincarousel [showNavigationArrows]="room.galleryImages.length>1?true:false" [interval]="false" [showNavigationIndicators]="false" (slide)=onRoomSlide($event,index)>
                                                                    <ng-template ngbSlide *ngFor="let image of room.galleryImages">
                                                                        <div class="picsum-img-wrapper">
                                                                            <img src={{image.medium}} onerror="this.onerror=null;this.src='https://d2q1prebf1m2s9.cloudfront.net/assets/images/hotels/default_img.svg';">
                                                                        </div>
                                                                    </ng-template>
                                                                </ngb-carousel>
                                                                <div class="slider_dots" *ngIf="room.galleryImages.length>1">
                                                                    <ng-container *ngFor="let k of [].constructor(room.dots); let j = index">
                                                                        <span [ngClass]="{'active':room.activeSlide==j+1}" (click)="changeSlide(j+1)"></span>
                                                                    </ng-container>
                                                                </div>
                                                                <img *ngIf="room.galleryImages.length==0" src="{{s3BucketUrl}}assets/images/hotels/default_img.svg" alt="blank image" class="blank_image_box">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="box_info">
                                                        <div class="block_detail">
                                                            <div class="block_detail_top">
                                                                <div class="detail_info">
                                                                    <h4>
                                                                        <span class="wrapper_names">
                                                                            <span
                                                                                class="hotel_names">{{room.title}}</span>
                                                                        <span class="off_label" *ngIf="room?.offer_data.applicable && room?.offer_data.discount.applicable">${{room?.offer_data.discount.amount}}
                                                                                {{'off' | translate}}</span>
                                                                        </span>
                                                                    </h4>
                                                                    <span class="adress_span">{{ (room.occupancy==1?'sleep':'sleeps') | translate }} {{room.occupancy}}</span>
                                                                    <div *ngIf="room.is_refundable != 'true'" class="refundable_label">{{'non_refundable' | translate}}</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="block_detail_btm">
                                                            <span [id]="'accordion_infos1'+index" class="show_detail">
                                                                <a data-toggle="collapse"
                                                                    data-parent="#full_hotel_listing"
                                                                    [href]="'#collapse1'+index"
                                                                    aria-expanded="false" aria-controls="collapse1"
                                                                    class="hotel_anchor">
                                                                    {{'details' | translate}}
                                                                </a>
                                                            </span>
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box_right">
                                        <div class="block_price block_pr">
                                            <div class="block_inn_pr mohit">
                                                <div class="block" *ngIf="room.is_installment_available">
                                                    <p>{{'from' | translate}}</p>
                                                    <p>
                                                        <span class="dashed_price" *ngIf="room.offer_data.applicable && room?.secondary_start_price > room?.discounted_secondary_start_price">
                                                            {{ currency?.symbol }}{{room?.secondary_start_price | number :'1.2-2'}}
                                                        </span>
                                                        <span>
                                                            {{ currency?.symbol }}{{room.payment_object[room.payment_object.installment_type].installment | number : '1.2-2'}}
                                                        </span>
                                                    </p>
                                                    <p class="installment_type">{{ room?.payment_object.installment_type | translate }}</p>
                                                </div>

                                                <div class="block mb-0" *ngIf="!room.is_installment_available">
                                                    <p class="flex-column"> <span>${{ room.selling.total | number : '1.2-2' }}</span>{{'full_payment' | translate}}</p>
                                                </div>
                                            </div> <a class="book_btn anchor-tag" (click)="selectRoom(room)">{{'checkout' | translate}}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="mobile_box">
                                    <div class="hotel_list_img_wrp">
                                        <ngb-carousel *ngIf="room.galleryImages.length" #maincarousel [showNavigationArrows]="room.galleryImages.length>1?true:false" [interval]="false" [showNavigationIndicators]="false" (slide)=onRoomSlide($event,index)>
                                            <ng-template ngbSlide *ngFor="let image of room.galleryImages">
                                                <div class="picsum-img-wrapper">
                                                    <img src={{image.medium}} onerror="this.onerror=null;this.src='https://d2q1prebf1m2s9.cloudfront.net/assets/images/hotels/default_img.svg';">
                                                </div>
                                            </ng-template>
                                        </ngb-carousel>
                                        <div class="slider_dots" *ngIf="room.galleryImages.length>1">
                                            <ng-container *ngFor="let k of [].constructor(room.dots); let j = index">
                                                <span [ngClass]="{'active':room.activeSlide==j+1}" (click)="changeSlide(j+1)"></span>
                                            </ng-container>
                                        </div>
                                        <img *ngIf="room.galleryImages.length==0" src="{{s3BucketUrl}}assets/images/hotels/default_img.svg" alt="blank image" class="blank_image_box">
                                    </div>
                                    <div class="middle_part">
                                        <div class="detail_info">
                                            <h4>
                                                <span class="wrapper_names">
                                                    <span class="hotel_names">{{room.title}}</span>
                                                <span class="off_label" *ngIf="room?.offer_data.applicable && room?.offer_data.discount.applicable">${{room?.offer_data.discount.amount}}
                                                        off</span>
                                                </span>
                                            </h4>
                                            <span class="adress_span">
                                                {{ (room.occupancy==1?'sleep':'sleeps') | translate }}
                                                {{room.occupancy}}
                                            </span>
                                            <div *ngIf="room.is_refundable != 'true'" class="refundable_label">{{'non_refundable' | translate}}</div>
                                        </div>

                                        <!-- <span [id]="'accordion_infos1'+index" class="show_detail">
                                            <a data-toggle="collapse" data-parent="#full_hotel_listing"
                                                [href]="'#collapse1'+index" aria-expanded="false"
                                                aria-controls="collapse1" class="hotel_anchor">
                                                {{'details' | translate}}
                                            </a>
                                        </span> -->
                                    </div>
                                    <div class="thrd_part">
                                        <div class="block_price block_pr">
                                            <div class="block_inn_pr">
                                                <div class="block" *ngIf="room.is_installment_available">
                                                    <p>{{'from' | translate}}</p>
                                                    <p class="duel_prices">
                                                        <span class="dashed_price" *ngIf="room.offer_data.applicable && room.offer_data.discount.applicable && room?.secondary_start_price > room?.discounted_secondary_start_price">
                                                            {{ currency?.symbol }}{{room.secondary_start_price |
                                                            number : '1.2-2'}}
                                                        </span>
                                                        <span>
                                                            {{ currency?.symbol }}{{(room.offer_data.applicable ? room.discounted_secondary_start_price :  room.payment_object[room.payment_object.installment_type].installment) | number : '1.2-2'}}
                                                        </span>
                                                    </p>
                                                    <p class="installment_type">{{ room?.payment_object.installment_type | translate }}</p>
                                                </div>
                                                <div class="block" *ngIf="!room.is_installment_available">
                                                    <p> <span>${{ room.selling.total |
                                                            number : '1.2-2' }}</span>{{'full_payment' | translate}}</p>
                                                </div>
                                            </div> <a class="book_btn anchor-tag" (click)="selectRoom(room)">{{'checkout' | translate}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div [id]="'collapse1'+index" class="detail_info_show collapse show">
                            <div class="card-body">
                                <div class="io_ru_wrps">
                                    <div class="installment_wprs">
                                        <div class="type_lines">
                                            <span class="titles">{{'installment_option' | translate}} 1 
                                                <span class="texts d-block d-md-none" *ngIf="room.is_installment_available && room.payment_object.weekly">
                                                    ${{room.payment_object['weekly'].down_payment | number : '1.2-2'}} {{'po_downpayment' | translate}}
                                                    {{ room.payment_object['weekly'].installment_count }} {{'po_weekly_installments' | translate}}
                                                    ${{ room.payment_object['weekly'].installment | number : '1.2-2'}}
                                                </span>
                                            <span class="texts d-block d-md-none" *ngIf="!room.is_installment_available || !room.payment_object.weekly">{{'not_available' | translate}}</span>
                                            </span>
                                            <span class="texts d-none d-md-block" *ngIf="room.is_installment_available && room.payment_object.weekly">
                                                ${{room.payment_object['weekly'].down_payment | number : '1.2-2'}} {{'po_downpayment' | translate}}
                                                {{ room.payment_object['weekly'].installment_count }} {{'po_weekly_installments' | translate}}
                                                ${{ room.payment_object['weekly'].installment | number : '1.2-2'}}
                                            </span>
                                            <span class="texts d-none d-md-block" *ngIf="!room.is_installment_available || !room.payment_object.weekly">{{'not_available' | translate}}</span>
                                            <div *ngIf="room.is_installment_available && room.payment_object.weekly" [ngClass]="{'checked': room.selected_option === 'weekly'}" (click)="checkCartButton(index,'weekly',room.payment_object['weekly'].down_payment,'installment')" class="installment_add_cart">{{'add' | translate}} <img *ngIf="room.selected_option === 'weekly'" src="{{s3BucketUrl}}assets/images/icon/cart_active.svg" alt="cart"><img *ngIf="room.selected_option != 'weekly'" src="{{s3BucketUrl}}assets/images/icon/cart.svg "
                                                    alt="cart "> <i class="fa fa-check" aria-hidden="true"></i></div>
                                        </div>
                                        <div class="type_lines">
                                            <span class="titles">
                                                {{'installment_option' | translate}} 2
                                                <span class="texts d-block d-md-none" *ngIf="room.is_installment_available && room.payment_object.biweekly">
                                                    ${{room.payment_object['biweekly'].down_payment | number : '1.2-2'}} {{'po_downpayment' | translate}}
                                                    {{room.payment_object['biweekly'].installment_count}} {{'po_bi_weekly_installments' | translate}}
                                                    ${{room.payment_object['biweekly'].installment | number : '1.2-2'}}
                                                </span>
                                            <span class="texts d-block d-md-none" *ngIf="!room.is_installment_available || !room.payment_object.biweekly">{{'not_available' | translate}}</span>
                                            </span>
                                            <span class="texts d-none d-md-block" *ngIf="room.is_installment_available && room.payment_object.biweekly">
                                                ${{room.payment_object['biweekly'].down_payment | number : '1.2-2'}} {{'po_downpayment' | translate}}
                                                {{room.payment_object['biweekly'].installment_count}} {{'po_bi_weekly_installments' | translate}}
                                                ${{room.payment_object['biweekly'].installment | number : '1.2-2'}}
                                            </span>
                                            <span class="texts d-none d-md-block" *ngIf="!room.is_installment_available || !room.payment_object.biweekly">{{'not_available' | translate}}</span>
                                            <div *ngIf="room.is_installment_available && room.payment_object.biweekly" [ngClass]="{'checked': room.selected_option === 'biweekly'}" (click)="checkCartButton(index,'biweekly',room.payment_object['biweekly'].down_payment,'installment')" class="installment_add_cart">{{'add' | translate}} <img *ngIf="room.selected_option === 'biweekly'" src="{{s3BucketUrl}}assets/images/icon/cart_active.svg" alt="cart"><img *ngIf="room.selected_option != 'biweekly'" src="{{s3BucketUrl}}assets/images/icon/cart.svg "
                                                    alt="cart "> <i class="fa fa-check" aria-hidden="true"></i></div>
                                        </div>
                                        <div class="type_lines">
                                            <span class="titles">{{'installment_option' | translate}} 3
                                                <span class="texts d-block d-md-none" *ngIf="room.is_installment_available && room.payment_object.monthly">
                                                    ${{room.payment_object['monthly'].down_payment | number : '1.2-2'}} {{'po_downpayment' | translate}}
                                                    {{room.payment_object['monthly'].installment_count }} {{'po_monthly_installments' | translate }}
                                                    ${{room.payment_object['monthly'].installment |
                                                    number : '1.2-2'}}
                                                </span>
                                            <span class="texts d-block d-md-none" *ngIf="!room.is_installment_available || !room.payment_object.monthly">{{'not_available' | translate}}</span>
                                            </span>
                                            <span class="texts d-none d-md-block" *ngIf="room.is_installment_available && room.payment_object.monthly">
                                                ${{room.payment_object['monthly'].down_payment | number : '1.2-2'}} {{'po_downpayment' | translate}}
                                                {{room.payment_object['monthly'].installment_count }} {{'po_monthly_installments' | translate }}
                                                ${{room.payment_object['monthly'].installment | number : '1.2-2'}}
                                            </span>
                                            <span class="texts d-none d-md-block" *ngIf="!room.is_installment_available || !room.payment_object.monthly">{{'not_available' | translate}}</span>
                                            <div *ngIf="room.is_installment_available && room.payment_object.monthly" [ngClass]="{'checked': room.selected_option === 'monthly'}" (click)="checkCartButton(index,'monthly',room.payment_object['monthly'].down_payment,'installment')" class="installment_add_cart">{{'add' | translate}} <img *ngIf="room.selected_option === 'monthly'" src="{{s3BucketUrl}}assets/images/icon/cart_active.svg" alt="cart"><img *ngIf="room.selected_option != 'monthly'" src="{{s3BucketUrl}}assets/images/icon/cart.svg "
                                                    alt="cart "> <i class="fa fa-check" aria-hidden="true"></i></div>
                                        </div>
                                        <div class="type_lines">
                                            <span class="titles">{{'full_payment' | translate}}
                                                <span class="texts d-block d-md-none" *ngIf="!room?.offer_data.applicable">${{room?.selling?.total | number : '1.2-2'}} {{'including_taxes_fees' | translate}}</span>
                                            <span class="texts d-block d-md-none" *ngIf="room?.offer_data.applicable">${{room?.selling?.discounted_total | number : '1.2-2'}} {{'including_taxes_fees' | translate}}</span>
                                            </span>
                                            <span class="texts d-none d-md-block" *ngIf="!room?.offer_data.applicable">${{room?.selling?.total | number : '1.2-2'}} {{'including_taxes_fees' | translate}}</span>
                                            <span class="texts d-none d-md-block" *ngIf="room?.offer_data.applicable">${{room?.selling?.discounted_total | number : '1.2-2'}} {{'including_taxes_fees' | translate}}</span>
                                            <!-- <span class="texts d-none d-md-block" *ngIf="!room.is_installment_available || !room.payment_object.biweekly">{{'not_available' | translate}}</span> -->
                                            <div [ngClass]="{'checked': room.selected_option === 'full'}" (click)="checkCartButton(index,'full',room.night_rate,'no-installment')" class="installment_add_cart">{{'add' | translate}} <img *ngIf="room.selected_option === 'full'" src="{{s3BucketUrl}}assets/images/icon/cart_active.svg" alt="cart"><img *ngIf="room.selected_option != 'full'" src="{{s3BucketUrl}}assets/images/icon/cart.svg "
                                                    alt="cart "> <i class="fa fa-check" aria-hidden="true"></i></div>
                                        </div>
                                        <div class="type_lines">
                                            <span class="titles">{{'average_nightly_rate' | translate}}
                                                <span class="texts d-block d-md-none" *ngIf="room?.offer_data.applicable">
                                                    ${{room?.selling?.discounted_avg_night_price | number : '1.2-2'}}
                                                    {{'including_taxes_fees' | translate}}
                                                </span>
                                            <span class="texts d-block d-md-none" *ngIf="!room?.offer_data.applicable">
                                                    ${{room?.night_rate | number : '1.2-2'}} {{'including_taxes_fees' | translate}}
                                                </span>
                                            </span>
                                            <span class="texts d-none d-md-block" *ngIf="room?.offer_data.applicable">
                                                ${{room?.selling?.discounted_avg_night_price | number : '1.2-2'}}
                                                {{'including_taxes_fees' | translate}}
                                            </span>
                                            <span class="texts d-none d-md-block" *ngIf="!room?.offer_data.applicable">
                                                ${{room?.night_rate | number : '1.2-2'}} {{'including_taxes_fees' | translate}}
                                            </span>
                                        </div>
                                    </div>

                                    <div class="rules_wrps">
                                        <span class="heads"> 
                                            <img src="{{s3BucketUrl}}assets/images/icon/bed-pink.svg" alt="">
                                            {{'rules' | translate}}
                                        </span>
                                        <span class="texts_rules">
                                            {{'rules_1' | translate}}<a [routerLink]="['/terms']"
                                                [queryParams]="commonFunction.isRefferal()? commonFunction.getRefferalParms() : ''"> {{'terms' | translate}}</a> {{'rules_2' | translate}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right_box_wrps desk_right">
                <div class="map_wrapper">
                    <agm-map [latitude]="hotelDetails?.latitude" [longitude]="hotelDetails?.longitude" minZoom="2" [zoom]="12" [clickableIcons]="false">
                        <agm-marker [iconUrl]="{url:s3BucketUrl+'assets/images/hotels/map-pinfull.svg', scaledSize: {height: 80,width: 48}}" [latitude]="hotelDetails?.hotelLocations?.latitude" [longitude]="hotelDetails?.hotelLocations?.longitude">
                        </agm-marker>
                    </agm-map>
                </div>
                <div class="amenities_wrpper" #target id="target">
                    <h3 class="common_title_wrps">{{'amenities' | translate}}</h3>
                    <ul *ngIf="hotelDetails?.amenities?.list.length">
                        <ng-container *ngFor="let amenity of hotelDetails?.amenities.list ; let i=index">
                            <li *ngIf="!showMoreAmenties && i < 10 ">{{amenity | titlecase}}</li>
                            <li *ngIf="showMoreAmenties">{{amenity | titlecase}}</li>
                        </ng-container>
                    </ul>
                    <a *ngIf="!showMoreAmenties && hotelDetails?.amenities?.list.length>10" (click)="toggleAmenities(target,'more')" class="cta_link hover-link">{{'more'
                        |translate}}</a>
                    <a *ngIf="showMoreAmenties && hotelDetails?.amenities?.list.length>10" (click)="toggleAmenities(target,'less')" class="cta_link hover-link">{{'less'
                        |translate}}</a>
                </div>
            </div>
        </div>
    </div>
</section>