<div class="row">
  <div class="suggetion_wrapper">
    <ng-container *ngFor="let traveler of travelers">
      <button *ngIf="traveler_type==traveler.user_type && traveler.roleId!=7" type="button"
        class="btn btn-sm btn-outline-secondary" [ngClass]="{'active' : travelerId==traveler.userId}"
        (click)="selectTraveler(traveler)">
        {{traveler.firstName ? traveler.firstName+' '+traveler.lastName : traveler.email }}
        <!-- <a *ngIf="travelerId==traveler.userId" (click)="removeTraveler(traveler.userId)" class="close_icon">
          <i class="fa fa-times"></i>
        </a> -->
      </button>
    </ng-container>
  </div>
</div>