<div class="row">
  <div class="suggetion_wrapper">
    <ng-container *ngFor="let traveler of travelers">
      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="selectTraveler(traveler.userId)">
        {{traveler.firstName ? traveler.firstName+' '+traveler.lastName : traveler.email }}
        <a *ngIf="selectedTraveler==traveler.userId" (click)="removeTraveler(traveler.userId)" class="close_icon">
          <i class="fa fa-times"></i>
        </a>
      </button>
    </ng-container>
  </div>
</div>