<div class="page_load hotels">
    <div class="page_load_inner">
        <div class="page_laoding">
            <!-- <lottie-player class="animation_player" src="https://assets3.lottiefiles.com/packages/lf20_vTKQNW.json" background="transparent" speed="1" loop autoplay></lottie-player> -->
            <img src="{{s3BucketUrl}}assets/images/icon/dr/dr_hotel_loader.svg" alt="Loading Images">
            <h6> Searching <span>Home</span></h6>
            <div id="Loader_progressbar">
                <div class="progress-label">{{'loading' | translate}}</div>
            </div>
            <p>{{'please_wait_loading' | translate}}</p>
        </div>
    </div>
</div>