<div class="detail_info_right">
  <h5>Booking <span>Summary</span></h5>
  <div class="block_top">
      <div class="summary_info">
          <div class="info_top">
              <ul>
                  <li>{{flightDetail[0].departure_code}}</li>
                  <li class="ic_flight"><img src="{{s3BucketUrl}}assets/images/icon/summary_flight_ic.svg" alt="Flight Icon"></li>
                  <li>{{flightDetail[0].arrival_code}}</li>
              </ul>
              <p>{{flightDetail[0].departure_date}} | 1 Passenger | Economy</p>
              <div class="btm_aerrow"></div>
          </div>
          <div class="info_btm">
              <div class="info_btm_top">
                  <div class="info_left">Onwards</div>
                  <div class="info_right"><span>{{ flightDetail[0].total_duration }},</span> {{ flightDetail[0].stop_count }} Stop</div>
              </div>
              <div class="info_btm_btm">
                  <div class="flight_info">
                      <div class="flight_cityname">
                        {{ flightDetail[0].routes[0].stops[0].departure_info.city }} ({{flightDetail[0].routes[0].stops[0].departure_code}}) <span>{{ flightDetail[0].routes[0].stops[0].departure_info.name }}, {{ flightDetail[0].routes[0].stops[0].departure_info.country }}</span>
                      </div>
                      <div class="flight_middle">
                          <div class="middle_top">
                              <img src="{{s3BucketUrl}}assets/images/airlines_logo.png" alt="Airlines Logo">
                              <p>American Airlines <span>Operated by Nacil Air India</span></p>
                          </div>
                          <div class="middle_btm">
                              <div class="info_left">
                                  <span>Flight DE-123</span>
                                  <div class="flight_time_info">
                                      <div class="flight_time_left">
                                          12:00 AM <span>THU, NOV 29</span>
                                      </div>
                                      <div class="flight_time_separator">
                                          <span></span>
                                      </div>
                                      <div class="flight_time_left">
                                          02:00 AM <span>THU, NOV 29</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="info_right">
                                  02h 50m <span>Duration</span>
                              </div>
                          </div>
                      </div>
                      <div class="flight_cityname">
                        {{ flightDetail[0].routes[0].stops[flightDetail[0].routes[0].stops.length-1].arrival_info.city }} ({{flightDetail[0].routes[0].stops[flightDetail[0].routes[0].stops.length-1].arrival_code}}) <span>{{ flightDetail[0].routes[0].stops[0].arrival_info.name }}, {{ flightDetail[0].routes[0].stops[flightDetail[0].routes[0].stops.length-1].arrival_info.country }}</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="cmn_block">
      <div class="block_inner">
          <h6>Fare Detail</h6>
          <ul>
              <li>Price per passenger <span>$153</span></li>
          </ul>
      </div>
      <div class="block_inner last">
          <h6>Fare Detail</h6>
          <ul>
              <li>Amount <span>$153</span></li>
              <li>Taxes <span>$0</span></li>
          </ul>
      </div>
      <div class="partial_pay_info">
          <ul>
              <li>
                  <p>Partial Payment <img src="{{s3BucketUrl}}assets/images/icon/ic_information.svg" alt="Information icon"></p>
                  <span>$35/week</span>
              </li>
          </ul>
      </div>
      <div class="total_payment">
          <ul>
              <li>Total <span>$350</span></li>
          </ul>
      </div>
  </div>
  <div class="cmn_block policies">
      <div class="block_inner">
          <h6>Check our Policies</h6>
          <ul>
              <li><a href="javascript:void(0);">Baggage policy</a></li>
              <li><a href="javascript:void(0);">Cancellation policy</a></li>
          </ul>
      </div>
  </div>
</div>