@import '../../../../../cstm-variable';
@import "../../../../../_cstm-variable.scss";
@import "../../../../../_cstm-components.scss";
@import "../../../../../_hotel.scss";
@import "../../../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.account_part{
    background-color: $background-white;
    .traveller_detail_wrpper{
        padding: 15px 0;
        max-width: 655px;
        margin: 0 auto;
        .title_bar{
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            h3{
                color: $blue-text;
                font-size: 34px;
                margin-bottom: 5px;
                margin: 25px 0 15px;
                @include tab-view{
                    font-size: 18px;
                }
            }
            .edit_btns{
                a{
                    background-color: transparent;
                    color: $text_light_yellow;
                    box-shadow: none;
                    font-size: 16px;
                    padding: 0;
                    text-align: right;
                    text-decoration: none;
                }
            }
        }
        .travel_detail_bg_wrps{
            background-color: $tab-bg-gray;
            border-radius: 5px;
            padding: 15px;
        }
    }
    .card_details_wrppers{
        padding: 15px 0;
        max-width: 655px;
        margin: 0 auto;
        
        .title_bar{
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            h3{
                color: $blue-text;
                font-size: 34px;
                margin-bottom: 5px;
                margin: 25px 0 15px;
                @include tab-view{
                    font-size: 18px;
                }
            }
            .edit_btns{
                a{
                    background-color: transparent;
                    color: $text_light_yellow;
                    box-shadow: none;
                    font-size: 16px;
                    padding: 0;
                    text-align: right;
                    text-decoration: none;
                }
            }
        }
        .booking_detail_bg_wrps{
            background-color: $tab-bg-gray;
            border-radius: 5px;
            padding: 15px;
            .card_accordion{
                .card{
                    border: 1px solid $grayed_border;
                    border-radius: 10px;
                    .card-header{
                        border: none;
                        background-color: transparent;
                        a{
                            font-weight: 600;
                            color: $text-black;
                            font-size: 16px;
                            border: none;
                            background-color: transparent;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                            padding: 0;
                
                            &[aria-expanded="true"]{
                                &:after {
                                    font-family: 'FontAwesome';
                                    content: "\f077";
                                    color: $text-grey;
                                    font-weight: normal;
                                    transition: 0.3s;
                                    right: 10px;
                                    position: absolute;
                                    top: 5px;
                                }
                            }
                            &[aria-expanded="false"]{
                                &:after {
                                    font-family: 'FontAwesome';
                                    content: "\f078";
                                    color: $text-grey;
                                    font-weight: normal;
                                    transition: 0.3s;
                                    right: 10px;
                                    position: absolute;
                                    top: 5px;
                                }
                            }
                        }
                    }
                    .card-body{
                        padding: 15px;
                    }
                }
            }
        }
    }
    .prefrence_main_wrapper{
        padding: 15px 0;
        max-width: 655px;
        margin: 0 auto;

        .title_bar{
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            h3{
                color: $blue-text;
                font-size: 34px;
                margin-bottom: 5px;
                margin: 25px 0 15px;
                @include tab-view{
                    font-size: 18px;
                }
            }
        }
    }
    .security_main_wrapper{
        padding: 15px 0;
        max-width: 655px;
        margin: 0 auto;

        .title_bar{
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            h3{
                color: $blue-text;
                font-size: 34px;
                margin-bottom: 5px;
                margin: 25px 0 15px;
                @include tab-view{
                    font-size: 18px;
                }
            }
        }
        .security_accord_wrppaer{
            background-color: $background-white;
            border: none;
            .secur_accordion{
                .card{
                    border: none;
                    border-radius: 10px;
                    .card-header{
                        border: none;
                        border-bottom: 1px solid $grayed_border;;
                        padding: 10px 0;
                        background-color: transparent;
                        a{
                            font-weight: 600;
                            color: $text-black;
                            font-size: 16px;
                            border: none;
                            background-color: transparent;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                            padding: 0;
                
                            &[aria-expanded="true"]{
                                &:after {
                                    content: "";
                                    position: relative;
                                    padding: 5px 9px;
                                    margin-left: 10px;
                                    background-image: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/arrow_up_dropdown.svg);
                                    background-position: right;
                                    background-repeat: no-repeat;
                                    background-size: 12px;
                                    transition: 0.3s;
                                    right: 15px;
                                  @include tab-view{
                                    position: absolute;
                                    right: 0;
                                    height: 12px;
                                  }
                                }
                            }
                            &[aria-expanded="false"]{
                                &:after {
                                    position: relative;
                                    padding: 5px 9px;
                                    margin-left: 10px;
                                    background-image: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/arrow_dropdown.svg);
                                    background-position: right;
                                    background-repeat: no-repeat;
                                    background-size: 12px;
                                    content: "";
                                    transition: 0.3s;
                                    right: 15px;
                                    @include tab-view{
                                        position: absolute;
                                        right: 0;
                                        height: 12px;
                                    }
                                }
                            }

                        }
                    }
                    .card-body{
                        padding: 15px;
                    }
                }
            }
        }
    }
    .delete_main_wrpper{
        padding: 15px 0;
        max-width: 655px;
        margin: 0 auto;

        .edit_btns{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 5px 0;
            width: 100%;
            border-bottom: 1px solid $box-border-color;
            padding-bottom: 10px;
            a{
                background-color: transparent;
                color: $text_light_yellow;
                box-shadow: none;
                font-size: 16px;
                padding: 0;
                text-align: right;
                text-decoration: none;
            }
        }
    }
}


