<div class="modal-content">
    <div class="modal_top">
        <div class="modal_logo">
            <img src="{{s3BucketUrl}}assets/images/logo.svg" alt="Logo">
        </div>
    </div>
    <div class="modal_cnt">
        <div class="modal_message">
            <h4>Forgot password?</h4>
            <p>Enter the email address you used to register on laytrip. We’ll send you a link to reset your password.</p>
        </div>
        <form [formGroup]="forgotForm">
            <div class="form_row">
                <label>Email</label>
                <div class="text_field">
                    <input type="email" name="email" maxlength="20" tabindex="1" placeholder="Enter Your Email">
                </div>
            </div>
            <div class="form_btn">
                <button>Reset Password</button>
            </div>
        </form>
    </div>
  </div>