<div class="modal fade payment_view_modal" id="payment_view_modal">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="pay_modal_cnt">
              <div class="pay_modal_top">
                  <button type="button" class="close" data-dismiss="modal">
                      <img src="{{s3BucketUrl}}assets/images/icon/close-icon.svg" alt="Close Icon">
                  </button>
                  <p>Order ID: <span>120313254654</span></p>
              </div>
              <div class="pay_modal_btm">
                  <div class="block_inner">
                      <div class="block_title">
                          <h5>Payment Details</h5>
                      </div>
                      <div class="pay_detail_info">
                          <div class="detail_info_left">
                              <ul>
                                  <li>
                                      <span>Payment type :</span>
                                      <p>Partial Payment</p>
                                  </li>
                                  <li>
                                      <span>Partial Payment type :</span>
                                      <p>Weekly/biweekly/monthly</p>
                                  </li>
                                  <li>
                                      <span>Total booking amount :</span>
                                      <p>$100</p>
                                  </li>
                                  <li>
                                      <span>Partial payment part :</span>
                                      <p>5 EMI</p>
                                  </li>
                                  <li>
                                      <span>Partial payment Start Date :</span>
                                      <p>22-06-2020</p>
                                  </li>
                                  <li>
                                      <span>Next Partial payment Date :</span>
                                      <p>28-06-2020</p>
                                  </li>
                                  <li>
                                      <span>Partial payment amount :</span>
                                      <p>$20</p>
                                  </li>
                                  <li>
                                      <span>Paid amount :</span>
                                      <p>$80 / $100</p>
                                  </li>
                              </ul>
                          </div>
                          <div class="detail_info_right">
                              <div class="list_right">
                                  <p>Payment Due in <span>6 days</span></p>
                                  <div class="pay_status">
                                      Pay Early
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="block_inner">
                      <div class="block_title">
                          <h5>Partial Payment Detail</h5>
                      </div>
                      <div class="pay_detail_tbl">
                          <table>
                              <thead>
                                  <tr>
                                      <th>ID</th>
                                      <th>Amount</th>
                                      <th>Date</th>
                                      <th>Status</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td data-title="ID">01</td>
                                      <td data-title="Amount">$20</td>
                                      <td data-title="Date">22-06-2020</td>
                                      <td data-title="Status"><span class="status_paid">Paid</span></td>
                                  </tr>
                                  <tr>
                                      <td data-title="ID">02</td>
                                      <td data-title="Amount">$10</td>
                                      <td data-title="Date">22-06-2020</td>
                                      <td data-title="Status"><span class="status_pending">Pending</span></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>