<!-- Start Our Featured List Section-->
<section class="our_featured_list">
  <div class="section_title">
      <h2>Featured List</h2>
  </div>
  <div class="featured_list">
      <ul>
          <li>
              <div class="featured_list_block">
                  <a href="javascript:void(0);">
                      <img src="{{s3BucketUrl}}assets/images/box-1.jpg" alt="" />
                      <div class="block_overlay"></div>
                      <div class="block_info">
                          <h3>London</h3>
                          <span>19023 Hotels</span>
                      </div>
                  </a>
              </div>
          </li>
          <li>
              <div class="featured_list_block">
                  <a href="javascript:void(0);">
                      <img src="{{s3BucketUrl}}assets/images/box-2.jpg" alt="" />
                      <div class="block_overlay"></div>
                      <div class="block_info">
                          <h3>New York</h3>
                          <span>19023 Hotels</span>
                      </div>
                  </a>
              </div>
          </li>
          <li>
              <div class="featured_list_block">
                  <a href="javascript:void(0);">
                      <img src="{{s3BucketUrl}}assets/images/box-3.jpg" alt="" />
                      <div class="block_overlay"></div>
                      <div class="block_info">
                          <h3>Barcelona</h3>
                          <span>19023 Hotels</span>
                      </div>
                  </a>
              </div>
          </li>
          <li>
              <div class="featured_list_block">
                  <a href="javascript:void(0);">
                      <img src="{{s3BucketUrl}}assets/images/box-4.jpg" alt="" />
                      <div class="block_overlay"></div>
                      <div class="block_info">
                          <h3>Rome</h3>
                          <span>19023 Hotels</span>
                      </div>
                  </a>
              </div>
          </li>
          <li>
              <div class="featured_list_block">
                  <a href="javascript:void(0);">
                      <img src="{{s3BucketUrl}}assets/images/box-5.jpg" alt="" />
                      <div class="block_overlay"></div>
                      <div class="block_info">
                          <h3>Switzerland</h3>
                          <span>19023 Hotels</span>
                      </div>
                  </a>
              </div>
          </li>
      </ul>
  </div>
</section>
<!-- Close Our Featured List Section-->