<!-- Start Our Featured List Section-->
<section class="our_featured_list">
    <div class="container">
        <div class="section_title">
            <h2>Featured <span>List</span></h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        </div>
        <div class="featured_list">
            <div class="featured_slid slider">
                <div>
                    <div class="slid_block">
                        <img src="{{s3BucketUrl}}assets/images/box-1.jpg" alt="Featured Images">
                        <div class="block_overlay">
                            <div class="info_top">
                                <div class="start_label">Starts from</div>
                                <div class="start_price"><span>$35</span>/week</div>
                            </div>
                            <div class="info_btm">
                                <h3>London</h3>
                                <span>19023 Hotels</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slid_block">
                        <img src="{{s3BucketUrl}}assets/images/box-2.jpg" alt="Featured Images">
                        <div class="block_overlay">
                            <div class="info_top">
                                <div class="start_label">Starts from</div>
                                <div class="start_price"><span>$35</span>/week</div>
                            </div>
                            <div class="info_btm">
                                <h3>New York</h3>
                                <span>19023 Hotels</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slid_block">
                        <img src="{{s3BucketUrl}}assets/images/box-3.jpg" alt="Featured Images">
                        <div class="block_overlay">
                            <div class="info_top">
                                <div class="start_label">Starts from</div>
                                <div class="start_price"><span>$35</span>/week</div>
                            </div>
                            <div class="info_btm">
                                <h3>Barcelona</h3>
                                <span>19023 Hotels</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slid_block">
                        <img src="{{s3BucketUrl}}assets/images/box-4.jpg" alt="Featured Images">
                        <div class="block_overlay">
                            <div class="info_top">
                                <div class="start_label">Starts from</div>
                                <div class="start_price"><span>$35</span>/week</div>
                            </div>
                            <div class="info_btm">
                                <h3>London</h3>
                                <span>19023 Hotels</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slid_block">
                        <img src="{{s3BucketUrl}}assets/images/box-5.jpg" alt="Featured Images">
                        <div class="block_overlay">
                            <div class="info_top">
                                <div class="start_label">Starts from</div>
                                <div class="start_price"><span>$35</span>/week</div>
                            </div>
                            <div class="info_btm">
                                <h3>New York</h3>
                                <span>19023 Hotels</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Close Our Featured List Section-->