<section class="como_func_flight" *ngIf="landingPageName === 'antinoti'">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <h3>Como funciona laytrip</h3>
                <img class="infographic_img" src="assets/images/infographic.png" alt="infographic">
            </div>
            <div class="d-none d-lg-block col-4">
                <div class="sergios_img">
                    <img src="assets/images/sergios.png" alt="Sergios">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="video_section">
    <div class="container">
        <h3>Price guaranteed on all layaway plans!</h3>
        <div class="text-center">
            <video controls autoplay loop>
                <source src="{{s3BucketUrl}}assets/video/marketing_video.mp4" type="video/mp4">
                <!-- <source src="{{s3BucketUrl}}assets/video/marketing_video.ogg" type="video/ogg"> -->
                <!-- <source src="{{s3BucketUrl}}assets/video/marketing_video.mpeg" type="video/mpeg"> -->
                Your browser does not support the video element. Kindly update it to latest version.
              </video >
        </div>
    </div>
</section>