<div class="block_payment_mode">
  <div class="block_title_section">
      <h5>Get Assist</h5>
  </div>
  <div class="block_detail get_assist">
      <p>If you want any query or help. Contact us on -</p>
      <ul class="block_contact">
          <li>
              <a href="mailto:support@laytrip.com"><i class="fa fa-envelope" aria-hidden="true"></i> Support@laytrip.com</a>
          </li>

          <li>
              <a href="tel:+00 000 000 0000"><i class="fa fa-phone" aria-hidden="true"></i> +00 000 000 0000</a>
          </li>
      </ul>
  </div>
</div>