@import "./../../../cstm-variable";
@import "./../../../_hotel.scss";

.flight_form {
    position: relative;
}

.laytrip-input {
    width: 100%;
    border: none;
    height: 30px;
    font-size: 20px;
    color: #8188ab;
    font-weight: 600;
    background: transparent;
    display: block;
}

.item-list {
    margin: 0;
    padding: 0;
    list-style: none;

    .item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 12px 0px 0px;
        border-bottom: 1px solid $box-border-color;
        margin-left: 15px;

        .item-left {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            p {
                font-size: 14px;
                margin: 0;
                color: $text-black;
                font-weight: 400;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &:last-child {
                    font-size: 10px;
                    color: $text-grey;
                    margin: 2px 0 0;
                }
            }

            .item-name {
                font-size: 20px;
                font-weight: 600;
                color: #012178;
            }
        }

        .item-right {
            p {
                width: 35px;
                font-size: 14px;
                color: $text-black;
                font-weight: 500;
                text-align: center;
                margin: 0;
            }
        }
    }
}

.lab_wrapper {
    display: flex;
    align-items: center;
    height: 53px;
    justify-content: flex-start;

    @include tab-view {
        align-items: center;
        flex-direction: row;
        padding: 0 15px;
    }

    label {
        padding-right: 10px !important;
        max-width: 50px !important;
        @include tab-view {
            padding-left: 0 !important;
            min-width: 40px !important;
            width: 30px !important;
        }
    }

    .custom_inputs {
        padding-right: 10px;

        &.from_to_inputs {
            width: 90%;
        }
    }

}


