
    <ng-select [loading]="loading" [selectOnTab]="true" [items]="data" [(ngModel)]="selectedAirport" bindLabel="name"
    bindValue="name" (search)="onChangeSearch($event)" placeholder="Hello"  class="laytrip-input" notFoundText="" minTermLength="3" (change)="selectEvent($event)" loadingText="">
        <ng-template ng-option-tmp ng-label-tmp let-item="item" let-index="index" let-search="searchTerm">
            <ul class="item-list">
                <li class="item">
                        <div class="item-left">
                            <p >{{item.name}}</p>
                            <p>{{item.city}},{{item.country}}</p>
                        </div>

                        <div class="item-right">
                            <p>{{item.code}}</p> 
                        </div>
                </li>
            </ul>
        </ng-template>
    </ng-select>
    <span *ngIf="defaultSelected">{{ defaultSelected }}</span>
    <span *ngIf="selectedAirport">{{ selectedAirport.city}},{{selectedAirport.country}}</span>