@import "./../../../cstm-variable";

.flight_form {
    position: relative;
}
.laytrip-input {
    width: 100%;
    border: none;
    height: 30px;
    font-size: 20px;
    color: #8188ab;
    font-weight: 600;
    background: transparent;
    display: block;
}

.item-list {
    margin: 0;
    padding: 0;
    list-style: none;

    .item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 12px 0px 0px;
        border-bottom: 1px solid $box-border-color;
        margin-left: 15px;

        .item-left {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            p {
                font-size: 14px;
                margin: 0;
                color: $text-black;
                font-weight: 400;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &:last-child {
                    font-size: 10px;
                    color: $text-grey;
                    margin: 2px 0 0;
                }
            }
            .item-name {
                font-size: 20px;
                font-weight: 600;
                color: #012178;
            }
        }

        .item-right {
            p {
                width: 35px;
                font-size: 14px;
                color: $text-black;
                font-weight: 500;
                text-align: center;
                margin: 0;
            }
        }
    }
}

.search-bar {
    padding-right: 0px !important;
}

.search-drop-down {
    position: absolute;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    z-index: 10;
    background-color: #f6f6f6;
    opacity: 0.98;
}

.dropdown-list {
    list-style: none;
    .list-item {
        padding: 10px;
    }
    .item-head {
        font-weight: bold;
    }
    .item-body {
        padding-left: 33px;
        // background-image: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/icon/oneway-icon.svg);
        // background-position: 8px 11px;
        // background-repeat: no-repeat;
    }
}

.search-results {
    padding: 10px;
}

.search-results {
    li:hover {
        background: #ebf5ff;
        color: #000;
        cursor: pointer;
        // background-image: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/icon/oneway-icon.svg);
        // background-position: 8px 11px;
        // background-repeat: no-repeat;
    }
}

.custom-remove {
    font-size: 15px !important;
    line-height: 1.7;
    padding-left: 0px !important;
    .remove-icon {
        cursor: pointer;
    }
}

.highlight-row {
    background-color: #fc7e66;
    border-color: #46b8da;
    color: #ffffff;
}
