@import "./../../../cstm-variable";

.flight_form {
    position: relative;
}
.laytrip-input {
    width: 100%;
    border: none;
    height: 35px;
    margin-bottom: 5px;
    font-size: 20px;
    color: #8188ab;
    font-weight: 600;
}

.item-list {
    margin: 0;
    padding: 0;
    list-style: none;

    .item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 12px 0px 0px;
        border-bottom: 1px solid $box-border-color;
        margin-left: 15px;

        .item-left {
            width: 75%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            p {
                font-size: 14px;
                margin: 0;
                color: $text-black;
                font-weight: 400;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &:last-child {
                    font-size: 10px;
                    color: $text-grey;
                    margin: 2px 0 0;
                }
            }
            .item-name {
                font-size: 20px;
                font-weight: 600;
                color: #012178;
            }
        }

        .item-right {
            p {
                width: 35px;
                font-size: 14px;
                color: $text-black;
                font-weight: 500;
                text-align: center;
                margin: 0;
            }
        }
    }
}

