<!-- <div [formGroup]="form">
    <label>{{label}}</label>
    <ng-select [formControlName]="controlName" groupBy="sub_airport" [loading]="loading" id="{{id}}"
        [selectOnTab]="true" [items]="data" bindLabel="display_name" bindValue="display_name" [clearable]="true"
        notFoundText="" loadingText="" (change)="selectEvent($event, id)" (search)="onChangeSearch($event)"
        class="laytrip-input" placeholder="{{ placeHolder }}" [selectableGroup]="true">

        <ng-container>
            <ng-template>
                <div *ngIf="data.sub_airport">
                    <ng-template ng-optgroup-tmp let-item="item">
                        {{item.code}} {{item.city}},{{item.country}}-{{item.name}}
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item">
                        <div *ngFor="let i of item.sub_airport">
                            {{i.code}} {{i.city}},{{i.country}}-{{i.name}}
                        </div>
                    </ng-template>
                </div>
            </ng-template>
            <ng-template ng-optgroup-tmp let-item="item">
                <div *ngIf="!data.sub_airport">
                    {{item.code}} {{item.city}},{{item.country}}-{{item.name}}
                </div>
            </ng-template>
        </ng-container>

        <ng-template ng-label-tmp let-item="item">
            {{item.city}}
        </ng-template>
    </ng-select>
    <span *ngIf="defaultSelected;else selectedAirport">{{ defaultSelected }}</span>
    <ng-template #selectedAirport>
        <span *ngIf="selectedAirport">{{ selectedAirport.code}}{{selectedAirport.country}}</span>
    </ng-template>
</div> -->


<div [formGroup]="form" (clickOutsideOfDropdown)="closeDropDown()">
    <label>{{label}}</label>
    <div class="d-flex">
        <input (keyup)="onKeyPress($event, id)" [formControlName]="controlName" placeholder="{{ placeHolder }}"
            id="{{id}}" (input)="onChangeSearch($event)" (click)="openDropDown()"
            (keydown)="removeInput($event);getValueByTab($event, id)" class="input-underline search-bar" type="text">
        <div *ngIf="loading">
            <!-- <img src="/assets/images/loader.gif" *ngIf="loading" height="25" width="25"> -->
            <span>Loading..</span>
        </div>
        <span *ngIf="clearable && selectedAirport && selectedAirport.code" class="custom-remove" title="Clear all"
            (click)="clearSearchedAirport()"><span class="remove-icon fa fa-remove text-danger"></span></span>
    </div>
</div>
<div>
    <div *ngIf="showDropDown" id="search-drop-down" class="search-drop-down">
        <div class="search-results" *ngFor="let airport of data;let idx=index;trackBy:trackByOption">
            <div class="inner_div">
                <div id="dropdown-list" class="dropdown-list">
                    <div [ngClass]="{'highlight-row' :  airport.item_no === selectedIndex && selectedAirport }"
                        (click)="selectValue(airport, id)" class="list-item item-head">
                        {{airport.code}} {{airport.city}} - {{airport.name}}---{{airport.item_no}}
                    </div>
                    <ng-template [ngIf]="airport.sub_airport.length" let-item="item">
                        <ng-template ngFor [ngForOf]="airport.sub_airport" let-subAirport let-subidx="index">
                            <div class="list-item item-body"
                                [ngClass]="{'highlight-row' :  subAirport.item_no === itemNo && selectedAirport }"
                                (click)="selectValue(subAirport, id)">
                                {{subAirport.code}} {{subAirport.city}} - {{subAirport.name}}---{{subAirport.item_no}}
                            </div>
                        </ng-template>
                    </ng-template>
                </div>

                <!-- <ul id="dropdown-list" class="dropdown-list">
                    <li (click)="selectValue(airport, id)" class="list-item item-head"
                        *ngIf="!airport.sub_airport.length"
                        [ngClass]="{'highlight-row' :  idx === selectedIndex && selectedAirport }">
                        {{airport.code}} {{airport.city}} - {{airport.name}}</li>
                    <ng-container *ngIf="airport.sub_airport.length">
                        <li (click)="selectValue(airport, id)" class="list-item item-head"
                            [ngClass]="{'highlight-row' :  idx === selectedIndex && selectedAirport }">{{airport.code}}
                            {{airport.city}} - {{airport.name}}</li>
                        <li (click)="selectValue(subAirport, id)" class="list-item item-body"
                            *ngFor="let subAirport of airport.sub_airport;let subidx=index"
                            [ngClass]="{'highlight-row' :  idx === selectedIndex && selectedAirport }">
                            {{subAirport.code}} {{subAirport.city}} - {{subAirport.name}}</li>
                    </ng-container>
                </ul> -->
                <!-- cumulativeLength(idx) + subidx -->
            </div>

        </div>
    </div>
    <span *ngIf="defaultSelected">{{ defaultSelected }}</span>
    <span *ngIf="selectedAirport">{{ selectedAirport.code}} {{selectedAirport.country}}</span>
</div>