<!-- <app-full-page-overlay-loader  image="{{s3BucketUrl}}assets/images/flight-load_im.png"  module="Flight" type="Booking"></app-full-page-overlay-loader>
 -->
<section class="detail_info_main payment_info book_confirm_login book_confirm_guest flight">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">            
              <app-flight-confirmation *ngIf="isTripDetailloading" [bookingData]="bookingResult" ></app-flight-confirmation>              
          </div>
          <div class="col-lg-4">
            <app-flight-summary *ngIf="isTripDetailloading"  checkAvailability="trip-details" [flightSummary]="bookingResult.booking_details.moduleInfo"></app-flight-summary>
          </div>
      </div>
  </div>
</section>

<app-flight-not-available *ngIf="isFlightNotAvailable"></app-flight-not-available> 
