@import "../../../../cstm-variable";
@import "../../../../_cstm-variable.scss";
@import "../../../../_cstm-components.scss";
@import "../../../../_hotel.scss";
@import "../../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.payment_mode_main_wrapper {
    background-color: $background-white;
    padding-bottom: 20px;

    @include tab-view {
        .col-lg-7 {
            padding: 0;
        }
    }

    .card_details_wrppers{
        .title_bar{
            .edit_btns{
                @include tab-view{
                    display: flex;
                }
            }
        }
    }

    h3 {
        color: $blue-text;
        font-size: 34px;
        margin-bottom: 5px;
        margin: 25px 0 15px;

        @include tab-view {
            font-size: 23px;
            padding: 0 15px;
        }
    }

    .title_bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include tab-view {
            font-size: 23px;
            margin: 15px 0;
            padding: 0 15px;
        }

        h3 {
            color: $blue-text;
            font-size: 34px;
            margin-bottom: 5px;
            margin: 25px 0 15px;

            @include tab-view {
                font-size: 24px;
                margin: 0;
                padding: 0;
            }
        }

        .edit_btns {
            a {
                background-color: transparent;
                color: $text_light_yellow;
                box-shadow: none;
                font-size: 16px;
                padding: 0;
                text-align: right;
                text-decoration: none;
                @include tab-view {
                    font-size: 12px;
                    margin: 0;
                  }
            }
        }
    }

    .booking_detail_bg_wrps {
        background-color: $bg-body;
        border-radius: 5px;
        padding: 15px;

        .card_accordion {
            .card {
                border: 1px solid $grayed_border;
                border-radius: 10px;
                // padding: 15px;

                .new_card {
                    border: 1px solid $box-border-color;
                    border-radius: 10px;
                    margin: 15px;
                    position: relative;

                    .heade_wrps {
                        img {
                            margin-right: 15px;
                        }
                    }
                }

                .card-header {
                    border: none;
                    background-color: transparent;
                    padding: 15px;
                    height: 68px;
                    display: flex;

                    a {
                        font-weight: 600;
                        color: $text-black;
                        font-size: 16px;
                        border: none;
                        background-color: transparent;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        padding: 0;

                        &[aria-expanded="true"] {
                            &:after {
                                content: "";
                                padding: 5px 9px;
                                background-image: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/arrow_up_dropdown.svg);
                                background-position: right;
                                background-repeat: no-repeat;
                                background-size: 12px;
                                transition: 0.3s;
                            }
                        }

                        &[aria-expanded="false"] {
                            &:after {
                                padding: 5px 9px;
                                background-image: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/arrow_dropdown.svg);
                                background-position: right;
                                background-repeat: no-repeat;
                                background-size: 12px;
                                content: "";
                                transition: 0.3s;
                            }
                        }
                    }
                }

                .card-body {
                    padding: 15px;
                }
            }
        }
    }

    .payment_container {
        max-width: 658px;
        margin: 0 auto;

        @include tab-view {
            width: 100%;
            padding: 10px 0;
        }

        .payment_mode_wrapper {
            display: flex;
            flex-direction: column;

            h3 {
                color: $blue-text;
                font-size: 34px;
                margin-bottom: 5px;
                margin: 25px 0 15px;

                @include tab-view {
                    font-size: 18px;
                }
            }
        }

        .cta_btn_wrapper {
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 25px 0 15px;
            align-items: center;
            flex-direction: column;

            a {
                width: 100%;
            }

            button {
                width: 100%;
                height: 54px;
                padding: 10px 45px;
                background: $primary-color;
                border-radius: 25px;
                border: none;
                font-size: 18px;
                color: $text-white;
                transition: 0.3s;
                position: relative;
                z-index: 9;
                overflow: hidden;
                white-space: normal;
                cursor: pointer;
                border: 1px solid $primary-color;
                margin-bottom: 10px;

                @include tab-view{
                    font-size: 14px;
                    height: 44px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 0%;
                    background: $background-white;
                    z-index: -1;
                    transition: 0.8s;
                    border-radius: 0 0 50% 50%;
                }

                // &:hover {
                //     color: $primary-color;
                //     &:before {
                //         height: 190%;
                //     }
                // }
                &.trans_btn {
                    color: $pink;
                    background-color: transparent;
                    border: 2px solid $box-border-color;

                    img {
                        max-width: 19px;
                        margin-right: 5px;
                    }

                    &::before {
                        background: $pink;
                    }

                    // &:hover{
                    //     color: $text-white;
                    // }
                }

                .white_search {
                    display: none;

                    &.show {
                        display: inline-block;
                    }
                }
            }
        }
    }
}

.error_wrapper {
    display: flex;
    flex-direction: column;

    .section_description {
        transform: translate(0%, -0%);
        max-width: 445px;
        position: relative;
        justify-content: space-between;
        flex: 1;
        width: 100%;
        margin-bottom: 5px;

        a {
            width: 10px !important;
        }
    }
}

.btn_payment {
    display: flex;
    justify-content: flex-end;
}
