@import "../../../_cstm-variable.scss";
@import "../../../_cstm-components.scss";
@import "../../../_hotel.scss";
@import "../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
.container {
    display: block;
    height: auto;
    width: 100%;
    padding: 2em;
}

//<!--  Start Banner Section css -->
.home_banner {
    width: 100%;
    position: relative;
    // z-index: 9;
    touch-action: pan-y !important;

    .banner_inner {
        bottom: 0;
        right: 0;
        left: 0;
        padding: 95px 0 0;
        position: absolute;
        z-index: 99;
        transform: translate(0%, -90px);
        .banner_text {
            width: auto;
            margin-bottom: 50px;
            display: inline-block;
            max-width: 760px;
            @include tab-view {
                margin: 0 15px 15px;
            }
            .block_left {
                width: 100%;
                position: relative;
                padding: 15px;
                @include tab-view {
                    padding: 10px 0;
                }
                &::before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    background-image: url("https://d2q1prebf1m2s9.cloudfront.net/assets/images/blurbackgrond.svg");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    opacity: 0.46;
                }
                &.noshadow_antinoti{
                    &::before{
                        display: none;
                    }
                    p{
                        text-shadow: none;
                    }
                }
            }
            .banner_text_span {
                display: flex;
                justify-content: flex-start;
                line-height: 70px;
                img {
                    max-width: 150px;
                    max-height: 70px;
                    height: 70px;
                    @include tab-view {
                        max-width: 110px;
                        bottom: 0px;
                        max-height: 33px;
                        position: relative;
                    }
                }
                font-size: 50px;
                color: $text-white;
                font-weight: 400;
                @include tab-view {
                    font-size: 27px;
                    line-height: 33px;
                }
            }
            h2 {
                font-size: 50px;
                color: $text-white;
                font-weight: 600;
                margin-right: 10px;
                text-shadow: 0px 3px 6px #00000029;
                span {
                    color: $primary-color;
                    font-weight: 700;
                }
                @media(max-width: 767px) {
                    font-size: 30px;
                    padding: 0 0 0 15px;
                    margin-right: 8px;
                }
                @media(max-width: 575px) {
                    font-size: 27px;
                }
            }
            p {
                max-width: 630px;
                color: $text-white;
                font-size: 25px;
                line-height: 32px;
                text-shadow: 0px 3px 6px #000000C3;
                letter-spacing: 0.5px;
                margin: 0;
                @include tab-view {
                    font-size: 14px;
                    padding: 0 15px;
                    line-height: 18px;
                }
                // @media(max-width: 599px) {
                //     font-size: 17px;
                // }
            }
        }
        .banner_tab {
            width: 100%;
            padding: 30px 0 0;
            @include tab-view {
                padding: 20px 10px 10px;
            }
            .nav-tabs {
                border: none;
                display: inline-flex;
                flex-wrap: nowrap;
                background: $bg-grey-light;
                border-radius: 20px;

                @include tab-view {
                    //padding: 0 15px;
                }
                @media(max-width: 480px) {
                    display: inline-flex;
                }
                a {
                    padding: 8px 20px;
                    background: transparent;
                    border: none;
                    font-size: 16px;
                    font-weight: 500;
                    color: #52575A;
                    text-decoration: none;
                    white-space: nowrap;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    @include tab-view {
                        font-size: 14px;
                        &:last-child {
                            margin-right: 0;
                        }
                        img {
                            max-width: 51px;
                        }
                    }
                    // &:first-child {
                    // 	border-radius: 20px 0 0 0;
                    // }
                    // &:last-child {
                    // 	border-radius: 0 20px 0 0;
                    // }
                    &.active {
                        // background: $active-tab-text;
                        //color: $background-white;
                        .active-icon {
                            display: block;
                        }
                        .disabled-icon {
                            display: none;
                        }
                        .default-icon {
                            display: none;
                        }
                        &.flight-tab{
                            background: $active-tab-text;
                            color: $text-white;
                        }
                        &.hotel-tab{
                            background: #F726C0;
                            color: $text-white;
                        }
                    }
                    &.disabled {
                        background: $text_grey_dark;
                        color: $disabled-text;
                        .active-icon {
                            display: none;
                        }
                        .disabled-icon {
                            display: block;
                        }
                        .default-icon {
                            display: none;
                        }
                    }
                    // @media(max-width: 767px) {
                    //     padding: 20px;
                    // }
                    @media(max-width: 480px) {
                        img {
                            margin-right: 0;
                        }
                        span {
                            display: none;
                        }
                    }
                }
            }
            .tab-content {
                margin-top: 10px;
                width: 100%;
                padding: 15px;
                background: $background-white;
                border-radius: 10px;
                box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
                min-height: 154px;
                
                .flight_tab {
                    width: 100%;
                    .nav-tabs {
                        width: 100%;
                        border: none;
                        margin-bottom: 20px;
                        li {
                            display: inline-block;
                            margin: 0 20px 0 0;
                            a {
                                display: flex;
                                align-items: center;
                                line-height: 32px;
                                border-radius: 16px;
                                padding: 0 8px;
                                border: 1px solid $tab-border-color;
                                background: $tab-bg;
                                color: $tab-text-color;
                                text-decoration: none;
                                font-size: 14px;
                                font-weight: 500;
                                letter-spacing: 0.28px;
                                img {
                                    margin-right: 5px;
                                    width: 18px;
                                    height: 18px;
                                }
                                .active-icon {
                                    display: none;
                                }
                                &.active {
                                    color: $pink_clr;
                                    background: $bg_tab_active;
                                    border: 1px solid $border_tab_active;
                                    .active-icon {
                                        display: block;
                                    }
                                    .default-icon {
                                        display: none;
                                    }
                                }
                                @media(max-width: 480px) {
                                    font-size: 10px;
                                    span {
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                        @media(max-width: 480px) {
                            flex-wrap: wrap;
                            li {
                                margin: 0 5px 5px 0;
                                &:last-child {
                                    margin: 0;
                                }
                            }
                        }
                    }
                    .tab-content {
                        box-shadow: none;
                        padding: 0;
                    }
                }
            }
        }
        // @include tab-max {
        //     height: 100%;
        //     transform: translate(0%, 27%);
        // }
        @include ipad-view {
            transform: translate(0%, 0%);
            // position: absolute;
            padding: 30px 0 70px;
            height: 100%;
        }
    }
    &.banner_bg {
        background: url(https://d2q1prebf1m2s9.cloudfront.net/assets/images/lay_banner.png) !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center center !important;
        .banner_inner {
            bottom: 0;
            right: 0;
            left: 0;
            padding: 80px 0 50px;
            transform: translate(0px, 0px);
            position: relative;
            height: 100%;
            .banner_text {
                .block_left {
                    padding: 0;
                    @include tab-view {
                        padding: 0;
                    }
                    &::before {
                        content: '';
                        position: relative;
                        z-index: 0;
                        background-image: none;
                    }
                    h2 {
                        text-shadow: 0px 3px 6px #00000029;
                        font-weight: 400;
                        @media (max-width: 374px) {
                            padding: 0;
                        }
                    }
                    p {
                        text-shadow: 0px 3px 6px #00000029;
                        // margin-bottom: 1rem;
                        max-width: 530px;
                        @media (max-width: 374px) {
                            font-size: 13px;
                            padding: 0;
                        }
                    }
                }
            }
            @include ipad-view{
                padding: 30px 0 70px;
            }
        }
    }
    @include ipad-view {
        //padding-bottom: 60px;
        height: 100%;
    }
}

.disable_mod {
    pointer-events: none;
}

@-webkit-keyframes plane-animation {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
}

@keyframes plane-animation {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
}

//<!--  Close Banner Section css -->


.como_func_flight {
    padding: 80px 0;
    h3 {
        font-size: 30px;
        color: $pink;
        font-weight: 500;
        margin-bottom: 35px;
    }
    .infographic_img {
        max-width: 100%;
    }

    .sergios_img {
        position: relative;
        height: 100%;
        img {
            position: absolute;
            bottom: 0;
            width: 100%;
            z-index: 9;
        }
    }
}
