@import "../../../_cstm-variable.scss";
@import "../../../_cstm-components.scss";
@import "../../../_hotel.scss";
@import "../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.container {
    display: block;
    height: 500px;
    width: 100%;
    padding: 2em;
}

//<!--  Start Banner Section css -->
.home_banner {
    width: 100%;
    position: relative;
    //background: url(https://d2q1prebf1m2s9.cloudfront.net/assets/images/flight-tab-new-bg.svg) !important;
    // background: url(https://d2q1prebf1m2s9.cloudfront.net/assets/images/lay_banner.png) !important;
    // background-repeat: no-repeat !important;
    // background-size: cover !important;
    // background-position: center center !important;
    // height: calc(100vh - 55px);
    //padding-bottom: 130px;
    z-index: 9;

    &.banner_bg {
        background: url(https://d2q1prebf1m2s9.cloudfront.net/assets/images/lay_banner.png) !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center center !important;

        .banner_inner {
            bottom: 0;
            right: 0;
            left: 0;
            padding: 80px 0 50px;
            transform: translate(0px, 0px);
            position: relative;
            height: 100%;

            .banner_text {
                .block_left {
                    padding: 0;
                    @include tab-view {
                        padding: 0;
                    }
                    &::before {
                        content: '';
                        position: relative;
                        z-index: 0;
                        background-image: none;
                    }

                    h2 {
                        text-shadow: 0px 3px 6px #00000029;
                        font-weight: 400;
                    }

                    p {
                        text-shadow: 0px 3px 6px #00000029;
                        margin-bottom: 1rem;
                        max-width: 530px;
                    }
                }
            }
        }
    }

    @include ipad-view {
        //padding-bottom: 60px;
        height: 100%;
    }

    // height: calc(100vh - 95px);

    // &:before {
    // 	width: 100%;
    // 	height: 180px;
    // 	background: url(https://d2q1prebf1m2s9.cloudfront.net/assets/images/banner_bottom.svg) repeat-x;
    // 	position: absolute;
    // 	bottom: 0;
    // 	left: 0;
    // 	content: '';
    // }


    .banner_inner {
        // position: relative;
        // top: 170px;
        // left: 0;
        // transform: none;
        // padding: 0;
        //position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        //padding: 130px 0 50px;
        //padding: 80px 0 50px;
        padding: 95px 0 50px;
        // transform: translate(0%, 28%);
        //transform: translate(0%, 0%);
        position: absolute;
        z-index: 99;
        transform: translate(0%, -33%);
        //height: calc(100vh - 100px);

        @include tab-max {
            height: 100%;
            transform: translate(0%, 27%);
        }

        @include ipad-view {
            transform: translate(0%, 0%);
            position: absolute;
            padding: 20px 0 70px;
            height: 100%;
        }

        .banner_text {
            width: auto;
            //margin-top: 60px;
            //margin-bottom: 135px;
            margin-bottom: 70px;
            display: inline-block;
            max-width: 760px;

            @include tab-view {
                margin: 0 15px 15px;
            }

            .block_left {
                width: 100%;
                position: relative;
                padding: 15px;
                @include tab-view {
                    padding: 10px;
                }
                &::before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    background-image: url("https://d2q1prebf1m2s9.cloudfront.net/assets/images/blurbackgrond.svg");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    opacity: 0.46;
                }
            }

            .banner_text_span {
                display: flex;
                justify-content: flex-start;
                line-height: 70px;

                img {
                    max-width: 150px;
                    max-height: 70px;
                    height: 70px;

                    @include tab-view {
                        max-width: 110px;
                        bottom: 0px;
                        max-height: 33px;
                        position: relative;
                    }
                }

                font-size: 50px;
                color: $text-white;
                font-weight: 400;
               // margin-right: 10px;

                @include tab-view {
                    font-size: 27px;
                    line-height: 33px;
                }
            }

            h2 {
                font-size: 50px;
                color: $text-white;
                font-weight: 600;
                margin-right: 10px;
                //line-height: 76px;
                text-shadow: 0px 3px 6px #00000029;

                span {
                    color: $primary-color;
                    font-weight: 700;
                }

                @media(max-width: 767px) {
                    font-size: 30px;
                    padding: 0 0 0 15px;
                    margin-right: 8px;
                }

                @media(max-width: 575px) {
                    font-size: 27px;
                }
            }

            p {
                max-width: 630px;
                color: $text-white;
                font-size: 25px;
                line-height: 32px;
                text-shadow: 0px 3px 6px #000000C3;
                letter-spacing: 0.5px;
                margin: 0;

                @include tab-view {
                    font-size: 14px;
                    padding: 0 15px;
                    line-height: 18px;
                }

                // @media(max-width: 599px) {
                //     font-size: 17px;
                // }
            }
        }

        .banner_tab {
            width: 100%;
            padding: 30px 0 0;

            @include tab-view {
                padding: 40px 10px 10px;
            }

            .nav-tabs {
                border: none;
                display: inline-flex;
                flex-wrap: nowrap;

                @include tab-view {
                    //padding: 0 15px;
                }

                @media(max-width: 480px) {
                    display: inline-flex;
                }

                a {
                    padding: 20px 30px 20px 30px;
                    background: $bg-grey-light;
                    border: none;
                    font-size: 14px;
                    font-weight: 500;
                    color: $primary-color;
                    text-decoration: none;
                    white-space: nowrap;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 23px;
                    height: 69px;
                    width: 69px;

                    @include tab-view {
                        height: 51px;
                        width: 51px;
                        margin-right: 20px;
                        padding: 0;
                        background-color: transparent;

                        &:last-child {
                            margin-right: 0;
                        }

                        img {
                            max-width: 51px;
                        }
                    }

                    .default-icon {
                        display: block;
                    }

                    .active-icon {
                        display: none;
                    }

                    .disabled-icon {
                        display: none;
                    }

                    // &:first-child {
                    // 	border-radius: 20px 0 0 0;
                    // }

                    // &:last-child {
                    // 	border-radius: 0 20px 0 0;
                    // }

                    &.active {
                        // background: $active-tab-text;
                        //color: $background-white;

                        .active-icon {
                            display: block;
                        }

                        .disabled-icon {
                            display: none;
                        }

                        .default-icon {
                            display: none;
                        }
                    }

                    &.disabled {
                        background: $text_grey_dark;
                        color: $disabled-text;

                        .active-icon {
                            display: none;
                        }

                        .disabled-icon {
                            display: block;
                        }

                        .default-icon {
                            display: none;
                        }
                    }

                    @media(max-width: 767px) {
                        padding: 20px;
                    }

                    @media(max-width: 480px) {
                        img {
                            margin-right: 0;
                        }

                        span {
                            display: none;
                        }
                    }
                }
            }

            .tab-content {
                margin-top: 25px;
                width: 100%;
                padding: 15px;
                background: $background-white;
                border-radius: 10px;
                box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

                @include tab-view {
                    margin-top: 15px;
                }

                .flight_tab {
                    width: 100%;

                    .nav-tabs {
                        width: 100%;
                        border: none;
                        margin-bottom: 20px;

                        li {
                            display: inline-block;
                            margin: 0 20px 0 0;

                            a {
                                display: flex;
                                align-items: center;
                                line-height: 32px;
                                border-radius: 16px;
                                padding: 0 8px;
                                border: 1px solid $tab-border-color;
                                background: $tab-bg;
                                color: $tab-text-color;
                                text-decoration: none;
                                font-size: 14px;
                                font-weight: 500;
                                letter-spacing: 0.28px;

                                img {
                                    margin-right: 5px;
                                    width: 18px;
                                    height: 18px;
                                }

                                .active-icon {
                                    display: none;
                                }

                                &.active {
                                    color: $pink_clr;
                                    background: $bg_tab_active;
                                    border: 1px solid $border_tab_active;

                                    .active-icon {
                                        display: block;
                                    }

                                    .default-icon {
                                        display: none;
                                    }
                                }

                                @media(max-width: 480px) {
                                    font-size: 10px;

                                    span {
                                        display: inline-block;
                                    }
                                }
                            }
                        }

                        @media(max-width: 480px) {
                            flex-wrap: wrap;

                            li {
                                margin: 0 5px 5px 0;

                                &:last-child {
                                    margin: 0;
                                }
                            }
                        }
                    }

                    .tab-content {
                        box-shadow: none;
                        padding: 0;
                    }
                }
            }
        }
    }
}

.disable_mod {
    pointer-events: none;
}

@-webkit-keyframes plane-animation {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }

    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
}

@keyframes plane-animation {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }

    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
}

//<!--  Close Banner Section css -->