@import '../../../cstm-variable';

.flight_form {
    .autocomplete-container {
        box-shadow: none !important;
    }
}

.disable-div {
    cursor: not-allowed;
    background-color: rgb(235, 235, 228) !important;
    & input {
        cursor: not-allowed !important;
    }
}

.home_banner{
    .banner_inner .banner_tab .tab-content .flight_tab .tab-content .tab-pane .flight_search .flight-grid .grid_box.first .switch_btn{
        
        z-index: 9999;
    }
}

.disable_return_date{

    height: 100%;
    p{
        padding: 0 15px;
        margin:0;
        font-size: 14px;
        color: $text-grey;
        cursor: pointer;
    }
}

.disable-btn {
    cursor: not-allowed;
}

a:hover {
    cursor: pointer;
}

.home_banner {
    .banner_inner {
        .banner_tab {
            .tab-content {
                .flight_tab {
                    .tab-content {
                        .tab-pane {
                            .flight_search {
                                .flight-grid {
                                    .grid_box{
                                        &.secound {
                                            .search_area{
                                                height: 100%;
                                                display: flex;
                                                flex-flow: column;
                                                justify-content: space-between;
                                                input{
                                                    width: 100%;
                                                    left: 0;
                                                    position: relative;
                                                    &.date_icon{
                                                        position: absolute;
                                                        top: 50%;
                                                        right: 0;
                                                        transform: translateY(-50%);
                                                        background: url(http://localhost/laytrip_ui/assets/images/icon/calender-icon.svg) no-repeat;
                                                        background-position: center right 15px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
   
}

