<!--  Start Banner Section-->
<section (swipe)="onSwipe($event)" class="home_banner " id="home_banner" [ngClass]="{'banner_bg':isRefferal==false}">
    <!-- class name banner_bg -->
    <carousel *ngIf="isRefferal==true && landingPageName" class="home_bg_slider" (activeSlide)="activeSlide($event)" currentChangeCounter={{currentChangeCounter}} [slides]="slides"></carousel>
    <div class="container banner_inner">
        <div class="banner_text">
            <div class="block_left" *ngIf="countryCode!='DR'">
                <span class="banner_text_span" *ngIf="isRefferal && landingPageName != 'antinoti'">
                    <h2>$9.99 NY {{'to' | translate}} {{banner_city_name}} {{'promo_421_3' | translate}}{{'now' | translate}}!</h2>
                </span>
                <span class="banner_text_span" *ngIf="!isRefferal || landingPageName === 'antinoti'">
                    <h2 [innerHTML]="'flight_main_title' | translate"></h2>
                    <img class="" src="{{s3BucketUrl}}assets/images/laytrip_logo_white.svg" alt="Flight Icon" />!
                </span>
                <p *ngIf="isRefferal && landingPageName != 'antinoti'">{{'promo_421_1' | translate}} NY {{'to' | translate}} {{banner_city_name}} {{'promo_421_2' | translate}}.*</p>
                <p *ngIf="!isRefferal || landingPageName === 'antinoti'" [innerHTML]="'flight_third_title' | translate"></p>
                <a href="javascript:void(0);" class="cstm_theme_btn_comman banner_new_btn" data-toggle="modal" data-target="#works_modal">How it Works</a>
            </div>
        </div>
        <div class="banner_tab">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link flight-tab active" id="nav-flight" data-toggle="tab" href="#flight" role="tab" aria-selected="true" (click)="clickOnTab('flight')">
                        {{'flights' | translate}}
                    </a>
                    <a class="nav-item nav-link hotel-tab" id="nav-hotel" data-toggle="tab" href="#hotel" role="tab" aria-selected="false" (click)="clickOnTab('hotel')">
                        {{'hotels' | translate}}
                    </a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade" id="hotel" role="tabpanel" aria-labelledby="nav-hotel">
                    <app-hotel-search-widget (currentChangeCounter)=getCurrentChangeCounter($event)></app-hotel-search-widget>
                </div>
                <div class="tab-pane fade active show " id="flight" role="tabpanel" aria-labelledby="nav-flight">
                    <app-flight-search-widget (currentChangeCounter)=getCurrentChangeCounter($event) currentTabName={{currentTabName}}></app-flight-search-widget>
                </div>
                <div class="tab-pane fade" id="accommodation" role="tabpanel" aria-labelledby="nav-accommodation">
                </div>
            </div>
        </div>
    </div>
</section>


<!--  Close Banner Section-->
<app-dr-adventure *ngIf="countryCode==='DR'"></app-dr-adventure>
<app-last-min-hotel-deal *ngIf="countryCode==='DR'"></app-last-min-hotel-deal>
<app-landing-video></app-landing-video>
<app-partial-payment></app-partial-payment>

<app-deal [dealList]="dealList" [moduleId]="moduleId" (toString)="fetchWidgetDeal($event)"></app-deal>

<app-mobile-and-subscribe></app-mobile-and-subscribe>

<section class="block_contact_us_main modal fade comman_modal" id="works_modal" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="contact_modal_wrp">
                <div class="modal_title">
                    <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">
                        <img src="{{s3BucketUrl}}assets/images/icon/close-icon.svg" alt="Close Icon">
                    </button>
                </div>
                <div class="modal_content text-center">
                    <iframe src="https://www.youtube.com/embed/Ji7WcGuTABY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width: calc(100% - 10px); height: 100%; min-height: 350px; margin: 0 auto; display: inline-block;"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>