@import '../../../cstm-variable';

.flight-error{
    border: 1px solid red;
    border-radius:8px;
}
.flight_form {
    .autocomplete-container {
        box-shadow: none !important;
    }
}

.disable-div {
    cursor: not-allowed;
    background-color: rgb(235, 235, 228) !important;
    & input {
        cursor: not-allowed !important;
    }
}

/* .home_banner{
    .banner_inner .banner_tab .tab-content .flight_tab .tab-content .tab-pane .flight_search .flight-grid .grid_box.first .switch_btn{
        
        z-index: 9999;
    }
} */

.disable_return_date{

    height: 100%;
    p{
        padding: 0 15px;
        margin:0;
        font-size: 14px;
        color: $text-grey;
        cursor: pointer;
    }
}

.disable-btn {
    cursor: not-allowed;
}

a:hover {
    cursor: pointer;
}

.home_banner {
    .banner_inner {
        .banner_tab {
            .tab-content {
                .flight_tab {
                    .tab-content {
                        .tab-pane {
                            .flight_search {
                                .flight-grid {
                                    .grid_box.first {
                                        z-index: 2;
                                        .flight_to {
                                            z-index: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



.home_banner .banner_inner .banner_tab .tab-content .flight_tab .tab-content .tab-pane .flight_search .flight-grid .grid_box.secound .search_area input{
    background: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/icon/calender-icon.svg) center right 15px no-repeat !important;
}

.home_banner .banner_inner .banner_tab .nav-tabs a.disable_module{
    cursor:no-drop;
}