<!--  Start Banner Section-->
<section (swipe)="onSwipe($event)" class="home_banner " id="home_banner" [ngClass]="{'banner_bg':isRefferal==false}">
    <!-- class name banner_bg -->
    <carousel *ngIf="isRefferal==true && landingPageName" class="home_bg_slider" (activeSlide)="activeSlide($event)" currentChangeCounter={{currentChangeCounter}} [slides]="slides"></carousel>
    <div class="container banner_inner">
        <div class="banner_text">
            <div class="block_left" [ngClass]="landingPageName === 'antinoti'? 'noshadow_antinoti':''" *ngIf="countryCode!='DR'">
                <span class="banner_text_span" *ngIf="isRefferal && landingPageName != 'antinoti'">
                    <h2>$9.99 NY {{'to' | translate}} {{banner_city_name}} {{'promo_421_3' | translate}}{{'now' | translate}}!</h2>
                </span>
                <span class="banner_text_span" *ngIf="!isRefferal || landingPageName === 'antinoti'">
                    <h2 [innerHTML]="'flight_main_title' | translate"></h2>
                    <img class="" src="{{s3BucketUrl}}assets/images/laytrip_logo_white.svg" alt="Flight Icon" />!
                </span>
                <p *ngIf="isRefferal && landingPageName != 'antinoti'">{{'promo_421_1' | translate}} NY {{'to' | translate}} {{banner_city_name}} {{'promo_421_2' | translate}}.*</p>
                <p *ngIf="!isRefferal || landingPageName === 'antinoti'" [innerHTML]="'flight_third_title' | translate"></p>
                <a href="javascript:void(0);" class="cstm_theme_btn_comman banner_new_btn" data-toggle="modal" data-target="#works_modal">How it Works</a>
            </div>
        </div>
        <div class="banner_tab">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link flight-tab active" id="nav-flight" data-toggle="tab" href="#flight" role="tab" aria-selected="true" (click)="clickOnTab('flight')">
                        {{'flights' | translate}}
                    </a>
                    <a class="nav-item nav-link hotel-tab" id="nav-hotel" data-toggle="tab" href="#hotel" role="tab" aria-selected="false" (click)="clickOnTab('hotel')">
                        {{'hotels' | translate}}
                    </a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade" id="hotel" role="tabpanel" aria-labelledby="nav-hotel">
                    <app-hotel-search-widget (currentChangeCounter)=getCurrentChangeCounter($event)></app-hotel-search-widget>
                </div>
                <div class="tab-pane fade active show " id="flight" role="tabpanel" aria-labelledby="nav-flight">
                    <app-flight-search-widget (currentChangeCounter)=getCurrentChangeCounter($event) currentTabName={{currentTabName}}></app-flight-search-widget>
                </div>
                <div class="tab-pane fade" id="accommodation" role="tabpanel" aria-labelledby="nav-accommodation">
                </div>
            </div>
        </div>
    </div>
</section>

<!--  Close Banner Section-->
<app-dr-adventure *ngIf="countryCode==='DR'"></app-dr-adventure>
<app-last-min-hotel-deal *ngIf="countryCode==='DR'"></app-last-min-hotel-deal>
<app-landing-video></app-landing-video>
<app-partial-payment></app-partial-payment>

<app-deal [dealList]="dealList" [moduleId]="moduleId" (toString)="fetchWidgetDeal($event)"></app-deal>

<app-mobile-and-subscribe></app-mobile-and-subscribe>

<section class="block_contact_us_main modal fade comman_modal" id="works_modal" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="contact_modal_wrp">
                <div class="modal_title">
                    Layaway travel for everyone
                    <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">
                        <img src="{{s3BucketUrl}}assets/images/icon/close-icon.svg" alt="Close Icon">
                    </button>
                </div>
                <div class="modal_content text-center">
                    <iframe src="https://www.youtube.com/embed/Ji7WcGuTABY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width: calc(100% - 30px); height: 100%; min-height: 400px; margin: 0 auto 15px; display: inline-block;"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tripfluencer_modal modal fade comman_modal" id="trip_modal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button *ngIf="!showTripfluencerThankyou" type="button" class="close" data-dismiss="modal" (click)="closeModal()">
                    <img src="{{s3BucketUrl}}assets/images/trip_close.svg" alt="Close Icon">
                </button>
            </div>
            <div class="modal-body">
                <div class="tripfluencer_pop_ctn" *ngIf="!showTripfluencerThankyou">
                    <h3>Become a Tripfluencer!</h3>
                    <p>Members of our ambassador program can earn rewards from Laytrip by sharing posts on social media during trips purchased with us…
                        <a>
                            <!--href="javascript:void(0);" data-toggle="modal" data-target="#sign_in_modal"-->Sign in to be first to know what’s all about!</a>
                    </p>
                    <form [formGroup]="tripfluencer" (ngSubmit)="onSubmit()">
                        <!-- #MyForm="ngForm" (submit)="submitForm()" [formGroup]="tripForm" -->
                        <div class="form-group">
                            <label>Name<sup>*</sup></label>
                            <input type="text" class="form-control" formControlName="name" placeholder="Enter name" required>
                            <div *ngIf="(submitted  || tripfluencer.controls.name.touched) && tripfluencer.controls.name.errors" class="focus-input100 login-error">
                                <div *ngIf="tripfluencer.controls.name.errors.required" class="text-danger">Please enter name.</div>
                                <div *ngIf="tripfluencer.controls.name.errors.pattern" class="text-danger">Whitespace not allow at the beginning and end.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Email<sup>*</sup></label>
                            <input type="email" class="form-control" formControlName="email" placeholder="Enter email" required>
                            <div *ngIf="(submitted  || tripfluencer.controls.email.touched) && tripfluencer.controls.email.errors" class="focus-input100 login-error error">
                                <div *ngIf="tripfluencer.controls.email.errors.required" class="text-danger">
                                    Please enter email.
                                </div>
                                <div *ngIf="tripfluencer.controls.email.errors.email" class="text-danger">
                                    Please enter valid email address.
                                </div>
                            </div>
                        </div>
                        <div class="form-group w-100">
                            <label>Social</label>
                            <input type="text" class="form-control" formControlName="social_name" placeholder="Enter username">
                            <!-- <div *ngIf="(submitted  || tripfluencer.controls.social_name.touched) && tripfluencer.controls.social_name.errors" class="focus-input100 login-error">
                                <div *ngIf="tripfluencer.controls.social_name.errors.required" class="text-danger">Please enter social name.</div>
                                <div *ngIf="tripfluencer.controls.social_name.errors.pattern" class="text-danger">Whitespace not allow at the beginning and end.</div>
                            </div> -->
                        </div>
                        <p>By clicking Send, I confirm that I want to receive information, updates and other communications about the program.</p>
                        <button class="btn cstm_theme_btn_comman">Send</button>
                    </form>
                </div>
                <div class="tripfluencer_thanks" *ngIf="showTripfluencerThankyou">
                    <h3><img src="{{s3BucketUrl}}assets/images/tripfluencer_sent.svg" alt="Sent">Sent! Thank you for joining</h3>
                    <a data-dismiss="modal" href="javascript:void(0);" class="cstm_theme_btn_comman" (click)="closeModal()">Close</a>
                </div>
            </div>
        </div>
    </div>
</section>