<app-checkout-progress [progressStep]="progressStep"></app-checkout-progress>

<section class="detail_info_main add_passenger flight" *ngIf="loading">
    <app-booking-summary-loader></app-booking-summary-loader>
</section>

<section class="detail_info_main add_passenger flight" *ngIf="!loading">
 <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="detail_info_left">
                    <div class="block_passanger_info">
                         <div class="block_title_section">
                            <h5>Passenger Info</h5>
                            <span>({{adultsCount}}/4 selected)</span>
                        </div>
                        <div class="passanger_detail_main">
                            <app-adult-list  [travelers]="travelers" (adultsCount)="getAdultCount($event)"></app-adult-list>
                            <app-child-list></app-child-list>
                            <app-infant-list></app-infant-list>
                            <div class="required_wheelchair">
                                <ul>
                                    <li>
                                        <label class="custom_checkbox">
                                            <input type="checkbox" value="">
                                            <span class="checkmark"></span>
                                            Wheelchair Assistance Required
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="btn_payment">
                        <a  [routerLink]="['/flight/checkout', routeCode ]">
                            Continue to payment <img src="{{s3BucketUrl}}assets/images/icon/right-arrow.svg" alt="Right Arrow">
                          </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <app-flight-summary></app-flight-summary>
            </div>
        </div>
    </div>
<section></section>        