<app-checkout-progress [progressStep]="progressStep"></app-checkout-progress>

<section class="detail_info_main add_passenger flight" *ngIf="loading">
    <app-booking-summary-loader></app-booking-summary-loader>
</section>

<section class="detail_info_main add_passenger flight" *ngIf="!loading">
 <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="detail_info_left">
                    <div class="block_top" *ngIf="!isLoggedIn">
                        <div class="block_inner">
                            <h5>Quickly add travellers from your added list</h5>
                            <a href="javascript:void(0);"  data-toggle="modal" data-target="#sign_in_modal">Sign In to Continue</a>
                        </div>
                    </div>
                    <div class="block_passanger_info">
                         <div class="block_title_section">
                            <h5>Passenger Info</h5>
                            <span>({{selectedAdults}}/{{totalTraveler}} selected)</span>
                        </div>
                        <div class="passanger_detail_main">
                            <app-adult-list type="adult" age="12" totalTravelerCount="totalTraveler"  [_adults]="_adults" [_childs]="_childs" [_infants]="_infants" [travelers]="travelers" (adultsCount)="getAdultCount($event)"
                            (_itinerarySelectionArray)="getItinerarySelectionArray($event)"></app-adult-list>
                            <!-- <app-adult-list  type="child" age="2-12" totalTravelerCount="2"  [travelers]="travelers" (adultsCount)="getAdultCount($event)"></app-adult-list>
                            <app-adult-list  type="infant" age="0-2" totalTravelerCount="2"  [travelers]="travelers" (adultsCount)="getAdultCount($event)"></app-adult-list>
                           -->
                            <div class="required_wheelchair">
                                <ul>
                                    <li>
                                        <label class="custom_checkbox">
                                            <input type="checkbox" value="">
                                            <span class="checkmark"></span>
                                            Wheelchair Assistance Required
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="btn_payment">
                        <a class="btn btn_laytrip" (click)="checkTravelesValid()" >
                            Continue to payment <img src="{{s3BucketUrl}}assets/images/icon/right-arrow.svg" alt="Right Arrow">
                          </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <app-flight-summary ></app-flight-summary>
            </div>
        </div>
    </div>
<section></section>        