@import '../../../cstm-variable';
@import "../../../_cstm-variable.scss";
@import "../../../_cstm-components.scss";
@import "../../../_hotel.scss";
@import "../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


.block_contact_us_main .block_contact_inner .block_contact_form .block_form .form_row .form_field.half .phone_no .code{
    width: 100% !important;
}
.modal-dialog {
    max-width: 514px;
    width: 96%;
    .modal-content{
        @include tab-view{
            position: fixed;
            left: 0;
            bottom: 0;
            border-bottom-left-radius: 0;
		    border-bottom-right-radius: 0;
        }
        .contact_modal_wrp{
            padding: 32px 20px;
            .modal_title{
                font-size: 32px !important;
                color: $active-tab-text !important;
                text-transform: capitalize !important;
                font-weight: 500 !important;
                .close{
                    position: absolute;
                    right: 20px;
                    top: 16px;
                }
            }
            .modal_content{
                form{
                    .form_row{
                        margin-bottom: 20px;
                        input , textarea{
                            border: 1px solid $box-border-color;
                            border-radius: 10px;
                            padding: 14px 17px;
                            width: 100%;
                        }
                    }
                    
    
                    button {
                        width: 100%;
                        height: 40px;
                        padding: 0px 25px;
                        background: $hotel-secondary-color;
                        border-radius: 25px;
                        border: 1px solid $hotel-secondary-color;
                        font-size: 14px;
                        font-weight: 500;
                        color: $text-white;
                        transition: 0.3s;
                        position: relative;
                        z-index: 9;
                        overflow: hidden;
                        white-space: normal;
          
                        &::before {
                          content: "";
                          position: absolute;
                          top: 1px;
                          left: 1px;
                          width: 100%;
                          height: 0%;
                          background: $background-white;
                          z-index: -1;
                          transition: 0.8s;
                          border-radius: 25px;
                        }
          
                        &:hover {
                          border: 1px solid $hotel-secondary-color;
                          color: $hotel-secondary-color;
                          &:before {
                            height: calc(100% - 2px);
                            width: calc(100% - 2px);
                          }
                        }
                      }
                    .footer_logo{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        margin-top: 30px;
                        img{
                            max-width: 62px;
                        }
                    }
                }
            }
        }
    }
    
}