<section class="block_contact_us_main modal fade comman_modal" id="contact_modal" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="contact_modal_wrp">
                <div class="modal_title">
                    {{'contact_us_title' | translate}}
                    <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">
                        <img src="{{s3BucketUrl}}assets/images/icon/close-icon.svg" alt="Close Icon">
                    </button>
                </div>
                <div class="modal_content">
                    <form [formGroup]="contactUsForm" novalidate (ngSubmit)="onSubmit(contactUsForm.value)">
                        <div class="form_row">
                            <div class="text_field">
                                <input type="text" formControlName="name" maxlength="30" tabindex="11" placeholder="{{'full_name_placeholder' | translate}}">
                                <div *ngIf="submitted" class="focus-input100 login-error">
                                    <div *ngIf="contactUsForm.controls.name.errors && contactUsForm.controls.name.errors.required" class="text-danger">
                                        {{'full_name_touched_validation' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="text_field">
                                <input type="email" formControlName="email" maxlength="50" tabindex="12" placeholder="{{'email_placeholder' | translate}}">
                                <div *ngIf="submitted">
                                    <div *ngIf="contactUsForm.controls.email.errors && contactUsForm.controls.email.errors.required" class="text-danger">
                                        {{'email_touched_validation' | translate}}
                                    </div>
                                    <div *ngIf="contactUsForm.controls.email.errors && contactUsForm.controls.email.errors.pattern" class="text-danger">
                                        {{'email_invalid_validation' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form_row mb-0">
                            <div class="text_field text_area_wrps">
                                <textarea (keyup)="setMessageLenght($event.target.value)" (keypress)="setMessageLenght($event.target.value)" formControlName="message" maxlength="1000" tabindex="13" rows="5" placeholder="{{'messege_placeholder' | translate}}">
                                </textarea>
                                <div class="block_btm_msg">
                                    <div>
                                        <div *ngIf="submitted">
                                            <div *ngIf="contactUsForm.controls.message.errors && contactUsForm.controls.message.errors.required" class="text-danger">
                                                {{'messege_touched_validation' | translate}}
                                            </div>
                                        </div>
                                    </div>
                                    <span class="word_counter">{{messageLength}}/1000</span>
                                </div>
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="custom_upload">
                                <a class="upload_btn hover-link">
                                    <label class="mb-0">
                                        <img src="{{s3BucketUrl}}assets/images/icon/pin.svg" alt="attach"> {{ attach | translate }}          
                                        <input accept="image/png,image/jpg,.pdf" #fileInput type="file" formControlName="file"
                                            id="output" class="form-control input d-none"
                                            (change)="documentFileChange($event)" >
                                    </label>
                                </a>
                                <div class="upload_list_wrapper">
                                    <div class="listing_lines_wrps" *ngFor="let attatchment of attatchmentFiles; let i = index">
                                        <div class="uploaded_list">
                                            <img [src]="attatchment.image || defaultImage" alt="" />

                                            <div class="fileName">
                                                <h5>{{ attatchment.fileName }}</h5>
                                                <span class="extension">.{{ attatchment.extension}}</span>
                                            </div>
                                            <button type="button" class="close" (click)="removeAttatchedFile(i,attatchment.fullFileName);">
                                                <img src="{{s3BucketUrl}}assets/images/icon/close-icon.svg"
                                                    alt="attach">
                                            </button>
                                        </div>
                                        <small class="error_field" *ngIf="attatchment.errorMsg.length > 0">
                                            <img src="{{s3BucketUrl}}assets/images/icon/alert_tr.svg" alt="Error"
                                                class="error_img">
                                            {{attatchment.errorMsg}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form_btn">
                            <button type="submit">
                                <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>&nbsp;{{'submit' | translate}}</button>
                        </div>
                        <div class="block_api_error" *ngIf="errorMessage != ''">
                            {{errorMessage}}
                        </div>
                        <div class="footer_logo">
                            <a>
                                <img src="{{s3BucketUrl}}assets/images/laytrip_logo_blue.svg" alt="logo Icon">
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>