<form [formGroup]="profileForm" novalidate autocomplete="off">
    <div class="account_cnt_main">
        <div class="update_info">
            <div class="form_row">
                <div class="update_profile">
                    <span>
                        <img class="img-rounded" src="{{image || defaultImage}}" alt="Profile Image">
                    </span>
                    <small class="error_field" *ngIf="imageFileError">{{imageErrorMsg}}</small>
                    <div class="update_profile_btn">
                        <input #hiddenfileinput style="display: none" type="file" accept="image/*"
                            (change)="uploadImageFile($event)">
                        <button #upload (click)="hiddenfileinput.click()">Edit</button>
                    </div>
                </div>
            </div>
            <div class="form_row title_row">
                <h3>
                    Account Details
                </h3>
                <span class="edit_btns">
                    <a class="hover-link" *ngIf="!isFormControlEnable" (click)="enableFormControlInputs()">Edit</a>
                    <a class="hover-link" *ngIf="isFormControlEnable" (click)="onSubmit()">{{'save' |
                        translate}}</a>

                </span>
            </div>
            <div class="form_row common_row">
                <label>{{'first_name' | translate}}<sup>*</sup></label>
                <div class="text_field">
                    <input type="text" placeholder="{{'first_name_placeholder' | translate}}"
                        formControlName="first_name" maxlength="25" tabindex="1" [readonly]="!isFormControlEnable"
                        (keypress)="commonFunction.preventNumberInput($event)">
                    <div *ngIf="profileForm.controls.first_name.touched && profileForm.controls.first_name.errors"
                        class="error">
                        <small *ngIf="profileForm.controls.first_name.errors.required" class="error_field">
                            {{'first_name_touched_validation' | translate}}</small>
                        <small *ngIf="profileForm.controls.first_name.errors.pattern" class="error_field">
                            {{'first_name_string_validation' | translate}}</small>
                    </div>
                </div>
            </div>
            <div class="form_row common_row">
                <label>{{'last_name' | translate}}<sup>*</sup></label>
                <div class="text_field">
                    <input type="text" [readonly]="!isFormControlEnable"
                        placeholder="{{'last_name_placeholder' | translate}}" formControlName="last_name" maxlength="25"
                        tabindex="2" (keypress)="commonFunction.preventNumberInput($event)">
                    <div *ngIf="(isFormControlEnable && profileForm.controls.last_name.touched) && profileForm.controls.last_name.errors"
                        class="error">
                        <small *ngIf="profileForm.controls.last_name.errors.required" class="error_field">
                            {{'last_name_touched_validation' | translate}}</small>
                        <small *ngIf="profileForm.controls.last_name.errors.pattern" class="error_field">
                            {{'last_name_string_validation' | translate}}</small>
                    </div>
                </div>
            </div>

            <div class="form_row common_row">
                <label>{{'email_small' | translate}}<sup>*</sup></label>
                <div class="text_field">
                    <input
                        [readonly]="(!isFormControlEnable ) || (selectResponse.email != '' && selectResponse.email !='undefined') "
                        type="email" placeholder="{{'email_placeholder' | translate}}" formControlName="email"
                        tabindex="4">
                    <div class="error" *ngIf="profileForm.controls.email.touched && profileForm.controls.email.errors">
                        <span *ngIf="profileForm.controls.email.errors.required" class="error_field">
                            {{'email_touched_validation' | translate}}</span>
                        <span *ngIf="profileForm.controls.email.errors.pattern" class="error_field">
                            {{'email_invalid_validation' | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="form_row common_row ar_field">
                <label>Home Airport</label>
                <div class="text_field">
                    <ng-select [selectOnTab]="true" [items]="data" bindLabel="display_name" bindValue="code"
                        [clearable]="false" minTermLength="3" notFoundText="" [virtualScroll]="true"
                        formControlName="home_airport" [ngModelOptions]="{standalone: true}"
                        (clear)="onRemove($event,{key: 'fromSearch'})" (search)="changeSearchDeparture($event)"
                        loadingText="" class="laytrip-input" placeholder="Select home airport "
                        [readonly]="!isFormControlEnable">
                        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                            <div [ngClass]="(item.parentId==0)?'parent':'child'">
                                {{item.code}} {{item.city}},{{item.country}}-{{item.name}}
                            </div>
                        </ng-template>
                        <ng-template ng-label-tmp let-item="item">
                            {{item.city}}
                        </ng-template>
                    </ng-select>
                    <span *ngIf="departureAirport?.code">{{ departureAirport?.code }}, {{ departureAirport?.country
                        }}</span>
                    <span *ngIf="!departureAirport?.code"></span>
                </div>
            </div>
            <div class="form_row common_row">
                <label>{{'phone_no' | translate}}<sup>*</sup></label>

                <div class="text_field telephone_wrps account_telephone">
                    <span class="tel_span">
                        <!-- <input (keypress)="commonFunction.validatePhoneCode($event)"  [readonly]="!isFormControlEnable" type="text" class="form-control" tabindex="14" placeholder="+00"
                         maxlength="4"
                            formControlName="country_code"> -->
                        <ng-select class="ng-customClass country_code account_telephone_n" [items]="countries_code"
                            bindLabel="countryCode" bindValue="countryCode" [clearable]="false"
                            formControlName="country_code">
                        </ng-select>
                        <input [readonly]="!isFormControlEnable" mask="(000) 000-0000" placeholder="(000) 000-0000"
                            type="text" tabindex="15" class="form-control" maxlength="14" formControlName="phone_no">
                    </span>
                    <div class="error"
                        *ngIf="(profileForm.controls.country_code.touched || profileForm.controls.phone_no.touched) && profileForm.controls.phone_no.errors">
                        <small class="error_field"
                            *ngIf="profileForm.hasError('phoneAndPhoneCodeError')">{{'phone_touched_validation' |
                            translate}}</small>
                        <small
                            *ngIf="!profileForm.hasError('phoneAndPhoneCodeError') && (profileForm.controls.phone_no.errors.minlength)"
                            class="error_field">Phone number should be minimum 10</small>

                    </div>
                </div>
            </div>
            <div class="form_row common_row dobs_account">
                <label>{{'dob' | translate}}<sup>*</sup></label>
                <div class="text_field">
                    <p-calendar [disabled]="!isFormControlEnable" dateFormat="mm/dd/yy" class="form-control"
                        panelStyleClass="birth_date" inputId="basic" tabindex="9" formControlName="dob"
                        [maxDate]="dobMinDate" [readonlyInput]="true" [yearNavigator]="true" [monthNavigator]="true"
                        yearRange="{{'1971:'+this.dobMinDate.getFullYear()}}"
                        placeholder="{{'dob_placeholder' | translate}}" [defaultDate]="dobMinDate">
                    </p-calendar>
                    <div *ngIf="profileForm.controls.dob.touched && profileForm.controls.dob.errors" class="error">
                        <span *ngIf="profileForm.controls.dob.errors.required" class="error_field">
                            {{'dob_touched_validation' | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="form_row common_row">
                <label>{{'gender' |translate}}<sup>*</sup></label>
                <div class="text_field">
                    <div
                        [ngClass]="{'gender_anchers' : isFormControlEnable , 'gender_anchers_notEnable' : !isFormControlEnable }">
                        <a [ngClass]="{'active': (is_type == 'M')}" class="hover-link"
                            (click)="selectGender($event,'M')">Male</a>
                        <a [ngClass]="{'active': (is_type == 'F')}" (click)="selectGender($event,'F')"
                            class="hover-link">Female</a>
                        <a [ngClass]="{'active': (is_type == 'O')}" (click)="selectGender($event,'O')"
                            class="hover-link">Other</a>
                    </div>
                </div>

            </div>
            <div class="form_row common_row address_main">
                <!-- <label>{{'address_label' | translate}}</label> -->
                <label>Street Address <br> Country, State,City, <br>Zip</label>

                <div class="text_field address_box">
                    <input [readonly]="!isFormControlEnable" type="text" formControlName="city"
                    placeholder="Street Address" class="inputs_com">
                    <ng-select [readonly]="!isFormControlEnable" tabindex="27" class="ng-customClass address_ng"
                        [items]="countries" bindLabel="name" [selectOnTab]="true" formControlName="country_id"
                        selectOnTab="true" (change)="getStates($event)" [clearable]="false">
                        <ng-template ng-label-tmp let-item="item" let-clear="clear">
                            <span class="ng-value-label">
                                {{ item.name ? item.name : 'Select country' }} </span>
                            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </ng-template>
                        <!-- <ng-template ng-option-tmp let-item="item">
                            <img class="img_country_code" [src]="item.flag" width="20px" height="20px">
                            {{item.name}}
                        </ng-template> -->
                    </ng-select>
                    <ng-select [readonly]="!isFormControlEnable" class="address_ng" clearSearchOnAdd="true" selectOnTab="true"
                        formControlName="state_id" placeholder="Select State" tabindex="4">
                        <ng-option *ngFor="let state of stateList" value="{{state.id}}">{{state.name}}</ng-option>
                    </ng-select>
                    
                    <input [readonly]="!isFormControlEnable" type="text"  class="inputs_com" formControlName="zip_code" placeholder="Zip">
                    
                    <!-- <textarea [readonly]="!isFormControlEnable" formControlName="address" placeholder="Enter Address"
                        id="" cols="15" rows="10" tabindex="12" maxlength="255"></textarea> -->
                </div>
            </div>
        </div>
    </div>

</form>