input.ng-invalid.ng-touched {
	border-bottom: 1px solid #f4516c !important;
}
.account_part .account_cnt_main .update_info .update_info_right .form_row .form_field .phone_no .code .dropdown{
	height: 40px;
	width: 100px;
}

.account_part .account_cnt_main .update_info .update_info_right .form_row .form_field .phone_no .code .dropdown .ng-select.ng-customClass .ng-select-container{
	height:100%;	
	border:none;
}

.ng-customClass.ng-select-opened.ng-select-bottom>.ng-select-container{
	height:100%;	
	border:none !important;
}