<form [formGroup]="profileForm" novalidate autocomplete="off">
    <div class="account_cnt_main">
        <div class="update_info">
            <div class="form_row">
                <div class="update_profile">
                    <span>
                        <img accept="image/*" class="img-rounded" src="{{image || defaultImage}}" alt="Profile Image">
                    </span>
                    <small class="error_field" *ngIf="imageFileError">{{imageErrorMsg}}</small>
                    <div class="update_profile_btn">
                        <input #hiddenfileinput style="display: none" type="file" accept="image/*;capture=camera" (change)="uploadImageFile($event)">
                        <button #upload (click)="hiddenfileinput.click()">Edit</button>
                    </div>
                </div>
            </div>
            <div class="form_row title_row">
                <h3>
                    Account Details
                </h3>
                <span class="edit_btns">
                    <a class="hover-link" *ngIf="!isFormControlEnable" (click)="enableFormControlInputs()">Edit</a>
                    <a class="hover-link" *ngIf="isFormControlEnable" (click)="onSubmit()">{{'save' |
                        translate}}</a>

                </span>
            </div>
            <div class="form_row common_row" [ngClass]="{'error_main_class': submitted && profileForm.controls.first_name.errors}">
                <label>{{'first_name' | translate}}<sup>*</sup></label>
                <div class="text_field">
                    <input type="text" placeholder="{{'first_name_placeholder' | translate}}" formControlName="first_name" maxlength="25" tabindex="1" [readonly]="!isFormControlEnable" (keypress)="commonFunction.preventNumberInput($event)">
                </div>
            </div>
            <div *ngIf="submitted && profileForm.controls.first_name.errors" class="error error_profile">
                <div class="fake_div"></div>
                <small *ngIf="profileForm.controls.first_name.errors.required" class="error_field_new">
                    <img src="{{s3BucketUrl}}assets/images/icon/alert_tr.svg" alt="Error" class="error_img_new">
                    {{'first_name_touched_validation' | translate}}</small>
                <small *ngIf="profileForm.controls.first_name.errors.pattern" class="error_field_new">
                    <img src="{{s3BucketUrl}}assets/images/icon/alert_tr.svg" alt="Error" class="error_img_new">
                    {{'first_name_string_validation' | translate}}</small>
            </div>
            <div class="form_row common_row" [ngClass]="{'error_main_class': submitted && profileForm.controls.last_name.errors}">
                <label>{{'last_name' | translate}}<sup>*</sup></label>
                <div class="text_field">
                    <input type="text" [readonly]="!isFormControlEnable" placeholder="{{'last_name_placeholder' | translate}}" formControlName="last_name" maxlength="25" tabindex="2" (keypress)="commonFunction.preventNumberInput($event)">
                </div>
            </div>
            <div *ngIf="(isFormControlEnable ) && profileForm.controls.last_name.errors" class="error error_profile">
                <div class="fake_div"></div>
                <small *ngIf="submitted && profileForm.controls.last_name.errors.required" class="error_field_new">
                    <img src="{{s3BucketUrl}}assets/images/icon/alert_tr.svg" alt="Error" class="error_img_new">
                    {{'last_name_touched_validation' | translate}}</small>
                <small *ngIf="profileForm.controls.last_name.errors.pattern" class="error_field_new">
                    <img src="{{s3BucketUrl}}assets/images/icon/alert_tr.svg" alt="Error" class="error_img_new">
                    {{'last_name_string_validation' | translate}}</small>
            </div>

            <div class="form_row common_row" [ngClass]="{'error_main_class': submitted && profileForm.controls.email.errors}">
                <label>{{'email_small' | translate}}<sup>*</sup></label>
                <div class="text_field">
                    <input [readonly]="(!isFormControlEnable ) || (selectResponse.email != '' && selectResponse.email !='undefined') " type="email" placeholder="{{'email_placeholder' | translate}}" formControlName="email" tabindex="3">

                </div>
            </div>
            <div class="error error_profile" *ngIf="profileForm.controls.email.errors">
                <div class="fake_div"></div>
                <small *ngIf="profileForm.controls.email.errors.required" class="error_field_new">
                    <img src="{{s3BucketUrl}}assets/images/icon/alert_tr.svg" alt="Error" class="error_img_new">
                    {{'email_touched_validation' | translate}}</small>
                <small *ngIf="profileForm.controls.email.errors.pattern" class="error_field_new">
                    <img src="{{s3BucketUrl}}assets/images/icon/alert_tr.svg" alt="Error" class="error_img_new">
                    {{'email_invalid_validation' | translate}}</small>
            </div>
            <div class="form_row common_row ar_field">
                <label>Home Airport</label>
                <div class="text_field airport_dropdown">
                    <input [readonly]="(!isFormControlEnable)" type="text" placeholder=" {{hmPlaceHolder}}" (keyup)="searchAirportDeparture($event)" formControlName="home_airport" tabindex="3">
                    <div class="search_suggetion_main" *ngIf="!closeAirportSuggestion">
                        <div class="close_btn">
                            <button (click)="closeAirportDropDown(type)" type="button" class="close">
                                <img src="{{s3BucketUrl}}assets/images/icon/close-icon.svg" alt="Close Icon">
                            </button>
                        </div>
                        <ng-scrollbar class="custom_scroll_suggetion" barClass="scrollbar" customview="true" #scrollable track="all" pointerEventsMethod="scrollbar">
                            <span *ngIf="loadingDeparture">Loading...</span>
                            <div class="suggtions_wrps_mn">
                                <div class="suggtions">
                                    <div class="sug_line_box" *ngFor="let item of data">
                                        <span class="linew_wrps">
                                            <ng-conatiner *ngFor="let sub_item of item.value">
                                                <span *ngIf="sub_item.parentId == 0" class="line_names"
                                                    (click)="selectAirport(sub_item)">
                                                    {{sub_item.city}} International ({{sub_item.code}})
                                                </span>
                                        <span *ngIf="sub_item.parentId != 0" class="line_names" (click)="selectAirport(sub_item)">
                                                    {{sub_item.city}} ({{sub_item.code}})
                                                </span>
                                        </ng-conatiner>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </ng-scrollbar>
                        <div class="alphabets_wrps">
                            <a href="" class="alphas">a</a>
                            <a href="" class="alphas">b</a>
                            <a href="" class="alphas">c</a>
                            <a href="" class="alphas">d</a>
                            <a href="" class="alphas">e</a>
                            <a href="" class="alphas">f</a>
                            <a href="" class="alphas">g</a>
                            <a href="" class="alphas">h</a>
                            <a href="" class="alphas">i</a>
                            <a href="" class="alphas">j</a>
                            <a href="" class="alphas">k</a>
                            <a href="" class="alphas">l</a>
                            <a href="" class="alphas">m</a>
                            <a href="" class="alphas">n</a>
                            <a href="" class="alphas">o</a>
                            <a href="" class="alphas">p</a>
                            <a href="" class="alphas">q</a>
                            <a href="" class="alphas">r</a>
                            <a href="" class="alphas">s</a>
                            <a href="" class="alphas">t</a>
                            <a href="" class="alphas">u</a>
                            <a href="" class="alphas">v</a>
                            <a href="" class="alphas">w</a>
                            <a href="" class="alphas">y</a>
                            <a href="" class="alphas">z</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form_row common_row" [ngClass]="{'error_main_class':(submitted &&   profileForm.controls.phone_no.errors)}">
                <label>{{'phone_no' | translate}}<sup>*</sup></label>

                <div class="text_field telephone_wrps account_telephone">
                    <span class="tel_span">
                        <ng-select class="ng-customClass country_code account_telephone_n" [items]="countries_code"
                            bindLabel="countryCode" tabindex="5" bindValue="countryCode" [clearable]="false"
                            formControlName="country_code" (change)="validateCountryWithPhoneNumber($event)">
                        </ng-select>
                        <input [readonly]="!isFormControlEnable" mask="{{phoneNumberMask.format}}"
                            placeholder="(000) 000-0000" type="text" tabindex="6" class="form-control" maxlength="14"
                            formControlName="phone_no">
                    </span>

                </div>
            </div>
            <div class="error error_profile" *ngIf="submitted && (profileForm.controls.phone_no.errors ||profileForm.hasError('phoneAndPhoneCodeError'))">
                <div class="fake_div"></div>
                <small class="error_field_new" *ngIf="profileForm.hasError('phoneAndPhoneCodeError')">
                    <img src="{{s3BucketUrl}}assets/images/icon/alert_tr.svg" alt="Error" class="error_img_new">
                    {{'phone_touched_validation' |
                    translate}}</small>
                <small *ngIf="!profileForm.hasError('phoneAndPhoneCodeError') && (profileForm.controls.phone_no.errors.minlength)" class="error_field_new"><img src="{{s3BucketUrl}}assets/images/icon/alert_tr.svg" alt="Error"
                        class="error_img_new"> Minimum {{phoneNumberMask.length}} characters.</small>
            </div>
            <div class="form_row common_row dobs_account" [ngClass]="{'error_main_class':  submitted && profileForm.controls.dob.errors}">
                <label>{{'dob' | translate}}<sup>*</sup></label>
                <div class="text_field">
                    <input type="text" formControlName="dob" tabindex="7" placeholder="MM/DD/YYYY" [readonly]="!isFormControlEnable" [textMask]="dateYeaMask">
                </div>
            </div>
            <div *ngIf="submitted &&  profileForm.controls.dob.errors" class="error error_profile">
                <div class="fake_div"></div>
                <small *ngIf="profileForm.controls.dob.errors.required" class="error_field_new">
                    <img src="{{s3BucketUrl}}assets/images/icon/alert_tr.svg" alt="Error" class="error_img_new">
                    {{'dob_touched_validation' | translate}}</small>
                <small *ngIf="profileForm.controls.dob.errors.pattern" class="error_field_new">
                    <img src="{{s3BucketUrl}}assets/images/icon/alert_tr.svg" alt="Error" class="error_img_new">Enter
                    valid date of Birth.</small>
            </div>
            <div class="form_row common_row">
                <label>{{'gender' |translate}}<sup>*</sup></label>
                <div class="text_field">
                    <div [ngClass]="{'gender_anchers' : isFormControlEnable , 'gender_anchers_notEnable' : !isFormControlEnable }">
                        <a [ngClass]="{'active': (gender_type == 'M')}" class="hover-link" (click)="selectGender($event,'M')">Male</a>
                        <a [ngClass]="{'active': (gender_type == 'F')}" (click)="selectGender($event,'F')" class="hover-link">Female</a>
                        <a [ngClass]="{'active': (gender_type == 'O')}" (click)="selectGender($event,'O')" class="hover-link">Other</a>
                    </div>
                </div>

            </div>
            <div class="form_row common_row address_main">
                <label>
                    <span>Street Address</span>
                    <span>City</span>
                    <span>State</span>
                    <span>Zip</span>
                    <span>Country</span>
                </label>

                <div class="text_field address_box">
                    <input [readonly]="!isFormControlEnable" tabindex="8" type="text" formControlName="address" placeholder="Street Address" class="inputs_com" maxlength="255">
                    <input tabindex="9" [readonly]="!isFormControlEnable" maxlength="50" type="text" class="inputs_com" formControlName="city" placeholder="City">
                    <ng-select tabindex="10" [clearable]="false" [readonly]="!isFormControlEnable" class="address_ng" clearSearchOnAdd="true" selectOnTab="true" formControlName="state_id" placeholder="Select State">
                        <ng-option *ngFor="let state of stateList" [value]="state.id">{{state.name}}</ng-option>
                    </ng-select>
                    <input tabindex="11" [readonly]="!isFormControlEnable" maxlength="8" type="text" class="inputs_com" formControlName="zip_code" placeholder="Zip Code">
                    <ng-select [readonly]="!isFormControlEnable" tabindex="12" class="ng-customClass address_ng 2address_ng" [items]="countries" bindLabel="name" [selectOnTab]="true" formControlName="country_id" selectOnTab="true" (change)="getStates($event)" [clearable]="false">
                        <ng-template ng-label-tmp let-item="item" let-clear="clear">
                            <span class="ng-value-label">
                                {{ item.name ? item.name : 'Select country' }} </span>
                            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </ng-template>
                    </ng-select>
                </div>
            </div>
        </div>
    </div>

</form>