<section class="account_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <app-my-accounts-nav></app-my-accounts-nav>
            </div>
            <div class="col-lg-9">
                <div class="account_cnt_main">
                    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
                        <div class="update_info">
                            <div class="update_info_left">
                                <div class="update_profile">
                                    <span>
                                        <img class="img-rounded" src="{{image || defaultImage}}" alt="Profile Image">
                                    </span>
                                    <div class="update_profile_btn">
                                        <input #hiddenfileinput style="display: none" type="file" accept="image/*"
                                            (change)="onFileSelect($event)">
                                        <button #upload (click)="hiddenfileinput.click()"><img
                                                src="{{s3BucketUrl}}assets/images/icon/camera-icon.svg"
                                                alt="camera Icon"> Change</button>
                                    </div>
                                </div>
                            </div>
                            <div class="update_info_right">
                                <div class="form_row">
                                    <div class="form_field">
                                        <label>Title</label>
                                        <ul class="custom_listing">
                                            <li>
                                                <label class="custom_radio">Mr.
                                                    <input type="radio"  checked="checked"  value="mr" formControlName="title">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="custom_radio">Ms.
                                                    <input type="radio" value="ms" formControlName="title">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="custom_radio">Mrs.
                                                    <input type="radio" value="mrs" formControlName="title">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_field half">
                                        <label>First Name<sup>*</sup></label>
                                        <div class="text_field">
                                            <input type="text" formControlName="first_name" maxlength="20" tabindex="1">
                                        </div>
                                        <div *ngIf="(submitted || profileForm.controls.first_name.touched) && profileForm.controls.first_name.errors"
                                            class="focus-input100 login-error">
                                            <div *ngIf="profileForm.controls.first_name.errors.required"
                                                class="text-danger">Please enter your first name.</div>
                                        </div>
                                    </div>
                                    <div class="form_field half">
                                        <label>Last Name<sup>*</sup></label>
                                        <div class="text_field">
                                            <input type="text" formControlName="last_name" maxlength="20" tabindex="2">
                                        </div>
                                        <div *ngIf="(submitted || profileForm.controls.last_name.touched) && profileForm.controls.last_name.errors"
                                            class="focus-input100 login-error">
                                            <div *ngIf="profileForm.controls.last_name.errors.required"
                                                class="text-danger">Please enter your last name.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form_row">
                                    <div class="form_field half">
                                        <label>Email<sup>*</sup></label>
                                        <div class="text_field">
                                            <input readonly type="email" formControlName="email" tabindex="3">
                                        </div>

                                    </div>
                                    <div class="form_field half">
                                        <label>Phone</label>
                                        <div class="text_field">
                                            <div class="phone_no">
                                                <div class="code">
                                                    <div class="dropdown">
                                                        <ng-select class="ng-customClass" tabindex="4"
                                                            selectOnTab="true" [items]="countries_code" bindLabel="name"
                                                            clearSearchOnAdd="true" formControlName="country_code"
                                                            placeholder="+1">
                                                        </ng-select>
                                                    </div>

                                                </div>
                                                <div class="number">
                                                    <input type="text" formControlName="phone_no" maxlength="10"
                                                        (keypress)="commonFunctoin.validateNumber($event)" tabindex="5"
                                                        value="0000 0000 00">
                                                </div>
                                            </div>
                                            <div *ngIf="(submitted  || profileForm.controls.country_code.touched) && profileForm.controls.country_code.errors"
                                                class="focus-input100 login-error">
                                                <div *ngIf="profileForm.controls.country_code.errors.required"
                                                    class="text-danger">Please enter
                                                    country code.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form_row">
                                    <div class="form_field half">
                                        <div class="field_inn">
                                            <label>Date of Birth<sup>*</sup></label>
                                            <div class="text_field">
                                            <p-calendar 
                                                inputStyleClass="custom_datpicker birth_date"
                                                inputId="basic" 
                                                formControlName="dob" 
                                                [maxDate]="dobMinDate"
                                                [readonlyInput]="true" 
                                                [yearNavigator]="true"
                                                [monthNavigator]="true"
                                                yearRange="1970:2020"
                                                [defaultDate]="dobMinDate" 
                                            >
                                            </p-calendar>
                                               <!--  <input type="text" tabindex="6" ngxDaterangepickerMd
                                                    formControlName="dob" showDropdowns="true"
                                                    alwaysShowCalendars="true" placeholder=""
                                                    class="form-control custom_datpicker birth_date"
                                                    [singleDatePicker]="true" [locale]="locale" [autoApply]="true"
                                                    [maxDate]="dobMaxDate" [minDate]="dobMinDate" (datesUpdated)="dobDateUpdate($event)"/> -->

                                                <div *ngIf="(submitted  || profileForm.controls.dob.touched) && profileForm.controls.dob.errors"
                                                    class="focus-input100 login-error">
                                                    <div *ngIf="profileForm.controls.dob.errors.required"
                                                        class="text-danger">Please chouse
                                                        your date of birth.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field_inn">
                                            <label>Language</label>
                                            <div class="text_field custom-select">
                                                <ng-select class="ng-customClass" tabindex="8" selectOnTab="true"
                                                    placeholder="Select Preferred Language"
                                                    formControlName="language_id">
                                                    <ng-option *ngFor="let language of languages"
                                                        value="{{language.id}}">
                                                        {{language.name}}
                                                    </ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="field_inn">
                                            <label>Currency</label>
                                            <div class="text_field custom-select">
                                                <ng-select class="ng-customClass" tabindex="9" selectOnTab="true"
                                                    placeholder="Select Preferred Language"
                                                    formControlName="currency_id">
                                                    <ng-option *ngFor="let currency of currencies"
                                                        value="{{currency.id}}">
                                                        {{currency.code}}
                                                    </ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form_field half">
                                        <label>Select Gender<sup>*</sup></label>
                                        <div class="select_gender">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);" (click)="clickGender($event,'M')"
                                                        [ngClass]="is_gender && is_type == 'M' ? 'active_gender' : ''">
                                                        <div class="gender_type">
                                                            <img class="default-icon"
                                                                src="{{s3BucketUrl}}assets/images/icon/male.svg"
                                                                alt="male Icon">
                                                            <img class="active-icon"
                                                                src="{{s3BucketUrl}}assets/images/icon/male-active.svg"
                                                                alt="male Icon">
                                                        </div>
                                                        <span>Male</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" (click)="clickGender($event,'F')"
                                                        [ngClass]="is_gender && is_type == 'F' ? 'active_gender' : ''">
                                                        <div class="gender_type">
                                                            <img class="default-icon"
                                                                src="{{s3BucketUrl}}assets/images/icon/female.svg"
                                                                alt="Female Icon">
                                                            <img class="active-icon"
                                                                src="{{s3BucketUrl}}assets/images/icon/female-active.svg"
                                                                alt="Female Icon">
                                                        </div>
                                                        <span>Female</span>
                                                    </a>
                                                </li>
                                                <!-- <li>
                                                    <a href="javascript:void(0);" (click)="clickGender($event,'N')"
                                                        [ngClass]="is_gender && is_type == 'N' ? 'active_gender' : ''">
                                                        <div class="gender_type">
                                                            <img class="default-icon"
                                                                src="{{s3BucketUrl}}assets/images/icon/non-binary.svg"
                                                                alt="Non Binary Icon">
                                                            <img class="active-icon"
                                                                src="{{s3BucketUrl}}assets/images/icon/non-binary-active.svg"
                                                                alt="Non Binary Icon">
                                                        </div>
                                                        <span>Non-Binary</span>
                                                    </a>
                                                </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="update_location_detail">
                            <div class="section_title">
                                <h4>Location detail</h4>
                            </div>
                            <div class="detail_update">
                                <div class="form_row">
                                    <div class="field_bolck">
                                        <div class="field_inn">
                                            <label>Address line 1</label>
                                            <div class="text_field">
                                                <input type="text" formControlName="address" maxlength="250"
                                                    tabindex="10" placeholder="Enter address line 1">
                                            </div>
                                            <!-- <div *ngIf="(submitted  || profileForm.controls.address.touched) && profileForm.controls.address.errors"
                                                class="focus-input100 login-error">
                                                <div *ngIf="profileForm.controls.address.errors.required"
                                                    class="text-danger">Please enter your address.</div>
                                            </div> -->
                                        </div>
                                        <div class="field_inn">
                                            <label>Address line 2</label>
                                            <div class="text_field">
                                                <input type="text" formControlName="address2" maxlength="250"
                                                    tabindex="13" placeholder="Enter address line 2">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field_bolck">
                                        <div class="field_inn">
                                            <label>Country</label>
                                            <div class="text_field custom-select">
                                                <ng-select class="ng-customClass" [items]="countries" bindLabel="name"
                                                    tabindex="11" [selectOnTab]="true" formControlName="country_id"
                                                    selectOnTab="true" placeholder="Select Country"
                                                    (change)="getStates($event)">
                                                </ng-select>
                                            </div>
                                            <!-- <div *ngIf="(submitted  || profileForm.controls.country_id.touched) && profileForm.controls.country_id.errors "
                                                class="focus-input100 login-error">
                                                <div *ngIf="profileForm.controls.country_id.errors.required"
                                                    class="text-danger">Please seletct
                                                    country.</div>
                                            </div> -->
                                        </div>
                                        <div class="field_inn">
                                            <label>City</label>
                                            <div class="text_field custom-select">
                                                <input type="text" formControlName="city_name" maxlength="250"
                                                    tabindex="14" placeholder="Enter address line 2">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="field_bolck">
                                        <div class="field_inn">
                                            <label>State</label>
                                            <div class="text_field custom-select">
                                                <ng-select class="ng-customClass" clearSearchOnAdd="true"
                                                    selectOnTab="true" tabindex="12" formControlName="state_id"
                                                    placeholder="Select State">
                                                    <ng-option *ngFor="let state of stateList" value="{{state.id}}">
                                                        {{state.name}}</ng-option>
                                                </ng-select>
                                            </div>
                                            <!-- <div *ngIf="(submitted  || profileForm.controls.state_id.touched) && profileForm.controls.state_id.errors "
                                                class="focus-input100 login-error">
                                                <div *ngIf="profileForm.controls.state_id.errors.required"
                                                    class="text-danger">Please seletct
                                                    state.</div>
                                            </div> -->
                                        </div>
                                        <div class="field_inn">
                                            <label>Zip Code</label>
                                            <div class="text_field">
                                                <input type="text" formControlName="zip_code" maxlength="6"
                                                    tabindex="16" placeholder="Enter zip code"
                                                    (keypress)="commonFunctoin.validateNotAllowSpecial($event)">
                                            </div>
                                           <!--  <div *ngIf="(submitted || profileForm.controls.zip_code.touched) && profileForm.controls.zip_code.errors"
                                                class="focus-input100 login-error">
                                                <div *ngIf="profileForm.controls.zip_code.errors.required"
                                                    class="text-danger">Please enter your zip code.</div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="update_location_detail">
                            <div class="section_title">
                                <h4>Other details</h4>
                            </div>
                            <div class="detail_update">
                                <div class="form_row">
                                    <div class="field_bolck half">
                                        <div class="field_inn">
                                            <label>Passport Number</label>
                                            <div class="text_field">
                                                <input type="text" formControlName="passport_number" maxlength="40" tabindex="9" placeholder="Enter Passport Number">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field_bolck half">
                                        <div class="field_inn">
                                            <label>Passport Expiration Date</label>
                                            <div class="text_field">
                                                <p-calendar 
                                                inputStyleClass="custom_datpicker birth_date"
                                                inputId="basic" 
                                                formControlName="passport_expiry" 
                                                [minDate]="dobMinDate"
                                                [readonlyInput]="true" 
                                                [yearNavigator]="true"
                                                [monthNavigator]="true"
                                                yearRange="2020:2030"
                                                [defaultDate]="dobMinDate" 
                                            >
                                            </p-calendar>                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form_update_btn">
                            <button> <i class="fa fa-spinner fa-spin" *ngIf="loading"></i> Update <img
                                    src="{{s3BucketUrl}}assets/images/icon/right-arrow.svg"
                                    alt="Right Arrow" /></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>