input.ng-invalid.ng-touched {
	border-bottom: 1px solid #f4516c !important;
}
.account_part .account_cnt_main .update_info .update_info_right .form_row .form_field .phone_no .code .dropdown{
	height: 40px;
	border-bottom: 1px solid #E0E2E5;
}
.account_part .account_cnt_main .update_info .update_info_right .form_row .form_field .phone_no .code .dropdown .ng-select input{
	height:32px;	
}