<div class="page_load">
  <div class="page_load_inner">
    <div class="page_laoding">
      <div class="block_in">
        <div class="block_loader">
          <img src="{{s3BucketUrl}}assets/images/loading-flight.gif" alt="">
          <!--<lottie-player class="animation_player" src="https://assets3.lottiefiles.com/packages/lf20_vTKQNW.json" background="transparent" speed="1" loop autoplay></lottie-player>-->
        </div>
        <div class="block_btm">
          <h6>Book with installments</h6>
          <ul>
            <li>
              <div class="icon one"></div>
              Pick your ideal booking
            </li>
            <li>
              <div class="icon two"></div>
              Choose frequency
              <ul class="block_ch_fre">
                <li><span>Weekly</span></li>
                <li><span>Bi-weekly</span></li>
                <li><span>Monthly</span></li>
              </ul>
            </li>
            <li>
              <div class="icon three"></div>
              Make a down payment
            </li>
            <li>
              <div class="icon four"></div>
              Commit to the out schedule
            </li>
            <li>
              <div class="icon five"></div>
              Enjoy your debt free travel
            </li>
          </ul>
        </div>
      </div>
      <!--
      <lottie-player class="animation_player" src="https://assets3.lottiefiles.com/packages/lf20_vTKQNW.json" background="transparent" speed="1" loop autoplay></lottie-player>
      <img src="assets/images/flight-load_im.png" alt="Loading Images">

      <h6> Searching <span>Flights</span></h6>
      <div id="Loader_progressbar">
        <div class="progress-label">Loading...</div>
      </div>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
      -->
    </div>
  </div>
</div>