<div class="page_load">
    <div class="page_load_inner">
        <div class="page_laoding">
            <div class="block_in">
                <div class="block_loader">
                    <img src="{{s3BucketUrl}}assets/images/loading-flight.gif" alt="">
                </div>
                <div class="block_btm">
                    <h6>{{'booking_with_installments' | translate}}</h6>
                    <ul>
                        <li>
                            <div class="icon one"></div>
                            {{'pick_your_ideal_booking' | translate}}
                        </li>
                        <li>
                            <div class="icon two"></div>
                            {{'choose_frequency' | translate}}
                            <ul class="block_ch_fre">
                                <li><span>{{'weekly' | translate}}</span></li>
                                <li><span>{{'bi_weekly' | translate}}</span></li>
                                <li><span>{{'monthly' | translate}}</span></li>
                            </ul>
                        </li>
                        <li>
                            <div class="icon three"></div>
                            {{'make_a_down_payment' | translate}}
                        </li>
                        <li>
                            <div class="icon four"></div>
                            {{'commit_to_the_out_schedule' | translate}}
                        </li>
                        <li>
                            <div class="icon five"></div>
                            {{'enjoy_your_debt_free' | translate}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>