<div class="search_area">
  <label>{{ label }}</label>
  <div class="travel_info" id="add_room" [ngClass]="{'dr_travel_info':countryCode=='DR'}">
    <span>{{ totalPerson }}</span> Guest <div class="drop_aerrow">
    </div>
  </div>
  <div class="traveller_add_block" id="add_room_open" style="display: none;">
    <div class="rooms_aloc ">
    <ul>
      <li>
        <div class="left">
          <span>Adult</span> (12+ years)
        </div>
        <div class="right">
          <input type='button' value='-' class='qtyminus' field='quantity' [disabled]="adultValue === 1 && adultValue > 0"
            [ngClass]="{ 'un_active' : adultValue === 1 && adultValue > 0 }"
            (click)="btnClickForChange({type: 'minus',label: 'adult', value: adultValue})" />
          <input type='text' name='quantity' value='{{ adultValue }}' class='qty' />
          <input type='button' value='+' class='qtyplus' field='quantity'
            (click)="btnClickForChange({type: 'plus',label: 'adult', value: adultValue})" />
        </div>
      </li>
      <li>
        <div class="left">
          <span>Child</span> (1-12 years)
        </div>
        <div class="right">
          <input type='button' value='-' class='qtyminus' field='quantity'
            [ngClass]="{ 'disable_btn' : childValue === 0 }" [disabled]="childValue === 0"
            (click)="btnClickForChange({type: 'minus',label: 'child', value: childValue})" />
          <input type='text' name='quantity' value='{{ childValue }}' class='qty' />
          <input type='button' value='+' class='qtyplus' field='quantity'
            (click)="btnClickForChange({type: 'plus',label: 'child', value: childValue})" />
        </div>
      </li>
      <li class="rental_info_error">
        {{errorMessage}}
      </li>
    </ul>
    <ng-container *ngFor="let child of childData">
          <div class="child_sel_wrapper">
            <div class="child_boxes open" *ngFor="let subchild of child.children;let idx=index">
              <span class="label_name">Child {{idx+1}} age</span>
              <select name="" id="{{id}}" #childAge (change)="changeChildAge(childAge.value,idx)">
                <option value="">Select Age</option>
                <option *ngFor='let in of counter(12) ;let i = index' value="{{i+1}}">{{i+1}}</option>
              </select>
            </div>
          </div>
      </ng-container>
   </div>
  </div>
</div>