@import '../../../../../cstm-variable';
@import "../../../../../_cstm-variable.scss";
@import "../../../../../_cstm-components.scss";
@import "../../../../../_hotel.scss";
@import "../../../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.title_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include tab-view {
    margin: 0 0 10px;
  }

  h3 {
    color: $blue-text;
    font-size: 34px;
    margin-bottom: 5px;
    margin: 25px 0 15px;

    @include tab-view {
      font-size: 28px;
      margin: 0;
    }
  }

  .edit_btns {
    a {
      background-color: transparent;
      color: $text_light_yellow;
      box-shadow: none;
      font-size: 16px;
      padding: 0;
      text-align: right;
      text-decoration: none;
      @include tab-view {
        font-size: 12px;
      }
    }
  }
}

.travel_detail_bg_wrps {
  background-color: $tab-bg-gray;
  border-radius: 5px;
  padding: 15px;

  @include tab-view {
    margin: 0 -15px;
  }

  .traveller_accordion {
    margin-top: 10px;

    &:nth-child(1){
      margin-top: 0;
    }

    .custom_cardbody{
      padding: 0;
    }
    .card {
      border: 1px solid $grayed_border;
      border-radius: 10px;

      .card-header {
        border: none;
        background-color: transparent;
        padding: 15px;

        a {
          font-weight: 600;
          color: $text-black;
          font-size: 16px;
          border: none;
          background-color: transparent;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          padding: 0;

          svg {
            fill: $grayed_border;
            max-width: 39px;
            margin-right: 20px;
          }

          &[aria-expanded="true"] {
            &:after {
              content: "";
              padding: 5px 9px;
              margin-left: 10px;
              background-image: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/arrow_up_dropdown.svg);
              background-position: right;
              background-repeat: no-repeat;
              background-size: 12px;
              transition: 0.3s;
              position: absolute;
              right: 15px;
              top: 25px;
            }
          }

          &[aria-expanded="false"] {
            &:after {
              padding: 5px 9px;
              margin-left: 10px;
              background-image: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/arrow_dropdown.svg);
              background-position: right;
              background-repeat: no-repeat;
              background-size: 12px;
              content: "";
              transition: 0.3s;
              position: absolute;
              right: 15px;
              top: 25px;
            }
          }
        }
      }

      .card-body {
        padding: 15px;

        @include tab-view {
          padding: 10px;
        }

        .common_form {
          label {
            color: $mid_gray_bg;
            font-size: 12px;
            font-weight: 500;
          }

          input {
            border: none;
            border-radius: 0;
            border-bottom: 2px solid $box-border-color;
            font-size: 14px;
            padding: 8px 0;

            &:focus {
              outline: none;
              box-shadow: none;
            }
          }

          select {
            border: none;
            border-radius: 0;
            border-bottom: 2px solid $box-border-color;
            font-size: 14px;
            padding: 8px 0;

            &:focus {
              outline: none;
              box-shadow: none;
            }
          }

          .nation_wrps {
            ng-select {
              .ng-input {
                &[aria-expanded="true"] {
                  &:after {
                    content: "";
                    position: relative;
                    padding: 5px 9px;
                    background-image: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/arrow_up_dropdown.svg);
                    background-position: right;
                    background-repeat: no-repeat;
                    background-size: 10px;
                    transition: 0.3s;
                    right: 8px;
                    border: none;
                    top: 5px;

                    @include tab-view {
                      position: absolute;
                      right: 0;
                      height: 12px;
                    }
                  }
                }

                &[aria-expanded="false"] {
                  &:after {
                    position: relative;
                    padding: 5px 9px;
                    background-image: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/arrow_dropdown.svg);
                    background-position: right;
                    background-repeat: no-repeat;
                    background-size: 10px;
                    content: "";
                    transition: 0.3s;
                    right: 8px;
                    border: none;
                    top: 5px;

                    @include tab-view {
                      position: absolute;
                      right: 0;
                      height: 12px;
                    }
                  }
                }
              }
            }
          }

          .mb-sm-10 {
            margin-bottom: 10px;

            &.telephone_wrps {
              .tel_span {
                border-bottom: 2px solid $box-border-color;
                display: flex;
                position: relative;
                bottom: 2px;

                input {
                  border-bottom: none;

                  &:first-child {
                    width: 30px;
                  }
                }
              }
            }

            &.dobs {
              input {
                background: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/calender_yellow.svg) center right 15px no-repeat;
                background-size: 20px;
                border: none;
              }
            }

            .gender_anchers {
              display: flex;
              justify-content: flex-start;
              align-items: center;

              a {
                &.active {
                  color: $text_light_yellow;
                }

                color: $mid_gray_bg;
                font-size: 14px;
                padding: 0 25px 0 0;

                &:hover {
                  color: $text_light_yellow;
                  text-decoration: none;
                }

                &:focus {
                  outline: none;
                }
              }
            }
          }
        }

        .remove_wrps {
          display: flex;
          margin-top: 5px;
          justify-content: flex-end;

          a {
            background-color: transparent;
            color: $text_light_yellow;
            box-shadow: none;
            font-size: 16px;
            padding: 0;
            text-align: right;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.delete_account_block {
  .modal-header {
    justify-content: center;
    border: none;

    .close {
      opacity: 1;
      position: absolute;
      top: 20px;
      right: 20px;

      img {
        width: 12px;
      }

      @include mobile-view {
        top: 15px;
        right: 15px;
      }
    }
  }

  .modal-body {
    width: 100%;
    padding: 0px;
    margin: 0;

    @include tab-view {
      height: 100%;
      justify-content: center;
      display: flex;
      flex-flow: column;
    }

    .block_im {
      margin: 0 auto 15px;
      width: 85px;
    }
    .name_traveller{

    }
    h4 {
      font-size: 32px;
      line-height: 40px;
      font-weight: 500;
      color: $active-tab-text;
      padding: 0px 0px 15px;
      text-align: center;

      @include tab-view {
        font-size: 24px;
        text-align: center;
      }

      @include mobile-view {
        font-size: 20px;
        line-height: 26px;
        text-align: center;
      }
    }

    .cta_btn_wrps {
      padding: 10px;
      width: 100%;
      display: flex;

      button {
        max-width: 472px;
        width: 100%;
        height: 40px;
        padding: 10px 25px;
        background: $hotel-secondary-color;
        border-radius: 25px;
        border: 1px solid $hotel-secondary-color;
        font-size: 14px;
        color: $text-white;
        transition: 0.3s;
        position: relative;
        z-index: 9;
        overflow: hidden;
        white-space: normal;
        display: flex;
        margin: 0 10px;
        align-items: center;
        justify-content: center;

        &:hover {
          border: 1px solid $hotel-secondary-color;
          color: $text-white;
          background: $hotel-secondary-color;
        }

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

    }

    .footer_logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 10px;

      img {
        max-width: 62px;
        height: 23px;
      }
    }
  }

  .modal-footer {
    padding: 0 20px 25px;
    border: 0;
    margin: 0;

    .modal_btm {
      width: 100%;

      .block_logo {
        width: 100%;
        text-align: center;
        margin: 0 0 0;

        img {
          height: 22px;
        }
      }
    }
  }
}