@import '../../../../../cstm-variable';
@import "../../../../../_cstm-variable.scss";
@import "../../../../../_cstm-components.scss";
@import "../../../../../_hotel.scss";
@import "../../../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.title_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    color: $blue-text;
    font-size: 34px;
    margin-bottom: 5px;
    margin: 25px 0 15px;

    @include tab-view {
      font-size: 18px;
    }
  }

  .edit_btns {
    a {
      background-color: transparent;
      color: $text_light_yellow;
      box-shadow: none;
      font-size: 16px;
      padding: 0;
      text-align: right;
      text-decoration: none;
    }
  }
}

.travel_detail_bg_wrps {
  background-color: $tab-bg-gray;
  border-radius: 5px;
  padding: 15px;

  .traveller_accordion {
    margin-top: 10px;

    .card {
      border: 1px solid $grayed_border;
      border-radius: 10px;

      .card-header {
        border: none;
        background-color: transparent;
        padding: 15px;

        a {
          font-weight: 600;
          color: $text-black;
          font-size: 16px;
          border: none;
          background-color: transparent;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          padding: 0;
          svg{
            fill: $grayed_border;
            max-width: 39px;
            margin-right: 20px;
          }

          &[aria-expanded="true"] {
            &:after {
              content: "";
              padding: 5px 9px;
              margin-left: 10px;
              background-image: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/arrow_up_dropdown.svg);
              background-position: right;
              background-repeat: no-repeat;
              background-size: 12px;
              transition: 0.3s;
              position: absolute;
              right: 15px;
            }
          }

          &[aria-expanded="false"] {
            &:after {
              padding: 5px 9px;
              margin-left: 10px;
              background-image: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/arrow_dropdown.svg);
              background-position: right;
              background-repeat: no-repeat;
              background-size: 12px;
              content: "";
              transition: 0.3s;
              position: absolute;
              right: 15px;
            }
          }
        }
      }

      .card-body {
        padding: 15px;

        .common_form {
          label {
            color: $mid_gray_bg;
            font-size: 12px;
            font-weight: 500;
          }

          input {
            border: none;
            border-radius: 0;
            border-bottom: 2px solid $box-border-color;
            font-size: 14px;
            padding: 8px 0;

            &:focus {
              outline: none;
              box-shadow: none;
            }
          }

          select {
            border: none;
            border-radius: 0;
            border-bottom: 2px solid $box-border-color;
            font-size: 14px;
            padding: 8px 0;

            &:focus {
              outline: none;
              box-shadow: none;
            }
          }

          .nation_wrps {
            ng-select {
              .ng-input {
                &[aria-expanded="true"] {
                  &:after {
                    content: "";
                    position: relative;
                    padding: 5px 9px;
                    background-image: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/arrow_up_dropdown.svg);
                    background-position: right;
                    background-repeat: no-repeat;
                    background-size: 10px;
                    transition: 0.3s;
                    right: 8px;
                    border: none;
                    top: 5px;

                    @include tab-view {
                      position: absolute;
                      right: 0;
                      height: 12px;
                    }
                  }
                }

                &[aria-expanded="false"] {
                  &:after {
                    position: relative;
                    padding: 5px 9px;
                    background-image: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/arrow_dropdown.svg);
                    background-position: right;
                    background-repeat: no-repeat;
                    background-size: 10px;
                    content: "";
                    transition: 0.3s;
                    right: 8px;
                    border: none;
                    top: 5px;

                    @include tab-view {
                      position: absolute;
                      right: 0;
                      height: 12px;
                    }
                  }
                }
              }
            }
          }

          .mb-sm-10 {
            margin-bottom: 10px;

            &.telephone_wrps {
              .tel_span {
                border-bottom: 2px solid $box-border-color;
                display: flex;
                position: relative;
                bottom: 2px;

                input {
                  border-bottom: none;

                  &:first-child {
                    width: 30px;
                  }
                }
              }
            }

            &.dobs {
              input {
                background: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/calender_yellow.svg) center right 15px no-repeat;
                background-size: 20px;
                border: none;
              }
            }

            .gender_anchers {
              display: flex;
              justify-content: flex-start;
              align-items: center;

              a {
                &.active {
                  color: $text_light_yellow;
                }

                color: $mid_gray_bg;
                font-size: 14px;
                padding: 0 25px 0 0;

                &:hover {
                  color: $text_light_yellow;
                  text-decoration: none;
                }

                &:focus {
                  outline: none;
                }
              }
            }
          }
        }
      }
    }
  }
}