<!-- <section class="account_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <app-my-accounts-nav></app-my-accounts-nav>
            </div>
            <div class="col-lg-9">
                <div class="account_cnt_main co_traveller">
                    <div class="block_co_traveller_main">
                        <div class="block_traveller_top">
                            <label class="custom_checkbox">
                            </label>
                            <a class="hover-link" (click)="openTravellerModal(content)">+ {{'add_new_co_traveler' |
                                translate}}</a>
                        </div>
                        <div class="block_traveller_btm">
                            <div class="block_no_traveller" *ngIf="notFound">
                                <img src="{{s3BucketUrl}}assets/images/icon/ic_traveller.svg" alt="Traveller Icon">
                                <h5>{{'no_traveler_avilable' | translate}}</h5>
                            </div>
                            <div *ngIf="loading">

                                <ul *ngFor="let loop of loops;">
                                    <li>
                                        <div class="traveller_list">
                                            <div class="list_block w-100">
                                                <div class="traveller_name">
                                                    <p class="fb_animation w-100 mb-2"></p>
                                                </div>
                                                <div class="traveller_age">
                                                    <p class="fb_animation w-25 mb-0"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <ul
                                *ngFor="let traveler of travelers | slice: (pageNumber-1) * pageSize : (pageNumber-1) * pageSize + pageSize; let i = index">
                                <li>
                                    <div class="traveller_list">
                                        <div class="list_block">

                                            <div class="traveller_name">{{traveler.firstName || 'N/A' | titlecase }}
                                                {{traveler.lastName | titlecase}}
                                                <span>({{traveler.user_type | titlecase}})</span>
                                            </div>
                                            <div class="traveller_age" *ngIf="traveler.dob && traveler.dob !='null' ">
                                                {{calculateAge(traveler.dob)}} {{getGender(traveler.gender)}}</div>
                                        </div>
                                        <div class="list_action">
                                            <ul>
                                                <li>
                                                    <a class="hover-link"
                                                        (click)="openTravellerModal(content,traveler.userId,traveler)">
                                                        <img src="{{s3BucketUrl}}assets/images/icon/ic_edit.svg"
                                                            alt="Edit Icon">
                                                    </a>
                                                </li>
                                                <li *ngIf="traveler.roleId != 6">
                                                    <a class="hover-link"
                                                        (click)="deleteTravellerModal(deleteContent,traveler.userId)">
                                                        <img src="{{s3BucketUrl}}assets/images/icon/ic_trash.svg"
                                                            alt="Delete Icon">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                            <div class="pagination_main">
                                <div class="pagination_result">
                                </div>
                                <div class="pagination_list">
                                    <ngb-pagination *ngIf="showPaginationBar" class="d-flex justify-content-end"
                                        [collectionSize]="travelers.length" [(page)]="pageNumber" [pageSize]="pageSize"
                                        [boundaryLinks]="true" [maxSize]="5" [rotate]="true"
                                        (pageChange)="pageChange($event)">
                                    </ngb-pagination>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<ng-template #content let-modal>
    <app-traveller-form [countries]="countries" [countries_code]="countries_code" [modalReference]="modalReference">
    </app-traveller-form>
</ng-template>

<ng-template #deleteContent let-modal>
    <div class="modal-header">
        <div class="block_title">
            <h4>Delete Co - Traveler</h4>
        </div>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <img src="{{s3BucketUrl}}assets/images/icon/close-icon.svg" alt="Close Icon">
        </button>
    </div>
    <div class="modal-body">
        <div class="modal_btm">
            <p>Are you sure you want to delete traveler?</p>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form_btn">
            <button type="button" class="btn_no" (click)="modal.dismiss('Cross click')">No</button>
            <button type="button" (click)="deleteTraveller()">Yes</button>
        </div>
    </div>
</ng-template> -->
<div class="title_bar">
    <h3>Traveler Details</h3>
    <!-- <span class="edit_btns">
        <a class="hover-link" (click)="onSubmit()">Add New</a>
    </span> -->
</div>
<div class="travel_detail_bg_wrps">
    <div id="trav_accordion" class="traveller_accordion">
        <div class="card">       
            <div id="collapseTrav" class="collapse show" >
                <div class="card-body">
                    <app-traveller-form    [countries]="countries" (loadingValue)="getLoadingValue($event)"  (travelerFormChange)="pushTraveler($event)"  #child [countries]="countries"></app-traveller-form>
                    <div *ngFor="let traveler of  travelers" id="trav_accordion_inner" class="traveller_accordion">
                        <div class="card" >
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapseTravInner{{traveler.userId}}" aria-controls="collapseTravInner"
                                    aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29">
                                        <defs></defs>
                                        <path class="a"
                                            d="M24.753,4.247A14.5,14.5,0,0,0,4.247,24.753,14.5,14.5,0,0,0,24.753,4.247ZM7.269,25.057a7.342,7.342,0,0,1,14.462,0,12.773,12.773,0,0,1-14.462,0ZM9.89,12.68a4.61,4.61,0,1,1,4.61,4.61A4.616,4.616,0,0,1,9.89,12.68ZM23.2,23.878a9.056,9.056,0,0,0-5.264-5.91,6.31,6.31,0,1,0-6.876,0A9.054,9.054,0,0,0,5.8,23.878a12.8,12.8,0,1,1,17.405,0Zm0,0" />
                                    </svg>
                                    {{traveler.firstName + ' ' +traveler.lastName }}
                                </a>
                            </div>
                            <div id="collapseTravInner{{traveler.userId}}" class="collapse" data-parent="#trav_accordion_inner">
                                <div class="card-body">
                                    <app-traveller-form [countries]="countries" (loadingValue)="getLoadingValue($event)"  (travelerFormChange)="pushTraveler($event)"  [travelerInfo]="traveler"  [travellerId]="traveler.userId"></app-traveller-form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>