<app-laytrip-loader [loading]="loading" [module]="'hotel'"> </app-laytrip-loader>
<!-- <app-hotel-search-bar [calenderPrices]="calenderPrices" (searchBarInfo)="getHotelSearchDataByModify($event)"></app-hotel-search-bar> -->
<div class="listing_main_box">
    <div class="search_tab_listing_wrapper">
        <div class="container">
            <div class="search_tab_icons_wrps">
                <a class="tab_anch hover-link" (click)="moduleTabClick('flight')">
                    <img class="active-icon" src="{{s3BucketUrl}}assets/images/icon/tab-icon/plane_d_pink.svg" alt="Flight Icon" />
                    <img class="default-icon" src="{{s3BucketUrl}}assets/images/icon/tab-icon/plane_d_blue.svg" alt="Flight Icon" />
                </a>
                <a class="active tab_anch" style="pointer-events: none;">
                    <img class="active-icon" src="{{s3BucketUrl}}assets/images/icon/tab-icon/bed_d_pink.svg" alt="Hotel Icon" />
                    <img class="default-icon" src="{{s3BucketUrl}}assets/images/icon/tab-icon/bed_d_blue.svg" alt="Hotel Icon" />
                </a>
                <!-- <a *ngIf="!commonFunction.isRefferal()" class="tab_anch" style="pointer-events: none;">
          <img class="active-icon" src="{{s3BucketUrl}}assets/images/icon/tab-icon/house_d_blue.svg"
            alt="Accommodation Icon" />
          <img class="default-icon" src="{{s3BucketUrl}}assets/images/icon/tab-icon/house_d_gray.svg"
            alt="Accommodation Icon" />
        </a>
        <a class="tab_anch" style="pointer-events: none;" *ngIf="!commonFunction.isRefferal()" >
          <img class="active-icon" src="{{s3BucketUrl}}assets/images/icon/tab-icon/car_d_blue.svg" alt="car Icon" />
          <img class="default-icon" src="{{s3BucketUrl}}assets/images/icon/tab-icon/car_d_gray.svg" alt="car Icon" />
        </a> -->
            </div>
            <div class="searchbar_box_common">
                <app-hotel-search-widget [dealIcon]="dealIcon"></app-hotel-search-widget>
            </div>
        </div>
    </div>

    <app-hotel-loader *ngIf="loading"></app-hotel-loader>
    <!--   <app-hotel-popup-loader *ngIf="loading"></app-hotel-popup-loader>
 -->
    <app-hotel-not-found *ngIf="isNotFound"></app-hotel-not-found>
    <app-hotel-error *ngIf="errorMessage" errorMessage={{errorMessage}}></app-hotel-error>

    <section class="search_result hotels" *ngIf="!loading && !isNotFound && errorMessage==''">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <div class="left_side_bar">
                        <div class="filter_saidbar">

                            <div class="filter_by desktop_ver">

                                <app-filter-hotel *ngIf="hotelDetailsMain" [hotelDetailsMain]="hotelDetailsMain" (filterHotel)="filterHotel($event)" isResetFilter={{isResetFilter}}></app-filter-hotel>
                            </div>
                            <!-- For responsive -->
                            <div class="filter_responsive flight" id="responsive_filter">
                                <div class="btn_filter">
                                    <a data-toggle="modal" data-target="#filter_mob_modal" class="responsive_filter_btn">{{'filters' | translate}}</a>
                                </div>
                            </div>
                            <section class="modal fade comman_modal mobile_modals" id="filter_mob_modal" data-backdrop="static" data-keyboard="false">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content mobile_content_bar">
                                        <div class="filter_cnt">
                                            <div class="filter_saidbar">
                                                <div class="filter_by">
                                                    <app-filter-hotel *ngIf="hotelDetailsMain" [hotelDetailsMain]="hotelDetailsMain" (filterHotel)="filterHotel($event)" isResetFilter={{isResetFilter}}></app-filter-hotel>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <div class="desk_versort">
                                <app-sort-hotel (sortHotel)="sortHotels($event)" [hotelDetails]="hotelDetailsMain"></app-sort-hotel>
                            </div>
                            <div class="sortby_responsive flight" id="responsive_filter">
                                <div class="btn_sort">
                                    <a data-toggle="modal" data-target="#sort_mob_modal" class="responsive_sort_btn">{{'sort_by' | translate}}</a>
                                </div>
                            </div>
                            <section class="modal fade comman_modal mobile_modals" id="sort_mob_modal" data-backdrop="static" data-keyboard="false">
                                <div class="modal-dialog ">
                                    <div class="modal-content mobile_content_bar">
                                        <div class="filter_cnt">
                                            <div class="filter_saidbar">
                                                <div class="filter_by">
                                                    <app-sort-hotel (sortHotel)="sortHotels($event)" [hotelDetails]="hotelDetailsMain">
                                                    </app-sort-hotel>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12 mobile_box_listing">
                    <app-hotel-item-wrapper *ngIf="hotelDetails" [hotelToken]="hotelToken" filteredLabel="{{filteredLabel}}">
                    </app-hotel-item-wrapper>
                </div>
            </div>
        </div>
    </section>
</div>