<section class="progress_breadcum_wrapper">
    <div class="container">
        <div class="prgrs_container">
            <div class="progress_bar_inner">
                <div class="pr_steps_wrapper pink">
                    <a [ngClass]="{'current': progressStep.step2==true}">
                        <img src="{{s3BucketUrl}}assets/images/tick_round.svg" alt="tick icon" class="tick_icon" />
                        <span class="step_text">{{'checkout' | translate}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>