<!-- <section class="banner_detail">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-6">
                <div class="cnt_right">
                    <ul>
                        <li [ngClass]="{'active': progressStep.step1==true}">
                            <div class="border_block"><span>1</span></div>
                            <p>{{'payment' | translate}}</p>
                        </li>
                        <li [ngClass]="{'active': progressStep.step2==true}">
                            <div class="border_block"><span>2</span></div>
                            <p>{{'traveler_detail' | translate}}</p>
                        </li>
                        <li [ngClass]="{'active': progressStep.step3==true}">
                            <div class="border_block"><span>3</span></div>
                            <p>{{'checkout' | translate}}</p>
                        </li>
                        <li [ngClass]="{'active': progressStep.step4==true}">
                            <div class="border_block"><span>4</span></div>
                            <p>{{'confirmation' | translate}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>  -->

<section class="progress_breadcum_wrapper">
    <div class="container">
        <div class="prgrs_container">
            <div class="progress_bar_inner">
                <div class="pr_steps_wrapper ">
                    <a href="javascript:void(0);" [ngClass]="{'current': progressStep.step1==true}">
                        <span class="step_num">1</span>
                        <span class="step_text">Booking</span>
                    </a>
                </div>
               <!--  <div class="pr_steps_wrapper">
                    <a href="javascript:void(0);">
                        <span class="step_num">2</span>
                        <span class="step_text">Payment</span>
                    </a>
                </div> -->
                <div class="pr_steps_wrapper">
                    <a href="javascript:void(0);" [ngClass]="{'current': progressStep.step2==true}">
                        <span class="step_num">2</span>
                        <span class="step_text">Checkout</span>
                    </a>
                </div>
            </div>
            <div class="cart_section">
                <span class="cart_i_wrapper">
                    <a href="javascript:void(0);">
                        <img src="{{s3BucketUrl}}assets/images/icon/cart_beg.svg" alt="">
                        <span class="cart_count" [hidden]="!cartItemsCount">{{cartItemsCount}}</span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</section>