<div class="modal-content">
    <!--  <div class="modal_title">
        <button type="button" class="close" (click)="close()">
            <img src="{{s3BucketUrl}}assets/images/icon/close-icon.svg" alt="Close Icon">
        </button>
    </div> -->
    <div class="session_expired_modal_wrp">
        <div class="session_expired_main_wrapper">
            <div class="inner_wrppar">
                <div class="cart_img_wrpper">
                    <img src="{{s3BucketUrl}}assets/images/alert_pink.svg" alt="empty cart image">
                </div>
                <div class="cart_msg">
                    {{'session_expired' | translate}}
                </div>
                <div class="cta_btn_wrps">
                    <button (click)="refresh()">Refresh</button>
                </div>
                <div class="footer_logo">
                    <a>
                        <img alt="logo Icon" src="{{s3BucketUrl}}assets/images/laytrip_logo_blue.svg">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>