@import "../../../../../_cstm-variable.scss";
@import "../../../../../_cstm-components.scss";
@import "../../../../../_hotel.scss";
@import "../../../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");;

.section_header{
    color: $active-tab-text;
    font-size: 16px;
    font-weight: 500;
    margin: 25px 0 10px;
}
.accordion_detailed_wrps{
    border: 1px solid $grayed_border;
    border-radius: 10px;
    .card-body{
        padding: 15px;
        .line_name_header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 20px;

            .line_shortname{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                color: $text-black;
                font-weight: 600;
                flex: 1;
                img{
                    margin-right: 20px;
                }
            }
            .line_company_name{
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: $mid_gray_bg ;
                flex: 1;
                .hrs_{
                    font-size: 18px;
                }
            }
        }
        .line_detail_wrap{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 20px;
            color: $mid_gray_bg;
            margin: 5px 0;
            div{
                flex: 1;
                display: flex;
                align-items: center;
                .pink_stamp{
                    width: 14px;
                    height: 14px;
                    background-color: $pink;
                    border-radius: 50%;
                    margin-right: 10px;
                }
            }
        }
        .change_plane_wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            border-top: 1px dashed $text_light_yellow;
            border-bottom: 1px dashed $text_light_yellow;
            color: $text_light_yellow;
            padding: 10px 0;
            margin: 40px 0;
            img{
                margin-right: 15px;
            }
        }
    }
    &.w_return{
        margin-top: 15px;
    }
}
.total_hrs_wrps{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $mid_gray_bg ;
    font-size: 18px;
    margin: 5px 0;
    padding: 0 15px;
    &.cta_btns_wrps{
        justify-content: space-between;
        .ct_btns{
            button{
                background-color: transparent;
                color: $text_light_yellow;
                border: none;
                box-shadow: none;
                font-size: 16px;
                padding: 0;
                // margin-right: 40px;
                &:last-child{
                    margin: 0;
                }
            }
        }

    }
}
.sub_accordions{
    // .card-header{
    //     border: none;
    //     background-color: transparent;
    //     padding: 0;
    //     .section_header{
    //         color: $active-tab-text;
    //         font-size: 16px;
    //         font-weight: 500;
    //         display: flex;
    //         justify-content: space-between;
    //         align-items: center;
    //         width: 100%;

    //         &[aria-expanded="true"]{
    //             &:after {
    //                 font-family: 'FontAwesome';
    //                 content: "\f077";
    //                 color: $text-grey;
    //                 font-weight: normal;
    //                 transition: 0.3s;
    //                 right: 0;
    //             }
    //         }
    //         &[aria-expanded="false"]{
    //             &:after {
    //                 font-family: 'FontAwesome';
    //                 content: "\f078";
    //                 color: $text-grey;
    //                 font-weight: normal;
    //                 transition: 0.3s;
    //                 right: 0;
    //             }
    //         }
    //     }
    // }
    .card-body{
        padding: 0;
    }
}