<div class="block_passanger_info" *ngIf="isLoggedIn && loader">
    <div class="block_title_section">
        <h5 class="fb_animation w-25 mb-0"></h5>
        <span class="fb_animation w-25 mb-0"></span>
    </div>
    <div class="passanger_detail_main">
        <div class="block_passenger_detail">
            <h6 class="fb_animation w-25"></h6>
            <div id="accordion-Adults" class="accordion">
                <div class="card_add_pass">
                    <div class="card-header" id="adultOne">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link" data-toggle="collapse"
                                data-target="#adultcollapseOne">
                                <p class="fb_animation w-100 mb-0"></p>
                            </button>
                        </h2>
                    </div>
                </div>

                <div class="card_add_pass">
                    <div class="card-header" id="adultTwo">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link" data-toggle="collapse"
                                data-target="#adultcollapseTwo">
                                <p class="fb_animation w-100 mb-0"></p>
                            </button>
                        </h2>
                    </div>
                </div>
            </div>
            <a class="add_passenger_btn" href="javascript:void(0);">
                <p class="fb_animation w-25 mb-0"></p>
            </a>
        </div>
        <div class="block_passenger_detail">
            <h6 class="fb_animation w-25"></h6>
            <div id="accordion-Childs" class="accordion">
                <div class="card_add_pass">
                    <div class="card-header" id="childOne">
                        <h2 class="mb-0">
                            <label class="custom_checkbox">
                                <input type="checkbox" value="">
                                <span class="checkmark"></span>
                            </label>
                            <button type="button" class="btn btn-link" data-toggle="collapse"
                                data-target="#childcollapseOne">
                                <p class="fb_animation w-100 mb-0"></p>
                            </button>
                        </h2>
                    </div>
                </div>

                <div class="card_add_pass">
                    <div class="card-header" id="childTwo">
                        <h2 class="mb-0">
                            <label class="custom_checkbox">
                                <input type="checkbox" value="">
                                <span class="checkmark"></span>
                            </label>
                            <button type="button" class="btn btn-link" data-toggle="collapse"
                                data-target="#childcollapseTwo">
                                <p class="fb_animation w-100 mb-0"></p>
                            </button>
                        </h2>
                    </div>
                </div>
            </div>
            <a class="add_passenger_btn" href="javascript:void(0);">
                <p class="fb_animation w-25 mb-0"></p>
            </a>
        </div>
        <div class="block_passenger_detail">
            <h6 class="fb_animation w-25"></h6>
            <div class="block_no_add_passenger">
                <p class="fb_animation w-100 mb-0"></p>
            </div>
            <a class="add_passenger_btn" href="javascript:void(0);">
                <p class="fb_animation w-25 mb-0"></p>
            </a>
        </div>
        <div class="required_wheelchair">
            <ul>
                <li>
                    <p class="fb_animation w-50 mb-0"></p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="block_passenger_detail" *ngIf="!loader">
    <div class="block_passenger_info">
        <h6>Adult <span>(Above 12 years)</span></h6>

        <div id="accordion-Adults" class="accordion" *ngIf="isLoggedIn && _adults.length">
            <div *ngFor="let traveler of _adults; let i = index;">
                <div class="card_add_pass" *ngIf="traveler.user_type==='adult'">
                    <div class="card-header" id="adultOne{{i}}">
                        <h2 class="mb-0">
                            <label class="custom_checkbox">
                                <input [disabled]="!traveler.isComplete" id="checkbox-{{i}}-{{traveler.userId}}"
                                    (click)="selectTraveler($event,traveler)" type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <button (click)="adultCollapseClick()" type="button" class="btn btn-link"
                                data-toggle="collapse" [attr.data-target]="'#adultcollapseOne'+ i">
                                {{traveler.firstName || 'N/A'}} {{traveler.lastName}}
                                <i class="fa fa-angle-down"></i>
                                <span id="adultFormStatus-{{i}}" [ngClass]="{'status_complete': traveler.isComplete, 'status_incomplete':!traveler.isComplete }">{{traveler.isComplete ? 'Complete':'In complete' }}</span>
                            </button>
                        </h2>
                    </div>
                    <div *ngIf="adultCollapse" id="adultcollapseOne{{i}}" class="collapse cus_collapse"
                        aria-labelledby="adultOne+i" data-parent="#accordion-Adults">
                        <div class="card-body">
                            <app-traveler-form  (travelerFormChange)="pushTraveler($event)" [type]="'adult'" 
                                [traveler]="traveler" [countries]="countries" [countries_code]="countries_code">
                            </app-traveler-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="add_passenger_btn" href="javascript:void(0);"
            (click)="addForms('adult')">{{showAddAdultForm ? '-' : '+'}}
            Add {{'Adult' | titlecase}}</a>
        <!-- Without Login -->
        <div id="accordion-Adult" class="accordion" *ngIf="showAddAdultForm">
            <div class="card_add_pass add-more">
                <div class="card-header" id="adultOne">
                </div>
                <div id="adultcollapseOne" class="collapse cus_collapse show" aria-labelledby="adultOne"
                    data-parent="#accordion-Adult">
                    <div class="card-body">
                        <app-traveler-form [type]="'adult'" (travelerFormChange)="pushTraveler($event)" [countries]="countries"
                            [countries_code]="countries_code"></app-traveler-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isLoggedIn">
        <div class="block_passenger_info">
            <h6>Child <span>(Above 2-12 years)</span></h6>
            <div id="accordion-childs" class="accordion" *ngIf="_childs.length">
                <div *ngFor="let traveler of _childs; let i = index;">
                    <div class="card_add_pass" *ngIf="traveler.user_type==='child'">
                        <div class="card-header" id="adultOne{{i}}">
                            <h2 class="mb-0">
                                <label class="custom_checkbox">
                                    <input [disabled]="checkBoxDisable" id="checkbox-{{i}}-{{traveler.userId}}"
                                        (click)="selectTraveler($event,traveler)" type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <button (click)="childCollapseClick()" type="button" class="btn btn-link"
                                    data-toggle="collapse" [attr.data-target]="'#childcollapseOne'+ i">
                                    {{traveler.firstName}} {{traveler.lastName}}
                                    <i class="fa fa-angle-down"></i>
                                    <span id="adultFormStatus-{{i}}" class="status_complete">Complete</span>
                                </button>

                            </h2>
                        </div>
                        <div *ngIf="childCollapse" id="childcollapseOne{{i}}" class="collapse cus_collapse"
                            aria-labelledby="adultOne+i" data-parent="#accordion-childs">
                            <div class="card-body">
                                <app-traveler-form (travelerFormChange)="pushTraveler($event)" [type]="'child'" 
                                    [traveler]="traveler" [countries]="countries" [countries_code]="countries_code">
                                </app-traveler-form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="add_passenger_btn" href="javascript:void(0);"
                (click)="addForms('child')">{{showAddChildForm ? '-' : '+'}}
                Add {{'Child' | titlecase}}</a>
            <div id="accordion-child" class="accordion" *ngIf="showAddChildForm">
                <div class="card_add_pass add-more">
                    <div class="card-header" id="childOne">
                    </div>
                    <div id="childcollapseOne" class="collapse cus_collapse show" aria-labelledby="adultOne"
                        data-parent="#accordion-child">
                        <div class="card-body">
                            <app-traveler-form [type]="'child'" (travelerFormChange)="pushTraveler($event)"
                                [countries]="countries" [countries_code]="countries_code"></app-traveler-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="block_passenger_info">
            <h6>Infant <span>(Above 2 years)</span></h6>
            <div id="accordion-infants" class="accordion" *ngIf="_infants.length">
                <div *ngFor="let traveler of _infants; let i = index;">
                    <div class="card_add_pass" *ngIf="traveler.user_type==='infant'">
                        <div class="card-header" id="adultOne{{i}}">
                            <h2 class="mb-0">
                                <label class="custom_checkbox">
                                    <input [disabled]="checkBoxDisable" id="checkbox-{{i}}-{{traveler.userId}}"
                                        (click)="selectTraveler($event,traveler)" type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <button (click)="infantCollapseClick()" type="button" class="btn btn-link"
                                    data-toggle="collapse" [attr.data-target]="'#infantcollapseOne'+ i">
                                    {{traveler.firstName}} {{traveler.lastName}}
                                    <i class="fa fa-angle-down"></i>
                                    <span id="adultFormStatus-{{i}}" class="status_complete">Complete</span>
                                </button>
                            </h2>
                        </div>
                        <div *ngIf="infantCollapse" id="infantcollapseOne{{i}}" class="collapse cus_collapse"
                            aria-labelledby="adultOne+i" data-parent="#accordion-infants">
                            <div class="card-body">
                                <app-traveler-form (travelerFormChange)="pushTraveler($event)" [type]="'infant'" 
                                    [traveler]="traveler" [countries]="countries" [countries_code]="countries_code">
                                </app-traveler-form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="add_passenger_btn" href="javascript:void(0);"
                (click)="addForms('infant')">{{showAddInfantForm ? '-' : '+'}}
                Add {{'Infant' | titlecase}}</a>
            <div id="accordion-infant" class="accordion" *ngIf="showAddInfantForm">
                <div class="card_add_pass add-more">
                    <div class="card-header" id="infantOne">

                    </div>
                    <div id="infantcollapseOne" class="collapse cus_collapse show" aria-labelledby="adultOne"
                        data-parent="#accordion-infant">
                        <div class="card-body">
                            <app-traveler-form [type]="'infant'" (travelerFormChange)="pushTraveler($event)"
                                [countries]="countries" [countries_code]="countries_code"></app-traveler-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>