<!-- Start Our Featured List Section-->
<section class="exclusive_deals_list">
    <div class="container">
        <div class="section_title">
            <h2>Exclusive last minute hotel deals</h2>
            <p>Ofertas exclusivas de último minuto</p>
        </div>
        <div class="deal_list">
            <div class="dr_deal_slid slider">
                <div>
                    <div class="slid_block">
                        <div class="block_im">
                            <img src="{{s3BucketUrl}}assets/images/dr_deals-1.webp" alt="Deals Images">
                        </div>
                        <div class="block_in">
                            <div class="info_top">
                                <div class="block_star">
                                    <ul>
                                        <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                                        <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                                        <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                                        <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                                        <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                                    </ul>
                                </div>
                                <div class="block_name">Punta Cana</div>
                            </div>
                            <div class="block_btm">
                                Starts from <span>$154</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="slid_block">
                        <div class="block_im">
                            <img src="{{s3BucketUrl}}assets/images/dr_deals-2.webp" alt="Deals Images">
                        </div>
                        <div class="block_in">
                            <div class="info_top">
                                <div class="block_star">
                                    <ul>
                                        <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                                        <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                                        <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                                        <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                                        <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                                    </ul>
                                </div>
                                <div class="block_name">Punta Cana</div>
                            </div>
                            <div class="block_btm">
                                Starts from <span>$30</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="slid_block">
                        <div class="block_im">
                            <img src="{{s3BucketUrl}}assets/images/dr_deals-3.webp" alt="Deals Images">
                        </div>
                        <div class="block_in">
                            <div class="info_top">
                                <div class="block_star">
                                    <ul>
                                        <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                                        <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                                        <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                                        <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                                        <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                                    </ul>
                                </div>
                                <div class="block_name">Punta Cana</div>
                            </div>
                            <div class="block_btm">
                                Starts from <span>$40</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Close Our Featured List Section-->