<!-- Start Our Featured List Section-->
<section class="exclusive_deals_list">
  <div class="container">
    <div class="section_title">
      <h2>Exclusive last minute hotel deals</h2>
      <p>Ofertas exclusivas de último minuto</p>
    </div>
    <div class="deal_list">
      <div class="dr_deal_slid slider">
        <div>
          <div class="slid_block">
            <div class="block_im">
              <img src="{{s3BucketUrl}}assets/images/dr_deals-1.webp" alt="Deals Images">
            </div>
            <div class="block_in">
              <div class="info_top">
                <div class="block_star">
                  <ul>
                    <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                    <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                    <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                    <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                    <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                  </ul>
                </div>
                <div class="block_name">Punta Cana</div>
              </div>
              <!-- <a target="_blank" href="https://secure.rezserver.com/hotels/hotel/?hotel_id=700245933&refid=2050" class="deal_name">Hard Rock Hotel & Casino</a> -->
              <div class="block_btm">
                Starts from <span>$154</span>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="slid_block">
            <div class="block_im">
              <img src="{{s3BucketUrl}}assets/images/dr_deals-2.webp" alt="Deals Images">
            </div>
            <div class="block_in">
              <div class="info_top">
                <div class="block_star">
                  <ul>
                    <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                    <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                    <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                    <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                    <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                  </ul>
                </div>
                <div class="block_name">Punta Cana</div>
              </div>
              <!-- <a target="_blank" href="https://secure.rezserver.com/hotels/hotel/?hotel_id=700208966&rdd=1604931573t55b800013744USD6fk2bb3h&rate_identifier=C610E1E622CFE4D60A67EDE270252B6F602ABA5D61B6371E15B8B0DA6936F3D5CAD07E59959ABFB8A6E301CB611D7A1B7EA3048807BEE935&rate_tracking_id=B8885DF831FF6BFE507848C9FF59168F9704743A7DB8B4B38F6C7078A7AE5B1D351E1A23A69B2C0C&refid=2050" class="deal_name">Barcelo Santo Domingo</a> -->
              <div class="block_btm">
                Starts from <span>$30</span>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="slid_block">
            <div class="block_im">
              <img src="{{s3BucketUrl}}assets/images/dr_deals-3.webp" alt="Deals Images">
            </div>
            <div class="block_in">
              <div class="info_top">
                <div class="block_star">
                  <ul>
                    <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                    <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                    <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                    <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                    <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                  </ul>
                </div>
                <div class="block_name">Punta Cana</div>
              </div>
              <!-- <a target="_blank" href="https://secure.rezserver.com/hotels/hotel/?hotel_id=700619435&rdd=1604931573t163b800013744USD87k34cbh&rate_identifier=2BDEFB0DA7164EAC6F6868737B84A606FBE2D0B3F59455E7513CC530D6942795D5C7F57ADE47AA2EDB10BFF3BE57B4067EA3048807BEE935&rate_tracking_id=F435131BB6BCD641FC0065936D40DFBF58E18318EF711E8903139EE8DF8839CA7D592D56E91D5AC0&refid=2050" class="deal_name">Embassy Suites by Hilton</a> -->
              <div class="block_btm">
                Starts from <span>$40</span>
              </div>
            </div>
          </div>
        </div>

        <!-- <div>
          <div class="slid_block">
            <div class="block_im">
              <img src="{{s3BucketUrl}}assets/images/dr_deals-1.webp" alt="Deals Images">
            </div>
            <div class="block_in">
              <div class="info_top">
                <div class="block_star">
                  <ul>
                    <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                    <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                    <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                    <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                    <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                  </ul>
                </div>
                <div class="block_name">Punta Cana</div>
              </div>
              <p class="deal_name">Hard Rock Hotel & Casino</p>
              <div class="block_btm">
                Starts from <span>USD $20</span>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="slid_block">
            <div class="block_im">
              <img src="{{s3BucketUrl}}assets/images/dr_deals-2.webp" alt="Deals Images">
            </div>
            <div class="block_in">
              <div class="info_top">
                <div class="block_star">
                  <ul>
                    <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                    <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                    <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                    <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                    <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                  </ul>
                </div>
                <div class="block_name">Punta Cana</div>
              </div>
              <p class="deal_name">Hard Rock Hotel & Casino</p>
              <div class="block_btm">
                Starts from <span>USD $20</span>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="slid_block">
            <div class="block_im">
              <img src="{{s3BucketUrl}}assets/images/dr_deals-3.webp" alt="Deals Images">
            </div>
            <div class="block_in">
              <div class="info_top">
                <div class="block_star">
                  <ul>
                    <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                    <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                    <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                    <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                    <li><img src="{{s3BucketUrl}}assets/images/star_im.webp" alt="Star"></li>
                  </ul>
                </div>
                <div class="block_name">Punta Cana</div>
              </div>
              <p class="deal_name">Hard Rock Hotel & Casino</p>
              <div class="block_btm">
                Starts from <span>USD $20</span>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
<!-- Close Our Featured List Section-->