@import '../../../cstm-variable';
@import "../../../_cstm-variable.scss";
@import "../../../_cstm-components.scss";
@import "../../../_hotel.scss";
@import "../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.text-line {
  text-decoration: line-through;
}

/* .detail_info_main.payment_info .detail_info_left .block_payment .block_pay_info .block_installment_radio li{
  &.
} */

// .disable_payment_option{
//   background: rgba(129, 136, 171,0.7) !important;
//   label{
//     color:#e3e1ed !important;
//     span{
//       color:#e3e1ed !important;
//     }
//   }
// }
h3 {
  color: $blue-text;
  font-size: 34px;
  margin-bottom: 5px;
  margin: 25px 0 15px;

  @include tab-view {
    font-size: 18px;
  }
}

.payment_accordion {
  border: 1px solid $feedback_text-clr;
  padding: 15px;
  border-radius: 10px;

  .payment_mode_header {
    position: relative;
    display: flex;

    @include tab-view {
      justify-content: center;
    }

    .btn_accrodion {
      height: 48px;
      margin-right: 0;

      @include tab-view {
        height: 45px;
        max-width: 200px;
        font-size: 12px;
      }

      &:first-child {
        margin-right: 20px;
      }
    }

    .section_description {
      transform: translate(-17%, 90%);
      max-width: 240px;

      &.second_pop {
        transform: translate(-17%, 40%);
      }
    }
  }

  .btn_accrodion {
    background-color: $background-white;
    color: $box-border-color;
    font-size: 12px;
    border: 1px solid $box-border-color;
    border-radius: 10px;
    flex: 1;
    height: 108px;
    margin-right: 20px;

    @include tab-view {
      font-size: 18px;
    }

    &:last-child {
      margin-right: 0;
    }

    &.current_active_btn {
      color: $active-tab-text;
      border: 1px solid $active-tab-text;
    }
  }

  h3 {
    color: $mid_gray_bg;
    font-size: 11px;
    margin-top: 35px;
    margin-bottom: 10px;
    font-weight: 400;

    @include tab-view {
      font-size: 12px;
    }
  }

  .flex_center_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .inner_accordion {
    .btn_accrodion {
      background-color: $background-white;
      //color: $text-black;
      color: $mid_gray_bg;
      font-size: 16px;
      border: 1px solid $background-grey;
      border-radius: 10px;
      flex: 1;
      height: 61px;
      width: 104px;
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      position: relative;

      @include tab-view {
        font-size: 16px;
        height: 65px;
        margin-right: 10px;
      }

      &:last-child {
        margin-right: 0;
      }

      &.current_active_btn {
        color: $blue-text-one;
        border: 1px solid $blue-text-one;

        span {
          color: $blue-text-one;

          @include tab-view{
            font-size: 8px;
          }

          &.min_text {
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
            left: 0;
          }
        }
      }

      span {
        //color: $pink;
        color: $mid_gray_bg;
        font-size: 9px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
        left: 0;

        @include tab-view {
          font-size: 12px;
        }

        &.gray_text {
          color: $text-grey;
          font-size: 12px;
        }
      }
    }
  }
}