
<ul class="block_installment_radio" *ngIf="instalmentAvavible && showFullPartialPayOption">
    <li>
        <label class="custom_radio">Pay with Instalment  <span>Starts from ${{weeklyDefaultInstalment | number : '1.2-2'}}/week</span>
            <input type="radio" name="payment_mode" checked (click)="triggerPayemntMode('instalment')">
            <span class="checkmark"></span>
        </label>
    </li>
    <li>
        <label class="custom_radio">Full Payment <span>Total ${{instalmentRequest.amount | number : '1.2-2'}}</span>
            <input type="radio" name="payment_mode" (click)="triggerPayemntMode('no-instalment')">
            <span class="checkmark"></span>
        </label>
    </li>
</ul>

<div class="installment_main" *ngIf="isInstalemtMode && instalmentAvavible">
    <div class="block_installment_option">
        <div class="installment_top">

            <ul class="custom_tab">
                <li [ngClass]="{'active_tab': durationType === 'weekly'}" >
                    <label class="custom_radio">
                        <input type="radio" name="weekly-installment" [checked]="durationType=='weekly'" (click)="changeDuration('weekly')">
                        <span class="checkmark"></span>
                        <div class="left">
                            Weekly <span>({{weeklyDefaultInstalmentNo}} payments)</span>
                        </div>
                        <div class="right">
                            ${{weeklyDefaultInstalment | number : '1.2-2'}} <span>Per week</span>
                        </div>
                    </label>
                </li>
                <li [ngClass]="{'active_tab': durationType === 'biweekly'}">
                    <label class="custom_radio">
                        <input type="radio" name="weekly-installment" [checked]="durationType=='biweekly'" (click)="changeDuration('biweekly')">
                        <span class="checkmark"></span>
                        <div class="left">
                            Bi-weekly <span>({{biWeeklyDefaultInstalmentNo}} payments)</span>
                        </div>
                        <div class="right">
                            ${{biWeeklyDefaultInstalment | number : '1.2-2'}} <span>Per week</span>
                        </div>
                    </label>
                </li>
                <li [ngClass]="{'active_tab': durationType === 'monthly'}">
                    <label class="custom_radio">
                        <input type="radio" name="weekly-installment" [checked]="durationType=='monthly'" (click)="changeDuration('monthly')">
                        <span class="checkmark"></span>
                        <div class="left">
                            Monthly <span>({{monthlyDefaultInstalmentNo}} payments)</span>
                        </div>
                        <div class="right">
                            ${{monthlyDefaultInstalment | number : '1.2-2'}} <span>Per week</span>
                        </div>
                    </label>
                </li>
            </ul>

            <div class="tab-content">
                <div class="" id="pay-weekly">
                    <div class="installment_ingo">
                        <div class="accordion" id="accordion">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle custom_aerrow" href="javascript:void(0);">
                                        <div class="left_block">Pay extra for 1st instalment</div>
                                        <div class="right_block">
                                            <div class="block_pay_instalment">
                                                <div class="block_mins pay_block">
                                                    <button (click)="setAdditionalAmount('minus')">
                                                        <i class="fa fa-minus" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                                <div class="block_amount">
                                                    <input type="number" [(ngModel)]="additionalAmount" (change)="changeAdditionalAmount($event)" tabindex="1">
                                                </div>
                                                <div class="block_plus  pay_block">
                                                    <button (click)="setAdditionalAmount('add')">
                                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="icon" (click)="toggleaccordin()">
                                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                        </div>
                                    </a>
                                </div>
                                <div id="collapseOne" class="accordion-body" *ngIf="showFirstAccrodian">
                                    <div class="accordion-inner">

                                        <div class="block_inn">
                                            <ul>
                                                <li>
                                                    Booking total
                                                    <span>${{instalmentRequest.amount | number : '1.2-2'}}</span>
                                                </li>
                                                <li>
                                                    Laytrip point use
                                                    <span class="point_use">-${{laycreditpoints}}</span>
                                                </li>
                                                <li>
                                                    First instalment amount
                                                    <span>$40</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsetwo">
                                        <div class="left_block">
                                            Pay your remaining amount
                                            <span>For {{this.remainingInstalment}} instalments with ${{secondInstalment | number : '1.2-2'}} per instalment</span>
                                        </div>
                                        <div class="right_block">
                                            Total <span>${{instalmentRequest.amount | number : '1.2-2'}}</span>
                                        </div>
                                    </a>
                                </div>
                                <div id="collapsetwo" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <div class="block_inn">
                                            <ul>
                                                <li>
                                                    <label class="custom_radio">Amount
                                                        <input type="checkbox" name="weekly-installment" [checked]='instalmentRequest.custom_amount!=null' value="amount" (change)="selectCustomMethod($event);">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <div class="block_pay_instalment">
                                                        <div class="block_mins pay_block">
                                                            <a href="javascript:void(0);" (click)="setCustomAmount('decrease')">
                                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                                            </a>
                                                        </div>
                                                        <div class="block_amount">
                                                            <input type="text" [(ngModel)]="customAmount" (change)="changeCustomInstalmentAmount($event)" tabindex="2">
                                                        </div>
                                                        <div class="block_plus  pay_block">
                                                            <a href="javascript:void(0);"  (click)="setCustomAmount('increase')">
                                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <label class="custom_radio">Instalment
                                                        <input type="radio" name="weekly-installment" [checked]='instalmentRequest.custom_instalment_no!=null' value='instalment' (change)="selectCustomMethod($event);">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <div class="block_pay_instalment">
                                                        <div class="block_mins pay_block">
                                                            <a href="javascript:void(0);"  (click)="setCustomInstalmentNo('decrease')">
                                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                                            </a>
                                                        </div>
                                                        <!-- <div class="block_amount">
                                                            <input type="number" [(ngModel)]="customInstalment"  tabindex="3">
                                                        </div> -->
                                                        {{customInstalment}}
                                                        <div class="block_plus  pay_block">
                                                            <a href="javascript:void(0);" (click)="setCustomInstalmentNo('increase')">
                                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                        <div class="left_block">Instalment calculation</div>
                                        <div class="right_block"></div>
                                    </a>
                                </div>
                                <div id="collapseThree" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <div class="block_inn">
                                            <ul>
                                                <li>
                                                    1st Instalment
                                                    <span>${{instalments.instalment_date[0].instalment_amount | number : '1.2-2'}}</span>
                                                </li>
                                                <li>
                                                    Default Instalment (for 2 weeks)
                                                    <span>${{defaultInstalment | number : '1.2-2' }}</span>
                                                </li>
                                                <li>
                                                    Additional Amount
                                                    <span>${{additionalAmount}}</span>
                                                </li>
                                                <li>
                                                    Laytrip points
                                                    <span class="point_use">-${{laycreditpoints}}</span>
                                                </li>
                                                <li class="last">
                                                    Total you will pay
                                                    <span>${{instalmentRequest.amount | number : '1.2-2'}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                        <div class="left_block">Instalment details</div>
                                        <div class="right_block"></div>
                                    </a>
                                </div>
                                <div id="collapseFour" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <div class="block_inn">
                                            <ul class="instalment_detail">
                                                
                                                <li *ngFor="let instalment of instalments.instalment_date; index as i">
                                                    <div>
                                                        {{i+1}} Instalment
                                                        <p>{{instalment.instalment_date}} <!-- <span>Booking date</span> --></p>
                                                    </div>
                                                    <span>${{instalment.instalment_amount | number : '1.2-2'}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="block_installment_date">
            <p>We will perform your actual booking before <span>26th Nov, 2020</span>.</p>
            <p>Enjoy Stress free travel experience with Laytrip.</p>
        </div>
    </div>
</div>