<!-- Free & Paid user -->
<div class="detail_info_left" *ngIf="userData.roleId==5 || userData.roleId==6">
  <div class="block_booking_confirmation" *ngIf="bookingData">
      <div class="block_inner">
          <h5>Congratulations</h5>
          <p>Thank you! Your official booking is now confirmed</p>
          <span>Reference no. #{{ bookingData.booking_details.id}}</span>
          <div class="book_inform">
              We will perform your actual booking before 26th November, 2020.
          </div>
      </div>

      <div class="block_inner">
          <h5>Booking Info</h5>
          <ul>
              <li>
                  <span>Payment Type :</span>
                  <p *ngIf="bookingData.booking_details.bookingType==1">Partial payment</p>
                  <p *ngIf="bookingData.booking_details.bookingType==2">Full payment</p>
              </li>
              <li *ngIf="bookingData.booking_details.bookingType==1">
                  <span>Partial Payment Type :</span>
                  <p>{{bookingData.booking_details.bookingInstalments[0].instalmentType | titlecase}}</p>
              </li>
              <li>
                  <span>Total Booking Amount :</span>
                  <p>{{bookingData.booking_details.currency2.symbol}}{{bookingData.booking_details.totalAmount | number : '1.2-2'}}</p>
              </li>
              <li *ngIf="bookingData.booking_details.bookingType==1">
                  <span>Partial Payment Part :</span>
                  <p>{{bookingData.booking_details.bookingInstalments.length}} Instalment</p>
              </li>
              <li *ngIf="bookingData.booking_details.bookingType==1">
                  <span>Partial Payment Start Date :</span>
                  <p>{{commonFunction.convertDateFormat(bookingData.booking_details.bookingInstalments[0].instalmentDate,'MM/DD/YYYY','en')}}</p>
              </li>
              <li *ngIf="bookingData.booking_details.bookingType==1">
                  <span>Next Partial Payment Date :</span>
                  <p>{{commonFunction.convertDateFormat(bookingData.booking_details.bookingInstalments[1].instalmentDate,'MM/DD/YYYY','en')}}</p>
              </li>
              <li *ngIf="bookingData.booking_details.bookingType==1">
                  <span>Partial Payment Amount :</span>
                  <p>{{bookingData.booking_details.currency2.symbol}}{{bookingData.booking_details.bookingInstalments[1].amount |  number : '1.2-2'}}</p>
              </li>
          </ul>
      </div>

      <div class="block_inner">
          <h5>Cancellation Policy</h5>
          <p>To know more check our <a href="javascript:void(0);">Cancellation policy</a> & <a href="javascript:void(0);">Privacy Policy</a></p>
      </div>

      <div class="block_inner">
          <h5>Get Assist</h5>
          <p>If you want any query or help. Contact us on -</p>
          <ul class="block_contact">
              <li>
                  <a href="javascript:void(0);"><i class="fa fa-envelope" aria-hidden="true"></i> info@test.com</a>
              </li>

              <li>
                  <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> +00 000 000 0000</a>
              </li>
          </ul>
          <div class="msg_block">
              We wish you a pleasant stay, your lay trip team.
          </div>
      </div>
  </div>
    <div class="btn_backhome">
        <a class="btn btn_laytrip" (click)="backToHome()">Back to Home <img src="{{s3BucketUrl}}assets/images/icon/right-arrow.svg" alt="Right Arrow"></a>
    </div>
</div>

<!-- Guest user -->
<div class="detail_info_left" *ngIf="userData.roleId==7">
  <div class="block_booking_confirmation" *ngIf="bookingData">
      <div class="inner_block">
          <img src="{{s3BucketUrl}}assets/images/booking-confirmation-for-guest-user_im.svg" alt="Confirmation Image">
          <h5>Congratulations</h5>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
          <span>Reference no. #{{bookingData.laytrip_booking_id}}</span>
      </div>
  </div>
</div>