<!-- Free & Paid user -->
<div class="detail_info_left" *ngIf="userData.roleId==5 || userData.roleId==6">
    <div class="block_booking_confirmation" *ngIf="bookingData">
        <div class="block_inner">
            <h5>Congratulations</h5>
            <p *ngIf="bookingData.booking_details.bookingType==1">{{'official_pre_booking_made_with_us' | translate}}</p>
            <span>{{'reference_no' | translate}} #{{ bookingData.booking_details.laytripBookingId}}</span>
            <!-- <div class="book_inform" *ngIf="bookingData.booking_details.bookingType==1">
              We will perform your actual booking before 26th November, 2020 and send you a confirmation email. <a>Learn more</a> about why we make a payment at a later date. 
          </div> -->
        </div>

        <div class="block_inner">
            <h5>{{'booking_info' | translate}}</h5>
            <ul>
                <li>
                    <span>{{'payment_type' | translate}} :</span>
                    <p *ngIf="bookingData.booking_details.bookingType==1">{{'installment_payment' | translate}}</p>
                    <p *ngIf="bookingData.booking_details.bookingType==2">{{'full_payment' | translate}}</p>
                </li>
                <li *ngIf="bookingData.booking_details.bookingType==1">
                    <span>{{'installment_payment_type' | translate}} :</span>
                    <p>{{bookingData.booking_details.bookingInstalments[0].instalmentType | titlecase}}</p>
                </li>
                <li>
                    <span>{{'total_booking_amount' | translate}} :</span>
                    <p>{{bookingData.booking_details.currency2.symbol}}{{bookingData.booking_details.totalAmount | number : '1.2-2'}}</p>
                </li>
                <li *ngIf="bookingData.booking_details.bookingType==1">
                    <span>{{'down_payment' | translate}} :</span>
                    <p>{{bookingData.booking_details.currency2.symbol}}{{bookingData.booking_details.bookingInstalments[0].amount | number : '1.2-2'}}</p>
                </li>
                <li *ngIf="bookingData.booking_details.bookingType==1">
                    <span>{{'installment_payment_part' | translate}} :</span>
                    <p>{{bookingData.booking_details.bookingInstalments.length-1}} {{'installment' | translate}}</p>
                </li>
                <li *ngIf="bookingData.booking_details.bookingType==1">
                    <span>{{'installment_payment_start_date' | translate}} :&nbsp;</span>
                    <p>{{commonFunction.convertDateFormat(bookingData.booking_details.bookingInstalments[0].instalmentDate,'YYYY-MM-DD')}}</p>
                </li>
                <li *ngIf="bookingData.booking_details.bookingType==1">
                    <span>{{'next_installment_payment_date' | translate}} :&nbsp;</span>
                    <p>{{commonFunction.convertDateFormat(bookingData.booking_details.bookingInstalments[1].instalmentDate,'YYYY-MM-DD')}}</p>
                </li>
                <li *ngIf="bookingData.booking_details.bookingType==1">
                    <span>{{'inst_payment_amt' | translate}} :</span>
                    <p>{{bookingData.booking_details.currency2.symbol}}{{bookingData.booking_details.bookingInstalments[1].amount | number : '1.2-2'}}</p>
                </li>
            </ul>
        </div>

        <div class="block_inner">
            <h5>{{'cancellation_policy' | translate}}</h5>
            <p>{{'to_know_more_check_out' | translate}} <a href="javascript:void(0);" class="anchor-text">{{'cancellation_policy' | translate}}</a> & <a href="javascript:void(0);">{{'privacy_and_policy' | translate}}</a></p>
        </div>

        <div class="block_inner">
            <h5>{{'get_assist' | translate}}</h5>
            <p>{{'any_question_or_help' | translate}}</p>
            <ul class="block_contact">
                <li>
                    <a href="mailto:support@laytrip.com"><i class="fa fa-envelope" aria-hidden="true"></i> support@laytrip.com</a>
                </li>

                <li>
                    <a href="tel:+00 000 000 0000"><i class="fa fa-phone" aria-hidden="true"></i> +00 000 000 0000</a>
                </li>
            </ul>
            <div class="msg_block">
                {{'we_wish_you_pleasant_stay' | translate}}
                <br>&nbsp;&nbsp;-{{'your_laytrip_team' | translate}}
            </div>
        </div>
    </div>
    <div class="btn_backhome">
        <a class="btn btn_laytrip" (click)="backToHome()">{{'back_to_home' | translate}}<img src="{{s3BucketUrl}}assets/images/icon/right-arrow.svg" alt="Right Arrow"></a>
    </div>
</div>

<!-- Guest user -->
<div class="detail_info_left" *ngIf="userData.roleId==7">
    <div class="block_booking_confirmation" *ngIf="bookingData">
        <div class="inner_block">
            <img src="{{s3BucketUrl}}assets/images/booking-confirmation-for-guest-user_im.svg" alt="Confirmation Image">
            <h5>Congratulations</h5>
            <p>{{'successfully_book_your_flight_messege' | translate}}</p>
            <span>{{'reference_no' | translate}} #{{bookingData.laytrip_booking_id}}</span>
        </div>
    </div>
</div>