<!-- Start Search Result section -->
<section class="search_result flight">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="block_noresult_found">
                  <div class="block_noresult_found_inner">
                      <img src="{{s3BucketUrl}}assets/images/alert_pink.svg" alt="No Search Found Image">
                      <h6>Oops! <br class="responsive_br"> No Results Found.</h6>
                      <p>Please adjust your search parameters including your room and guest count and try searching again.</p>
                      <div class="logo_wrpper_footer">
                          <img src="http://d2q1prebf1m2s9.cloudfront.net/assets/images/laytrip_logo_blue.svg"
                              alt="Logo" />
                      </div>
                  </div>
              </div>
          </div>
      </div> 
  </div>
</section>
<!-- Close Search Result section -->