<!-- Start User Benefits section-->
<section class="user_benefits">
  <div class="container">
      <div class="row">
          <div class="col-lg-4">
              <div class="user_benefits_txt">
                  <h2>Subscribed User Benefits</h2>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="user_benefits_block">
                  <ul class="first_block">
                      <li>
                          <div class="box_main">
                              <div class="box_icon">
                                  <img src="{{s3BucketUrl}}assets/images/icon/user-benefits-icon.svg" alt="" />
                              </div>
                              <div class="box_cnt">
                                  <h3>Title</h3>
                                  <p>It is a long established fact that a read will be distracted</p>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="box_main">
                              <div class="box_icon">
                                  <img src="{{s3BucketUrl}}assets/images/icon/user-benefits-icon.svg" alt="" />
                              </div>
                              <div class="box_cnt">
                                  <h3>Title</h3>
                                  <p>It is a long established fact that a read will be distracted</p>
                              </div>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="user_benefits_block">
                  <ul class="last_block">
                      <li>
                          <div class="box_main">
                              <div class="box_icon">
                                  <img src="{{s3BucketUrl}}assets/images/icon/user-benefits-icon.svg" alt="" />
                              </div>
                              <div class="box_cnt">
                                  <h3>Title</h3>
                                  <p>It is a long established fact that a read will be distracted</p>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="box_main">
                              <div class="box_icon">
                                  <img src="{{s3BucketUrl}}assets/images/icon/user-benefits-icon.svg" alt="" />
                              </div>
                              <div class="box_cnt">
                                  <h3>Title</h3>
                                  <p>It is a long established fact that a read will be distracted</p>
                              </div>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Close User Benefits section-->