<!-- Start User Benefits section-->
<section class="user_benefits">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="user_benefits_txt">
                    <span>Laytrip</span>
                    <h2><span>Subscribed</span> User Benefits</h2>
                    <p>With a single <span>$25</span> sign-up fee members enjoy</p>
                    <a href="javascript:void(0);">Subscribe Now <img src="{{s3BucketUrl}}assets/images/icon/right-arrow.svg" alt="Right Arrow"></a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="benefits_block">
                    <div class="block_top">
                        <div class="block_im">
                            <img src="{{s3BucketUrl}}assets/images/icon/benefits-icon.svg" alt="App Icon" />
                        </div>
                    </div>
                    <div class="block_btm">
                        <h5>Accelerated accumulation of points</h5>
                        <p>It is a long established fact that a reader will be distracted by the readable</p>
                        <a href="javascript:void(0);">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="benefits_block">
                    <div class="block_top">
                        <div class="block_im">
                            <img src="{{s3BucketUrl}}assets/images/icon/benefits-icon.svg" alt="App Icon" />
                        </div>
                    </div>
                    <div class="block_btm">
                        <h5>Accelerated accumulation of points</h5>
                        <p>It is a long established fact that a reader will be distracted by the readable</p>
                        <a href="javascript:void(0);">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="benefits_block">
                    <div class="block_top">
                        <div class="block_im">
                            <img src="{{s3BucketUrl}}assets/images/icon/benefits-icon.svg" alt="App Icon" />
                        </div>
                    </div>
                    <div class="block_btm">
                        <h5>Accelerated accumulation of points</h5>
                        <p>It is a long established fact that a reader will be distracted by the readable</p>
                        <a href="javascript:void(0);">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Close User Benefits section-->