<div class="page_topbanner">
    <img _ngcontent-serverapp-c9="" alt="Banner Image" src="{{s3BucketUrl}}assets/images/cms_page_banner.png">
</div>

<div class="conf_main_wrapper">
    <div class="container">
        <div class="back_cta_btn">
            <a class="hover-link"><img src="{{s3BucketUrl}}assets/images/icon/ic_back.svg" alt=""> Back</a>
        </div>
        <div class="conf_container">
            <div class="header_bar">
                <h3>
                    Booking Confirmed
                    <span class="b_num">Booking ID #79302927k</span>
                </h3>
                <p class="para">
                    Thank you for booking your travel with us! We will send you your airline, hotel and/or home
                    reservation numbers prior to your travel date. View your details anytime at <a [routerLink]="['/account/bookings']">My Bookings</a>.
                </p>
            </div>
            <div class="book_detailers">
                <h3>Details</h3>
                <div class="detail_liners">
                    <span class="lefts">Flight</span>
                    <span class="rights">JFK-MIA Dec 9, 2021</span>
                </div>
                <div class="detail_liners">
                    <span class="lefts">Flight</span>
                    <span class="rights">FLL-JFK Dec 11, 2021</span>
                </div>
                <div class="detail_liners">
                    <span class="lefts">Hotel</span>
                    <span class="rights">Marriott Miami Dec 10, 2021</span>
                </div>
                <div class="detail_liners">
                    <span class="lefts">Home</span>
                    <span class="rights">South Beach House Dec 10, 2021</span>
                </div>
                <div class="detail_liners">
                    <span class="lefts">Car</span>
                    <span class="rights">Avis Dec 9-11, 2021</span>
                </div>
                <h3>Payment</h3>
                <div class="detail_liners">
                    <span class="lefts">Downpayment</span>
                    <span class="rights">$180.00</span>
                </div>
                <div class="detail_liners">
                    <span class="lefts">Installments</span>
                    <span class="rights">7 Monthly Installments of $100.00</span>
                </div>
                <div class="detail_liners">
                    <span class="lefts">Total Price</span>
                    <span class="rights">$880.00</span>
                </div>
                <div class="detail_liners">
                    <span class="lefts">Total Paid</span>
                    <span class="rights">$180.00 Mastercard ending in 9604</span>
                </div>
                <h3>Policies</h3>
                <div class="linking_wrapper">
                    <a href="javascript:void(0);">Customer Service</a>
                    <a href="javascript:void(0);">Reservations</a>
                    <a href="javascript:void(0);">Terms</a>
                </div>
                <h3>Contact</h3>
                <div class="linking_wrapper">
                    <a href="javascript:void(0);">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <app-booking-feedback></app-booking-feedback> -->