@import "../../../../_cstm-variable.scss";
@import "../../../../_cstm-components.scss";
@import "../../../../_hotel.scss";
@import "../../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.page_topbanner {
    display: flex;
    width: 100%;

    @include tab-view {
        height: 63px;
        position: relative;
        margin-top: 40px;
    }

    img {
        width: 100%;

        @include tab-view {
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center;
            object-position: center;
        }
    }
}

.conf_main_wrapper {
    padding: 15px 0;

    .back_cta_btn {
        a {
            color: $active-tab-text;
        }
    }

    .conf_container {
        max-width: 653px;
        margin: 10px auto 30px;

        .header_bar {
            h3 {
                color: $active-tab-text;
                font-size: 34px;
                margin-bottom: 15px;

                .b_num {
                    color: $text-black;
                    font-size: 20px;
                }
            }

            p {
                font-size: 20px;
                color: $mid_gray_bg;

                a {
                    color: $txt_clr_blue;
                }
            }
        }

        .book_detailers {
            h3 {
                color: $active-tab-text;
                font-size: 34px;
                margin: 25px 0 15px;
            }

            .detail_liners {
                font-size: 16px;
                border-bottom: 1px solid $box-border-color;
                padding: 15px 0;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .lefts {
                    color: $text-black;
                    flex: 1;
                }

                .rights {
                    color: $mid_gray_bg;
                    flex: 2;
                }
            }

            .linking_wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;

                a {
                    color: $txt_clr_blue;
                    font-size: 20px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}