<div class="page_topbanner">
    <img _ngcontent-serverapp-c9="" alt="Banner Image" src="{{s3BucketUrl}}assets/images/cms_page_banner.png">
</div>

<div class="conf_main_wrapper">
    <div class="container">
        
        <div class="conf_container">

            <div *ngIf="loading">
                <!-- loader for booking conf -->
                <div class="fb_animation w-100 pb-4 mb-2"></div>
                <div class="fb_animation w-100 pb-3 mb-2"></div>
                <div class="fb_animation w-100 pb-3 mb-2"></div>
                <div class="fb_animation w-100 pb-3 mb-4"></div>
                <div style="width: 200px; height: 35px;" class="fb_animation pb-4 mb-3"></div>
                <div class="mb-2" style="display: flex; border-bottom: 1px solid #d6d6d6;">
                    <div class="fb_animation w-50 pb-4 mb-2 mr-5"></div>
                    <div class="fb_animation w-100 pb-4 mb-2"></div>
                </div>
                <div class="mb-2" style="display: flex; border-bottom: 1px solid #d6d6d6;">
                    <div class="fb_animation w-50 pb-4 mb-2 mr-5"></div>
                    <div class="fb_animation w-100 pb-4 mb-2"></div>
                </div>
                <div class="mb-2" style="display: flex; border-bottom: 1px solid #d6d6d6;">
                    <div class="fb_animation w-50 pb-4 mb-2 mr-5"></div>
                    <div class="fb_animation w-100 pb-4 mb-2"></div>
                </div>
                <div class="fb_animation w-100 pb-3 mb-2"></div>
                <div class="fb_animation w-100 pb-3 mb-2"></div>
                <!-- loader for booking conf -->
            </div>


            <div class="header_bar" *ngIf="!loading && allBookingStatus">
                <h3>
                    Booking Confirmed
                    <span class="b_num">Booking ID #{{cartDetails.laytripCartId}}</span>
                </h3>
                <p class="para">
                    Thank you for booking your travel with us! We will send you your airline, hotel and/or home
                    reservation numbers prior to your travel date. View your details anytime at <a
                        [routerLink]="['/account/bookings']" [queryParams]="commonFunction.isRefferal()? commonFunction.getRefferalParms() : ''" >My Bookings</a>.
                </p>
            </div>
            <div class="book_detailers" *ngIf="!loading && allBookingStatus">
                <h3>Details</h3>
                <ng-container *ngFor="let booking of cartDetails.booking">
                    <div class="detail_liners" *ngIf="booking.moduleId==1 && (booking.bookingStatus==0 || booking.bookingStatus==1)">
                        <span class="lefts">Flight</span>
                        <span class="rights" *ngIf="booking.moduleInfo[0].routes.length==1">
                            {{booking.moduleInfo[0].departure_code}}-{{booking.moduleInfo[0].arrival_code}}
                            {{commonFunction.convertDateFormat(booking.moduleInfo[0].departure_date,'DD/MM/YYYY')}}
                        </span>
                        <span class="rights" *ngIf="booking.moduleInfo[0].routes.length==2">
                            {{booking.moduleInfo[0].departure_code}}-{{booking.moduleInfo[0].arrival_code}}
                            {{commonFunction.convertDateFormat(booking.moduleInfo[0].departure_date,'DD/MM/YYYY')}}-{{commonFunction.convertDateFormat(booking.moduleInfo[0].arrival_date,'DD/MM/YYYY')}}
                        </span>
                    </div>
                    <div class="detail_liners" *ngIf="booking.moduleId==3 && (booking.bookingStatus==0 || booking.bookingStatus==1)" >
                        <span class="lefts">Hotel</span>
                        <span class="rights">{{booking.moduleInfo[0].hotel_name}} {{commonFunction.convertDateFormat(booking.moduleInfo[0].input_data.check_in,'YYYY-MM-DD')}}</span>
                    </div>
                </ng-container>

                <!-- <div class="detail_liners">
                    <span class="lefts">Hotel</span>
                    <span class="rights">Marriott Miami Dec 10, 2021</span>
                </div>
                <div class="detail_liners">
                    <span class="lefts">Home</span>
                    <span class="rights">South Beach House Dec 10, 2021</span>
                </div>
                <div class="detail_liners">
                    <span class="lefts">Car</span>
                    <span class="rights">Avis Dec 9-11, 2021</span>
                </div> -->
                <h3>Payment</h3>
                <div class="detail_liners" *ngIf="cartDetails.cartInstallments.length">
                    <span class="lefts">Downpayment</span>
                    <span class="rights">${{cartDetails.cartInstallments[0].amount | number : '1.2-2'}}</span>
                </div>
                <div class="detail_liners" *ngIf="cartDetails.cartInstallments.length">
                    <span class="lefts">Installments</span>
                    <span class="rights">{{cartDetails.cartInstallments.length-1}} {{cartDetails.installmentType |
                        titlecase}} Installments of
                        ${{cartDetails.cartInstallments[1].amount | number : '1.2-2'}}</span>
                </div>
                <div class="detail_liners">
                    <span class="lefts">Total Price</span>
                    <span class="rights">${{cartDetails.totalAmount | number : '1.2-2'}}</span>
                </div>
                <div class="detail_liners" *ngIf="cartDetails.cartInstallments.length">
                    <span class="lefts">Total Paid</span>
                    <span class="rights">${{ cartDetails.paidAmount | number : '1.2-2'}} <span *ngIf="cartDetails.cardDetail"> {{ cardType[cartDetails?.cardDetail?.cardType]}} ending in {{cartDetails?.cardDetail?.cardDigits}}</span> </span>
                </div>
                <div class="detail_liners" *ngIf="cartDetails.cartInstallments.length==0">
                    <span class="lefts">Total Paid</span>
                    <span class="rights">${{ cartDetails.totalAmount | number : '1.2-2'}} <span *ngIf="cartDetails.cardDetail"> {{ cardType[cartDetails?.cardDetail?.cardType]}} ending in {{cartDetails?.cardDetail?.cardDigits}}</span> </span>
                </div>
                <h3>Policies</h3>
                <div class="linking_wrapper">
                    <!-- <a href="javascript:void(0);">Customer Service</a>
                    <a [routerLink]="['/privacy-policy']">Privacy</a> -->
                    <a [routerLink]="['/terms']" [queryParams]="commonFunction.isRefferal()? commonFunction.getRefferalParms() : ''" >Terms</a>
                </div>
                <h3>Contact</h3>
                <div class="linking_wrapper">
                    <a class="anchor-tag" data-toggle="modal" data-target="#contact_modal">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-booking-feedback *ngIf="anyBookingStatus" [hidden]="!isFeedbackPage" (feedbackValueChange)="feedbackValueChange($event)">
</app-booking-feedback>
<app-contact-us></app-contact-us>
