<!-- <div class="modal fade share_modal" id="share_modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content"> -->
      <div class="block_modal_main">
        <div class="modal_title">
          Share with Friends
          <button type="button" class="close" (click)="close()">
            <img src="{{s3BucketUrl}}assets/images/icon/close-icon.svg" alt="Close Icon">
          </button>
        </div>
        <div class="modal_cnt">
          <div class="block_cnt_right">
            <ul>
              <li>
                <a data-action="share/whatsapp/share" class="hover-link" (click)="share('Whatapp')">
                  <div class="share_im">
                    <span>
                      <img src="{{s3BucketUrl}}assets/images/icon/ic-whatsapp.svg" alt="Whatapp Icon">
                    </span>
                  </div>
                  <span>WhatsApp</span>
                </a>
              </li>

              <li>
                <a class="hover-link" (click)="share('Facebook')">
                  <div class="share_im">
                    <span>
                      <img src="{{s3BucketUrl}}assets/images/icon/ic-facebook.svg" alt="Facebook Icon">
                    </span>
                  </div>
                  <span>Facebook</span>
                </a>
              </li>
              <li>
                <a class="hover-link" (click)="share('Instagram')">
                  <div class="share_im">
                    <span>
                      <img src="{{s3BucketUrl}}assets/images/icon/ic-instagram.svg" alt="Instagram Icon">
                    </span>
                  </div>
                  <span>Instagram</span>
                </a>
              </li>
              <!-- <li>
                <a class="hover-link" (click)="share('Google')">
                  <div class="share_im">
                    <span>
                      <img src="{{s3BucketUrl}}assets/images/icon/ic-googleplus.svg" alt="Google+ Icon">
                    </span>
                  </div>
                  <span>Google+</span>
                </a>
              </li> -->
              <li>
                <a  class="hover-link" (click)="share('Pinterest')">
                  <div class="share_im">
                    <span>
                      <img src="{{s3BucketUrl}}assets/images/icon/ic-pinterest.svg" alt="Pinterest Icon">
                    </span>
                  </div>
                  <span>Pinterest</span>
                </a>
              </li>
              <li>
                <a class="hover-link" (click)="share('Twitter')">
                  <div class="share_im">
                    <span>
                      <img src="{{s3BucketUrl}}assets/images/icon/ic-twitter.svg" alt="Twitter Icon">
                    </span>
                  </div>
                  <span>Twitter</span>
                </a>
              </li>
            </ul>

            <div class="block_download_app">
              <ul>
                <li>
                  <a href="javascript:void(0);">
                    <img src="{{s3BucketUrl}}assets/images/app-store-im.webp" alt="App Store Image">
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <img src="{{s3BucketUrl}}assets/images/play-store-im.webp" alt="Play Store Image">
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="block_cnt_left">
            <img src="{{s3BucketUrl}}assets/images/share_modal_im.svg" alt="Share Images">
          </div>
        </div>
      </div>
   <!--  </div>
  </div>
</div> -->