<!-- <div class="modal fade share_modal" id="share_modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content"> -->
<div class="block_modal_main">
  <div class="modal_title">
    Share
    <button type="button" class="close" (click)="close()">
      <img src="{{s3BucketUrl}}assets/images/icon/close-icon.svg" alt="Close Icon">
    </button>
  </div>
  <div class="modal_cnt">
    <div class="share_i_wrapper">
      <a  class="hover-link" (click)="share('Instagram')">
        <img src="{{s3BucketUrl}}assets/images/icon/share_i/ig_i.svg" alt="Ig Icon">
      </a>
      <a  class="hover-link" (click)="share('Facebook')">
        <img src="{{s3BucketUrl}}assets/images/icon/share_i/fb_i.svg" alt="Ig Icon">
      </a>
      <a  class="hover-link" (click)="share('Whatapp')">
        <img src="{{s3BucketUrl}}assets/images/icon/share_i/w_i.svg" alt="Ig Icon">
      </a>
      <a  class="hover-link" (click)="copyToClipboard()">
        <span *ngIf="isCopyText" class="copy_text">Link Copied</span>
        <img src="{{s3BucketUrl}}assets/images/icon/share_i/link_i.svg" alt="Ig Icon">
      </a>
    </div>
    <div class="footer_logo">
      <a  class="hover-link">
        <img src="{{s3BucketUrl}}assets/images/dr_logo.svg" alt="logo Icon">
      </a>
    </div>
  </div>
</div>
<!--  </div>
  </div>
</div> -->