<app-checkout-progress [progressStep]="progressStep"></app-checkout-progress>
<section class="detail_info_main payment_info book_confirm_login book_confirm_guest flight">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
              <div class="detail_info_left" *ngIf="bookingStatus==0">
                  <div class="block_payment">
                      <app-booking-timer [config]="bookingTimerConfig"></app-booking-timer>
                      <div class="block_pay_info">
                          <div class="block_travellers">
                              <h6>Travellers</h6>
                              <div class="traveller_detail" *ngFor="let traveler of travelers">
                                  <span>{{traveler.username}}</span>
                                  <a href="javascript:void(0);">Send E-ticket</a>
                              </div>
                          </div>
                        </div>
                        <div class="block_pay_info" *ngIf="userInfo.roleId!=7">
                            <app-payment-mode *ngIf="flightSummary.length" [flightSummary]="flightSummary" (selectInstalmentMode)="selectInstalmentMode($event)" (applyLaycredit)="applyLaycredit($event)"></app-payment-mode>
                        </div>
                        <div class="block_pay_info">
                            <app-booking-enquiry-info></app-booking-enquiry-info>
                        </div>
                          <!-- <app-redeem-laycredit></app-redeem-laycredit> -->
                        <div class="block_pay_info">
                          <div class="block_card_select">
                              <div class="block_title_section" >
                                  <h5 *ngIf="userInfo.roleId!=7">Select Credit Card</h5>
                                  <h5 *ngIf="userInfo.roleId==7">Credit Card Details
                                </h5>
                              </div>
                              <div class="block_detail">
                                  <app-card-list *ngIf="userInfo.roleId!=7" (selectCreditCard)="selectCreditCard($event)"></app-card-list>
                                  <div class="add_card_btn" *ngIf="userInfo.roleId!=7">
                                      <a href="javascript:void(0);" (click)="toggleAddcardForm()" >+ Add New Card</a>
                                  </div>
                                  <app-add-card *ngIf="showAddCardForm" ></app-add-card>
                              </div>
                          </div>
                        </div>
                       
                  </div>
                  <div class="block_condition_agree">
                      <ul>
                          <li>
                              <label class="custom_checkbox">
                                  <input type="checkbox" (click)="acceptTermCondtion()">
                                  <span class="checkmark"></span>
                              </label>
                              <p>I agree <a href="javascript:void(0);" (click)="acceptTermCondtion()">Terms & Conditions</a> | <a href="javascript:void(0);">Privacy Policy</a></p>
                          </li>
                      </ul>
                  </div>
                  <div class="btn_payment">
                      <!-- <a href="javascript:void(0)" >Pay & Complete Booking <img src="{{s3BucketUrl}}assets/images/icon/right-arrow.svg" alt="Right Arrow"></a> -->
                      <button [disabled]="isDisableBookBtn" (click)="bookFlight()" >Pay & Complete Booking <img src="{{s3BucketUrl}}assets/images/icon/right-arrow.svg" alt="Right Arrow"></button>
                      
                  </div>
              </div>
              <app-flight-confirmation *ngIf="bookingStatus==1" [bookingData]="bookingResult" ></app-flight-confirmation>
          </div>
          <div class="col-lg-4">
            <app-flight-summary (getRouteDetails)="getFlightSummaryData($event)"></app-flight-summary>
          </div>
      </div>
  </div>
</section>

<app-full-page-overlay-loader *ngIf="bookingLoader" image="{{s3BucketUrl}}assets/images/flight-load_im.png" title="Flights"></app-full-page-overlay-loader>