<section class="account_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <app-my-accounts-nav></app-my-accounts-nav>
            </div>
            <div class="col-lg-9">
                <div class="account_cnt_main ac_notifications ac_mywallet">
                    <div class="block_laycredit_points">
                        <div class="block_points_info">
                            <ul *ngIf="pointsLoading">
                                <li>
                                    <p class="fb_animation w-100 mb-0"></p>
                                </li>
                               <!--  <li>
                                    <p class="fb_animation w-100 mb-0"></p>
                                </li> -->
                            </ul>
                            <ul *ngIf="travellerPoints">
                                <!-- <li>
                                    <span>Current</span>
                                    <div class="block_point">
                                        Laycredit points
                                        <p>{{travellerPoints.total_available_points | number : '1.2-2'  || 0}}</p>
                                    </div>
                                </li> -->
                                <li>
                                    <span>Total</span>
                                    <div class="block_point">
                                        Available laytrip points
                                        <p>{{travellerPoints.total_available_points | number : '1.2-2' || 0}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="block_points_add" style="display: none;">
                            <a href="javascript:void(0);" [routerLink]="['/account/my-wallet/add-points']">
                                <div class="add_point_im">
                                    <span>
                                        <img src="{{s3BucketUrl}}assets/images/icon/ic_points_grey.svg"
                                            alt="Credit Icon">
                                    </span>
                                </div>
                                <span>+Add More Points</span>
                            </a>
                        </div>
                    </div>

                    <div class="block_notification_main">
                        <ul id="my_wallet_tabs" class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a href="#Earnings" class="nav-link active" data-toggle="tab" role="tab">
                                    Top Up
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#Redeemed" class="nav-link" data-toggle="tab" role="tab">
                                    Redeemed
                                </a>
                            </li>
                        </ul>
                        <div id="notification_content" class="tab-content" role="tablist">
                            <div id="Earnings" class="card tab-pane fade show active" role="tabpanel"
                                aria-labelledby="Earnings">
                                <div class="card-header" role="tab" id="heading-Earnings">
                                    <h5 class="mb-0">
                                        <a data-toggle="collapse" href="#collapse-Earnings" aria-expanded="true"
                                            aria-controls="collapse-Earnings">
                                            Earnings
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-Earnings" class="collapse show" data-parent="#notification_content"
                                    role="tabpanel" aria-labelledby="heading-Earnings">
                                    <div class="card-body">
                                        <div class="block_nocard_available" *ngIf="isEarningPointNotFound">
                                            <img src="{{s3BucketUrl}}assets/images/icon/Ic_no_creditcard_available.svg"
                                                alt="Card Icon">
                                            <h5>No Lay points available</h5>
                                        </div>
                                        <div class="block_notification">
                                            <div *ngIf="loading">
                                                <div class="block_list" *ngFor="let index of [0,1,2,3,4,5]">
                                                    <div class="block_point">
                                                        <p class="fb_animation w-100 mb-0"></p>
                                                    </div>
                                                    <div class="block_point_info">
                                                        <div class="block_point_left">
                                                            <p class="fb_animation w-100 mb-0"></p>
                                                        </div>
                                                        <div class="block_point_right">
                                                            <p class="fb_animation w-100 mb-0"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="!loading">
                                                <div class="block_list"
                                                    *ngFor="let item of earnedPoints; let i = index;">
                                                    <div class="block_point">
                                                        <img src="{{s3BucketUrl}}assets/images/icon/ic_points_pink.svg"
                                                            alt="">
                                                        {{item.points}} Points
                                                    </div>
                                                    <div class="block_point_info">
                                                        <div class="block_point_left">Laytrip points added</div>
                                                        <div class="block_point_right">
                                                            <span>{{ getDateFormat(item.earnDate) }}</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pagination_main">
                                                <div class="pagination_result">
                                                    <!-- <p>Showing 1 to {{pageSize}} of {{travelers.length}} Results</p> -->
                                                </div>
                                                <div class="pagination_list">
                                                    <ngb-pagination *ngIf="showPaginationBar"
                                                        class="d-flex justify-content-end" [collectionSize]="totalItems"
                                                        [(page)]="page" [pageSize]="pageSize" [boundaryLinks]="true"
                                                        [maxSize]="5" [rotate]="true" (pageChange)="pageChange($event)">
                                                    </ngb-pagination>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="Redeemed" class="card tab-pane fade" role="tabpanel" aria-labelledby="Redeemed">
                                <div class="card-header" role="tab" id="heading-Redeemed">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapse-Redeemed"
                                            aria-expanded="false" aria-controls="collapse-Laytrip point redeemed
                                            Redeemed">
                                            Redeemed
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-Redeemed" class="collapse" data-parent="#notification_content"
                                    role="tabpanel" aria-labelledby="heading-Redeemed">
                                    <div class="card-body">
                                        <div class="block_nocard_available" *ngIf="isRedeedemPointNotFound">
                                            <img src="{{s3BucketUrl}}assets/images/icon/Ic_no_creditcard_available.svg"
                                                alt="Card Icon">
                                            <h5>No Lay points available</h5>
                                        </div>
                                        <div class="block_notification">
                                            <div *ngIf="reedemloading">
                                                <div class="block_list">
                                                    <ul>
                                                        <li class="text_clr_orange w-100">
                                                            <p class="fb_animation w-100 mb-0"></p>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="block_list">
                                                    <ul>
                                                        <li class="text_clr_orange w-100">
                                                            <p class="fb_animation w-100 mb-0"></p>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="block_list">
                                                    <ul>
                                                        <li class="text_clr_orange w-100">
                                                            <p class="fb_animation w-100 mb-0"></p>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="block_list">
                                                    <ul>
                                                        <li class="text_clr_orange w-100">
                                                            <p class="fb_animation w-100 mb-0"></p>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="block_list">
                                                    <ul>
                                                        <li class="text_clr_orange w-100">
                                                            <p class="fb_animation w-100 mb-0"></p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div *ngIf="!reedemloading">
                                                <div class="block_list"
                                                    *ngFor="let item of redeemedPoints; let i = index;">
                                                    <div class="block_point">
                                                        <img src="{{s3BucketUrl}}assets/images/icon/ic_points_pink.svg"
                                                            alt="">
                                                        {{item.points}} Points
                                                    </div>
                                                    <div class="block_point_info">
                                                        <div class="block_point_left">Laytrip points redeemed</div>
                                                        <div class="block_point_right">
                                                            <span>{{ getDateFormat(item.redeemDate) }}</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pagination_main">
                                                <div class="pagination_result">
                                                    <!-- <p>Showing 1 to {{pageSize}} of {{travelers.length}} Results</p> -->
                                                </div>
                                                <div class="pagination_list">
                                                    <ngb-pagination *ngIf="showReedemPaginationBar"
                                                        class="d-flex justify-content-end"
                                                        [collectionSize]="totalReedemItems" [(page)]="page2"
                                                        [pageSize]="pageSize" [boundaryLinks]="true" [maxSize]="5"
                                                        [rotate]="true" (pageChange)="reedemPageChange($event)">
                                                    </ngb-pagination>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>