//    Font Family

$primary-font: 'Poppins',
sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color : #1943FF;
$secondary-color : #FC7E66;
$text-grey : #8188AB;
$text-black : #000000;
$text-white : #ffffff;
$text-blue : #1943FF;
$text-yellow : #FFDD0F;
$text-darkblue : #012178;
$text-lightblue : #00AEEF;
$background-white : #ffffff;
$background-grey : #8188AB;
$background-black : #000000;
$background-blue : #022177;
$bg-body : #F5F5F5;
$bg-light-grey : #F3F3F7;
$bg_dark-blue : #0029E0;
$border-color : #EFEFEF;
$tab-border-color:#CAD1DE;
$tab-bg : #F6F6FC;
$tab-active-bg : #FFF2EF;
$tab-text-color :#8188AB;
$box-border-color:#D6D6D6;
$review-color: #FFAC0F;
$bg-light-orange: #FC7E660D;
$text-light-grey: #D5D7E3;
$bg-black-opacity-half : rgba(0, 0, 0, 0.5);
$bg-blue-opacity-half : rgba(25, 67, 255, 0.5);

$bg-black-gradient : rgba(0, 0, 0, 0);
$bg-lightblack-gradient : rgba(0, 0, 0, 1);
$bg-secondary-gradient : rgba(252, 126, 102, 0);
$bg-white-gradient : rgba(255, 255, 255, 0.97);
$bg-whitelight-gradient : rgba(255, 255, 255, 0);
$bg-lightblue-gradient : rgba(0, 174, 239, 0.8);
$bg-lightyellow-gradient : rgba(255, 221, 15, 0.8);
$shadow_bg : rgba(0, 0, 0, 0.16);
$shadow_bg_light : rgba(252, 126, 102, 0.15);
$placeholder-text : rgba(129, 136, 171, 0.75);
$coming-soon-bg : rgba(0, 43, 234, 0.85);
$gradient-white : rgba(25, 67, 255, 0);
$gradient-blue : rgba(1, 33, 120, 0.75);
$gradient-lightblue : rgba(25, 67, 255, 1);
$gradient-darkblue : rgba(1, 33, 120, 1);
$bg-lightwhite : rgba(255, 255, 255, 0.08);
$bg-lightblue : rgba(1, 33, 120, 0.8);
$bg-halfwhite : rgba(255, 255, 255, 0.5);
$primary-bg-light : rgba(25, 67, 255, 0.08);
$white-bg-light : rgba(255, 255, 255, 0.1);
$border-blue-light : rgba(63, 48, 249, 0.2);
$shadow-color : rgba(202, 209, 222, 0.35);
$shadow-black : rgba(0, 0, 0, 0.08);
$shadow-black-light : rgba(0, 0, 0, 0.1);
$bg-summary-one : rgba(252, 126, 102, 1);
$bg-summary-two : rgba(1, 33, 120, 1);
$bg-light-green : rgba(25, 221, 0, 0.1);
$bg-popup-one : rgba(0, 191, 253, 1);
$paytype_bg : rgba(0, 174, 239, 0.08);


$bg_tab_active : #F7E7EC;
$border_tab_active : rgba(248, 38, 193, 0.35);



$light_border_clr : #c5c5c5;
$text_light_yellow : #FFAA00;
$text_light_grey : #919191;
$fb-bg : #EEF1F6;
$fb-bg-border : rgba(24, 84, 207, 0.15);
$social-bg : #FDEFEE;
$social-bg-border : rgba(24, 84, 207, 0.15);
$social-text-red : #CF2D48;
$social-text-black : #2A2A2A;
$social-text-facebook : #3B5999;
$error-color : #FF0000;
$bg-tab-detail : #ebf9fe;
$bg-light-grey : #FAFAFA;
$bg-title-grey : #F4F4F8;
$bg-green : #119300;
$bg-step-count : #E0E0E0;
$border-step-count : #8090BC;
$btn-bg : #00BFFD;
$tab-br-clr : #D8D4FE;
$bg-layover : rgba(0, 191, 253, 0.08);
$bg-yellow : #FEDD00;
$text-lightgreen : #19DD00;
$bg-crad : #F9FAFC;
$active-tab-text : #0043FF;
$text-orange : #FDA33E;
$bg-load_grey : #E9E9EC;
$text_blue : #0045FF;
$text_grey_dark : #707070;
$shadow_grey_light : rgba(2, 33, 119, 0.25);
$lightblue_bdr : #4D639F;
$popup_title_bg : #9A9FBB;
$feedback_text-clr : #D9D9D9;
$orange_light : #FFECEC;
$grey_light : #F5F4FA;
$disabled-text : #323233;
$switch_active_bg : #ced8fb;
$switch_bg : #0c4efe;
$alert_shadow : rgba(0, 0, 0, 0.18);

$bg-green-light : rgba(134, 255, 119, 0.66);
$bg-yellow-light : rgba(255, 170 , 0 , 0.38);
$bg-red-light: rgba(255, 162, 162, 0.54);


$fb-loader-bg : #F6F6F6;
$fb-loader-colorone : #f8f8f8;
$fb-loader-colortwo : #DBDBDB;

$info_bg: #2F86EB;
$warning_bg: #FFC021;
$success_bg: #47D764;

$covid_bg : #fffcf2;


$item-width: 65vw;
$transition-time: .7s;
$transition-text-time: $transition-time / 2;
$offset: 1em;
$mobile-bkp: 650px;

:root {
	--z-distance: $item-width / 7.63;
	--from-left: 1;
	--mobile-bkp: $mobile-bkp;
}
