//    Font Family

$primary-font: "Poppins", sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color: #1943ff;
$secondary-color: #fc7e66;
$text-grey: #8188ab;
$text-black: #000000;
$text-white: #ffffff;
$text-blue: #1943ff;
$text-yellow: #ffdd0f;
$text-darkblue: #012178;
$text-lightblue: #00aeef;
$background-white: #ffffff;
$background-grey: #8188ab;
$background-black: #000000;
$background-blue: #022177;
$bg-body: #f5f5f5;
$bg-light-grey: #f3f3f7;
$bg_dark-blue: #0029e0;
$border-color: #efefef;
$tab-border-color: #cad1de;
$tab-bg: #f6f6fc;
$tab-active-bg: #fff2ef;
$tab-text-color: #8188ab;
$box-border-color: #d6d6d6;
$review-color: #ffac0f;
$bg-light-orange: #fc7e660d;
$text-light-grey: #d5d7e3;
$bg-black-opacity-half: rgba(0, 0, 0, 0.5);
$bg-blue-opacity-half: rgba(25, 67, 255, 0.5);

$bg-black-gradient: rgba(0, 0, 0, 0);
$bg-lightblack-gradient: rgba(0, 0, 0, 1);
$bg-secondary-gradient: rgba(252, 126, 102, 0);
$bg-white-gradient: rgba(255, 255, 255, 0.97);
$bg-whitelight-gradient: rgba(255, 255, 255, 0);
$bg-lightblue-gradient: rgba(0, 174, 239, 0.8);
$bg-lightyellow-gradient: rgba(255, 221, 15, 0.8);
$shadow_bg: rgba(0, 0, 0, 0.16);
$shadow_bg_light: rgba(252, 126, 102, 0.15);
$placeholder-text: rgba(129, 136, 171, 0.75);
$coming-soon-bg: rgba(0, 43, 234, 0.85);
$gradient-white: rgba(25, 67, 255, 0);
$gradient-blue: rgba(1, 33, 120, 0.75);
$gradient-lightblue: rgba(25, 67, 255, 1);
$gradient-darkblue: rgba(1, 33, 120, 1);
$bg-lightwhite: rgba(255, 255, 255, 0.08);
$bg-lightblue: rgba(1, 33, 120, 0.8);
$bg-halfwhite: rgba(255, 255, 255, 0.5);
$primary-bg-light: rgba(25, 67, 255, 0.08);
$white-bg-light: rgba(255, 255, 255, 0.1);
$border-blue-light: rgba(63, 48, 249, 0.2);
$shadow-color: rgba(202, 209, 222, 0.35);
$shadow-black: rgba(0, 0, 0, 0.08);
$shadow-black-light: rgba(0, 0, 0, 0.1);
$bg-summary-one: rgba(252, 126, 102, 1);
$bg-summary-two: rgba(1, 33, 120, 1);
$bg-light-green: rgba(25, 221, 0, 0.1);
$bg-popup-one: rgba(0, 191, 253, 1);
$paytype_bg: rgba(0, 174, 239, 0.08);

$bg_tab_active: #f7e7ec;
$border_tab_active: rgba(248, 38, 193, 0.35);

$light_border_clr: #c5c5c5;
$text_light_yellow: #ffaa00;
$text_light_grey: #919191;
$fb-bg: #eef1f6;
$fb-bg-border: rgba(24, 84, 207, 0.15);
$social-bg: #fdefee;
$social-bg-border: rgba(24, 84, 207, 0.15);
$social-text-red: #cf2d48;
$social-text-black: #2a2a2a;
$social-text-facebook: #3b5999;
$error-color: #ff0000;
$bg-tab-detail: #ebf9fe;
$bg-light-grey: #fafafa;
$bg-title-grey: #f4f4f8;
$bg-green: #119300;
$bg-step-count: #e0e0e0;
$border-step-count: #8090bc;
$btn-bg: #00bffd;
$tab-br-clr: #d8d4fe;
$bg-layover: rgba(0, 191, 253, 0.08);
$bg-yellow: #fedd00;
$text-lightgreen: #19dd00;
$bg-crad: #f9fafc;
$active-tab-text: #0043ff;
$text-orange: #fda33e;
$bg-load_grey: #e9e9ec;
$text_blue: #0045ff;
$text_grey_dark: #707070;
$shadow_grey_light: rgba(2, 33, 119, 0.25);
$lightblue_bdr: #4d639f;
$popup_title_bg: #9a9fbb;
$feedback_text-clr: #d9d9d9;
$orange_light: #ffecec;
$grey_light: #f5f4fa;
$disabled-text: #323233;
$switch_active_bg: #ced8fb;
$switch_bg: #0c4efe;
$alert_shadow: rgba(0, 0, 0, 0.18);

$bg-green-light: rgba(134, 255, 119, 0.66);
$bg-yellow-light: rgba(255, 170, 0, 0.38);
$bg-red-light: rgba(255, 162, 162, 0.54);
$bg-pink-light: rgba(255, 140, 255, 0.52);

$fb-loader-bg: #f6f6f6;
$fb-loader-colorone: #f8f8f8;
$fb-loader-colortwo: #dbdbdb;

$info_bg: #2f86eb;
$warning_bg: #ffc021;
$success_bg: #47d764;

$covid_bg: #fffcf2;

$mid_gray_bg: #878787;
$blue-text: #1445f5;
$grayed_border: #bababa;
$tab-bg-gray: #E4E4E4;

$item-width: 65vw;
$transition-time: 0.7s;
$transition-text-time: $transition-time / 2;
$offset: 1em;
$mobile-bkp: 650px;

:root {
  --z-distance: $item-width / 7.63;
  --from-left: 1;
  --mobile-bkp: $mobile-bkp;
}

$clr_d6: #d6d6d6;
$blue-text-one: #0044fb;
$api_error_text: #ff7272;
$api_error_bg: rgba(255, 114, 114, 0.15);
