@import "_dr_home_variable.scss";
// NG-SELECT SCSS

.ng-select {
    &.laytrip-input {
        padding: 0 15px 0 0;
        .ng-dropdown-panel {
            top: 100%;
            background: $background-white;
            left: 0;
            width: 430px;
            @media (max-width: 767px) {
                width: 410px;
            }

            @media (max-width: 480px) {
                width: 100%;
            }
        }

        .ng-input {
            input {
                padding: 0;
            }
        }

        .ng-select-container {
            .ng-value-container {
                .ng-placeholder {
                    padding: 0 15px;
                }
            }
            span {
                &.ng-arrow-wrapper {
                    span {
                        &.ng-arrow {
                            margin: 0 !important;
                            padding: 0 !important;
                            font-size: 16px !important;
                            color: red !important;
                        }
                    }
                }
            }
        }

        .ng-select-opened {
            .ng-select-container {
                z-index: 0 !important;
            }
        }

        .ng-select-container {
            border: none !important;
            height: 100%;
            min-height: 0px !important;
            display: block;
            &:hover {
                box-shadow: none !important;
            }
            .ng-value-container {
                padding-left: 0px !important;
                .ng-input {
                    padding: 0 15px;
                    top: 0;
                    input {
                        padding-left: 0px !important;
                    }
                }
                .ng-value {
                    padding: 0 0 0 15px;
                    color: #000;
                    font-size: 16px;
                    font-weight: 600;
                    //overflow: unset !important;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
            .ng-clear-wrapper {
                padding: 0 0px 0px 5px !important;
                .ng-clear {
                    font-size: 17px !important;
                    color: red !important;
                }
            }
            .ng-arrow-wrapper {
                .ng-arrow {
                    display: none !important;
                }
            }
        }
        .ng-dropdown-panel {
            border: none !important;
            box-shadow: none !important;
            .ng-select-bottom {
                border-top-color: #fff !important;
            }
            .ng-dropdown-panel-items {
                max-height: 255px;
                //border: 1px solid #808080;
                .ng-option {
                    padding: 3px 3px 3px 10px !important;
                    font-size: 14px;
                    font-weight: normal;
                }

                .parent {
                    padding: 5px 5px 5px 30px;
                    background: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/icon/ic_dropdown_flight.svg)
                        no-repeat;
                    background-position: left center;
                    color: #012178;
                }
                .child {
                    padding: 5px 5px 5px 50px !important;
                    background: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/icon/dropdown-arrow-right.svg)
                        no-repeat;
                    background-position: left 25px center;
                    color: #808080;
                }
            }
        }
    }
    &.ng-customClass {
        .ng-select-container {
            height: 100%;
            border: none !important;
            display: flex;
            align-items: center;
            border-radius: 0;
            &:hover {
                box-shadow: none;
            }
            .ng-value-container {
                height: auto;

                .ng-value {
                    height: auto;
                    font-size: 14px;
                    color: #000000;
                }
                .ng-input {
                    height: auto;
                    input {
                        height: auto !important;
                        border: none !important;
                    }
                }
            }
        }
    }
}

// NG-SELECT FOCUS REMOVE CSS START
.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
    box-shadow: inset 0 1px 1px transparent, 0 0 0 3px transparent !important;
}
// NG-SELECT FOCUS REMOVE CSS END

.custom_range_slide .ng5-slider .ng5-slider-bar {
    background: #d8d8d8;
    height: 3px;
}

.custom_range_slide .ng5-slider .ng5-slider-selection {
    background: $pink_clr;
}

.custom_range_slide .ng5-slider .ng5-slider-pointer {
    width: 13px;
    height: 13px;
    top: auto; /* to remove the default positioning */
    // bottom: 0;
    top: -6px;
    background-color: #fff;
    border: 1px solid $pink_clr;
    border-radius: 50%;
    outline: none;
    // border-top-left-radius: 3px;
    // border-top-right-radius: 3px;
}

.custom_range_slide .ng5-slider .ng5-slider-pointer:after {
    display: none;
}

.redeem_laypoint .ng5-slider .ng5-slider-bubble {
    display: none;
}

.custom_range_slide {
    p {
        margin: 0;
        font-size: 14px;
        font-weight: 300;
        color: #8188ab;
    }
    .ng5-slider {
        margin: 15px 0;
        .ng5-slider-bubble {
            bottom: 14px;
            width: 100%;
            padding: 0;
            height: auto;
            border: none;
            font-size: 14px;
            font-weight: 300;
            color: #8188ab;
            display: none;
        }
    }
}

.custom_range_slide .ng5-slider .ng5-slider-limit {
    font-weight: bold;
    color: $pink_clr;
    display: none;
}

.custom_range_slide .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    background: $pink_clr;
}


.modify_search {
    .flight_tab {
        .tab-content {
            .flight_search {
                .flight-grid {
                    .grid_box.secound {
                        .search_area {
                            input {
                                background: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/icon/dr/dr_calender-icon.svg)
                                        center left 15px no-repeat !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.modify_search
    .flight_tab
    .tab-content
    .flight_search
    .flight-grid
    .grid_box.third
    .travellers
    .search_area
    .travel_info {
    height: 22px !important;
    margin-top: -3px !important;
    margin-bottom: 2px !important;
}

.calender_price {
    font-size: 9px;
    color: #012178;
}

.search_result {
    .result_listing.one_way_list {
        .search_block {
            .detail_info_show {
                .tab-content {
                    .card-body {
                        .tab_detail.baggage_rules_cnt {
                            .detail_right {
                                width: 100% !important;
                                table {
                                    width: 100% !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .result_listing.roundtrip_list {
        .search_block {
            .detail_info_show {
                .tab-content {
                    .card-body {
                        .tab_detail.baggage_rules_cnt {
                            .detail_right {
                                width: 100% !important;
                                table {
                                    width: 100% !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.anchor-text {
    cursor: pointer;
}

.hotel_tab .hotels_search .hotels-grid .grid_box.secound label {
    justify-content: flex-start !important;
}
