// NG-SELECT SCSS

.ng-select {
    &.laytrip-input {
        .ng-dropdown-panel {
            top: 100%;
            background: $background-white;
            left: 0;
        }

        .ng-input {
            input {
                padding: 0;
            }
        }

        .ng-select-container {
            .ng-value-container {
                .ng-placeholder {
                    padding: 0 15px;
                }
            }
            span {
                &.ng-arrow-wrapper {
                    span {
                        &.ng-arrow {
                            margin: 0 !important;
                            padding: 0 !important;
                            font-size: 16px !important;
                            color: red !important;
                        }
                    }
                }
            }
        }

        .ng-select-opened {
            .ng-select-container {
                z-index: 0 !important;
            }
        }
    
        .ng-select-container {
            border: none !important;
            height: 100%;
            min-height: 0px !important;
            &:hover {
                box-shadow: none !important;
            }
            .ng-value-container {
                padding-left: 0px !important;
                .ng-input {
                    input {
                        padding-left: 0px !important;
                    }
                }
            }
            .ng-clear-wrapper {
                padding: 0 0px 0px 5px !important;
                .ng-clear {
                    font-size: 17px !important;
                    color: red !important;
                }
            }
            .ng-arrow-wrapper {
                .ng-arrow {
                    display: none !important;
                }
            }
        }
        .ng-dropdown-panel {
            border: none !important;
            box-shadow: none !important;
            .ng-select-bottom {
                border-top-color: #fff !important;
            }
            .ng-dropdown-panel-items {
                .ng-option {
                    padding: 0px 0px !important;
                }
            }
        }

        

    }
    &.ng-customClass{
        .ng-select-container{
            height:100%;	
            border:none !important;
            display: flex;
            align-items: center;
            &:hover{
                box-shadow: none;
            }
        }
    }
}

// NG-SELECT FOCUS REMOVE CSS START
.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
    box-shadow: inset 0 1px 1px transparent, 0 0 0 3px transparent !important;
}
// NG-SELECT FOCUS REMOVE CSS END

.custom_range_slide .ng5-slider .ng5-slider-bar {
    background: #d8d8d8;
    height: 3px;
}

.custom_range_slide .ng5-slider .ng5-slider-selection {
    background: #fc7e66;
}

.custom_range_slide .ng5-slider .ng5-slider-pointer {
    width: 13px;
    height: 13px;
    top: auto; /* to remove the default positioning */
    // bottom: 0;
    top: -6px;
    background-color: #fff;
    border: 1px solid #fc7e66;
    border-radius: 50%;
    // border-top-left-radius: 3px;
    // border-top-right-radius: 3px;
}

.custom_range_slide .ng5-slider .ng5-slider-pointer:after {
    display: none;
}

.custom_range_slide .ng5-slider .ng5-slider-bubble {
    bottom: 14px;
    width: 100%;
    padding: 0;
    height: auto;
    border: none;
    font-size: 14px;
    font-weight: 300;
    color: #8188ab;
}

.custom_range_slide .ng5-slider .ng5-slider-limit {
    font-weight: bold;
    color: #fc7e66;
    display: none;
}

.custom_range_slide .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    background: #fc7e66;
}
