@import "_dr_home_variable.scss";
@import "_hotel.scss";
// NG-SELECT SCSS

.ng-select {
    &.laytrip-input {
        padding: 0 15px 0 0;

        .ng-dropdown-panel {
            top: 100%;
            background: $background-white;
            left: 0;
            width: 480px;

            @media (max-width: 767px) {
                width: 410px;
            }

            @media (max-width: 480px) {
                width: 100%;
            }
        }

        .ng-input {
            input {
                padding: 0;
            }
        }

        .ng-select-container {
            .ng-value-container {
                .ng-placeholder {
                    padding: 0 15px;
                }
            }

            span {
                &.ng-arrow-wrapper {
                    span {
                        &.ng-arrow {
                            margin: 0 !important;
                            padding: 0 !important;
                            font-size: 16px !important;
                            color: red !important;
                        }
                    }
                }
            }
        }

        .ng-select-opened {
            .ng-select-container {
                z-index: 0 !important;
            }
        }

        .ng-select-container {
            border: none !important;
            height: 100%;
            min-height: 0px !important;
            display: block;

            &:hover {
                box-shadow: none !important;
            }

            .ng-value-container {
                padding-left: 0px !important;

                .ng-input {
                    padding: 0 15px;
                    top: 0;

                    input {
                        padding-left: 0px !important;
                    }
                }

                .ng-value {
                    padding: 5px 0px 0 15px;
                    color: #000;
                    font-size: 16px;
                    font-weight: 600;
                    //overflow: unset !important;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }

            .ng-clear-wrapper {
                padding: 0 0px 0px 5px !important;

                .ng-clear {
                    font-size: 17px !important;
                    color: red !important;
                }
            }

            .ng-arrow-wrapper {
                .ng-arrow {
                    display: none !important;
                }
            }
        }

        .ng-dropdown-panel {
            border: none !important;
            box-shadow: none !important;

            .ng-select-bottom {
                border-top-color: #fff !important;
            }

            .ng-dropdown-panel-items {
                max-height: 255px;

                //border: 1px solid #808080;
                .ng-option {
                    padding: 3px 3px 3px 10px !important;
                    font-size: 14px;
                    font-weight: normal;
                }

                .parent {
                    padding: 5px 5px 5px 30px;
                    background: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/icon/ic_dropdown_flight.svg) no-repeat;
                    background-position: left center;
                    color: #012178;
                }

                .child {
                    padding: 5px 5px 5px 50px !important;
                    background: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/icon/dropdown-arrow-right.svg) no-repeat;
                    background-position: left 25px center;
                    color: #808080;

                    @include tab-view {
                        padding: 5px 5px 5px 24px !important;
                        background-position: left 5px center;
                    }
                }
            }
        }

        &.custom_inputs {
            .ng-select-container {
                .ng-value-container {
                    .ng-value {
                        padding: 3px 0 0 0;
                        max-width: 275px;
                        width: 100%;

                        @include mini-screen {
                            max-width: 215px;
                        }

                        @include tab-view {
                            max-width: 175px;
                        }

                        @include mobile-sm-view {
                            max-width: 215px;
                        }
                    }

                    .ng-input {
                        padding-left: 0;
                    }
                }
            }
        }
    }

    &.ng-customClass {
        .ng-select-container {
            height: 100%;
            border: none !important;
            display: flex;
            align-items: center;
            border-radius: 0;

            &:hover {
                box-shadow: none;
            }

            .ng-value-container {
                height: auto;

                .ng-value {
                    height: auto;
                    font-size: 14px;
                    color: #000000;
                }

                .ng-input {
                    height: auto;

                    input {
                        height: auto !important;
                        border: none !important;
                    }
                }
            }
        }
    }

    &.from_to_inputs {
        .ng-input {
            input {
                padding: 0;
            }
        }

        .ng-select-container {
            .ng-value-container {

                //width: 100%;
                .ng-placeholder {
                    padding: 3px 0 0 0;
                    font-size: 16px;
                }
            }

            .ng-clear-wrapper {
                display: none;
                /* position: absolute;
                top: 0;
                right: 0;
                span{
                    position: absolute;
                    top: 0;
                    right: 0;
                } */
            }
        }

    }

    &.country_code {
        .ng-select-container {
            .ng-value-container {
                .ng-value {
                    width: 50px;
                }

                .ng-arrow-wrapper {
                    .ng-arrow {
                        top: -4px;
                    }
                }
            }
        }
    }

    &.account_telephone_n {
        .ng-select-container {
            .ng-value-container {
                .ng-value {
                    color: $mid_gray_bg;
                    font-size: 16px
                }
            }
        }
    }
}

// NG-SELECT FOCUS REMOVE CSS START
.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    box-shadow: inset 0 1px 1px transparent, 0 0 0 3px transparent !important;
}

// NG-SELECT FOCUS REMOVE CSS END

.custom_range_slide .ng5-slider .ng5-slider-bar {
    background: #d8d8d8;
    height: 3px;
}

// .custom_range_slide .ng5-slider .ng5-slider-selection {
//     background: $pink_clr;
// }

.custom_range_slide .ng5-slider .ng5-slider-pointer {
    width: 13px;
    height: 13px;
    top: auto;
    /* to remove the default positioning */
    // bottom: 0;
    top: -6px;
    background-color: #fff;
    // border: 1px solid $pink_clr;
    border-radius: 50%;
    outline: none;
    // border-top-left-radius: 3px;
    // border-top-right-radius: 3px;
}

.custom_range_slide .ng5-slider .ng5-slider-pointer:after {
    display: none;
}

.redeem_laypoint .ng5-slider .ng5-slider-bubble {
    display: none;
}

.custom_range_slide .ng5-slider .ng5-slider-selection {
    background: $text_light_yellow;
}

.custom_range_slide .ng5-slider .ng5-slider-pointer {
    border: 1px solid $text_light_yellow;
    background-color: $text_light_yellow;
    width: 16px;
    height: 16px;
    top: -7px;
}

.custom_range_slide {
    p {
        margin: 0;
        font-size: 14px;
        font-weight: 300;
        color: #8188ab;
    }

    .ng5-slider {
        margin: 15px 0;

        .ng5-slider-bubble {
            bottom: 14px;
            width: 100%;
            padding: 0;
            height: auto;
            border: none;
            font-size: 14px;
            font-weight: 300;
            color: #8188ab;
            display: none;
        }
    }
}

.custom_range_slide .ng5-slider .ng5-slider-limit {
    font-weight: bold;
    // color: $pink_clr;
    display: none;
}

// .custom_range_slide .ng5-slider .ng5-slider-tick.ng5-slider-selected {
//     background: $pink_clr;
// }

.modify_search {
    .flight_tab {
        .tab-content {
            .flight_search {
                .flight-grid {
                    .grid_box.secound {
                        .search_area {
                            input {
                                background: url(http://d2q1prebf1m2s9.cloudfront.net/assets/images/icon/dr/dr_calender-icon.svg) center left 15px no-repeat !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.modify_search .flight_tab .tab-content .flight_search .flight-grid .grid_box.third .travellers .search_area .travel_info {
    height: 22px !important;
    margin-top: -3px !important;
    margin-bottom: 2px !important;
}

.calender_price {
    font-size: 9px;
    color: #012178;
}

.search_result {
    .result_listing.one_way_list {
        .search_block {
            .detail_info_show {
                .tab-content {
                    .card-body {
                        .tab_detail.baggage_rules_cnt {
                            .detail_right {
                                width: 100% !important;

                                table {
                                    width: 100% !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .result_listing.roundtrip_list {
        .search_block {
            .detail_info_show {
                .tab-content {
                    .card-body {
                        .tab_detail.baggage_rules_cnt {
                            .detail_right {
                                width: 100% !important;

                                table {
                                    width: 100% !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.anchor-tag {
    cursor: pointer;
}

.hotel_tab .hotels_search .hotels-grid .grid_box.secound label {
    justify-content: flex-start !important;
}

.custom-z-index {
    z-index: 99999 !important;
}

.ui-progressbar {
    height: 2em !important;
    text-align: left !important;
    overflow: hidden !important;
}

.ui-progressbar .ui-progressbar-value {
    margin: -1px !important;
    height: 100% !important;
}

.ui-progressbar .ui-progressbar-overlay {
    background: url("data:image/gif;base64,R0lGODlhKAAoAIABAAAAAP///yH/C05FVFNDQVBFMi4wAwEAAAAh+QQJAQABACwAAAAAKAAoAAACkYwNqXrdC52DS06a7MFZI+4FHBCKoDeWKXqymPqGqxvJrXZbMx7Ttc+w9XgU2FB3lOyQRWET2IFGiU9m1frDVpxZZc6bfHwv4c1YXP6k1Vdy292Fb6UkuvFtXpvWSzA+HycXJHUXiGYIiMg2R6W459gnWGfHNdjIqDWVqemH2ekpObkpOlppWUqZiqr6edqqWQAAIfkECQEAAQAsAAAAACgAKAAAApSMgZnGfaqcg1E2uuzDmmHUBR8Qil95hiPKqWn3aqtLsS18y7G1SzNeowWBENtQd+T1JktP05nzPTdJZlR6vUxNWWjV+vUWhWNkWFwxl9VpZRedYcflIOLafaa28XdsH/ynlcc1uPVDZxQIR0K25+cICCmoqCe5mGhZOfeYSUh5yJcJyrkZWWpaR8doJ2o4NYq62lAAACH5BAkBAAEALAAAAAAoACgAAAKVDI4Yy22ZnINRNqosw0Bv7i1gyHUkFj7oSaWlu3ovC8GxNso5fluz3qLVhBVeT/Lz7ZTHyxL5dDalQWPVOsQWtRnuwXaFTj9jVVh8pma9JjZ4zYSj5ZOyma7uuolffh+IR5aW97cHuBUXKGKXlKjn+DiHWMcYJah4N0lYCMlJOXipGRr5qdgoSTrqWSq6WFl2ypoaUAAAIfkECQEAAQAsAAAAACgAKAAAApaEb6HLgd/iO7FNWtcFWe+ufODGjRfoiJ2akShbueb0wtI50zm02pbvwfWEMWBQ1zKGlLIhskiEPm9R6vRXxV4ZzWT2yHOGpWMyorblKlNp8HmHEb/lCXjcW7bmtXP8Xt229OVWR1fod2eWqNfHuMjXCPkIGNileOiImVmCOEmoSfn3yXlJWmoHGhqp6ilYuWYpmTqKUgAAIfkECQEAAQAsAAAAACgAKAAAApiEH6kb58biQ3FNWtMFWW3eNVcojuFGfqnZqSebuS06w5V80/X02pKe8zFwP6EFWOT1lDFk8rGERh1TTNOocQ61Hm4Xm2VexUHpzjymViHrFbiELsefVrn6XKfnt2Q9G/+Xdie499XHd2g4h7ioOGhXGJboGAnXSBnoBwKYyfioubZJ2Hn0RuRZaflZOil56Zp6iioKSXpUAAAh+QQJAQABACwAAAAAKAAoAAACkoQRqRvnxuI7kU1a1UU5bd5tnSeOZXhmn5lWK3qNTWvRdQxP8qvaC+/yaYQzXO7BMvaUEmJRd3TsiMAgswmNYrSgZdYrTX6tSHGZO73ezuAw2uxuQ+BbeZfMxsexY35+/Qe4J1inV0g4x3WHuMhIl2jXOKT2Q+VU5fgoSUI52VfZyfkJGkha6jmY+aaYdirq+lQAACH5BAkBAAEALAAAAAAoACgAAAKWBIKpYe0L3YNKToqswUlvznigd4wiR4KhZrKt9Upqip61i9E3vMvxRdHlbEFiEXfk9YARYxOZZD6VQ2pUunBmtRXo1Lf8hMVVcNl8JafV38aM2/Fu5V16Bn63r6xt97j09+MXSFi4BniGFae3hzbH9+hYBzkpuUh5aZmHuanZOZgIuvbGiNeomCnaxxap2upaCZsq+1kAACH5BAkBAAEALAAAAAAoACgAAAKXjI8By5zf4kOxTVrXNVlv1X0d8IGZGKLnNpYtm8Lr9cqVeuOSvfOW79D9aDHizNhDJidFZhNydEahOaDH6nomtJjp1tutKoNWkvA6JqfRVLHU/QUfau9l2x7G54d1fl995xcIGAdXqMfBNadoYrhH+Mg2KBlpVpbluCiXmMnZ2Sh4GBqJ+ckIOqqJ6LmKSllZmsoq6wpQAAAh+QQJAQABACwAAAAAKAAoAAAClYx/oLvoxuJDkU1a1YUZbJ59nSd2ZXhWqbRa2/gF8Gu2DY3iqs7yrq+xBYEkYvFSM8aSSObE+ZgRl1BHFZNr7pRCavZ5BW2142hY3AN/zWtsmf12p9XxxFl2lpLn1rseztfXZjdIWIf2s5dItwjYKBgo9yg5pHgzJXTEeGlZuenpyPmpGQoKOWkYmSpaSnqKileI2FAAACH5BAkBAAEALAAAAAAoACgAAAKVjB+gu+jG4kORTVrVhRlsnn2dJ3ZleFaptFrb+CXmO9OozeL5VfP99HvAWhpiUdcwkpBH3825AwYdU8xTqlLGhtCosArKMpvfa1mMRae9VvWZfeB2XfPkeLmm18lUcBj+p5dnN8jXZ3YIGEhYuOUn45aoCDkp16hl5IjYJvjWKcnoGQpqyPlpOhr3aElaqrq56Bq7VAAAOw==") !important;
    height: 100% !important;
    filter: alpha(opacity=25) !important;
    /* support: IE8 */
    opacity: 0.25 !important;
}

.ui-progressbar-indeterminate .ui-progressbar-value {
    background-image: none !important;
}