@import "_cstm-variable.scss";
/*------------- color variables ------------*/
$pink: #F826C1;
$hotel-secondary-color : #F826C1;
$bg-grey-light : #D6D6D6;
@function color($color-name) {
    @return map-get($colors , $color-name )
};
/*------------- color variables ------------*/

/*----------------- responsive variations -----------------*/
$tab-max: 1032px;
$ipad-view: 991px;
$tab-view: 768px;
$mobile-view: 558px;

@mixin  tab-max {
    @media (max-width: #{$tab-max}) {
        @content;
    }
}
@mixin  ipad-view {
    @media (max-width: #{$ipad-view}) {
        @content;
    }
}
@mixin  tab-view {
    @media (max-width: #{$tab-view}) {
        @content;
    }
}
@mixin  mobile-view {
    @media (max-width: #{$mobile-view}) {
        @content;
    }
}
/*----------------- responsive variations -----------------*/