.model-animated {
  animation-duration: 1s;
  animation-name: slideRightLeft;
}

@keyframes slideRightLeft {

  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

input.border-css.ng-pristine.ng-invalid.ng-touched {
  border: 1px solid #f4516c !important;
}

input.border-css.ng-touched.ng-dirty ng-invalid {
  border: 1px solid #f4516c !important;
}


.detail_info_main {
  &.add_passenger {
    .detail_info_left {
      .block_passanger_info {
        .passanger_detail_main {
          .block_passenger_detail {
            .card_add_pass {
              .card-body {
                .block_add_passenger {
                  .form_row {
                    .form_field {
                      &.half {
                        .custom_datpicker {
                          border: none;
                          border-bottom: 1px solid #E0E2E5;

                          &:focus {
                            outline: none;
                            box-shadow: none;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


//Traveller Page dob  
.detail_info_main {
  &.add_passenger {
    .detail_info_left {
      .block_passanger_info {
        .passanger_detail_main {
          .block_passenger_detail {
            .block_passenger_info {
              .card_add_pass {
                .card-body {
                  .block_add_passenger {
                    .form_row {
                      .form_field {
                        .text_field {

                          .ui-calendar {
                            width: 100%;
                          }

                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

//Payment history list page datepicker
.account_part {
  .account_cnt_main {
    &.booking_main {
      .block_filter_payment {
        .filter_form {
          .form_row {
            .form_field {
              .ui-calendar {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

//Traveller Edit .ui-calendar
.cmn_add_edit_modal {
  .modal-dialog {
    .modal-content {
      .card_modal_cnt {
        .modal_btm {
          .add_card_form {
            .form_row {
              .form_field {
                .ui-calendar {
                  width: 100%;
                }
                .text_field {
                  .phone_no {
                    .code {
                      .dropdown{
                        width: 150px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

//Profile page date picker 
.account_part {
  .account_cnt_main {
    .update_info {
      .update_info_right {
        .form_row {
          .form_field.half {
            .field_inn {
              .text_field {
                .ui-calendar {
                  width: 100%;
                  input{
                    padding: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.account_part {
  .account_cnt_main {
    .update_location_detail {
      .detail_update {
        .form_row {
          .field_bolck {
            .field_inn {
              .ui-calendar {
                width: 100%;                
              }
              .passport_expiry_cal{
                .ui-calendar{
                  .ui-datepicker{
                    min-width: auto;
                    width: 200px !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.cmn_add_edit_modal {
	.modal-dialog {
		.modal-content {
			.modal-body {
				.add_card_form {
					.form_row {
						.form_field.half {
							.text_field {
                .ui-calendar {
                  width: 100%;
                }   
                .phone_no {
									.code {
										width: 150px;
									}
								}             
              }
              
						}
					}
				}
			}
		}
	}
}

//Check Out page number dropdown issue
.detail_info_main.payment_info {
  .detail_info_left {
    .block_payment {
      .installment_main {
        .block_installment_option {
          .installment_top {
            .tab-content {
              .installment_ingo {
                .accordion {
                  .accordion-group {
                    .accordion-heading {
                      .accordion-toggle {
                        .block_pay_instalment {
                          .block_amount {
                            input {
                              -moz-appearance: textfield !important;
                              -webkit-appearance: none;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

::ng-deep{
  .account_part {
    .account_cnt_main {
      .update_location_detail {
        .detail_update {
          .form_row {
            .field_bolck {
              .field_inn {
                .text_field {
                  .passport_expiry_cal{                  
                    .ui-calendar {                    
                        .ui-datepicker {
                          width: 200px !important;
                          min-width: auto !important;
                        }                        
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  } 
} 
::ng-deep{
  .ui-calendar {
    .ui-datepicker{
      width: 200px !important;
      min-width: 200px !important;
    }
  }
}

.ng-select.ng-customClass {
	.ng-select-container {
		.ng-value-container {
      padding-left: 0;
      .ng-placeholder{
				font-size: 14px;
      }
      
		}
	}
}
.search_result {
	.result_listing.roundtrip_list {
		.search_block {
			.detail_info_show {
				.nav-tabs {
					li {
						width: 33% !important;
					}
				}
			}
		}
	}
}
.hover-link{cursor: pointer;}