<app-flight-search-bar></app-flight-search-bar>
<section class="search_result flight pb-0" *ngIf="loading">
  <app-flight-loader></app-flight-loader>
</section>
<section class="search_result flight" *ngIf="!loading">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <app-sort-flight></app-sort-flight>
        <app-filter-flight></app-filter-flight>
      </div>
      <div class="col-lg-9">
        <app-flight-price-slider></app-flight-price-slider>
        <app-flight-item-wrapper></app-flight-item-wrapper>
      </div>
    </div>
  </div>
</section>
<section class="search_result flight pb-0" *ngIf="isNotFound">
  <app-flight-not-found></app-flight-not-found>
</section>