<div class="tab-pane fade show" id="hotel" role="tabpanel" aria-labelledby="nav-hotel">
  <!-- hotel section -->
  <div class="hotel_tab">
    <form action="post">
      <div class="flight_search">
        <ul class="flight-grid oneway">
          <li class="grid_box first">
            <div class="hotel_where">
              <div class="search_area">
                <!-- <input type="text" name="form" maxlength="20" tabindex="1" placeholder="New York" /> <span>NY, United
                  States</span> -->
                <app-search-hotel [form]="hotelSearchForm" [controlName]="'fromDestination'" [id]="'fromSearch'"
                  [label]="'DESTINATION'" [placeHolder]=defaultCity [defaultSelected]=defaultHotelCountry [tabIndex]=1
                  [defaultCity]=defaultCity (changeValue)="destinationChangedValue($event)">
                </app-search-hotel>
              </div>
            </div>
          </li>
          <li class="grid_box secound">
            <div class="date_form">
              <div class="search_area">
                <label>Check In</label>
                <input type="text" name="date_checkin" maxlength="10" tabindex="3" placeholder="22 Jul’20 Friday" />
                <div class="prev-next"> <a href="javascript:void(0);">Prev</a>
                  <a href="javascript:void(0);">Next</a> </div>
                <div class="date_icon"> <img src="{{s3BucketUrl}}assets/images/icon/dr/dr_calender-icon.svg"
                    alt="Calender Icon">
                </div>
              </div>
            </div>
            <div class="date_to">
              <div class="search_area">
                <label>Check OUT</label>
                <input type="text" name="date_checkout" maxlength="10" tabindex="4" placeholder="22 Jul’20 Friday" />
                <div class="prev-next"> <a href="javascript:void(0);">Prev</a>
                  <a href="javascript:void(0);">Next</a> </div>
                <div class="date_icon"> <img src="{{s3BucketUrl}}assets/images/icon/dr/dr_calender-icon.svg"
                    alt="Calender Icon">
                </div>
              </div>
            </div>
          </li>
          <li class="grid_box third">
            <div class="travellers">
              <app-guest-info label="GUEST" (changeValue)="changeGuestInfo($event)"></app-guest-info>
            </div>
          </li>
        </ul>
        <div class="serch_btn">
          <button>Search Hotels <img src="{{s3BucketUrl}}assets/images/icon/right-arrow.svg"
              alt="Right Arrow" /></button>
        </div>
      </div>
    </form>
  </div>
</div>