@import "../../../../../../cstm-variable";
@import "../../../../../../_cstm-variable.scss";
@import "../../../../../../_cstm-components.scss";
@import "../../../../../../_hotel.scss";
@import "../../../../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
#hotel_accordions_booking {
    .card {
        border: 1px solid #D6D6D6;
        border-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: 0;
        padding-bottom: 0;
        background: transparent;
        .card-header {
            background-color: transparent;
            border: none;
            padding: 15px;
            .card-link {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                &[aria-expanded="true"] {
                    &:after {
                        content: "";
                        position: relative;
                        padding: 5px 9px;
                        background-image: url(https://d2q1prebf1m2s9.cloudfront.net/assets/images/arrow_up_dropdown.svg);
                        background-position: right;
                        background-repeat: no-repeat;
                        background-size: 14px;
                        transition: 0.3s;
                        right: 0;
                        border: none;
                        @include tab-view {
                            top: 20px;
                            right: 10px;
                            position: absolute;
                        }
                    }
                }
                &[aria-expanded="false"] {
                    &:after {
                        position: relative;
                        padding: 5px 9px;
                        background-image: url(https://d2q1prebf1m2s9.cloudfront.net/assets/images/arrow_dropdown.svg);
                        background-position: right;
                        background-repeat: no-repeat;
                        background-size: 14px;
                        content: "";
                        transition: 0.3s;
                        right: 0;
                        border: none;
                        @include tab-view {
                            top: 20px;
                            right: 10px;
                            position: absolute;
                        }
                    }
                }
                .header_image {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    width: 96%;
                    .title_image {
                        border: 2px solid $blue-text-one;
                        border-radius: 50%;
                        padding: 5px;
                        height: 38px;
                        width: 38px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 15px;
                        @include tab-view {
                            margin-right: 5px;
                            width: 43.3px;
                        }
                        img {
                            width: 24px;
                            @include tab-view {
                                width: 18px;
                            }
                        }
                    }
                    .hotel_dets {
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex-direction: column;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 100%;
                        .hotel_name {
                            font-size: 27px;
                            color: $text-black;
                            font-weight: 600;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            width: 100%;
                            @include tab-view {
                                font-size: 24px;
                            }
                        }
                        .hotel_address {
                            font-size: 16px;
                            color: $mid_gray_bg;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            width: 100%;
                            @include tab-view {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
        .custom_body_box {
            padding: 0 15px 0;
            .hotel_card {
                &.hotel_card_wrps {
                    margin-bottom: 10px;
                }
                &.card {
                    border-radius: 10px;
                    border: 1px solid $grayed_border;
                    //margin-top: 10px;
                    // &:last-child{
                    //     margin-bottom: 0px;
                    // }
                    .card-body {
                        padding: 10px;
                        .hotel_upper_inner {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 10px;
                            .col_boxs {
                                color: $mid_gray_bg;
                                font-size: 16px;
                                @include tab-view {
                                    font-size: 14px;
                                    display: flex;
                                    align-items: baseline;
                                }
                                span {
                                    color: $text-black;
                                    font-weight: 600;
                                    margin-right: 5px;
                                    @include tab-view {
                                        min-width: 80px;
                                    }
                                }
                            }
                            .desk_box {
                                @include tab-view {
                                    display: none;
                                }
                            }
                            .responsive_boxes {
                                display: none;
                                @include tab-view {
                                    display: flex;
                                    width: 100%;
                                    justify-content: space-between;
                                }
                            }
                        }
                        .hotel_lower_inner {
                            span {
                                display: flex;
                                align-items: flex-start;
                                color: $mid_gray_bg;
                                font-size: 16px;
                                @include tab-view {
                                    font-size: 12px;
                                }
                                &::before {
                                    content: "";
                                    padding: 7.5px;
                                    border-radius: 50%;
                                    background-color: $pink;
                                    display: flex;
                                    margin-right: 5px;
                                    margin-top: 3px;
                                    @include tab-view {
                                        padding: 4px;
                                        margin-top: 4px;
                                    }
                                }
                            }
                        }
                        .cta_btn_wrps {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            margin-top: 10px;
                            a {
                                background-color: transparent;
                                color: $text_light_yellow;
                                border: none;
                                box-shadow: none;
                                font-size: 15px;
                                padding: 0;
                                @include tab-view {
                                    font-size: 12px;
                                }
                                &:hover {
                                    outline: none;
                                    border: none;
                                }
                                &:focus {
                                    outline: none;
                                    border: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.sub_accordions {
    margin-top: 15px;
    .card-body {
        padding: 0;
    }
}