<!-- Start Partial Payment Section-->
<section class="partial_payment">
  <div class="container">
      <div class="row">
          <div class="col-lg-7 offset-lg-5">
              <div class="partial_payment_info">
                  <h6>laytrip</h6>
                  <h3><span>Partial </span>Payment</h3>
                  <div class="payment_info_txt">
                      <p>We believe travelling should be accessible to all!</p>
                      <p>laytrip makes it possible to split the total amount of your travel into multiple deposits, while locking-in your booking price, giving you planning and payment options.</p>
                      <p>The payments are flexible and are not charged with an interest</p>
                  </div>
                  <div class="how_work">
                      <span>How It works</span>
                      <p>Start Your Trip Booking and Make Full Payment OR</p>
                      <ul>
                          <li>Pay Weekly</li>
                          <li>Pay Biweekly</li>
                          <li>Pay Monthly</li>
                      </ul>
                      <a class="learn_btn hover-link"  [routerLink]="['partial-payment']" >Learn More <img src="{{s3BucketUrl}}assets/images/icon/right-arrow.svg" alt="Right Arrow"></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Close Partial Payment Section-->