<!-- Start Partial Payment Section-->
<section class="partial_payment">
    <div class="container">
        <div class="row">
            <div class="partial_payment_info">
                <div class="partial_info_sections">
                    <div class="pay_info_inner_wrapper">
                        <div class="pay_type_img_wrap">
                            <img src="{{s3BucketUrl}}assets/images/calendarPay.svg" alt="calendarPay">
                        </div>
                        <div class="pay_title">Installment Payment Plans</div>
                        <p>Book now, pay most of your itinerary later</p>
                    </div>
                </div>
                <div class="partial_info_sections">
                    <div class="pay_info_inner_wrapper">
                        <div class="pay_type_img_wrap">
                            <img src="{{s3BucketUrl}}assets/images/credit-cardPay.svg" alt="credit-cardPay">
                        </div>
                        <div class="pay_title">No Interest<br> No Credit Check</div>
                        <p>Anyone can book travel</p>
                    </div>
                </div>
                <div class="partial_info_sections">
                    <div class="pay_info_inner_wrapper">
                        <div class="pay_type_img_wrap">
                            <img src="{{s3BucketUrl}}assets/images/pcPay.svg" alt="pcPay">
                        </div>
                        <div class="pay_title">One-stop Travel</div>
                        <p>Book everything on Laytrip</p>
                    </div>
                </div>
            </div>
            <div class="cta_extra_btn_wrapper">
                <button (click)="redirectToAboutPage()">
                    Learn More
                </button>
            </div>
        </div>
    </div>
</section>
<!-- Close Partial Payment Section-->