<ng-scrollbar #scrollable [invertX]="invertX" [invertY]="invertY" [trackX]="true" [compact]="compact" [shown]="shown"
  [disableOnBreakpoints]="false">
<div class="fliter_block">
  <div class="cmn_block price">
    <div class="block_top_in">
      <h5>Price</h5>
    </div>
    <ul class="block_price_radio">
      <li>
        <label class="custom_radio">Total
          <input type="radio" [checked]="sortType=='filter_total_price'" name="fl_price_radio"
            (click)="filterRentalByPrice('total','filter_total_price')">
          <span class="checkmark"></span> </label>
      </li>
      <li>
        <label class="custom_radio">Weekly
          <input type="radio" [checked]="sortType=='filter_weekly_price'" name="fl_price_radio"
            (click)="filterRentalByPrice('weekly','filter_weekly_price')"> <span class="checkmark"></span> </label>
      </li>
    </ul>
   <form [formGroup]="priceSlider">
      <div class="custom_range_slide">
        <p>{{ currency?.symbol }}{{priceValue}} - {{ currency?.symbol }}{{priceHighValue}}</p>
        <ng5-slider *ngIf="priceValue && priceOptions && priceHighValue" [(value)]="priceValue"
          [(highValue)]="priceHighValue" formControlName="price" [options]="priceOptions"
          (userChangeEnd)="fliterByPrice($event)"></ng5-slider>
        <!-- *ngIf="priceValue && priceOptions && priceHighValue" -->
      </div>
    </form>
  </div>
  <div class="cmn_block">
    <div class="block_top_in">
      <h5>Home Rental Name</h5>
    </div>
    <div class="searchbar_box">
       <ng-select [(ngModel)]="rentalname" [items]="homeData" bindLabel="rentalName" [loading]=""
        placeholder="Search Home" [clearable]="false" [selectOnTab]="true">
      </ng-select>
      <div class="search_btns">
        <a (click)="clearRentalSearch()">Clear</a>
        <a (click)="searchRental()">Search</a>
      </div>
    </div>
  </div>
  <div class="cmn_block pad_no">
    <div class="accordion block_shortby" id="accordion-amenities">
      <div class="accordion-group">
        <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse"
            data-parent="#accordion-amenities" href="#collapseInbound">
            Amenities
          </a> </div>
        <div id="collapseInbound" class="accordion-body filter_acc collapse">
          <div class="accordion-inner">
            <div class="block_cmn stop">
              <ul>
                <li *ngFor="let item of amenities">
                  <label class="custom_checkbox">
                    <input type="checkbox" value="{{item}}" (click)="filterByAmenities($event,item)"> <span class="checkmark"></span>{{item}}</label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</ng-scrollbar>