@import "../../../_cstm-variable.scss";
@import "../../../_cstm-components.scss";
@import "../../../_hotel.scss";
@import "../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* .site_footer .footer_top .ftr_flex_row .ftr_menu .menu_grid{
    width: 33% !important;
} */
.quick-footer-section {
  position: fixed;
  right: 30px;
  display: flex;
  bottom: 100px;
  flex-direction: column;
  z-index: 999;

  @include mobile-view {
    right: 10px !important;
  }
}
.footer_cta_dropdown {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 40px;

  @include mobile-view {
    justify-content: center;
  }
  .cta_drop_wrp {
    font-size: 14px;
    color: $text-grey;
    font-weight: 400;
    margin-right: 30px;
    @include tab-view {
      margin: 0;
      width: 95px;
    }
    ul {
      &.dropdown-menu {
        padding: 0;
        li {
          a {
            color: $background-blue;
            margin: 0;
            padding: 10px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
.menu_grid {
  .footer_down_links {
    li {
      width: auto !important;
      padding: 0 0 10px;
      display: inline-block;
      margin: 0 5px 0 0;
    }
  }
}
