<!-- Start Footer Section -->
<section class="site_footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="ftr_flex_row">
                    <div class="col-lg-3">
                        <div class="ftr_info">
                            <a href="javascript:void(0);">
                                <img src="{{s3BucketUrl}}assets/images/logo-white.svg" alt="Logo" />
                            </a>
                            <p>It is a long established fact that a reader will be distracted by the readable content of
                                a page when looking at its layout.</p>

                            <div class="company_contact">
                                <h5>Reach Us</h5>
                                <ul>
                                    <li><a href="mailto:support@laytrip.com"><i class="fa fa-envelope"
                                                aria-hidden="true"></i>
                                            Support@laytrip.com</a></li>
                                    <li><a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> +00
                                            000 000 0000</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="ftr_menu">
                            <div class="menu_grid">
                                <h5>Company</h5>
                                <ul>
                                    <li><a [routerLink]="['/why-laytrip']">Why Laytrip?</a></li>
                                    <li><a href="javascript:void(0);">Media and News</a></li>
                                    <li><a [routerLink]="['/download-app']">Download the App</a></li>
                                </ul>
                            </div>
                            <div class="menu_grid">
                                <h5>Partners</h5>
                                <ul>
                                    <li><a href="javascript:void(0);">Become a Partner</a></li>
                                    <li><a href="javascript:void(0);">Membership options</a></li>
                                    <li><a [routerLink]="['/partial-payment']">Partial Payment Travelling</a></li>
                                </ul>
                            </div>
                            <div class="menu_grid">
                                <h5>Explore</h5>
                                <ul>
                                    <li><a href="javascript:void(0);">Flights</a></li>
                                    <li><a href="javascript:void(0);">Hotels</a></li>
                                    <li><a href="javascript:void(0);">Home Rentals</a></li>
                                    <li><a href="javascript:void(0);">Special Deals</a></li>
                                </ul>
                            </div>
                            <div class="menu_grid">
                                <h5>Support</h5>
                                <ul>
                                    <li><a [routerLink]="['/faq']">FAQs</a></li>
                                    <li><a [routerLink]="['/contact-us']">Contact Us</a></li>
                                    <li><a [routerLink]="['/cancellation-policy']">Booking and Cancellation Policies</a>
                                    </li>
                                    <li><a [routerLink]="['/privacy-policy']">Privacy</a></li>
                                    <li><a href="javascript:void(0);">Terms</a></li>
                                    <li><a [routerLink]="['/account/search-trip']">Check booking Status</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_btm">
        <div class="container">
            <div class="row">
                <p>Affordable flight, hotel and Home Rentals bookings with Laytrip.© LayTrip 2020</p>
            </div>
        </div>
    </div>
</section>
<!-- Close Footer Section -->

<a id="back_to_top" title="Back to top" href="javascript:void(0);">
    <img src="{{s3BucketUrl}}assets/images/icon/backtotop.svg" alt="Back to top">
</a>