<!-- Start Footer Section -->
<section class="site_footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="ftr_flex_row">
                    <a [routerLink]="['/']"  [queryParams]="commonFunction.isRefferal()? commonFunction.getRefferalParms() : ''" class="logo_w">
                        <img src="{{s3BucketUrl}}assets/images/laytrip_logo_white.svg" alt="Logo" />
                    </a>
                </div>
                <div class="ftr_flex_row">
                    <div class="col-lg-3">
                        <div class="ftr_info">
                            <p>Layaway travel for everyone</p>
                            <div class="footer_cta_dropdown">
                                <div class="cta_drop_wrp">
                                    <div class="dropdown cus_drop">
                                        <a class="dropdown-toggle hover-link" data-toggle="dropdown">
                                            {{ selectedLanunage.name }}
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li *ngFor="let langunage of langunages"><a
                                                    (click)="changeLangunage(langunage)">{{ langunage.name }}</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="cta_drop_wrp">
                                    <div class="dropdown cus_drop">
                                        <a class="dropdown-toggle hover-link" data-toggle="dropdown">
                                            <!-- <img src="{{selectedCurrency.flag}}" alt="Flag" /> {{ selectedCurrency.code
                                            }} -->
                                            {{ selectedCurrency.code}}
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li *ngFor="let currency of currencies">
                                                <a class="hover-link" (click)="changeCurrency(currency)">
                                                    <!-- <img src="{{currency.flag}}" alt="" /> {{ currency.code }} -->
                                                    {{ currency.code }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="ftr_menu">
                            <div class="menu_grid">
                                <ul>
                                    <li>
                                        <a 
                                        [routerLink]="['/about']"
                                        [queryParams]="commonFunction.isRefferal()? commonFunction.getRefferalParms() : ''"
                                        [innerHTML]="'laytrip_info_page_title_3' | translate"></a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/faq']"
                                        [queryParams]="commonFunction.isRefferal()? commonFunction.getRefferalParms() : ''"
                                            [innerHTML]="'laytrip_info_page_title_4_description_1' | translate"></a>
                                    </li>
                                    <li>
                                        <a 
                                        [routerLink]="['/privacy-policy']"
                                        [queryParams]="commonFunction.isRefferal()? commonFunction.getRefferalParms() : ''"
                                        >Privacy</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="menu_grid">
                                <ul>
                                    <li>
                                        <a 
                                        [routerLink]="['/terms']"
                                        [queryParams]="commonFunction.isRefferal()? commonFunction.getRefferalParms() : ''"
                                        >Terms</a>
                                    </li>
                                    <li>
                                        <a class="hover-link"
                                            [innerHTML]="'laytrip_info_page_title_4_description_2' | translate"
                                            data-toggle="modal" data-target="#contact_modal"></a>
                                    </li>
                                    <li>
                                        <a
                                        [routerLink]="['/ccpa']"
                                        [queryParams]="commonFunction.isRefferal()? commonFunction.getRefferalParms() : ''"
                                       >Do Not Sell</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="menu_grid">
                                <ul>
                                    <li class="share_li">
                                        <a (click)="openShareModal()">Share</a>
                                    </li>
                                </ul>
                                <h5>Get our App</h5>
                                <ul class="footer_down_links">
                                    <li>
                                        <a class="hover-link">
                                            <img src="{{s3BucketUrl}}assets/images/insta-i.svg" alt="IG"
                                                title="Instagram">
                                        </a>
                                    </li>
                                    <li>
                                        <a class="hover-link">
                                            <img src="{{s3BucketUrl}}assets/images/twitter-i.svg"
                                                alt="twitter" title="Twitter">
                                        </a>
                                    </li>
                                    <li>
                                        <a class="hover-link">
                                            <img src="{{s3BucketUrl}}assets/images/fb-i.svg"
                                                alt="fb" title="Facebook">
                                        </a>
                                    </li>
                                    <li>
                                        <a class="hover-link">
                                            <img src="{{s3BucketUrl}}assets/images/pin-i.svg"
                                                alt="Pi" title="Pinterest">
                                        </a>
                                    </li>
                                    <li>
                                        <a class="hover-link">
                                            <img src="{{s3BucketUrl}}assets/images/ln-i.svg"
                                                alt="Linkedin" title="Linkedin">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_btm">
        <div class="container">
            <div class="row">
                <p>{{'home_page_footer' | translate}}</p>
            </div>
        </div>
    </div>
</section>
<!-- Close Footer Section -->
<!-- <div class="quick-footer-section">
    <div class="block_share">
        <a class="hover-link" (click)="openShareModal()"> <img src="{{s3BucketUrl}}assets/images/export.svg"
                alt="Share">             
            <span class="hover_label">Share</span>
        </a>
        <a class="hover-link" (click)="openShareModal()"> <img src="{{s3BucketUrl}}assets/images/icon/ic_share.svg"
                alt="Share">
            <span class="hover_label">Share</span>
        </a>
    </div>
   <a id="back_to_top" title="Back to top">
        <img src="{{s3BucketUrl}}assets/images/icon/backtotop.svg" alt="Back to top">
    </a> 
</div> -->
<app-contact-us></app-contact-us>