@import "../../../_cstm-variable.scss";
@import "../../../_cstm-components.scss";
@import "../../../_hotel.scss";
@import "../../../_dr_home_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.block_cms_page_main {
  &.faqpage {
    padding: 40px 0 100px;
    .page_topbanner {
      margin: 0 0 25px;
      width: 100%;
      img {
        width: 100%;
      }
    }
    .block_cms_cnt {
      width: 100%;
      .page_back_link {
        margin-bottom: 30px;
        @include tab-view{
          margin-left: 15px;
        }
        a {
          color: $active-tab-text;
          font-size: 15px;
          font-weight: 500;
        }
      }
    }
    .block_cmspage_comman {
      @include tab-view {
        padding: 0px;
      }

      .block_top {
        text-align: left;
        h6 {
          color: $blue-text;
          font-size: 34px;
          font-weight: 500;
        }
      }
      .block_faq_info {
        .block_text {
          @include tab-view {
            width: 100%;
          }
          .block_heading {
            color: $text-black;
            font-weight: 500;
          }
          .card {
            .card-header {
              button {
                color: $mid_gray_bg;
              }
            }
          }
        }
        .block_im {
          @include tab-view {
            display: none;
          }
        }

        .block_main_faq {
          width: 100%;

          .block_faq {
            width: 100%;
            margin: 0 0 20px;

            h5 {
              width: 100%;
              margin: 0;
              font-size: 20px;
              font-weight: 600;
              color: $text-black;
            }

            p {
              width: 100%;
              margin: 0;
              font-size: 18px;
              line-height: 26px;
              font-weight: 400;
              color: $text_grey_dark;

              @include tab-view {
                font-size: 14px;
                line-height: 24px;
              }
            }

            &:last-child {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
