<section class="block_cms_page_main faqpage" *ngIf="loading">
  <div class="page_topbanner">
    <div class="w-100">
      <div class="fb_animation w-100 h-100"></div>
      <div class="fb_animation w-100 h-100"></div>
      <div class="fb_animation w-100 h-100"></div>
      <div class="fb_animation w-100 h-100"></div>
      <div class="fb_animation w-100 h-100"></div>
    </div>
  </div>
  <div class="block_cms_cnt">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="page_back_link">
            <a class="hover-link" (click)="commonFunction.goBack()">< Back</a>
          </div>
          <div class="block_cmspage_comman cms_faq">
            <div class="block_faq_info">
              <div class="block_text w-100">
                <div class="block_top">
                  <h6>
                    <div class="fb_animation w-25"></div>
                    <div class="fb_animation w-25"></div>
                  </h6> 
                </div>
                <div class="block_main_faq">
                  <div class="block_faq">
                    <h5 class="fb_animation w-50 mb-2"></h5>
                    <p class="fb_animation w-100 mb-2"></p>
                    <p class="fb_animation w-100 mb-2"></p>
                    <p class="fb_animation w-100 mb-2"></p>
                    <p class="fb_animation w-100 mb-0"></p>
                  </div>
                  <div class="block_faq">
                    <h5 class="fb_animation w-50 mb-2"></h5>
                    <p class="fb_animation w-100 mb-2"></p>
                    <p class="fb_animation w-100 mb-2"></p>
                    <p class="fb_animation w-100 mb-2"></p>
                    <p class="fb_animation w-100 mb-0"></p>
                  </div>
                  <div class="block_faq">
                    <h5 class="fb_animation w-50 mb-2"></h5>
                    <p class="fb_animation w-100 mb-2"></p>
                    <p class="fb_animation w-100 mb-2"></p>
                    <p class="fb_animation w-100 mb-2"></p>
                    <p class="fb_animation w-100 mb-0"></p>
                  </div>
                  <div class="block_faq">
                    <h5 class="fb_animation w-50 mb-2"></h5>
                    <p class="fb_animation w-100 mb-2"></p>
                    <p class="fb_animation w-100 mb-2"></p>
                    <p class="fb_animation w-100 mb-2"></p>
                    <p class="fb_animation w-100 mb-0"></p>
                  </div>
                  <div class="block_faq">
                    <h5 class="fb_animation w-50 mb-2"></h5>
                    <p class="fb_animation w-100 mb-2"></p>
                    <p class="fb_animation w-100 mb-2"></p>
                    <p class="fb_animation w-100 mb-2"></p>
                    <p class="fb_animation w-100 mb-0"></p>
                  </div>
                </div>
              </div>
            </div>

            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block_cms_page_main faqpage" *ngIf="faqDetail && faqDetail.length">
  <div class="page_topbanner">
    <img src="{{s3BucketUrl}}assets/images/cms_page_banner.png" alt="Banner Image">
  </div>
  <div class="block_cms_cnt">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="page_back_link">
            <a class="hover-link" (click)="commonFunction.goBack()">< Back</a>
          </div>
          <div class="block_cmspage_comman cms_faq">                 
            <div class="block_faq_info" *ngFor="let faqData of faqDetail;let i=index">
              <div class="block_text">
                <div class="block_top">
                  <h6>FAQs</h6>
                </div>
                <!-- <div class="block_heading">{{i+1}}.&nbsp;{{ faqData.name }}</div> -->
                <!-- <ngb-accordion [closeOthers]="true" [destroyOnHide]="false" #acc="ngbAccordion"
                  activeIds="{{faqData.name}}0">
                  <ngb-panel *ngFor="let faqItem of faqData.faqs;let j=index" title="{{faqItem.question}}"
                    id="{{faqData.name}}{{j}}">
                    <ng-template ngbPanelContent>
                      {{faqItem.answer}}
                    </ng-template>
                  </ngb-panel>
                </ngb-accordion> -->
                <div class="block_main_faq">
                  <div class="block_faq" *ngFor="let faqItem of faqData.faqs;let j=index">
                    <h5>{{faqItem.question}}</h5>
                    <p>{{faqItem.answer}}</p>
                  </div>
                </div>
              </div>
              <!-- <div class="block_im" *ngIf="i === 0">
                <img src="{{s3BucketUrl}}assets/images/FAQs-im.svg" alt="FAQs Image">
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</section>