<section class="block_cms_page_main" *ngIf="loading">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="block_cmspage_comman cms_partial_payments">
          <div class="block_top">
            <h6 class="">
              <p class="fb_animation w-75 mb-0 ml-auto mr-auto"></p>
              <p class="fb_animation w-75 mb-0 ml-auto mr-auto"></p>
            </h6>
          </div>
          <div class="block_partial_payments_info">
            <div class="block_text w-100">
              <div class="w-100">
                <p class="fb_animation w-100 mb-2"></p>
                <p class="fb_animation w-100 mb-2"></p>
                <p class="fb_animation w-100 mb-2"></p>
                <p class="fb_animation w-100 mb-0"></p>
              </div>
            </div>
          </div>
          <div class="block_partial_payments_info">
            <div class="block_text w-100">
              <div class="block_heading">
                <p class="fb_animation w-25 mb-0"></p>
              </div>
              <div class="w-100 mb-4">
                <p class="fb_animation w-100 mb-2"></p>
                <p class="fb_animation w-100 mb-0"></p>
              </div>
              <span>
                <p class="fb_animation w-25 mb-2"></p>
              </span>
              <div class="w-100 mb-4">
                <p class="fb_animation w-100 mb-0"></p>
              </div>
              <span>
                <p class="fb_animation w-25 mb-2"></p>
              </span>
              <div class="mrb-25">
                <p class="fb_animation w-25 mb-3"></p>
                <p class="fb_animation w-25 mb-3"></p>
                <p class="fb_animation w-25 mb-3"></p>
              </div>
              <div class="w-100">
                <p class="fb_animation w-100 mb-2"></p>
                <p class="fb_animation w-100 mb-2"></p>
                <p class="fb_animation w-100 mb-2"></p>
                <p class="fb_animation w-100 mb-0"></p>
              </div>

            </div>
          </div>
          <div class="block_partial_payments_info">
            <div class="block_text w-100">
              <div class="block_heading">
                <p class="fb_animation w-25 mb-0"></p>
              </div>
              <div class="w-100">
                <p class="fb_animation w-100 mb-2"></p>
                <p class="fb_animation w-100 mb-2"></p>
                <p class="fb_animation w-100 mb-2"></p>
                <p class="fb_animation w-100 mb-0"></p>
              </div>
            </div>
          </div>

          <div class="block_partial_payments_info">
            <div class="block_text w-100">
              <div class="block_heading">
                <p class="fb_animation w-25 mb-0"></p>
              </div>
              <div class="w-100">
                <p class="fb_animation w-100 mb-2"></p>
                <p class="fb_animation w-100 mb-2"></p>
                <p class="fb_animation w-100 mb-2"></p>
                <p class="fb_animation w-100 mb-0"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="block_cms_page_main" *ngIf="cmsData">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="block_cmspage_comman cms_partial_payments">
          <div class="block_top">
            <h6>{{cmsData?.title}}</h6>
          </div>
          <div *ngIf="cmsData" [innerHtml]="cmsData.enContent">
          </div>
          <!-- <div class="block_partial_payments_info">
            <div class="block_text">
              <p>We believe travelling should be accessible to all!</p>
              <p>Laytrip makes it possible to split the total amount of your travel into multiple deposits, while
                locking-in your booking price, giving you planning and payment options.</p>
              <p>The payments are flexible and are not charged with an interest</p>
            </div>
          </div> -->
          <!-- <div class="block_partial_payments_info">
            <div class="block_text">
              <div class="block_heading">
                How it works:
              </div>
              <p>Start booking your trip → Select a payment plan → Make your first deposit → Commit → Make the last
                deposit → Enjoy your debt-free travel!</p>
              <span>Selecting a payment plan:</span>
              <p><a href="javascript:void(0);">Pay the full amount upfront</a> or <a href="javascript:void(0);">Pay with
                  installments</a></p>
              <span>Choose the frequency of payments:</span>
              <ul class="mrb-25">
                <li>Weekly</li>
                <li>Bi-Weekly</li>
                <li>Monthly</li>
              </ul>
              <p>In addition, you can choose the amount to pay at the selected frequency.</p>
              <p>You can pay $20/week, $50/week or any other amount. Everything is customizable to fit your needs.</p>
              <p>*We require your first deposit to be made right away and your last deposit be one week before your
                travel date.</p>
              <p>*If you feel comfortable, you can always make early payments and liquidate the full amount way in
                advance of the payout plan you’ve selected.</p>
            </div>
          </div> -->
          <!-- <div class="block_partial_payments_info">
            <div class="block_text">
              <div class="block_heading">
                Commitment:
              </div>
              <p>Auto-payments are to be made every payment date Email notifications are sent out if a payment is
                unsuccessful</p>
              <p>If a payment is missed, additional 48 hours for unsubscribed users and 60 hours for subscribed users is
                given. After that, if no payment is made, the booking is suspended and the amount you’ve accumulated
                converts to laytrip points.</p>
              <p>If a booking confirmation has already been issued and there is no payment received for a date, the
                booking might be suspended without a refund.</p>
            </div>
          </div> -->

          <!-- <div class="block_partial_payments_info">
            <div class="block_text">
              <div class="block_heading">
                Benefits of paying with Partial Payments:
              </div>
              <ul>
                <li>Takes the pressure off your wallet of having to pay a big sum all at once</li>
                <li>Payout plan finishes before you travel so you don’t worry about debt after you come home</li>
                <li>No worries if prices for your booking are increasing, we guarantee your committed price</li>
              </ul>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>