<section class="block_cms_page_main" *ngIf="loading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="block_cmspage_comman cms_partial_payments">
                    <div class="block_top">
                        <h6 class="">
                            <p class="fb_animation w-75 mb-0 ml-auto mr-auto"></p>
                            <p class="fb_animation w-75 mb-0 ml-auto mr-auto"></p>
                        </h6>
                    </div>
                    <div class="block_partial_payments_info">
                        <div class="block_text w-100">
                            <div class="w-100">
                                <p class="fb_animation w-100 mb-2"></p>
                                <p class="fb_animation w-100 mb-2"></p>
                                <p class="fb_animation w-100 mb-2"></p>
                                <p class="fb_animation w-100 mb-0"></p>
                            </div>
                        </div>
                    </div>
                    <div class="block_partial_payments_info">
                        <div class="block_text w-100">
                            <div class="block_heading">
                                <p class="fb_animation w-25 mb-0"></p>
                            </div>
                            <div class="w-100 mb-4">
                                <p class="fb_animation w-100 mb-2"></p>
                                <p class="fb_animation w-100 mb-0"></p>
                            </div>
                            <span>
                <p class="fb_animation w-25 mb-2"></p>
              </span>
                            <div class="w-100 mb-4">
                                <p class="fb_animation w-100 mb-0"></p>
                            </div>
                            <span>
                <p class="fb_animation w-25 mb-2"></p>
              </span>
                            <div class="mrb-25">
                                <p class="fb_animation w-25 mb-3"></p>
                                <p class="fb_animation w-25 mb-3"></p>
                                <p class="fb_animation w-25 mb-3"></p>
                            </div>
                            <div class="w-100">
                                <p class="fb_animation w-100 mb-2"></p>
                                <p class="fb_animation w-100 mb-2"></p>
                                <p class="fb_animation w-100 mb-2"></p>
                                <p class="fb_animation w-100 mb-0"></p>
                            </div>

                        </div>
                    </div>
                    <div class="block_partial_payments_info">
                        <div class="block_text w-100">
                            <div class="block_heading">
                                <p class="fb_animation w-25 mb-0"></p>
                            </div>
                            <div class="w-100">
                                <p class="fb_animation w-100 mb-2"></p>
                                <p class="fb_animation w-100 mb-2"></p>
                                <p class="fb_animation w-100 mb-2"></p>
                                <p class="fb_animation w-100 mb-0"></p>
                            </div>
                        </div>
                    </div>

                    <div class="block_partial_payments_info">
                        <div class="block_text w-100">
                            <div class="block_heading">
                                <p class="fb_animation w-25 mb-0"></p>
                            </div>
                            <div class="w-100">
                                <p class="fb_animation w-100 mb-2"></p>
                                <p class="fb_animation w-100 mb-2"></p>
                                <p class="fb_animation w-100 mb-2"></p>
                                <p class="fb_animation w-100 mb-0"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="block_cms_page_main" *ngIf="cmsData">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="block_cmspage_comman cms_partial_payments">
                    <div class="block_top">
                        <h6>{{cmsData?.title}}</h6>
                    </div>
                    <div *ngIf="cmsData" [innerHtml]="cmsData.enContent">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>