<div class="price_by_date p-2" style="background: #fff;" *ngIf="flexibleLoading">
    <div class="d-flex w-100">
        <div class="inner w-100">
            <div class="slid_block">
                <a href="javascript:void(0);">
                    <div class="block_top">
                        <p class="fb_animation"></p>
                    </div>
                    <div class="block_btm">
                        <p class="fb_animation mb-0"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="price_by_date" *ngIf="dates.length > 0 && !flexibleLoading">
    <label>{{'flexible_date' | translate}} <span
            *ngIf="dates[0].secondary_start_price && dates[0].secondary_start_price >0"
            class="price_per_week_label"></span><span class="pink_txt" *ngIf="flexibleInstallmentLength == 0">Full Price</span></label>
    <div class="price_day_slider">
        <ngx-slick-carousel (breakpoint)="breakpoint($event)" class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let item of dates" class="inner">
                <div class="slid_block" *ngIf="trip =='oneway'">
                    <a [routerLink]="['/flight/search']" [queryParams]="{trip:trip,departure:departure,arrival:arrival,departure_date:commonFunction.convertDateYYYYMMDD(item.date,'DD/MM/YYYY'),class:class,adult:adult,child:child,infant:infant,utm_source:commonFunction.isRefferal()? commonFunction.getRefferalParms().utm_source : '', utm_medium:commonFunction.isRefferal()? commonFunction.getRefferalParms().utm_medium : ''}"
                        [ngClass]="{'selected':departureDate==commonFunction.convertDateFormat(item.date,'DD/MM/YYYY'),'disabled':checkDateValidation(item.date)}">
                        <div class="block_top" >
                            <p>{{ commonFunction.convertDateFormat(item.date,'DD/MM/YYYY')}}</p>
                        </div>
                        <div class="block_btm">
                            <span class="{{ getPrice(item).className }}" [ngClass]="{'full_payment' : item.isPriceInInstallment == false}">
                                {{ getPrice(item).price}}
                            </span>
                        </div>
                    </a>
                </div>
                
                <div class="slid_block" *ngIf="trip =='roundtrip'">
                    <a [routerLink]="['/flight/search']" [queryParams]="{trip:trip,departure:departure,arrival:arrival,departure_date:commonFunction.convertDateYYYYMMDD(item.date,'DD/MM/YYYY'),arrival_date:commonFunction.convertDateYYYYMMDD(item.arrival_date,'DD/MM/YYYY'),class:class,adult:adult,child:child,infant:infant,utm_source:commonFunction.isRefferal()? commonFunction.getRefferalParms().utm_source : '', utm_medium:commonFunction.isRefferal()? commonFunction.getRefferalParms().utm_medium : ''}"
                        [ngClass]="{'selected':departureDate==commonFunction.convertDateFormat(item.date,'DD/MM/YYYY'),'disabled':checkDateValidation(item.date)}">
                        <div class="block_top">
                            <p>{{ commonFunction.convertDateFormat(item.date,'DD/MM/YYYY')}}<br>{{ getFlexibleArivalDate(item.date,departure) }}</p>
                        </div>
                        <div class="block_btm">
                            <span class="{{ getPrice(item).className }}">
                                {{ getPrice(item).price}}
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="inner"  ngxSlickItem *ngIf="trip =='oneway' && singleFlexLoader">
                <div class="slid_block">
                    <a href="#">
                        <div class="block_top fb_animation" >
                            <p></p>
                        </div>
                        <div class="block_btm fb_animation">
                            <span></span>
                        </div>
                    </a>
                </div>
            </div>
        </ngx-slick-carousel>
        <button class="btn-arrow btn-prev" (click)="prev()">prev</button>
        <button class="btn-arrow btn-next" (click)="next(dates)">next</button>
    </div>
</div>