<div class="price_by_date">
  <label>Flexible dates</label>
  <div class="price_day_slider">
    <div class="inner">
      <div class="slid_block">
        <a href="javascript:void(0);">
          <div class="block_top">
            <p>Sat, 01 Aug</p>
          </div>
          <div class="block_btm">
            <span>$ 120</span>
          </div>
        </a>
      </div>
    </div>
    <div class="inner">
      <div class="slid_block">
        <a href="javascript:void(0);">
          <div class="block_top">
            <p>Sat, 01 Aug</p>
          </div>
          <div class="block_btm">
            <span>$ 120</span>
          </div>
        </a>
      </div>
    </div>
    <div class="inner">
      <div class="slid_block">
        <a href="javascript:void(0);">
          <div class="block_top">
            <p>Sat, 01 Aug</p>
          </div>
          <div class="block_btm">
            <span>$ 120</span>
          </div>
        </a>
      </div>
    </div>
    <div class="inner">
      <div class="slid_block">
        <a href="javascript:void(0);" class="selected">
          <div class="block_top">
            <p>Sat, 01 Aug</p>
          </div>
          <div class="block_btm">
            <span>$ 120</span>
          </div>
        </a>
      </div>
    </div>
    <div class="inner">
      <div class="slid_block">
        <a href="javascript:void(0);">
          <div class="block_top">
            <p>Sat, 01 Aug</p>
          </div>
          <div class="block_btm">
            <span>$ 120</span>
          </div>
        </a>
      </div>
    </div>
    <div class="inner">
      <div class="slid_block">
        <a href="javascript:void(0);">
          <div class="block_top">
            <p>Sat, 01 Aug</p>
          </div>
          <div class="block_btm">
            <span>$ 120</span>
          </div>
        </a>
      </div>
    </div>
    <div class="inner">
      <div class="slid_block">
        <a href="javascript:void(0);">
          <div class="block_top">
            <p>Sat, 01 Aug</p>
          </div>
          <div class="block_btm">
            <span>$ 120</span>
          </div>
        </a>
      </div>
    </div>
    <div class="inner">
      <div class="slid_block">
        <a href="javascript:void(0);">
          <div class="block_top">
            <p>Sat, 01 Aug</p>
          </div>
          <div class="block_btm">
            <span>$ 120</span>
          </div>
        </a>
      </div>
    </div>
    <div class="inner">
      <div class="slid_block">
        <a href="javascript:void(0);">
          <div class="block_top">
            <p>Sat, 01 Aug</p>
          </div>
          <div class="block_btm">
            <span>$ 120</span>
          </div>
        </a>
      </div>
    </div>
    <div class="inner">
      <div class="slid_block">
        <a href="javascript:void(0);">
          <div class="block_top">
            <p>Sat, 01 Aug</p>
          </div>
          <div class="block_btm">
            <span>$ 120</span>
          </div>
        </a>
      </div>
    </div>
    <div class="inner">
      <div class="slid_block">
        <a href="javascript:void(0);">
          <div class="block_top">
            <p>Sat, 01 Aug</p>
          </div>
          <div class="block_btm">
            <span>$ 120</span>
          </div>
        </a>
      </div>
    </div>
    <div class="inner">
      <div class="slid_block">
        <a href="javascript:void(0);">
          <div class="block_top">
            <p>Sat, 01 Aug</p>
          </div>
          <div class="block_btm">
            <span>$ 120</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>