<div class="page_load">
    <div class="page_load_inner">
        <div class="page_laoding">
            <div class="block_in">
                <div class="block_loader" id = "challenge-loader">
                    <img src="{{s3BucketUrl}}assets/images/loading-flight.gif" alt="">
                </div>
                <div class="block_btm">
                  <div id="device-fingerprint" class="hidden"></div>
                  <div id="challenge-modal" class="hidden">
                    <div id="challenge">
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
