<div class="modal fade cancellation_policy_modal" id="cancellation_policy_modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal_top">
                <h2>Cancellation Policy</h2>
                <button type="button" class="close" data-dismiss="modal">
                  <img src="{{s3BucketUrl}}assets/images/icon/close-icon.svg" alt="Close Icon">
              </button>
            </div>
            <div class="block_modal_main">

                <div class="col-md-8">
                    <div class="block_modal_right">
                        <div class="rules_cnt_btm">
                            <span>{{'term_and_condition' | translate}}</span>
                            <div class="w-100">
                                <p class="fb_animation mb-2 h-auto w-100" *ngIf="loadCancellationPolicy"></p>
                                <p class="fb_animation mb-2 h-auto w-100" *ngIf="loadCancellationPolicy"></p>
                                <p class="fb_animation mb-2 h-auto w-100" *ngIf="loadCancellationPolicy"></p>
                                <p class="fb_animation mb-0 h-auto w-100" *ngIf="loadCancellationPolicy"></p>
                            </div>
                            <p *ngIf="!loadCancellationPolicy" [innerHtml]="cancellationPolicy"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block_modal_left">
                        <img src="{{s3BucketUrl}}assets/images/cancellation-Policy-im.svg" alt="Cancellation Policy Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>